﻿@using Mith.Models
<!DOCTYPE html>
<html lang="zh">
<head>
    @{
        string title = Method.SiteTitle;
    }

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <title>Mith 一款免費穿搭、免費即時諮詢的應用程式</title>
    <link href="~/Images/Icon.png" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    <meta name="keywords" content="@Method.SiteWebSEO" />
    <meta name="description" content="@Method.SiteWebDescription" />
    <script>
        var RootPath = '@Method.RootPath';
    </script>
    @Styles.Render("~/css/Index")
    <script src="~/Scripts/jquery.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    
</head>
<body>
    <header>
        
        
    </header>
    <div id="body">
        <div class="content">
            @RenderBody()
        </div>
    </div>
    
</body>
</html>
