﻿@Styles.Render("~/css/HomeMemberLeftMenu")
<div class="left_menu">
    <fieldset class="menu_member">
        <legend class="memu_title">@Html.ActionLink("會員中心","Index","Volunteers")</legend>
        <ul>
            <li><img src="@Mith.Models.Method.RootPath/Images/Shared/doc.png" /> @Html.ActionLink("帳號資訊","Change","Volunteers")</li>
            <li><img src="@Mith.Models.Method.RootPath/Images/Shared/doc.png" /> @Html.ActionLink("登出", "Off", "Login")</li>
        </ul>
    </fieldset>
</div>