﻿@using Mith.Areas.GoX.Models;
@model List<Mith.Areas.GoX.Models.LikeExpertModel.LikeExpertShow>
@{
    int p = 1;
    if (ViewData["p"] != null)
    {
        p = (int)ViewData["p"];
    }
    string keyword = "";
    if (ViewData["keyword"] != null)
    {
        keyword = ViewData["keyword"] as string;
    }
    DateTime? CreateTime_St = ViewData["CreateTime_St"] as DateTime?;
    DateTime? CreateTime_End = ViewData["CreateTime_End"] as DateTime?;
    string ct_start = "";
    string ct_end = "";
    if (CreateTime_St != null)
    {
        ct_start = CreateTime_St.Value.ToString("yyyy/MM/dd HH:mm:ss");
    }
    if (CreateTime_End != null)
    {
        ct_end = CreateTime_End.Value.ToString("yyyy/MM/dd HH:mm:ss");
    }
    string err = "";
    if (TempData["err"] != null && TempData["err"] != "")
    {
        err = TempData["err"] as string;
    }

    int VolunteersId = 0;
    if (ViewData["VolunteersId"] != null)
    {
        VolunteersId = (int)ViewData["VolunteersId"];
    }

    string Volunteers_Name = "";
    if (ViewData["Volunteers_Name"] != null)
    {
        Volunteers_Name = ViewData["Volunteers_Name"] as string;
    }
    string Volunteers_Email = "";
    if (ViewData["Volunteers_Email"] != null)
    {
        Volunteers_Email = ViewData["Volunteers_Email"] as string;
    }
}
@Styles.Render("~/css/AdminLikeExpertIndex")
@if (TempData["FromAction"] != null)
{
    <script>
        var messag = @Html.Raw(Json.Encode(TempData["FromAction"]));
        alert(messag)
    </script>
}
@if (err != "")
{
    @: 操作失敗<br>
    @err
}
else
{
    <fieldset class="confirm2">
        <div class="search_area">
            <form action="/Gox/LikeExpert/Index" id="search" method="get">
                <label for="keyword">　關鍵字</label>&ensp;
                <input type="text" name="keyword" id="keyword" value="@keyword" placeholder="達人姓名" />
                <br />
                <label for="create_time_start" class="Add_Top">新增日期</label>&ensp;
                <input type="text" name="CreateTime_St" id="CreateTime_St" class="date_search" value="@ct_start" /> ~
                <input type="text" name="CreateTime_End" id="CreateTime_End" class="date_search" value="@ct_end" />
                &emsp;
                <input type="hidden" name="VolunteersId" id="VolunteersId" value="@VolunteersId" />
                <input type="submit" value="查詢" onclick="">
            </form>
        </div>
    </fieldset>

    <br>
    <label style="line-height:30px">
        會員：@Volunteers_Name (@Volunteers_Email)<br>
    </label>
    <div class="showdata" id="update">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th class="item1">
                        追蹤達人
                    </th>
                    <th class="item2">
                        新增時間
                    </th>
                    <th class="item3">
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td class="item1">
                            @item.Expert_Name
                        </td>
                        <td class="item2">
                            @item.CreateTime.Value.ToString("yyyy/MM/dd HH:mm")
                        </td>
                        <td class="item3">
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <div class="del_chk">
            @Html.Partial("_PartialPage")
        </div>
    </div>


}
