﻿@using Mith.Areas.GoX.Models
@using Mith.Models
@model Mith.Areas.GoX.Models.VolunteersModel.VolunteersShow

@{
    int p = 1;
    if (ViewData["p"] != null)
    {
        p = (int)ViewData["p"];
    }
}

@Scripts.Render("~/js/AdminVolunteerEdit")
@Styles.Render("~/css/Loading")
<script src="~/Scripts/plugin/Loading/jquery.isloading.min.js" type="text/javascript"></script>

@*<div class="big_title">@ViewBag.Title</div>*@

@using (Html.BeginForm("Create", "Volunteers", FormMethod.Post, new { @Id = "Form", @enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <input type="hidden" name="p" value="@p" />

        <div class="">
            @Html.LabelFor(model => model.Email)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Email)
            @Html.ValidationMessageFor(model => model.Email)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Password)
        </div>
        <div class="editor-field">
            @Html.PasswordFor(model => model.Password)
            @Html.ValidationMessageFor(model => model.Password)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.RealName)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.RealName)
            @Html.ValidationMessageFor(model => model.RealName)
        </div>
        
        <div class="editor-label">
            @Html.LabelFor(model => model.ShowName)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.ShowName)
            @Html.ValidationMessageFor(model => model.ShowName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Birthday)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Birthday, new { @class = "date_search"})
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ContactTel)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.ContactTel)
        </div>

        <div class="editor-label">
            地址
        </div>
        <div class="editor-field">
            @Html.Raw(Html.DropList("CityId", CityArea.Get_City_Select(0, false), new { style = "width:80px;cursor:pointer" }))
            @Html.Raw(Html.DropList("AreaId", CityArea.Get_Area_Select(0, 0, false), new { style = "width:80px;cursor:pointer" }))
            @Html.TextBoxFor(model => model.Address)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Height)
        </div>
        <div class="editor-field">
            @Html.Raw(Html.DropList("Height", CityArea.Get_Height_Select(0, false), new { style = "cursor:pointer" }))
        </div>


        <div class="editor-label">
            @Html.LabelFor(model => model.Weight)
        </div>
        <div class="editor-field">
            @Html.Raw(Html.DropList("Weight", CityArea.Get_Weight_Select(0, false), new { style = "cursor:pointer" }))
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Pic)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Pic, new { @type = "file", @accept = "image/*" })
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.TaxId)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.TaxId)
            @Html.ValidationMessageFor(model => model.TaxId)
        </div>

        <div class="editor-label">
            @Html.CheckBox("Enable",true) @Html.LabelFor(model => model.Enable)
        </div>

      

        <br>
        <p>
            <input type="submit" value="儲存" onclick="return Send_Create()" id="save_sort" />
        </p>
    </fieldset>
}

<div>
</div>

