﻿@model Mith.Areas.GoX.Models.VolunteersModel.VolunteersShowEdit

@{
    int p = 1;
    if (ViewData["p"] != null)
    {
        p = (int)ViewData["p"];
    }
}

@Scripts.Render("~/js/AdminVolunteerEdit")
@Styles.Render("~/css/Loading")
<script src="~/Scripts/plugin/Loading/jquery.isloading.min.js" type="text/javascript"></script>

@*<div class="big_title">@ViewBag.Title</div>*@

@using (Html.BeginForm("Edit", "Volunteers", FormMethod.Post, new { @enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>

        @Html.HiddenFor(model => model.Id)
        <input type="hidden" name="p" value="@p" />

        <div class="">
            @Html.LabelFor(model => model.Id)
        </div>
        <div class="editor-field">
            @Html.DisplayFor(model => model.Id)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Pic)
        </div>
        <div class="editor-field">
            @if (!string.IsNullOrWhiteSpace(Model.Pic))
            {
                <br>
                <a class="example-image-link" href="@Model.Pic" data-lightbox="example-set" data-title="">
                    <img class="example-image" src="@Model.Pic" alt="" style="width:80px;height:auto;margin-bottom:12px" />
                </a>
            }
            else
            {
                <text>無</text>
            }
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.RealName)
        </div>
        <div class="editor-field">
            @if (!string.IsNullOrWhiteSpace(Model.RealName))
            {
                @Html.DisplayFor(model => model.RealName)
            }
            else
            {
                <text>無</text>
            }
        </div>


        <div class="editor-label">
            @Html.LabelFor(model => model.ShowName)
        </div>
        <div class="editor-field">
            @if (!string.IsNullOrWhiteSpace(Model.ShowName))
            {
                @Html.DisplayFor(model => model.ShowName)
            }
            else
            {
                <text>無</text>
            }
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ContactTel)
        </div>
        <div class="editor-field">
            @if (!string.IsNullOrWhiteSpace(Model.ContactTel))
            {
                @Html.DisplayFor(model => model.ContactTel)
            }
            else
            {
                <text>無</text>
            }
        </div>


        <div class="editor-label">
            @Html.LabelFor(model => model.Email)
        </div>
        <div class="editor-field">
            @Html.DisplayFor(model => model.Email)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Address)
        </div>
        <div class="editor-field">
            @if (!string.IsNullOrWhiteSpace(Model.City_Name) || !string.IsNullOrWhiteSpace(Model.Area_Name) || !string.IsNullOrWhiteSpace(Model.Address))
            {
                @Html.DisplayFor(model => model.City_Name)@Html.DisplayFor(model => model.Area_Name)@Html.DisplayFor(model => model.Address)
            }
            else
            {
                <text>無</text>
            }
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Height)
        </div>
        <div class="editor-field">
            @if (!string.IsNullOrWhiteSpace(Model.Height_Name))
            {
                @Html.DisplayFor(model => model.Height_Name)
            }
            else
            {
                <text>無</text>
            }
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Weight)
        </div>
        <div class="editor-field">
            @if (!string.IsNullOrWhiteSpace(Model.Weight_Name))
            {
                @Html.DisplayFor(model => model.Weight_Name)
            }
            else
            {
                <text>無</text>
            }
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.TaxId)
        </div>
        <div class="editor-field">
            @if (!string.IsNullOrWhiteSpace(Model.TaxId))
            {
                @Html.DisplayFor(model => model.TaxId)
            }
            else
            {
                <text>無</text>
            }
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.RecommendId)
        </div>
        <div class="editor-field">
            @Html.DropDownList("RecommendId", Mith.Models.Method.Get_VolunteersId_SelectListItem(Model.RecommendId), new { @class = "combobox" })
        </div>

        <div class="editor-label">
            @Html.CheckBoxFor(model => model.Enable) @Html.LabelFor(model => model.Enable)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CreateTime)
        </div>
        <div class="editor-field">
            @Model.CreateTime.Value.ToString("yyyy/MM/dd HH:mm")
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.UpdateTime)
        </div>
        <div class="editor-field">
            @Model.UpdateTime.Value.ToString("yyyy/MM/dd HH:mm")
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.LastUser_Name)
        </div>
        <div class="editor-field">
            @Html.DisplayFor(model => model.LastUser_Name)
        </div>

        <br>
        <p>
            <input type="submit" value="儲存" onclick="return Send_Edit()" id="save_sort" />
        </p>
    </fieldset>
}

<div>
</div>

