﻿@using Mith.Areas.GoX.Models;
@using Mith.Models;
@model List<Mith.Areas.GoX.Models.VolunteersModel.VolunteersShow>
@{
    int p = 1;
    if (ViewData["p"] != null)
    {
        p = (int)ViewData["p"];
    }

    string keyword = "";
    if (ViewData["keyword"] != null)
    {
        keyword = ViewData["keyword"] as string;
    }

    int Search_Enable = 0;
    if (ViewData["Search_Enable"] != null)
    {
        Search_Enable = (int)ViewData["Search_Enable"];
    }

    DateTime? CreateTime_St = ViewData["CreateTime_St"] as DateTime?;
    DateTime? CreateTime_End = ViewData["CreateTime_End"] as DateTime?;
    string ct_start = "";
    string ct_end = "";
    if (CreateTime_St != null)
    {
        ct_start = CreateTime_St.Value.ToString("yyyy/MM/dd HH:mm:ss");
    }
    if (CreateTime_End != null)
    {
        ct_end = CreateTime_End.Value.ToString("yyyy/MM/dd HH:mm:ss");
    }

    string err = "";
    if (TempData["err"] != null && TempData["err"] != "")
    {
        err = TempData["err"] as string;
    }

    string sort = "";
    if (ViewData["get"] != null)
    {
        sort = ViewData["get"] as string;
        if (!sort.Contains("sort="))
        {
            sort += "&sort=sort";
        }
    }
    else
    {
        sort += "&sort=sort";
    }

    int UserId = Method.Get_UserId_Admin(Request.Cookies, Session);
}
@Styles.Render("~/css/AdminVolunteersIndex")
@*@Styles.Render("~/js/AdminVolunteersIndex")*@
<script src="~/Scripts/Admin/Web/VolunteersIndex.js" type="text/javascript"></script>

@if (TempData["FromAction"] != null)
{
    <script>
        var messag = @Html.Raw(Json.Encode(TempData["FromAction"]));
        alert(messag)
    </script>
}


@if (err != "")
{
    @: 操作失敗；錯誤代碼：@err。
}
else
{
    @*<div class="big_title">@ViewBag.Title</div>*@
    <div class="func_item">
        <ul>
            @if ((bool)Session["Insert"] == true)
            {
                <li>
                    @Html.ActionLink("新增", "Create")
                </li>
            }
            <li>
                <input type="button" value="匯出會員資料" id="save_sort" onclick="Export();">
            </li>
        </ul>
    </div>
    <fieldset class="confirm2">
        <div class="search_area">
  
            <form action="" method="" name="SearchForm">
                <label for="keyword">　關鍵字</label>&ensp;
                <input type="text" name="keyword" id="keyword" value="@keyword" placeholder="姓名 、電話、信箱" />
                <br>
                <label class="Add_Top">　　啟用 </label>&ensp;
                <input type="radio" value="0" name="Search_Enable" @if (Search_Enable == 0) { <text> checked</text>} /><label for="enable">全部</label>&ensp;
                <input type="radio" value="1" name="Search_Enable" @if (Search_Enable == 1) { <text> checked</text>} /><label for="enable">是</label>&ensp;
                <input type="radio" value="2" name="Search_Enable" @if (Search_Enable == 2) { <text> checked</text>} /><label for="disable">否</label>
                <br>
                <label for="create_time_start" class="Add_Top">註冊日期</label>&ensp;
                <input type="text" name="CreateTime_St" id="CreateTime_St" class="date_search" value="@ct_start" /> ~
                <input type="text" name="CreateTime_End" id="CreateTime_End" class="date_search" value="@ct_end" />
                &emsp;
                <input type="button" value="查詢" onclick="Search();">
            </form>
        </div>

    </fieldset>
    <br>
    <div class="showdata">
        <table class="table table-striped">
            <thead>
                <tr>
                    @*<th class="item1">
                            @Html.DisplayNameFor(model => model[0].Id)
                        </th>*@
                    <th class="item2">
                        @Html.DisplayNameFor(model => model[0].RealName)
                    </th>
                    <th class="item3">
                        @Html.DisplayNameFor(model => model[0].ContactTel)
                    </th>
                    <th class="item4">
                        @Html.DisplayNameFor(model => model[0].Email)
                    </th>
                    <th class="item5">
                        App推薦上線
                    </th>
                    <th class="item6">
                        啟用
                    </th>
                    <th class="item7">
                        @Html.DisplayNameFor(model => model[0].CreateTime)
                    </th>
                    <th class="item8">
                        詳情
                    </th>
                    <th class="item9">
                        追蹤達人
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        @*<td class="item1">
                                @Html.DisplayFor(modelItem => item.Id)
                            </td>*@
                        <td class="item2">
                            @if (!string.IsNullOrWhiteSpace(item.RealName))
                            {
                                @Html.DisplayFor(model => item.RealName)
                            }
                            else
                            {
                                <text>無</text>
                            }
                            <br>
                            @if (UserId == 1)
                            {
                                @Html.ActionLink("刪除", "Delete", new { Id = item.Id, p = p }, new { OnClick = "return confirm(\"確定要刪除?\")" })
                            }
                        </td>
                        <td class="item3">

                            @if (!string.IsNullOrWhiteSpace(item.ContactTel))
                            {
                                @Html.DisplayFor(model => item.ContactTel)
                            }
                            else
                            {
                                <text>無</text>
                            }
                        </td>
                        <td class="item4">
                            @Html.DisplayFor(modelItem => item.Email)
                        </td>
                        <td class="item5">
                            @if (!string.IsNullOrWhiteSpace(item.Recommend_Email))
                            {
                                @Html.DisplayFor(model => item.Recommend_Email)
                            }
                            else
                            {
                                <text>無</text>
                            }
                        </td>
                        <td class="item6">
                            @if (item.Enable)
                            {
                                <span style="color:#00AA00">是</span>
                            }
                            else
                            {
                                <span style="color:red">否</span>
                            }
                        </td>
                        <td class="item7">
                            @item.CreateTime.Value.ToString("yyyy/MM/dd HH:mm")
                        </td>
                        <td class="item8">@Html.ActionLink("詳情", "Edit", new { id = item.Id })</td>
                        <td class="item9">
                            @Html.ActionLink("追蹤達人", "Index", "LikeExpert", new { VolunteersId = item.Id }, null)
                        </td>
                    </tr>
                }
            </tbody>
        </table>

        @*<table border="1" style="background-color:white">

                @for (int i = 0; i < Model.Count; i++)
                {
                    int j = 0;
                    if (i > 0)
                    {
                        j = @Model[i - 1].Sex;
                    }
                    <tr>
                        <td>@Model[i].Name</td>
                        @if (j != @Model[i].Sex)
                        {
                            <td style="border-bottom-width:0px!important">

                                @Model[i].Sex

                            </td>
                        }
                        else
                        {
                            <td style="border-top-width:0px!important;border-bottom-width:1px!important;border-left-width:0px!important;border-right-width:1px!important"></td>
                        }
                    </tr>
                }
            </table>*@
        <div class="del_chk">
            @Html.Partial("_PartialPage")
        </div>

    </div>


}
