﻿@using Mith.Areas.GoX.Models;
@{

    int Role = Mith.Models.Method.Get_UserRole_Admin(Request.Cookies, Session);
    List<OrderModel.OrderDeatailShow> SelectGoosList = new List<OrderModel.OrderDeatailShow>();
    if (ViewData["SelectGoosList"] != null)
    {
        SelectGoosList = ViewData["SelectGoosList"] as List<OrderModel.OrderDeatailShow>;
    }
    int Sort = 0;
    int Sort2 = 0;
}
@if (TempData["Delete"] != null)
{
    <script>
        var messag = @Html.Raw(Json.Encode(TempData["Delete"]));
        alert(messag);
    </script>
}
@if (SelectGoosList.Count > 0)
{
    <span class="title" style="display:none">
        【@SelectGoosList[0].Goods_SN】@SelectGoosList[0].Goods_Name（
        顏色：@SelectGoosList[0].Goods_ColorName、
        尺寸：@SelectGoosList[0].BuySize）
    </span>
    <br>
    <input type="hidden" id="GoodsId" value="@SelectGoosList[0].GoodsId">
}

<table id="ReturnGoodsTable" class="table table-striped" style="margin-top:20px;width:600px">
    <thead>
        <tr>
            <th>訂單編號</th>
            <th>數量</th>
            <th>出貨方式</th>
            <th>物流編號</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in SelectGoosList)
        {
            <tr>
                <td>
                    @item.OrderSN
                </td>
                <td>
                    @item.BuyQuantity
                </td>
                <td>
                    @item.LogisticsType_Name
                </td>
                <td id="td_LogisticsSN">
                    @*7-11*@
                    @if (item.LogisticsType == 1)
                    {
                        @Html.TextBox("LogisticsSN", "", new { style = "width:160px", @class = "LogisticsSN_" + @Sort, @onkeydown = "LogisticsSN_onkeydown(" + @Sort + ")" })
                        <span class="Valid" id="LogisticsSN_Valid_@Sort"></span>
                        <input type="hidden" id="@Sort" value="@item.Id">
                        Sort++;
                    }
                    @*黑貓*@
                    else
                    {
                        <input type="hidden" name="Seven" id="Seven_@Sort2" value="@item.Id">
                        <text>無須輸入</text>
                        Sort2++;
                    }
                </td>

            </tr>
               
        }
    </tbody>
</table>
