﻿@using Mith.Areas.GoX.Models
@using Mith.Models;
@model Mith.Areas.GoX.Models.OrderModel.OrderShow
@{
    int ShippingGoods = 0;
    string LimitStatus = ViewData["LimitStatus"] as string;
}
@Scripts.Render("~/js/AdminOrderEdit")
@Styles.Render("~/css/AdminOrderEdit")
@Styles.Render("~/css/Loading")
<script src="~/Scripts/plugin/Loading/jquery.isloading.min.js" type="text/javascript"></script>


<div id="overlay" style="display:none;"></div>
<div id="dialog" title="退貨商品">
    @using (Html.BeginForm("Update_ReturnGoods", "LimitOrder", FormMethod.Post, new { @Id = "Form", @enctype = "multipart/form-data" }))
    {

        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        <input type="hidden" name="ReturnGoodsVal" id="ReturnGoodsVal" value="">

        <table style="background-color:transparent!important">
            <tr>
                <td style="width:440px;padding-top:5px">
                    取件地址
                    <br>
                    @Html.Raw(Html.DropList("CityId", CityArea.Get_City_Select(0, false), new { style = "width:80px;cursor:pointer" }))
                    @Html.Raw(Html.DropList("AreaId", CityArea.Get_Area_Select(0, 0, false), new { style = "width:80px;cursor:pointer" }))
                    @Html.TextBox("ReceiverAddress", "")
                    <span class="Valid" id="ReceiverAddress_Valid">縣市、區域、地址必填</span>
                </td>
                <td style="vertical-align:top!important;padding-top:5px">
                    取件時段
                    <br>
                    @Html.Raw(Html.DropList("ReceiveTimeRange", OrderModel.Get_ReceiverTimeRange_Select(1), new { style = "width:160px;cursor:pointer" }))
                </td>
            </tr>
            <tr>
                <td style="width:440px; padding-top:20px">
                    備註
                    <br>
                    @Html.TextArea("Remark", "後台退貨", 3, 45, new { style = "resize: none;" })
                </td>
                <td style="vertical-align:top!important; padding-top:20px">
                    物流編號
                    <br>
                    @Html.TextBox("LogisticsSN", "", new { style = "width:160px" })
                    <span class="Valid" id="LogisticsSN_Valid">物流編號必填</span>
                </td>
        </table>

        <ul id="UpdateArea">
            @Html.Partial("_SelectGoosList")
        </ul>
        <div style="width:100%;padding-bottom: 10px;">
            <input type="submit" value="退貨" id="save_sort" onclick="return ReturnGoods();" style="margin-top:10px" />
        </div>
        <br>
    }
</div>
<label style="line-height:30px;margin-bottom:30px">
    集單狀態：
    @if (LimitStatus.Contains("成功"))
    {
        <span style="color:#00AA00">@LimitStatus</span>
    }
    else if (@LimitStatus.Contains("尚未開始") || @LimitStatus.Contains("失敗"))
    {
        <span style="color:red">@LimitStatus</span>
    }
    else
    {
        @LimitStatus
    }
    <br>
</label>
<br>
<span style="font-weight:bold">訂單明細</span> <span>（正物流）</span>
<table id="OrderDetailTable" class="table table-striped" style="width:1150px">
    <thead>
        <tr>
            <th id="item1" style="width:240px">訂單資訊</th>
            <th id="item2" style="width:260px">付款資訊</th>
            <th id="item3" style="width:300px">訂購會員</th>
            <th id="item4" style="width:350px">收件人</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td id="item1">
                建立時間：@Model.CreateTime.Value.ToString("yyyy/MM/dd HH:mm")<br>
                訂單編號：@Model.SN<br>
                訂單狀態：
                @if (Model.Status_Name == "已結單")
                {
                    <span style="color:#00AA00">
                        @Model.Status_Name
                    </span>
                }
                else
                {
                    <span style="color:red">
                        @Model.Status_Name
                    </span>
                }
            </td>
            <td id="item2">
                付款方式：@Model.CashFlowType_Name<br>
                @if (@Model.CashFlowType_Name != "信用卡")
                {
                    <text>虛擬帳號：</text>@Model.VirtualAccount<br>
                        <text>銀行代號：</text>@Model.BankCode<br>
                        <text>金融帳號：</text>@Model.BankAccount<br>
                }
                付款狀態：
                @if (Model.CashFlowStatus_Name == "已付款")
                {
                    <span style="color:#00AA00">
                        @Model.CashFlowStatus_Name
                    </span>
                    <br>
                    if (!string.IsNullOrWhiteSpace(Model.PaymentTime.ToString()))
                    {
                        <text>付款時間：</text>@Model.PaymentTime.Value.ToString("yyyy/MM/dd HH:mm")

                    }
                }
                else
                {
                    <
                    <span style="color:red">
                        @Model.CashFlowStatus_Name
                    </span>
                }
            </td>
            <td id="item3">
                姓名：
                @if (!string.IsNullOrWhiteSpace(Model.Volunteers_Name))
                {
                    @Model.Volunteers_Name
                }
                else
                {
                    <text>無</text>
                }
                <br>
                電話：
                @if (!string.IsNullOrWhiteSpace(Model.Volunteers_Tel))
                {
                    @Model.Volunteers_Tel
                }
                else
                {
                    <text>無</text>
                }
                <br>
                信箱：@Model.Volunteers_Email
            </td>
            <td id="item4">
                姓名：@Model.ReceiverName<br>
                電話：@Model.ReceiverTel<br>
                取貨方式：@Model.LogisticsType_Name<br>
                @if (Model.LogisticsType == 1)
                {
                    <text> 地址：@Model.ReceiverAddress</text>
                }
                else
                {
                    <text>
                        取貨門市：@Model.ReceiverStoreName<br>
                        ( @Model.ReceiverStoreAddress )
                    </text>
                }

            </td>
        </tr>
    </tbody>
</table>
<br>
<span style="font-weight:bold">商品明細123</span>
@using (Ajax.BeginForm("Get_SelectGoosList", "Order", null, new AjaxOptions { UpdateTargetId = "UpdateArea", HttpMethod = "GET" }, new { id = "ReturnGoodsForm" }))
{
    <table id="GoodsDetailTable" class="table table-striped" style="width:1150px;margin-top:5px">
        <thead>
            <tr>
                <th id="item1" style="width:340px" colspan="2">商品</th>
                <th id="item2" style="width:130px">類別</th>
                <th id="item2" style="width:60px">顏色</th>
                <th id="item3" style="width:90px">物流狀態</th>
                <th id="item4" style="width:110px">出貨期限</th>
                <th id="item5" style="width:160px">廠商</th>
                <th id="item6" style="width:60px">尺寸</th>
                <th id="item7" style="width:60px">數量</th>
                <th id="item8" style="width:70px">單價</th>
                <th id="item9" style="width:70px">小計</th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.OrderDetailList.Count(); i++)
            {
                <tr>
                    <td id="item0" style="padding-left:5px;padding-right:5px">
                        @*已出貨*@
                        @if (Model.OrderDetailList[i].LogisticsStatus == 2)
                        {
                            ShippingGoods += 1;
                            <input type="checkbox" name="Id" value="@Model.OrderDetailList[i].Id" />
                        }
                    </td>
                    <td id="item1" style="text-align:left!important;padding-left:5px">
                        【@Model.OrderDetailList[i].Goods_SN】
                            @Model.OrderDetailList[i].Goods_Name
                    </td>
                    <td id="item2">
                        @Model.OrderDetailList[i].Goods_TypeName
                    </td>
                    <td id="item2">
                        @Model.OrderDetailList[i].Goods_ColorName
                    </td>
                    <td id="item3">
                        @if (@Model.OrderDetailList[i].LogisticsStatus > 0)
                        {
                            <span style="color:#00AA00">@Model.OrderDetailList[i].LogisticsStatus_Name</span>
                        }
                        else
                        {
                            <span style="color:red">@Model.OrderDetailList[i].LogisticsStatus_Name</span>
                        }
                    </td>

                    <td id="item4">
                        @if (@Model.OrderDetailList[i].ShippingDeadline != null)
                        {
                            if (@Model.OrderDetailList[i].Over_ShippingDeadline == false)
                            {
                                <span style="color:#00AA00">
                                    @Model.OrderDetailList[i].ShippingDeadline.Value.ToString("yyyy/MM/dd")
                                </span>
                            }
                            else
                            {
                                <span style="color:red">
                                    @Model.OrderDetailList[i].ShippingDeadline.Value.ToString("yyyy/MM/dd")
                                </span>
                            }
                        }
                    </td>

                    <td id="item5">
                        @Model.OrderDetailList[i].Company_Name
                    </td>
                    <td id="item6">
                        @Model.OrderDetailList[i].BuySize
                    </td>
                    <td id="item7">
                        @Model.OrderDetailList[i].BuyQuantity
                    </td>
                    <td id="item8">
                       @Model.OrderDetailList[i].BuyPrice.ToString("N0")
                    </td>
                    <td id="item9">
                        @Model.OrderDetailList[i].BuyTotal.ToString("N0")
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <input hidden name="GoodsAction" value="ReturnGoods">
    if (@ShippingGoods > 0)
    {
        <span style="float:left; padding-top: 5px;">
            <input type="submit" value="退貨" id="save_sort" onclick="return OpenDialog('ReturnGoods');">
        </span>
    }
}
<span style="float:right;padding-right:20px; padding-top:5px;"><b>總計：$@Model.Total.ToString("N0")</b></span>
<br><br>