﻿@using Mith.Areas.GoX.Models;
@using Mith.Models;
@model List<OrderModel.OrderShow>
@{

    int Search_GoodsId = (int)ViewData["Search_GoodsId"];
    string LimitStatus = ViewData["LimitStatus"] as string;

    int p = 1;
    if (ViewData["p"] != null)
    {
        p = (int)ViewData["p"];
    }
    string keyword = "";
    if (ViewData["keyword"] != null)
    {
        keyword = ViewData["keyword"] as string;
    }

    int Search_Direction = 0;
    if (ViewData["Search_Direction"] != null)
    {
        Search_Direction = (int)ViewData["Search_Direction"];
    }

    int Search_CashFlow1 = 0;
    if (ViewData["Search_CashFlow1"] != null)
    {
        Search_CashFlow1 = (int)ViewData["Search_CashFlow1"];
    }
    DateTime? CreateTime_St = ViewData["CreateTime_St"] as DateTime?;
    DateTime? CreateTime_End = ViewData["CreateTime_End"] as DateTime?;
    string ct_start = "";
    string ct_end = "";
    if (CreateTime_St != null)
    {
        ct_start = CreateTime_St.Value.ToString("yyyy/MM/dd HH:mm:ss");
    }
    if (CreateTime_End != null)
    {
        ct_end = CreateTime_End.Value.ToString("yyyy/MM/dd HH:mm:ss");
    }
    string err = "";
    if (TempData["err"] != null && TempData["err"] != "")
    {
        err = TempData["err"] as string;
    }

    int Sort = 1;
}

@Scripts.Render("~/js/AdminOrderIndex")
@Styles.Render("~/css/AdminOrderIndex_Company")
@Styles.Render("~/css/Loading")
<script src="~/Scripts/plugin/Loading/jquery.isloading.min.js" type="text/javascript"></script>

@if (TempData["FromAction"] != null)
{
    <script>
        var messag = @Html.Raw(Json.Encode(TempData["FromAction"]));
        alert(messag)
    </script>
}
@if (err != "")
{
    @: 操作失敗<br>
    @err
}
else
{
    @*<div class="func_item">
            <ul>
                <li>
                    <input type="button" value="匯出" id="save_sort" onclick="Export();">
                </li>
            </ul>
        </div>*@

    <fieldset class="confirm2">
        <div class="search_area">
            <form action="/GoX/LimitOrder/IndexLevel2_Company" method="get" name="SearchForm">
                <label for="keyword">　關鍵字</label>&ensp;
                <input type="text" name="keyword" id="keyword" value="@keyword" placeholder="訂單編號" />
                <br />
                <label class="Add_Top">物流方向</label>&ensp;
                <input type="radio" value="0" name="Search_Direction" @if (Search_Direction == 0) { <text> checked</text>} style="margin-right: 4px;" /><label> 全部</label>&ensp;
                <input type="radio" value="1" name="Search_Direction" @if (Search_Direction == 1) { <text> checked</text>} style="margin-right: 4px;" /><label> 正物流</label>&ensp;
                <input type="radio" value="2" name="Search_Direction" @if (Search_Direction == 2) { <text> checked</text>} style="margin-right: 4px;" /><label> 逆物流</label>&ensp;
                <br />
                <label class="Add_Top" id="CashFlowText">　已付款</label>&ensp;
                <input type="radio" value="0" name="Search_CashFlow1" @if (Search_CashFlow1 == 0) { <text> checked</text>} style="margin-right: 4px;" /><label> 全部</label>&ensp;
                <input type="radio" value="2" name="Search_CashFlow1" @if (Search_CashFlow1 == 2) { <text> checked</text>} style="margin-right: 4px;" /><label > 是</label>&ensp;
                <input type="radio" value="1" name="Search_CashFlow1" @if (Search_CashFlow1 == 1) { <text> checked</text>} style="margin-right: 4px;" /><label > 否</label>&ensp;
                <br />
                <label for="create_time_start" class="Add_Top">建立日期</label>&ensp;
                <input type="text" name="CreateTime_St" id="CreateTime_St" class="date_search" value="@ct_start" /> ~
                <input type="text" name="CreateTime_End" id="CreateTime_End" class="date_search" value="@ct_end" />
                &emsp;
                <input type="hidden" name="Search_GoodsId" value="@Search_GoodsId">
                <input type="hidden" name="LimitStatus" value="@LimitStatus">
                <input type="submit" value="查詢">
            </form>

        </div>
    </fieldset>
    <br>
    <label style="line-height:30px">
        @if (Model.Count > 0)
        {
            <span>
                集單商品：【@Model[0].LimitOrderGoods.Goods_SN】@Model[0].LimitOrderGoods.Goods_Name（
                顏色：@Model[0].LimitOrderGoods.Goods_ColorName、
                尺寸：@Model[0].LimitOrderGoods.BuySize）
            </span>
            <br>
        }
        集單狀態：
        @if (LimitStatus.Contains("成功"))
        {
            <span style="color:#00AA00">@LimitStatus</span>
        }
        else if (@LimitStatus.Contains("尚未開始") || @LimitStatus.Contains("失敗"))
        {
            <span style="color:red">@LimitStatus</span>
        }
        else
        {
            @LimitStatus
        }
        <br>
        @if (Model.Count > 0)
        {
            <span>
                出貨期限：
                @if (@Model[0].LimitOrderGoods.ShippingDeadline != null)
                {
                    if (@Model[0].LimitOrderGoods.Over_ShippingDeadline == false)
                    {
                        <span style="color:#00AA00">
                            @Model[0].LimitOrderGoods.ShippingDeadline.Value.ToString("yyyy/MM/dd")
                        </span>
                    }
                    else
                    {
                        <span style="color:red">
                            @Model[0].LimitOrderGoods.ShippingDeadline.Value.ToString("yyyy/MM/dd")
                        </span>
                    }
                }
            </span>
        }
    </label>
    <div class="showdata" id="update">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th class="item0">
                        <label><input type="checkbox" id="AllCheck" onclick="AllCheck()" />全選</label>
                    </th>
                    <th class="item1">
                        @Html.DisplayNameFor(model => model[0].SN)
                    </th>
                    <th class="item2">
                        訂購商品
                    </th>
                    <th class="item3">
                        訂購會員
                    </th>
                    <th class="item4">
                        總計
                    </th>
                    <th class="item5">
                        已接單
                    </th>
                    <th class="item6">
                        已付款
                    </th>
                    <th class="item7">
                        @Html.DisplayNameFor(model => model[0].CreateTime)
                    </th>
                    <th class="item8">
                        詳情
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td id="td" class="item0_@Sort">
                            @if (item.CashFlowStatus_Name.Contains("已付款"))
                            {
                                <input type="checkbox" name="item" class="delete" value="@item.Id" id="@item.Id" />
                            }
                        </td>
                        <td class="item1">
                            @Html.DisplayFor(modelItem => item.SN)
                            <br>
                            @if (item.Direction == 1)
                            {
                                <span>（正物流）</span>
                            }
                            else
                            {
                                <span>（逆物流）</span>
                            }
                        </td>
                        <td class="item2_@Sort" style="text-align:left!important;line-height:25px;padding-left:15px;padding-right:15px;">
                            @if (item.OrderDetailList.Count() > 0)
                            {
                                for (int i = 0; i < item.OrderDetailList.Count(); i++)
                                {
                                    <span>
                                        數量：@item.OrderDetailList[i].BuyQuantity
                                        <br>
                                        物流：
                                        @if (@item.OrderDetailList[i].LogisticsStatus > 0)
                                        {
                                            <span style="color:#00AA00">@item.OrderDetailList[i].LogisticsStatus_Name</span>
                                        }
                                        else
                                        {
                                            <span style="color:red">@item.OrderDetailList[i].LogisticsStatus_Name</span>
                                        }
                                    </span>
                                    if (i < @item.OrderDetailList.Count() - 1)
                                    {
                                        <hr style="margin-top:10px;margin-bottom:10px;border-top: 1px dashed #2966df;">
                                    }
                                }
                            }
                        </td>
                        <td class="item3" style="text-align:left!important;line-height:25px">
                            姓名：
                            @if (!string.IsNullOrWhiteSpace(item.Volunteers_Name))
                            {
                                @item.Volunteers_Name
                            }
                            else
                            {
                                <text>無</text>
                            }
                            <br>
                            電話：
                            @if (!string.IsNullOrWhiteSpace(item.Volunteers_Tel))
                            {
                                @item.Volunteers_Tel
                            }
                            else
                            {
                                <text>無</text>
                            }
                        </td>
                        <td class="item4">
                            $ @item.Total.ToString("N0")
                        </td>
                        <td class="item5_@Sort" style="color:red">
                            否
                        </td>
                        <td class="item6">

                            @if (item.Direction == 1)
                            {
                                if (item.CashFlowStatus_Name.Contains("已付款"))
                                {
                                    <span style="color:#00AA00">是</span>
                                }
                                else
                                {
                                    <span style="color:red">否</span>
                                    <br>
                                    <a href="/Gox/Order/Payment/@item.Id">模擬付款</a>
                                }
                            }
                            else
                            {
                                <text> - </text>
                            }
                        </td>
                        <td class="item7">
                            @item.CreateTime.Value.ToString("yyyy/MM/dd HH:mm")
                        </td>
                        <td class="item8">
                            @if ((bool)Session["Update"] == true)
                            {
                                @Html.ActionLink("詳情", "Edit_Company", new { id = item.Id, LimitStatus = @LimitStatus })
                            }
                        </td>
                    </tr>
                            Sort++;
                }
            </tbody>
        </table>

        <div class="del_chk">
            <div class="button">
                <input type="button" value="備貨" id="save_sort" onclick="StockUp();">
            </div>
            @Html.Partial("_PartialPage")
        </div>
    </div>


}
