﻿@using Mith.Areas.GoX.Models;
@using Mith.Models;
@model List<LimitOrderModel.LimitOrderShow>
@{
    List<Category> StatusList = new List<Category>();
    StatusList = Method.GetCategoryList(8, "Status");

    int p = 1;
    if (ViewData["p"] != null)
    {
        p = (int)ViewData["p"];
    }
    string keyword = "";
    if (ViewData["keyword"] != null)
    {
        keyword = ViewData["keyword"] as string;
    }

    int Search_Status = 0;
    if (ViewData["Search_Status"] != null)
    {
        Search_Status = (int)ViewData["Search_Status"];
    }
    string Search_LimitStatus = "";
    if (ViewData["Search_LimitStatus"] != null)
    {
        Search_LimitStatus = ViewData["Search_LimitStatus"] as string;
    }
    int Search_SpecialOffer = 0;
    if (ViewData["Search_SpecialOffer"] != null)
    {
        Search_SpecialOffer = (int)ViewData["Search_SpecialOffer"];
    }

    DateTime? LimitOrder_St = ViewData["LimitOrder_St"] as DateTime?;
    DateTime? LimitOrder_End = ViewData["LimitOrder_End"] as DateTime?;
    string lo_start = "";
    string lo_end = "";
    if (LimitOrder_St != null)
    {
        lo_start = LimitOrder_St.Value.ToString("yyyy/MM/dd HH:mm:ss");
    }
    if (LimitOrder_End != null)
    {
        lo_end = LimitOrder_End.Value.ToString("yyyy/MM/dd HH:mm:ss");
    }
    string err = "";
    if (TempData["err"] != null && TempData["err"] != "")
    {
        err = TempData["err"] as string;
    }
    string ReturnUrl = Request.Url.AbsoluteUri;


    #region 用於跳轉至7-11頁面，選擇退貨門市
    string From = ViewData["From"] as string;
    if (From == "Mith")
    {
        Session["GoodsId"] = null;
    }
    int GoodsId2 = 0;
    if (Session["GoodsId"] != null)
    {
        GoodsId2 = (int)Session["GoodsId"];
    }
    string ReturnStoreId = "";
    if (!string.IsNullOrWhiteSpace(ViewData["ReturnStoreId"] as string))
    {
        ReturnStoreId = ViewData["ReturnStoreId"] as string;
    }
    string ReturnStoreName = "";
    if (!string.IsNullOrWhiteSpace(ViewData["ReturnStoreName"] as string))
    {
        ReturnStoreName = ViewData["ReturnStoreName"] as string;
    }
    string ReturnStoreAddress = "";
    if (!string.IsNullOrWhiteSpace(ViewData["ReturnStoreAddress"] as string))
    {
        ReturnStoreAddress = ViewData["ReturnStoreAddress"] as string;
    }

    #endregion
}
@Scripts.Render("~/js/LimitOrderIndex")
@Styles.Render("~/css/AdminLimitOrderIndex_Company")

@if (TempData["FromAction"] != null)
{
    <script>
        var messag = @Html.Raw(Json.Encode(TempData["FromAction"]));
        alert(messag)
    </script>
}
@if (err != "")
{
    @: 操作失敗<br>
    @err
}
else
{
    <input type="hidden" id="From" value="@From">
    <input type="hidden" id="GoodsId2" value="@GoodsId2">
    <div id="overlay" style="display:none;"></div>
    <div id="dialog" title="">
        @using (Html.BeginForm("Update_ShippingGoods", "LimitOrder", FormMethod.Post, new { @Id = "ShippingGoodsForm", @enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            <input type="hidden" name="ShippingVal_711" id="ShippingVal_711" value="">
            <input type="hidden" name="ShippingVal_BlackCat" id="ShippingVal_BlackCat" value="">
            <div style="margin-top:5px">
                <text>退貨門市 &ensp;</text>
                @Html.TextBox("ReturnStoreName", @ReturnStoreName, new { style = "width:160px", @ReadOnly = "ReadOnly " })
                <input type="hidden" name="ReturnStoreId" value="@ReturnStoreId">
                <input type="hidden" name="ReturnStoreAddress" value="@ReturnStoreAddress">
                <text>&ensp;</text>
                <input type="button" value="選擇門市" id="save_sort" onclick="SelectReturnStore()" />
                <label style="color:red;margin-top:10px;margin-bottom:0px">*消費者沒去取貨時，會將商品退貨至此門市 </label>
            </div>
            <ul id="UpdateArea">
                @Html.Partial("_SelectGoosList")
            </ul>
            <div style="width:100%;padding-bottom: 10px;">
                <input type="submit" value="出貨" id="save_sort" onclick="return ShippingGoods();" style="margin-top:10px" />
            </div>
            <br>
        }
    </div>

    <form action="http://emap.shopping7.com.tw/emap/c2cemap.ashx" method="post" id="form1" name="form1">
        <input type="hidden" name="eshopid" value="023" />
        <input type="hidden" name="url" value="http://mith.azurewebsites.net/WebAPI/Get_SelectShop" />
        <input type="hidden" name="tempvar" id="tempvar" value="@ReturnUrl" />
    </form>

    <fieldset class="confirm2">
        <div class="search_area">
            <form action="/GoX/LimitOrder/IndexLevel1_Company" method="get" name="SearchForm">
                <label for="keyword" style="">　關鍵字</label>&ensp;
                <input type="text" name="keyword" id="keyword" value="@keyword" placeholder="商品編號、商品名稱" />
                <br />
                <label class="Add_Top">商品狀態</label>&ensp;
                <input type="radio" value="0" name="Search_Status" @if (Search_Status == 0) { <text> checked</text>} /><label>全部</label>&ensp;
                @for (int i = 0; i < StatusList.Count(); i++)
                {
                    <input type="radio" name="Search_Status" value="@StatusList[i].Number" @if (Search_Status == StatusList[i].Number) { <text> checked </text>                                            } /> @StatusList[i].Name
                    if (i < 3)
                    {
                        <text>&ensp;</text>
                    }
                }
                <br />
                <label class="Add_Top">集單狀態</label>&ensp;
                <input type="radio" value="" name="Search_LimitStatus" @if (Search_LimitStatus == "") { <text> checked</text>} /><label>全部</label>&ensp;
                <input type="radio" value="尚未開始" name="Search_LimitStatus" @if (Search_LimitStatus == "尚未開始") { <text> checked</text>} /><label>尚未開始</label>&ensp;
                <input type="radio" value="集單中" name="Search_LimitStatus" @if (Search_LimitStatus == "集單中") { <text> checked</text>} /><label>集單中</label>&ensp;
                <input type="radio" value="集單成功" name="Search_LimitStatus" @if (Search_LimitStatus == "集單成功") { <text> checked</text>} /><label>集單成功</label>&ensp;
                <input type="radio" value="集單失敗" name="Search_LimitStatus" @if (Search_LimitStatus == "集單失敗") { <text> checked</text>} /><label>集單失敗</label>&ensp;
                <input type="radio" value="已出貨" name="Search_LimitStatus" @if (Search_LimitStatus == "已出貨"){ <text> checked</text>} /><label>已出貨</label>
                <br />
                <label for="create_time_start" class="Add_Top">集單日期</label>&ensp;
                <input type="text" name="LimitOrder_St" id="LimitOrder_St" class="date_search" value="@lo_start" /> ~
                <input type="text" name="LimitOrder_End" id="LimitOrder_End" class="date_search" value="@lo_end" />
                &emsp;
                <input type="submit" value="查詢">
            </form>
        </div>
    </fieldset>
    <br>
    <div class="showdata" id="update">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th class="item1">
                        @Html.DisplayNameFor(model => model[0].Name)
                    </th>
                    <th class="item2">
                        @Html.DisplayNameFor(model => model[0].Status_Name)
                    </th>
                    <th class="item3">
                        @Html.DisplayNameFor(model => model[0].Price)
                    </th>
                    <th class="item4">
                        @Html.DisplayNameFor(model => model[0].SpecialOffer)
                    </th>
                    <th class="item5">
                        @Html.DisplayNameFor(model => model[0].Size)
                    </th>
                    <th class="item6">
                        @Html.DisplayNameFor(model => model[0].Quantity)
                    </th>
                    <th class="item7">
                        @Html.DisplayNameFor(model => model[0].LimitOrderQuantity)
                    </th>
                    <th class="item8">
                        集單日期
                    </th>
                    <th class="item9">
                        出貨期限
                    </th>
                    <th class="item10">
                        @Html.DisplayNameFor(model => model[0].LimitStatus)
                    </th>
                    <th class="item11">
                        出貨
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    int Length = item.Name.Length;
                    <tr>
                        <td id="td" class="item1" style="text-align:left">
                            【@item.SN】
                            <br>
                            @item.Name
                            @if (Length > 18)
                            {
                                <text>...</text>
                            }
                            @if (!string.IsNullOrWhiteSpace(item.Pic_Middle))
                            {
                                <br>
                                <a class="example-image-link" href="@item.Pic_Middle" data-lightbox="example-set" data-title="">
                                    <img class="example-image" src="@item.Pic_Small" alt="" style="width:60px;height:auto;margin-top:5px;margin-right:5px" />
                                </a>
                            }
                        <td id="td" class="item2">
                            @if (item.Status_Name.Contains("上架"))
                            {
                                <span style="color:#00AA00">@item.Status_Name</span>
                            }
                            else
                            {
                                <span style="color:red">@item.Status_Name</span>
                            }
                        </td>
                        <td id="td" class="item3">
                            $@Html.DisplayFor(modelItem => item.Price)
                        </td>
                        <td id="td" class="item4">
                            @if (item.SpecialOffer != null)
                            {
                                <text>$</text>@Html.DisplayFor(modelItem => item.SpecialOffer)
                            }
                            else
                            {
                                <text>無</text>
                            }
                        </td>
                        <td id="td" class="item5">
                            @Html.DisplayFor(modelItem => item.Size)
                        </td>
                        <td id="td" class="item6" style="font-size:18px">
                            @Html.DisplayFor(modelItem => item.Quantity)
                        </td>
                        <td id="td" class="item7" style="font-size:18px">
                            @Html.ActionLink(item.LimitOrderQuantity.ToString(), "IndexLevel2_Company", new { Search_GoodsId = item.Id, LimitStatus = item.LimitStatus })
                        </td>
                        <td id="td" class="item8">
                            @item.LimitOrderStart.Value.ToString("yyyy/MM/dd") - <br>
                            @item.LimitOrderEnd.Value.ToString("yyyy/MM/dd")<text>&emsp;</text>
                        </td>
                        <td id="td" class="item9">
                            @item.ShippingDeadline.Value.ToString("yyyy/MM/dd")
                        </td>
                        <td id="td" class="item10">
                            @if (item.LimitStatus == "集單成功" || item.LimitStatus == "已出貨")
                            {
                                <span style="color:#00AA00">@item.LimitStatus</span>
                            }
                            else if (item.LimitStatus == "尚未開始" || item.LimitStatus == "集單失敗")
                            {
                                <span style="color:red">@item.LimitStatus</span>
                            }
                            else
                            {
                                @item.LimitStatus
                            }
                        </td>
                        <td id="td" class="item11">
                            @if (item.LimitStatus == "集單成功")
                            {
                                @Ajax.ActionLink("出貨", "Get_SelectGoosList", "LimitOrder", new { GoodsId = item.Id }, new AjaxOptions() { UpdateTargetId = "UpdateArea", HttpMethod = "GET", InsertionMode = InsertionMode.Replace }, new { Id = "save_sort", @class = "ShippingGoods_submit" + @item.Id, onclick = "return OpenDialog();" })
                            }
                            else if (item.LimitStatus == "已出貨")
                            {
                                <text>-</text>
                            }
                            else
                            {
                                <text>無法出貨</text>                            
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <div class="del_chk">
            @Html.Partial("_PartialPage")
        </div>
    </div>

}
