﻿@using Mith.Areas.GoX.Models
<script>

    function ImportSend() {
        if ($("#file").val() == "" || $("#file").val() == null) {
            alert("請匯入檔案！");
            return false;
        }
    }

    function Close() {
        $('#UploadModal').modal('hide');
    }
</script>
<!-- UploadModal -->
<!-- UploadModal -->
<div class="modal fade" id="UploadModal" tabindex="-1" role="dialog" aria-labelledby="UploadModalLabel" aria-hidden="true">
    <form id="UploadForm2" action="@Url.Action("Upload", "GoodsSN_Setting")" method="post" enctype="multipart/form-data">
        <div class="modal-dialog" style="width:400px!important;padding-top:150px!important">
            <div class="modal-content">
                <div class="modal-body" style="padding:10px">

                    <div class="fileinput fileinput-new input-group" data-provides="fileinput" style="display:inline!important">
                        <span class="fileinput-filename"></span>
                        <span class="input-group-addon btn btn-default btn-file" style="cursor:pointer!important;background-color:white!important;    border-color: white;">
                            @*<span class="fileinput-new" style="cursor:pointer!important">選擇</span>
                                <span class="fileinput-exists" style="cursor:pointer!important">選擇</span>*@
                            <input type="file" name="file" id="file" accept="application/vnd.ms-excel " style=" color:#333;display:inline;font-size:16px" />
                            <img src="~/Images/Close.jpg" style="width:25px;height:auto;float:right" onclick="Close()">
                        </span>
                        @*<a href="#" class="input-group-addon btn btn-default fileinput-exists" data-dismiss="fileinput" style="cursor:pointer!important">移除</a>*@
                    </div>


                </div>
                <div class="modal-footer" style="padding:10px 10px 15px 15px!important">
                    @*<input type="button" id="ButtonCancel" data-dismiss="modal" value="取消">*@
                    <input type="submit" id="save_sort" name="ButtonSubmit" value="匯入" onclick="return ImportSend()">
                </div>
            </div>
        </div>
    </form>
</div>

