﻿@using Mith.Areas.GoX.Models
@model Mith.Areas.GoX.Models.GoodsSN_SettingModel.GoodsSN_SettingShow
<script src="~/Scripts/plugin/Uploadify/jquery.uploadify.js" type="text/javascript"></script>
@Scripts.Render("~/js/AdminGoodsSN_SettingCreate")
    <fieldset>
        <input type="button" value="上傳" id="save_sort" onclick="return Upload()" style="display:block" />
        <div class="editor-label" style="margin-bottom:-10px">
            @Html.LabelFor(model => model.Files) (服飾)

        </div>
        <div class="editor-field">
            <div class="editor-field">
                <input type="file" id="file_upload" name="file_upload" accept="image/jpg,image/png" />
            </div>
        </div>

        <br>
        <input type="hidden" id="CheckFiles" value="True">
    </fieldset>