﻿@using Mith.Areas.GoX.Models;
@model List<GoodsSN_SettingModel.GoodsSN_SettingShow>
@{

    int p = 1;
    if (ViewData["p"] != null)
    {
        p = (int)ViewData["p"];
    }

    bool ShowAll = false;
    if (ViewData["ShowAll"] != null)
    {
        ShowAll = (bool)ViewData["ShowAll"];
    }

    string keyword = "";
    if (ViewData["keyword"] != null)
    {
        keyword = ViewData["keyword"] as string;
    }

    string Search_Pattern = "0";
    if (ViewData["Search_Pattern"] != null)
    {
        Search_Pattern = (string)ViewData["Search_Pattern"];
    }

    int Search_CompanyId = 0;
    if (ViewData["Search_CompanyId"] != null)
    {
        Search_CompanyId = (int)ViewData["Search_CompanyId"];
    }
    DateTime? CreateTime_St = ViewData["CreateTime_St"] as DateTime?;
    DateTime? CreateTime_End = ViewData["CreateTime_End"] as DateTime?;
    string ct_start = "";
    string ct_end = "";
    if (CreateTime_St != null)
    {
        ct_start = CreateTime_St.Value.ToString("yyyy/MM/dd HH:mm:ss");
    }
    if (CreateTime_End != null)
    {
        ct_end = CreateTime_End.Value.ToString("yyyy/MM/dd HH:mm:ss");
    }

    int Search_SnNotUse = 0;
    if (ViewData["Search_SnNotUse"] != null)
    {
        Search_SnNotUse = (int)ViewData["Search_SnNotUse"];
    }

    string err = "";
    if (TempData["err"] != null && TempData["err"] != "")
    {
        err = TempData["err"] as string;
    }

    string sort = "";
    if (ViewData["get"] != null)
    {
        sort = ViewData["get"] as string;
        if (!sort.Contains("sort="))
        {
            sort += "&sort=sort";
        }
    }
    else
    {
        sort += "&sort=sort";
    }



}
@Scripts.Render("~/js/Import_GoodsSN")
@Styles.Render("~/css/AdminGoodsSN_SettingIndex")
@Scripts.Render("~/js/AdminGoodsSN_SettingIndex")
@Styles.Render("~/css/Loading")
<script src="~/Scripts/plugin/Loading/jquery.isloading.min.js" type="text/javascript"></script>

<style>
    #barcodeTarget, #canvasTarget {
        margin-top: 20px;
    }
</style>
@if (TempData["FromAction"] != null)
{
    <script>
        var messag = @Html.Raw(Json.Encode(TempData["FromAction"]));
        alert(messag)
    </script>
}

@if (err != "")
{
    @: 操作失敗；錯誤代碼：@err。
}
else
{
    if ((bool)Session["Insert"] == true)
    {
        <div class="func_item">
            <ul>
                <li>
                    @Html.ActionLink("新增穿搭圖", "Create")
                </li>
                <li>
                    <input type="button" data-toggle="modal" id="save_sort" data-target="#UploadModal" value="匯入商品編號">
                </li>
            </ul>
        </div>
    }
    <fieldset class="confirm2">
        <div class="search_area">
            @*<form action="@Mith.Models.Method.RootPath/GoX/Volunteers" id="search" method="get">*@
            <form action="" method="" name="SearchForm">
                <label for="keyword">商品編號</label>&ensp;
                <input type="text" name="keyword" id="keyword" value="@keyword" placeholder="" />
                <br>
                <label class="Add_Top" style=" margin-left: 32px;">款式</label>&ensp;
                @Html.DropDownList("Search_Pattern", Mith.Models.Method.Get_Pattern_SelectListItem(@Search_Pattern), new { @class = "combobox" })
                <br>
                <label class="Add_Top" style=" margin-left: 32px;">廠商</label>&ensp;
                @Html.DropDownList("Search_CompanyId", Mith.Models.Method.Get_Comapny_SelectListItem(@Search_CompanyId), new { @class = "combobox" })
                <br>
                <label for="create_time_start" class="Add_Top">建立日期</label>&ensp;
                <input type="text" name="CreateTime_St" id="CreateTime_St" class="date_search" value="@ct_start" /> ~
                <input type="text" name="CreateTime_End" id="CreateTime_End" class="date_search" value="@ct_end" />
                <br>
                <label for="Search_SnNotUse" class="Add_Top">未使用的商品編號</label>&ensp;
                <input type="checkbox" value="1" name="Search_SnNotUse" @if (Search_SnNotUse == 1) { <text> checked</text>} />
                &emsp;
                <input type="button" value="查詢" onclick="Search_Mith();">
            </form>
        </div>

    </fieldset>
    <br>
    <label style="color:red">*商品編號已有商品在使用時，無法刪除</label>
    if (ShowAll == true)
    {
        <label style="color:red">*搜尋建立日期，已取消分頁</label>
    }
    <div class="showdata">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th class="item0">
                        <label><input type="checkbox" id="AllCheck" onclick="AllCheck()" />全選</label>
                    </th>
                    <th class="item1">
                        @Html.DisplayNameFor(model => model[0].SN)
                    </th>
                    <th class="item2">
                        @Html.DisplayNameFor(model => model[0].Pic1_Big)
                    </th>
                    <th class="item3">
                        @Html.DisplayNameFor(model => model[0].Pic2_Big)
                    </th>
                    <th class="item4">
                        @Html.DisplayNameFor(model => model[0].Pic3_Big)
                    </th>
                    <th class="item4">
                        @Html.DisplayNameFor(model => model[0].Pic4_Big)
                    </th>
                    <th class="item4">
                        @Html.DisplayNameFor(model => model[0].Pic5_Big)
                    </th>
                    <th class="item5">狀態</th>
                    <th class="item6">
                        @Html.DisplayNameFor(model => model[0].CreateTime)
                    </th>
                    <th class="item7">
                        編輯
                    </th>
                    <th class="item8">
                        刪除
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td class="item0">
                            <input type="checkbox" name="item" class="delete" value="@item.SN" id="@item.SN" />
                        </td>
                        <td class="item1" id="item1">
                            @Html.DisplayFor(modelItem => item.SN)
                        </td>
                        <td class="item2">
                            @if (!string.IsNullOrWhiteSpace(item.Pic1_Big))
                            {
                                <a class="example-image-link" href="@item.Pic1_Big" data-lightbox="example-set" data-title="">
                                    <img class="example-image" src="@item.Pic1_Big" alt="" style="width:60px;height:auto" />
                                </a>
                            }
                            else
                            {
                                <text>無</text>
                            }
                        </td>
                        <td class="item3">
                            @if (!string.IsNullOrWhiteSpace(item.Pic2_Middle))
                            {
                                <a class="example-image-link" href="@item.Pic2_Middle" data-lightbox="example-set" data-title="">
                                    <img class="example-image" src="@item.Pic2_Small" alt="" style="width:46px;height:auto" />
                                </a>
                            }
                            else
                            {
                                <text>無</text>
                            }
                        </td>
                        <td class="item4">
                            @if (!string.IsNullOrWhiteSpace(item.Pic3_Middle))
                            {
                                <a class="example-image-link" href="@item.Pic3_Middle" data-lightbox="example-set" data-title="">
                                    <img class="example-image" src="@item.Pic3_Small" alt="" style="width:46px;height:auto" />
                                </a>
                            }
                            else
                            {
                                <text>無</text>
                            }
                        </td>
                        <td class="item4">
                            @if (!string.IsNullOrWhiteSpace(item.Pic4_Middle))
                            {
                                <a class="example-image-link" href="@item.Pic4_Middle" data-lightbox="example-set" data-title="">
                                    <img class="example-image" src="@item.Pic4_Small" alt="" style="width:46px;height:auto" />
                                </a>
                            }
                            else
                            {
                                <text>無</text>
                            }
                        </td>
                        <td class="item4">
                            @if (!string.IsNullOrWhiteSpace(item.Pic5_Middle))
                            {
                                <a class="example-image-link" href="@item.Pic5_Middle" data-lightbox="example-set" data-title="">
                                    <img class="example-image" src="@item.Pic5_Small" alt="" style="width:46px;height:auto" />
                                </a>
                            }
                            else
                            {
                                <text>無</text>
                            }
                        </td>
                        <td class="item5">
                            @if (item.GoodsId != null)
                            {
                                <span style="color:#00AA00">使用中</span>
                            }
                            else
                            {
                                <span style="color:red">未使用</span>
                            }
                        </td>
                        <td class="item6">@item.CreateTime.Value.ToString("yyyy/MM/dd HH:mm")</td>
                        <td class="item7">
                            @if ((bool)Session["Update"] == true)
                            {
                                @Html.ActionLink("編輯", "Edit", new { id = item.Id })
                            }
                        </td>
                        <td class="item8">
                            @if ((bool)Session["Delete"] == true)
                            {
                                if (item.GoodsId == null)
                                {
                                    @Html.ActionLink("刪除", "Delete", new { item = item.Id, p = p }, new { OnClick = "return confirm(\"確定要刪除?\")" })
                                }
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>

        <div class="del_chk">
            <div class="button">
                <input type="button" value="列印條碼" id="save_sort" onclick="PrintBarcode();">
                &emsp;
                <input type="button" value="刪除" id="save_sort" onclick="Ajax_Delete();">
            </div>
            @if (ShowAll == false)
            {
                @Html.Partial("_PartialPage")
            }
        </div>

        <div id="barcodeTarget" class="barcodeTarget" style="display:none"></div>
    </div>
    @Html.Partial("_UploadFile")

}
