﻿@using Mith.Areas.GoX.Models
@using Mith.Models;
@model Mith.Areas.GoX.Models.AccountingModel.OrderShow
@{
    int ReturnTotal = 0;
}
@Styles.Render("~/css/AdminOrderEdit")

<span style="font-weight:bold">訂單明細</span>
<table id="OrderDetailTable" class="table table-striped" style="width:1150px">
    <thead>
        <tr>
            <th id="item1" style="width:240px">訂單資訊</th>
            <th id="item2" style="width:260px">付款資訊</th>
            <th id="item3" style="width:300px">訂購會員</th>
            <th id="item4" style="width:350px">收件人</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td id="item1">
                建立時間：@Model.CreateTime.Value.ToString("yyyy/MM/dd HH:mm")<br>
                訂單編號：@Model.SN<br>
                訂單狀態：
                @if (Model.Status_Name == "已結單")
                {
                    <span style="color:#00AA00">
                        @Model.Status_Name
                    </span>
                }
                else
                {
                    <span style="color:red">
                        @Model.Status_Name
                    </span>
                }
            </td>
            <td id="item2">
                付款方式：@Model.CashFlowType_Name<br>
                @if (@Model.CashFlowType_Name != "信用卡")
                {
                    <text>虛擬帳號：</text>@Model.VirtualAccount<<br>
                        <text>銀行代號：</text>@Model.BankCode<br>
                        <text>金融帳號：</text>@Model.BankAccount<br>
                }
                付款狀態：
                @if (Model.CashFlowStatus_Name == "已付款")
                {
                    <span style="color:#00AA00">
                        @Model.CashFlowStatus_Name
                    </span>
                    <br>
                    if (!string.IsNullOrWhiteSpace(Model.PaymentTime.ToString()))
                    {
                        <text>付款時間：</text>@Model.PaymentTime.Value.ToString("yyyy/MM/dd HH:mm")
                    }
                }
                else
                {
                    <span style="color:red">
                        @Model.CashFlowStatus_Name
                    </span>
                }
            </td>
            <td id="item3">
                姓名：
                @if (!string.IsNullOrWhiteSpace(Model.Volunteers_Name))
                {
                    @Model.Volunteers_Name
                }
                else
                {
                    <text>無</text>
                }
                <br>
                電話：
                @if (!string.IsNullOrWhiteSpace(Model.Volunteers_Tel))
                {
                    @Model.Volunteers_Tel
                }
                else
                {
                    <text>無</text>
                }
                <br>
                信箱：@Model.Volunteers_Email
            </td>
            <td id="item4">
                姓名：@Model.ReceiverName<br>
                電話：@Model.ReceiverTel<br>
                取貨方式：@Model.LogisticsType_Name<br>
                @if (Model.LogisticsType == 1)
                {
                    <text> 地址：@Model.ReceiverAddress</text>
                }
                else
                {
                    <text>
                        取貨門市：@Model.ReceiverStoreName<br>
                        ( @Model.ReceiverStoreAddress )
                    </text>
                }

            </td>
        </tr>
    </tbody>
</table>
<br>
<span style="font-weight:bold">商品明細（正物流）</span>
<table id="GoodsDetailTable" class="table table-striped" style="width:1150px;margin-top:5px">
    <thead>
        <tr>
            <th id="item1" style="width:340px">商品</th>
            <th id="item2" style="width:130px">類別</th>
            <th id="item2" style="width:60px">顏色</th>
            <th id="item3" style="width:90px">物流狀態</th>
            <th id="item5" style="width:160px">廠商</th>
            <th id="item6" style="width:60px">尺寸</th>
            <th id="item7" style="width:60px">數量</th>
            <th id="item8" style="width:70px">單價</th>
            <th id="item9" style="width:70px">小計</th>
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < Model.OrderDetailList.Count(); i++)
        {
            <tr>
                <td id="item1" style="text-align:left!important;padding-left:5px">
                    【@Model.OrderDetailList[i].Goods_SN】
                    @Model.OrderDetailList[i].Goods_Name
                </td>
                <td id="item2">
                    @Model.OrderDetailList[i].Goods_TypeName
                </td>
                <td id="item2">
                    @Model.OrderDetailList[i].Goods_ColorName
                </td>
                <td id="item3">
                    @if (@Model.OrderDetailList[i].LogisticsStatus > 0)
                    {
                        <span style="color:#00AA00">@Model.OrderDetailList[i].LogisticsStatus_Name</span>
                    }
                    else
                    {
                        <span style="color:red">@Model.OrderDetailList[i].LogisticsStatus_Name</span>
                    }
                </td>

                <td id="item5">
                    @Model.OrderDetailList[i].Company_Name
                </td>
                <td id="item6">
                    @Model.OrderDetailList[i].BuySize
                </td>
                <td id="item7">
                    @Model.OrderDetailList[i].BuyQuantity
                </td>
                <td id="item8">
                    @Model.OrderDetailList[i].BuyPrice.ToString("N0")
                </td>
                <td id="item9">
                    @Model.OrderDetailList[i].BuyTotal.ToString("N0")
                </td>
            </tr>
        }
    </tbody>
</table>
<span style="float:right;padding-right:30px; padding-top:5px;"><b>總計：$@Model.Total.ToString("N0")</b></span>
<br>
@if (@Model.ReturnOrderDetailList.Any())
{
    <br>
    <span style="font-weight:bold">商品明細（逆物流）</span>
    <table id="GoodsDetailTable" class="table table-striped" style="width:1150px;margin-top:5px">
        <thead>
            <tr>
                <th id="item1" style="width:340px">商品</th>
                <th id="item2" style="width:130px">類別</th>
                <th id="item2" style="width:60px">顏色</th>
                <th id="item3" style="width:90px">物流狀態</th>
                <th id="item5" style="width:160px">廠商</th>
                <th id="item6" style="width:60px">尺寸</th>
                <th id="item7" style="width:60px">數量</th>
                <th id="item8" style="width:70px">單價</th>
                <th id="item9" style="width:70px">小計</th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.ReturnOrderDetailList.Count(); i++)
            {
                <tr>
                    <td id="item1" style="text-align:left!important;padding-left:5px">
                        【@Model.ReturnOrderDetailList[i].Goods_SN】
                        @Model.ReturnOrderDetailList[i].Goods_Name
                    </td>
                    <td id="item2">
                        @Model.ReturnOrderDetailList[i].Goods_TypeName
                    </td>
                    <td id="item2">
                        @Model.ReturnOrderDetailList[i].Goods_ColorName
                    </td>
                    <td id="item3">
                        @if (@Model.ReturnOrderDetailList[i].LogisticsStatus > 0)
                        {
                            <span style="color:#00AA00">@Model.ReturnOrderDetailList[i].LogisticsStatus_Name</span>
                        }
                        else
                        {
                            <span style="color:red">@Model.ReturnOrderDetailList[i].LogisticsStatus_Name</span>
                        }
                    </td>

                    <td id="item5">
                        @Model.ReturnOrderDetailList[i].Company_Name
                    </td>
                    <td id="item6">
                        @Model.ReturnOrderDetailList[i].BuySize
                    </td>
                    <td id="item7">
                        @Model.ReturnOrderDetailList[i].BuyQuantity
                    </td>
                    <td id="item8">
                        @Model.ReturnOrderDetailList[i].BuyPrice.ToString("N0")
                    </td>
                    <td id="item9">
                        @Model.ReturnOrderDetailList[i].BuyTotal.ToString("N0")


                        @{
                        ReturnTotal += @Model.ReturnOrderDetailList[i].BuyTotal; //退貨加總
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <span style="float:right;padding-right:30px; padding-top:5px;"><b>總計：$@ReturnTotal.ToString("N0")</b></span>
    <br>
}