﻿@using Mith.Areas.GoX.Models
@using Mith.Models;
@model Mith.Areas.GoX.Models.RefundModel.RefundShow
@Scripts.Render("~/js/AdminRefundEdit")
@Styles.Render("~/css/AdminOrderEdit")
@Styles.Render("~/css/Loading")
<script src="~/Scripts/plugin/Loading/jquery.isloading.min.js" type="text/javascript"></script>
<!-- Datetimepicker2 -->
<script type="text/javascript" src="/Scripts/plugin/jquery.datetimepicker2.js"></script>
<link rel='stylesheet' type='text/css' href='/Content/themes/base/jquery.datetimepicker2.css' />

@using (Html.BeginForm("Edit", "Refund", FormMethod.Post, new { @Id = "Form", @enctype = "multipart/form-data" }))
{
    <div>
        <span style="font-weight:bold">退款明細</span>
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.SN)
        @Html.HiddenFor(model => model.CashFlowType)
        @Html.HiddenFor(model => model.CashFlowStatus)
        @Html.HiddenFor(model => model.CathayAuthCode)
        <table id="OrderDetailTable" class="table table-striped" style="width:1150px!important">
            <thead>
                <tr>
                    <th id="item1" style="width:240px">訂單資訊</th>
                    <th id="item2" style="width:300px">聯絡人</th>
                    <th id="item3" style="width:280px">退款資訊</th>
                    <th id="item4" style="width:330px">備註</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td id="item1">
                        建立時間：@Model.CreateTime.ToString("yyyy/MM/dd HH:mm")<br>
                        訂單編號：@Model.SN<br>
                        退款方式：@Model.CashFlowType_Name<br>
                        退款原因：@Model.RefundReason_Name
                    </td>
                    <td id="item2">
                        姓名：@Model.ReceiverName
                        <br>
                        電話：@Model.ReceiverTel
                        <br>
                        地址：@Model.ReceiverAddress
                        @if (@Model.CashFlowType == 1)
                        {
                            <br>
                            <text>銀行代號：</text>@Model.BankCode
                            <br>
                            <text>金融帳號：</text>@Model.BankAccount<<br>
                        }
                    </td>
                    <td id="item3">

                        &emsp;已退款：
                        @if (Model.CashFlowStatus == 4)
                        {
                            <span style="color:#00AA00">是</span>
                        }
                        else
                        {
                            <span style="color:red">否</span>
                        }
                        <br>
                        退款金額：
                        @Html.TextBoxFor(model => model.RefundTotal, new { style = "margin-bottom: 10px;width: 140px;vertical-align: top;height: 28px;" })
                        @Html.ValidationMessageFor(model => model.RefundTotal)
                        <br>
                        @if (@Model.CashFlowType == 1)
                        {
                            <text>退款時間：</text>
                            @Html.TextBoxFor(model => model.RefundTime, "{0:yyyy/MM/dd HH:mm}", new { style = "width: 140px;vertical-align: top;height: 28px;" })
                            <span class="Valid" id="RefundTime_Valid">必填欄位</span>
                        }
                        else if (@Model.CashFlowType == 2 && !string.IsNullOrWhiteSpace(Model.RefundTime.ToString()))
                        {
                            <text>退款時間：</text>
                            @Model.RefundTime.Value.ToString("yyyy/MM/dd HH:mm")
                            <br>
                        }

                        更新人員：@Model.LastUser_Name
                    </td>
                    <td id="item4" style="padding:18px 10px 10px 12px">
                        @Html.TextAreaFor(model => model.RefundRemark, 4, 35, new { style = "resize: none;" })
                    </td>
                </tr>
            </tbody>
        </table>
        <br>
        <span style="font-weight:bold">商品明細</span>
        <table id="GoodsDetailTable" class="table table-striped" style="width:1150px;margin-top:5px">
            <thead>
                <tr>
                    <th id="item1" style="width:320px">名稱</th>
                    <th id="item2" style="width:140px">類別</th>
                    <th id="item2" style="width:60px">顏色</th>
                    <th id="item5" style="width:160px">廠商</th>
                    <th id="item6" style="width:60px">尺寸</th>
                    <th id="item7" style="width:60px">數量</th>
                    <th id="item8" style="width:70px">單價</th>
                    <th id="item9" style="width:70px">小計</th>
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < Model.OrderDetailList.Count(); i++)
                {
                    <tr>
                        <td id="item1" style="width:320px;text-align:left!important;padding-left:5px">
                            【@Model.OrderDetailList[i].Goods_SN】
                            @Model.OrderDetailList[i].Goods_Name
                        </td>
                        <td id="item2" style="width:140px;text-align:center">
                            @Model.OrderDetailList[i].Goods_TypeName
                        </td>
                        <td id="item2" style="width:60px;text-align:center">
                            @Model.OrderDetailList[i].Goods_ColorName
                        </td>
                        <td id="item5" style="width:160px;text-align:center">
                            @Model.OrderDetailList[i].Company_Name
                        </td>
                        <td id="item6" style="width:60px;text-align:center">
                            @Model.OrderDetailList[i].BuySize
                        </td>
                        <td id="item7" style="width:60px;text-align:center">
                            @Model.OrderDetailList[i].BuyQuantity
                        </td>
                        <td id="item8" style="width:70px;text-align:center">
                            @Model.OrderDetailList[i].BuyPrice
                        </td>
                        <td id="item9" style="width:70px;text-align:center">
                            @Model.OrderDetailList[i].BuyTotal.ToString("N0")
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <span style=" padding-top: 5px;float:left">
            <input type="submit" value="儲存" id="save_sort" onclick="return Send()" />
        </span>

    </div>
}
<span style="float:right;padding-right:50px; padding-top:5px;"><b>總計：$@Model.BuyTotal.ToString("N0")</b></span>
<br><br>