﻿@using Mith.Areas.GoX.Models
@using Mith.Models;
@model Mith.Areas.GoX.Models.AccountingModel.OrderShow

@Scripts.Render("~/js/AdminOrderEdit")
@Styles.Render("~/css/AdminOrderEdit")
@Styles.Render("~/css/Loading")
<script src="~/Scripts/plugin/Loading/jquery.isloading.min.js" type="text/javascript"></script>
<div id="dialog" title="退貨商品">
</div>

<span style="font-weight:bold">訂單明細</span> <span>（逆物流）</span>
<table id="OrderDetailTable" class="table table-striped" style="width:1150px">
    <thead>
        <tr>
            <th id="item1" style="width:240px">訂單資訊</th>
            <th id="item2" style="width:260px">退款資訊</th>
            <th id="item3" style="width:300px">訂購會員</th>
            <th id="item4" style="width:350px">退貨資訊</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td id="item1">
                建立時間：@Model.CreateTime.Value.ToString("yyyy/MM/dd HH:mm")<br>
                訂單編號：@Model.SN<br>
            </td>
            <td id="item2">
                退款方式：@Model.CashFlowType_Name<br>
                @if (@Model.CashFlowType_Name != "信用卡")
                {
                    <text>銀行代號：</text>@Model.BankCode<br>
                    <text>金融帳號：</text>@Model.BankAccount<br>
                }
                退款狀態：
                @if (Model.CashFlowStatus_Name.Contains("已"))
                {
                    <span style="color:#00AA00">
                        @Model.CashFlowStatus_Name
                    </span>
                }
                else
                {
                    <span style="color:red">
                        @Model.CashFlowStatus_Name
                    </span>
                }
                @if (Model.CashFlowStatus_Name == "已退款")
                {
                    <br>
                    <text>退款時間：</text>@Model.PaymentTime.Value.ToString("yyyy/MM/dd HH:mm")
                }
            </td>
            <td id="item3">
                姓名：
                @if (!string.IsNullOrWhiteSpace(Model.Volunteers_Name))
                {
                    @Model.Volunteers_Name
                }
                else
                {
                    <text>無</text>
                }
                <br>
                電話：
                @if (!string.IsNullOrWhiteSpace(Model.Volunteers_Tel))
                {
                    @Model.Volunteers_Tel
                }
                else
                {
                    <text>無</text>
                }
                <br>
                信箱：@Model.Volunteers_Email
            </td>
            <td id="item4">
                姓名：@Model.ReceiverName<br>
                電話：@Model.ReceiverTel<br>
                地址：@Model.ReceiverAddress<br>
                取件時段：@Model.ReceiverTimeRange_Name
        </tr>
    </tbody>
</table>
<br>
<span style="font-weight:bold">退貨商品明細</span>
@using (Ajax.BeginForm("Get_SelectGoosList", "Order", new AjaxOptions { UpdateTargetId = "UpdateArea", HttpMethod = "GET" }, new { id = "ReturnGoodsForm" }))
{
    <table id="GoodsDetailTable" class="table table-striped" style="width:1150px;margin-top:5px">
        <thead>
            <tr>
                <th id="item1" style="width:330px">名稱</th>
                <th id="item2" style="width:130px">類別</th>
                <th id="item2" style="width:60px">顏色</th>
                <th id="item3" style="width:90px">物流狀態</th>
                <th id="item4" style="width:110px">出貨期限</th>
                <th id="item5" style="width:160px">廠商</th>
                <th id="item6" style="width:60px">尺寸</th>
                <th id="item7" style="width:60px">數量</th>
                <th id="item8" style="width:70px">單價</th>
                <th id="item9" style="width:70px">小計</th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.OrderDetailList.Count(); i++)
            {
                <tr>
                    <td id="item1" style="text-align:left!important;padding-left:5px">
                        【@Model.OrderDetailList[i].Goods_SN】
                        @Model.OrderDetailList[i].Goods_Name
                    </td>
                    <td id="item2">
                        @Model.OrderDetailList[i].Goods_TypeName
                    </td>
                    <td id="item2">
                        @Model.OrderDetailList[i].Goods_ColorName
                    </td>
                    <td id="item3">
                        @if (@Model.OrderDetailList[i].LogisticsStatus > 0)
                        { <span style="color:#00AA00">@Model.OrderDetailList[i].LogisticsStatus_Name</span>
                        }
                        else
                        {
                            <span style="color:red">@Model.OrderDetailList[i].LogisticsStatus_Name</span>
                        }
                    </td>
                    <td id="item4">
                        -
                    </td>

                    <td id="item5">
                        @Model.OrderDetailList[i].Company_Name
                    </td>

                    <td id="item6">
                        @Model.OrderDetailList[i].BuySize
                    </td>
                    <td id="item7">
                        @Model.OrderDetailList[i].BuyQuantity
                    </td>
                    <td id="item8">
                        @Model.OrderDetailList[i].BuyPrice.ToString("N0")
                    </td>
                    <td id="item9">
                        @Model.OrderDetailList[i].BuyTotal.ToString("N0")
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
<div style="width:1150px;text-align:right;padding-right:12px; padding-top: 5px;"><b>總計：$@Model.Total.ToString("N0")</b></div>
<br><br>