﻿@using Mith.Areas.GoX.Models
@using Mith.Models;
@model Mith.Areas.GoX.Models.AccountingModel.OrderShow
@{
    string From = ViewData["From"] as string;
    if (From == "Mith")
    {
        Session["chk_OrderEdit"] = null;
    }
    string chk_OrderEdit = "";

    if (Session["chk_OrderEdit"] != null)
    {
        chk_OrderEdit = Session["chk_OrderEdit"] as string;
    }
    string ReturnStoreId = "";
    if (!string.IsNullOrWhiteSpace(ViewData["ReturnStoreId"] as string))
    {
        ReturnStoreId = ViewData["ReturnStoreId"] as string;
    }
    string ReturnStoreName = "";
    if (!string.IsNullOrWhiteSpace(ViewData["ReturnStoreName"] as string))
    {
        ReturnStoreName = ViewData["ReturnStoreName"] as string;
    }
    string ReturnStoreAddress = "";
    if (!string.IsNullOrWhiteSpace(ViewData["ReturnStoreAddress"] as string))
    {
        ReturnStoreAddress = ViewData["ReturnStoreAddress"] as string;
    }
    int StockUpGoods = 0;
    string ReturnUrl = Request.Url.AbsoluteUri;
}
@Scripts.Render("~/js/AdminOrderEdit")
@Styles.Render("~/css/AdminOrderEdit")
@Styles.Render("~/css/Loading")
<script src="~/Scripts/plugin/Loading/jquery.isloading.min.js" type="text/javascript"></script>

<input type="hidden" id="chk_OrderEdit" value="@chk_OrderEdit">
<input type="hidden" id="From" value="@From">

<div id="overlay" style="display:none;"></div>
<div id="dialog" title="商品出貨">
    @using (Html.BeginForm("Update_ShippingGoods", "Order", FormMethod.Post, new { @Id = "ShippingGoodsForm", @enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        <input type="hidden" name="ShippingVal" id="ShippingVal" value="">
        <input type="hidden" name="LogisticsType" value=@Model.LogisticsType>
        <input type="hidden" name="Total" id="Total" value="">
        <div style="margin-top:5px">
            @if (Model.LogisticsType == 1)
            {

                <text>物流編號 &ensp;</text>
                @Html.TextBox("LogisticsSN", "", new { style = "width:160px" })
                <span class="Valid" id="LogisticsSN_Valid">物流編號必填</span>
            }
            else
            {
                <text>退貨門市 &ensp;</text>
                @Html.TextBox("ReturnStoreName", @ReturnStoreName, new { style = "width:160px", @ReadOnly = "ReadOnly " })
                <input type="hidden" name="ReturnStoreId" value="@ReturnStoreId">
                <input type="hidden" name="ReturnStoreAddress" value="@ReturnStoreAddress">
                <text>&ensp;</text>
                <input type="button" value="選擇門市" id="save_sort" onclick="SelectReturnStore()" /><br>
                <label style="color:red;margin-top:10px;margin-bottom:0px">*消費者沒去取貨時，會將商品退貨至此門市 </label>
            }
        </div>

        <ul id="UpdateArea">
            @Html.Partial("_SelectGoosList")
        </ul>
        <div style="width:100%;padding-bottom: 10px;">
            <input type="submit" value="出貨" id="save_sort" onclick="return ShippingGoods();" style="margin-top:10px" />
        </div>
        <br>
    }
</div>

<div id="dialog2" title="訂單物流說明">
    <div style="margin-top:10px;padding-left:5px;line-height:30px">
        <label>1. 消費者付款時，商品才能備貨</label><br>
        <label>2. 未接單的商品無法直接出貨，要先備貨</label><br>
        <label>3. 商品可以各自出貨</label><br>
        <label>4. 請注意商品的出貨期限</label>
    </div>
</div>

<form action="http://emap.shopping7.com.tw/emap/c2cemap.ashx" method="post" id="form1" name="form1">
    <input type="hidden" name="eshopid" value="023" />
    <input type="hidden" name="url" value="http://mith.azurewebsites.net/WebAPI/Get_SelectShop" />
    <input type="hidden" name="tempvar" id="tempvar" value="@ReturnUrl" />
</form>

<span style="font-weight:bold">訂單明細</span> <span>（正物流）</span>
<table id="OrderDetailTable" class="table table-striped" style="width:1150px">
    <thead>
        <tr>
            <th id="item1" style="width:240px">訂單資訊</th>
            <th id="item2" style="width:260px">付款資訊</th>
            <th id="item3" style="width:300px">訂購會員</th>
            <th id="item4" style="width:350px">收件人</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td id="item1">
                建立時間：@Model.CreateTime.Value.ToString("yyyy/MM/dd HH:mm")<br>
                訂單編號：@Model.SN<br>
            </td>
            <td id="item2">
                付款方式：@Model.CashFlowType_Name<br>
                @if (@Model.CashFlowType_Name != "信用卡")
                {
                    <text>虛擬帳號：</text>@Model.VirtualAccount<br>
                    <text>銀行代號：</text>@Model.BankCode<br>
                    <text>金融帳號：</text>@Model.BankAccount<br>
                }
                付款狀態：
                @if (Model.CashFlowStatus_Name == "已付款")
                {
                    <span style="color:#00AA00">
                        @Model.CashFlowStatus_Name
                    </span>
                    <br>
                    if (!string.IsNullOrWhiteSpace(Model.PaymentTime.ToString()))
                    {
                        <text>付款時間：</text>@Model.PaymentTime.Value.ToString("yyyy/MM/dd HH:mm")
                    }

                }
                else
                {
                    <span style="color:red">
                        @Model.CashFlowStatus_Name
                    </span>
                }
            </td>
            <td id="item3">
                姓名：
                @if (!string.IsNullOrWhiteSpace(Model.Volunteers_Name))
                {
                    @Model.Volunteers_Name
                }
                else
                {
                    <text>無</text>
                }
                <br>
                電話：
                @if (!string.IsNullOrWhiteSpace(Model.Volunteers_Tel))
                {
                    @Model.Volunteers_Tel
                }
                else
                {
                    <text>無</text>
                }
                <br>
                信箱：@Model.Volunteers_Email
            </td>
            <td id="item4">
                姓名：@Model.ReceiverName<br>
                電話：@Model.ReceiverTel<br>
                取貨方式：@Model.LogisticsType_Name<br>
                @if (Model.LogisticsType == 1)
                {

                    <text>地址：@Model.ReceiverAddress</text>
                }
                else
                {
                    <text>
                        取貨門市：@Model.ReceiverStoreName<br>
                        ( @Model.ReceiverStoreAddress )
                    </text>
                }

            </td>
        </tr>
    </tbody>
</table>
<br>
<span style="font-weight:bold">商品明細</span>
<i class="fa fa-question-circle" onclick="OpenDialog_QA()"></i>
@using (Ajax.BeginForm("Get_SelectGoosList", "Order", null, new AjaxOptions { UpdateTargetId = "UpdateArea", HttpMethod = "GET" }, new { id = "ReturnGoodsForm" }))
{
    <table id="GoodsDetailTable" class="table table-striped" style="width:1150px;margin-top:5px">
        <thead>
            <tr>
                <th id="item1" style="width:340px" colspan="2">商品</th>
                <th id="item2" style="width:130px">類別</th>
                <th id="item2" style="width:60px">顏色</th>
                <th id="item3" style="width:90px">物流狀態</th>
                <th id="item5" style="width:160px">廠商</th>
                <th id="item6" style="width:60px">尺寸</th>
                <th id="item7" style="width:60px">數量</th>
                <th id="item8" style="width:70px">單價</th>
                <th id="item9" style="width:70px">小計</th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.OrderDetailList.Count(); i++)
            {
                int sort = i + 1;
                <tr>
                    <td id="item0" style="padding-left:5px;padding-right:5px">
                        @if (Model.OrderDetailList[i].LogisticsStatus == 1)
                        {
                            StockUpGoods += 1;
                        }
                        @*金流=已經付款，物流=未出貨*@
                        @if (Model.CashFlowStatus == 2 && Model.OrderDetailList[i].LogisticsStatus < 2)
                        {
                            <input type="checkbox" name="Id" value="@Model.OrderDetailList[i].Id" id="@Model.OrderDetailList[i].Id" class="@sort" />
                        }
                    </td>
                    <td id="item1" style="text-align:left!important;padding-left:5px">
                        【@Model.OrderDetailList[i].Goods_SN】
                        @Model.OrderDetailList[i].Goods_Name
                    </td>
                    <td id="item2">
                        @Model.OrderDetailList[i].Goods_TypeName
                    </td>
                    <td id="item2">
                        @Model.OrderDetailList[i].Goods_ColorName
                    </td>
                    <td id="item3_@sort">
                        @if (@Model.OrderDetailList[i].LogisticsStatus > 0)
                        {
                            <span style="color:#00AA00">@Model.OrderDetailList[i].LogisticsStatus_Name</span>
                        }
                        else
                        {
                            <span style="color:red">@Model.OrderDetailList[i].LogisticsStatus_Name</span>
                        }
                    </td>

                    <td id="item5">
                        @Model.OrderDetailList[i].Company_Name
                    </td>
                    <td id="item6">
                        @Model.OrderDetailList[i].BuySize
                    </td>
                    <td id="item7">
                        @Model.OrderDetailList[i].BuyQuantity
                    </td>
                    <td id="item8">
                        @Model.OrderDetailList[i].BuyPrice.ToString("N0")
                    </td>
                    <td id="item9_@sort">
                        @Model.OrderDetailList[i].BuyTotal.ToString("N0")
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <input hidden name="GoodsAction" value="ShippingGoods">

    <span style=" padding-top: 5px;float:left">
        @*金流=已經付款*@
        @if (Model.CashFlowStatus == 2)
        {
            <input type="button" value="備貨" id="save_sort" onclick="return StockUp();">
        }
        @if (@StockUpGoods > 0)
        {
            <text>&emsp;</text>
            <input type="submit" value="出貨" id="save_sort" class="ShippingGoods_submit" onclick="return OpenDialog('ShippingGoods');">
        }
    </span>

}
<span style="float:right;padding-right:25px; padding-top:5px;"><b>總計：$@Model.Total.ToString("N0")</b></span>
<br><br>
