﻿@using Mith.Areas.GoX.Models;
@using Mith.Models;
@model List<AccountingModel.AccountingShow>
@{
    int p = 1;
    if (ViewData["p"] != null)
    {
        p = (int)ViewData["p"];
    }
    string keyword = "";
    if (ViewData["keyword"] != null)
    {
        keyword = ViewData["keyword"] as string;
    }

    int Search_Direction = 0;
    if (ViewData["Search_Direction"] != null)
    {
        Search_Direction = (int)ViewData["Search_Direction"];
    }

    int Search_CashFlow = 0;
    if (ViewData["Search_CashFlow"] != null)
    {
        Search_CashFlow = (int)ViewData["Search_CashFlow"];
    }

    int Search_AccountingReason = 0;
    if (ViewData["Search_AccountingReason"] != null)
    {
        Search_AccountingReason = (int)ViewData["Search_AccountingReason"];
    }

    string err = "";
    if (TempData["err"] != null && TempData["err"] != "")
    {
        err = TempData["err"] as string;
    }
    int Search_CompanyId = (int)ViewData["Search_CompanyId"];
}
@Scripts.Render("~/js/AdminOrderIndex")
@Styles.Render("~/css/AdminAccountingIndex")
@if (TempData["FromAction"] != null)
{
    <script>
        var messag = @Html.Raw(Json.Encode(TempData["FromAction"]));
        alert(messag)
    </script>
}
@if (err != "")
{
    @: 操作失敗<br>
    @err
}
else
{
    @*<div class="func_item">
            <ul>
                <li>
                    <input type="button" value="匯出" id="save_sort" onclick="Export();">
                </li>
            </ul>
        </div>*@
    <fieldset class="confirm2">
        <div class="search_area">
            <form action="/GoX/Accounting/Index_Company" method="get" name="SearchForm">
                <label for="keyword">　關鍵字</label>&ensp;
                <input type="text" name="keyword" id="keyword" value="@keyword" placeholder="訂單編號" />
                <br />
                <label class="Add_Top">物流方向</label>&ensp;
                <input type="radio" value="0" name="Search_Direction" @if (Search_Direction == 0) { <text> checked</text>} style="margin-right: 4px;" /><label> 全部</label>&ensp;
                <input type="radio" value="1" name="Search_Direction" @if (Search_Direction == 1) { <text> checked</text>} style="margin-right: 4px;" /><label> 正物流</label>&ensp;
                <input type="radio" value="2" name="Search_Direction" @if (Search_Direction == 2) { <text> checked</text>} style="margin-right: 4px;" /><label> 逆物流</label>
                <br>
                <label class="Add_Top" id="CashFlowText">金流方式</label>&ensp;
                <input type="radio" value="0" name="Search_CashFlow" @if (Search_CashFlow == 0) { <text> checked</text>} /><label> 全部</label>&ensp;
                <span id="span_CashFlow1" style="display:none">
                    <input type="radio" value="1" name="Search_CashFlow" @if (Search_CashFlow == 1) { <text> checked</text>} /><label>ATM轉帳</label>&ensp;
                    <input type="radio" value="2" name="Search_CashFlow" @if (Search_CashFlow == 2) { <text> checked</text>} /><label>信用卡付款</label>&ensp;

                </span>
                <span id="span_CashFlow2" style="display:none">
                    <input type="radio" value="1" name="Search_CashFlow" @if (Search_CashFlow == 1) { <text> checked</text>} /><label>ATM退款</label>&ensp;
                    <input type="radio" value="2" name="Search_CashFlow" @if (Search_CashFlow == 2) { <text> checked</text>} /><label>信用卡刷退</label>&ensp;
                </span>
                <input type="hidden" name="Search_CompanyId" value="@Search_CompanyId">
                <input type="button" value="查詢" style="margin-left: 30px;" onclick="Search_Company()">
            </form>

        </div>
    </fieldset>

    <br>
    <div class="showdata" id="update">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th class="item1">
                        @Html.DisplayNameFor(model => model[0].Order_SN)
                    </th>
                    <th class="item2">
                        金流方式
                    </th>
                    <th class="item3">
                        訂購商品
                    </th>
                    <th class="item4">
                        商品總計
                    </th>
                    <th class="item4">
                        結算金額
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td class="item1">
                            @item.Order_SN
                            <br>
                            @if (item.Direction == 1)
                            {
                                <span>（正物流）</span>
                            }
                            else
                            {
                                <span>（逆物流）</span>
                            }
                        </td>
                        <td class="item2">
                            @if (item.Direction == 1)
                            {
                                @item.CashFlowType_Name
                            }
                            else
                            {
                                if (item.CashFlowType == 1)
                                {
                                    <text>ATM退款</text>
                                }
                                else
                                {
                                    <text>信用卡刷退</text>
                                }
                            }
                        </td>
                        <td class="item3" style="text-align:left!important;line-height:25px;padding-left:10px;padding-right:10px;">

                            <span style="">
                                【@item.Goods_SN】<br>
                                @item.Goods_Name<br>
                                數量：@item.BuySize ×
                                @item.BuyQuantity
                            </span>
                        </td>
                        <td class="item4">
                            @if (item.Direction == 1)
                            {
                                <span style="color:#00AA00">
                                    +@item.BuyTotal.ToString("N0")
                                </span>
                            }
                            else
                            {
                                <span style="color:red">
                                    -@item.BuyTotal.ToString("N0")
                                </span>
                            }
                        </td>
                        <td class="item4">
                            @if (item.Direction == 1)
                            {
                                <span style="color:#00AA00">
                                    +@item.CalculateTotal.ToString("N0")
                                </span>
                            }
                            else
                            {
                                <span style="color:red">
                                    -@item.CalculateTotal.ToString("N0")
                                </span>
                            }
                        </td>

                    </tr>
                }
            </tbody>
        </table>

        <div class="del_chk">
            @Html.Partial("_PartialPage")
        </div>
    </div>


}
