﻿@using Mith.Areas.GoX.Models;
@{

    int Role = Mith.Models.Method.Get_UserRole_Admin(Request.Cookies, Session);
    List<OrderModel.OrderDeatailShow> SelectGoosList = new List<OrderModel.OrderDeatailShow>();
    if (ViewData["SelectGoosList"] != null)
    {
        SelectGoosList = ViewData["SelectGoosList"] as List<OrderModel.OrderDeatailShow>;
    }
    string GoodsAction = ViewData["GoodsAction"] as string;
    int i = 1;
    int Quantity = 0;
}
@if (TempData["Delete"] != null)
{
    <script>
        var messag = @Html.Raw(Json.Encode(TempData["Delete"]));
        alert(messag);
    </script>
}

<table id="ReturnGoodsTable" class="table table-striped" style="margin-top:20px;width:600px">
    <thead>
        <tr>
            <th>商品名稱</th>
            <th style="padding-left:5px;padding-right:5px">尺寸</th>
            <th>數量</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in SelectGoosList)
        {
            <tr>
                <td style="text-align:left!important;padding-left:5px">
                    【@item.Goods_SN】@item.Goods_Name (@item.Goods_ColorName)
                </td>
                <td>
                    @item.BuySize
                </td>
                <td>
                    @*出貨*@
                    @if (GoodsAction == "ShippingGoods")
                    {
                        @item.BuyQuantity
                    }
                    @*退貨*@
                    else
                    {
                        Quantity = @item.BuyQuantity - @item.ReturnGoodsQuantity;
                        <select id="BuyQuantity_@i" class="BuyQuantitySelect" style="width:50px">
                            @for (int j = 1; j <= Quantity; j++)
                            {
                                <option value="@item.Id=@j">@j</option>
                            }
                        </select>
                    }
                </td>
            </tr>
                    i++;
        }
    </tbody>
</table>
