﻿@using Mith.Areas.GoX.Models;
@using Mith.Models;
@model List<OrderModel.OrderShow>
@{
    int p = 1;
    if (ViewData["p"] != null)
    {
        p = (int)ViewData["p"];
    }
    string keyword = "";
    if (ViewData["keyword"] != null)
    {
        keyword = ViewData["keyword"] as string;
    }

    int Search_Direction = 0;
    if (ViewData["Search_Direction"] != null)
    {
        Search_Direction = (int)ViewData["Search_Direction"];
    }
    int Search_LogisticsStatus = 0;
    if (ViewData["Search_LogisticsStatus"] != null)
    {
        Search_LogisticsStatus = (int)ViewData["Search_LogisticsStatus"];
    }

    int Search_CashFlow = 0;
    if (ViewData["Search_CashFlow"] != null)
    {
        Search_CashFlow = (int)ViewData["Search_CashFlow"];
    }
    int Search_OverDeadline = 0;
    if (ViewData["Search_OverDeadline"] != null)
    {
        Search_OverDeadline = (int)ViewData["Search_OverDeadline"];
    }

    DateTime? CreateTime_St = ViewData["CreateTime_St"] as DateTime?;
    DateTime? CreateTime_End = ViewData["CreateTime_End"] as DateTime?;
    string ct_start = "";
    string ct_end = "";
    if (CreateTime_St != null)
    {
        ct_start = CreateTime_St.Value.ToString("yyyy/MM/dd HH:mm:ss");
    }
    if (CreateTime_End != null)
    {
        ct_end = CreateTime_End.Value.ToString("yyyy/MM/dd HH:mm:ss");
    }
    string err = "";
    if (TempData["err"] != null && TempData["err"] != "")
    {
        err = TempData["err"] as string;
    }

    int Sort = 1;
}

@Scripts.Render("~/js/AdminOrderIndex")
@Styles.Render("~/css/AdminOrderIndex_Company")
@Styles.Render("~/css/Loading")
<script src="~/Scripts/plugin/Loading/jquery.isloading.min.js" type="text/javascript"></script>

@if (TempData["FromAction"] != null)
{
    <script>
        var messag = @Html.Raw(Json.Encode(TempData["FromAction"]));
        alert(messag)
    </script>
}
@if (err != "")
{
    @: 操作失敗<br>
    @err
}
else
{
    @*<div class="func_item">
            <ul>
                <li>
                    <input type="button" value="匯出" id="save_sort" onclick="Export();">
                </li>
            </ul>
        </div>*@
    <fieldset class="confirm2">
        <div class="search_area">
            <form action="/GoX/Order/Index_Company" method="get" name="SearchForm">
                <label for="keyword">　關鍵字</label>&ensp;
                <input type="text" name="keyword" id="keyword" value="@keyword" placeholder="訂單編號" />
                <br />
                <label class="Add_Top">物流方向</label>&ensp;
                <input type="radio" value="0" name="Search_Direction" @if (Search_Direction == 0) { <text> checked</text>} style="margin-right: 4px;" /><label> 全部</label>&ensp;
                <input type="radio" value="1" name="Search_Direction" @if (Search_Direction == 1) { <text> checked</text>} style="margin-right: 4px;" /><label> 正物流</label>&ensp;
                <input type="radio" value="2" name="Search_Direction" @if (Search_Direction == 2) { <text> checked</text>} style="margin-right: 4px;" /><label> 逆物流</label>&ensp;
                <br />
                <label class="Add_Top">物流狀態</label>&ensp;
                <input type="radio" value="0" name="Search_LogisticsStatus" @if (Search_LogisticsStatus == 0) { <text> checked</text>} style="margin-right: 4px;" /><label> 全部</label>&ensp;
                <span id="span_LogisticsStatus1">
                    <input type="radio" value="-1" name="Search_LogisticsStatus" @if (Search_LogisticsStatus == -1) { <text> checked</text>} style="margin-right: 4px;" /><label>未接單</label>&ensp;

                    <input type="radio" value="1" name="Search_LogisticsStatus" @if (Search_LogisticsStatus == 1) { <text> checked</text>} style="margin-right: 4px;" /><label>備貨中</label>&ensp;

                    <input type="radio" value="2" name="Search_LogisticsStatus" @if (Search_LogisticsStatus == 2) { <text> checked</text>} style="margin-right: 4px;" /><label>已出貨</label>&ensp;

                    <input type="radio" value="5" name="Search_LogisticsStatus" @if (Search_LogisticsStatus == 5) { <text> checked</text>} style="margin-right: 4px;" /><label>已到門市</label>&ensp;

                    <input type="radio" value="6" name="Search_LogisticsStatus" @if (Search_LogisticsStatus == 6) { <text> checked</text>} style="margin-right: 4px;" /><label>已取貨</label>&ensp;

                    <input type="radio" value="7" name="Search_LogisticsStatus" @if (Search_LogisticsStatus == 7) { <text> checked</text>} style="margin-right: 4px;" /><label>未取貨</label>&ensp;
                </span>
                <span id="span_LogisticsStatus2">
                    <input type="radio" value="8" name="Search_LogisticsStatus" @if (Search_LogisticsStatus == 8) { <text> checked</text>} style="margin-right: 4px;" /><label>退回門市中</label>&ensp;

                    <input type="radio" value="9" name="Search_LogisticsStatus" @if (Search_LogisticsStatus == 9) { <text> checked</text>} style="margin-right: 4px;" /><label>已退回門市</label>&ensp;

                    <input type="radio" value="3" name="Search_LogisticsStatus" @if (Search_LogisticsStatus == 3) { <text> checked</text>} style="margin-right: 4px;" /><label>退貨中</label>&ensp;

                    <input type="radio" value="4" name="Search_LogisticsStatus" @if (Search_LogisticsStatus == 4) { <text> checked</text>} /><label>收到退貨</label>
                </span>
                <span id="span_LogisticsStatus3">
                    <input type="radio" value="-999" name="Search_LogisticsStatus" @if (Search_LogisticsStatus == -999) { <text> checked</text>} style="margin-right: 4px;" /><label>已取消</label>
                </span>
                <br />
                <label class="Add_Top" id="CashFlowText">　已付款</label>&ensp;
                <input type="radio" value="0" name="Search_CashFlow" @if (Search_CashFlow == 0) { <text> checked</text>} style="margin-right: 4px;" /><label> 全部</label>&ensp;
                <input type="radio" value="2" name="Search_CashFlow" @if (Search_CashFlow == 2) { <text> checked</text>} style="margin-right: 4px;" /><label> 是</label>&ensp;
                <input type="radio" value="1" name="Search_CashFlow" @if (Search_CashFlow == 1) { <text> checked</text>} style="margin-right: 4px;" /><label> 否</label>&ensp;
                <br />
                <label for="create_time_start" class="Add_Top">逾時出貨</label>&ensp;
                <input type="checkbox" value="1" name="Search_OverDeadline" @if (Search_OverDeadline == 1) { <text> checked</text>} /><br>
                <label for="create_time_start" class="Add_Top">建立日期</label>&ensp;
                <input type="text" name="CreateTime_St" id="CreateTime_St" class="date_search" value="@ct_start" /> ~
                <input type="text" name="CreateTime_End" id="CreateTime_End" class="date_search" value="@ct_end" />
                &emsp;
                <input type="submit" value="查詢">
            </form>

        </div>
    </fieldset>
    <br>
    <label style="color:red">*訂單付款時，才能進行備貨</label>
    <div class="showdata" id="update">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th class="item0">
                        <label><input type="checkbox" id="AllCheck" onclick="AllCheck()" />全選</label>
                    </th>
                    <th class="item1">
                        @Html.DisplayNameFor(model => model[0].SN)
                    </th>
                    <th class="item2">
                        訂購商品
                    </th>
                    <th class="item3">
                        訂購會員
                    </th>
                    <th class="item4">
                        總計
                    </th>
                    <th class="item5">
                        已接單
                    </th>
                    <th class="item6">
                        已付款
                    </th>
                    <th class="item7">
                        @Html.DisplayNameFor(model => model[0].CreateTime)
                    </th>
                    <th class="item8">
                        詳情
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td id="td" class="item0_@Sort">
                            @if (item.CashFlowStatus_Name.Contains("已付款"))
                            {
                                <input type="checkbox" name="item" class="delete" value="@item.Id" id="@item.Id" />
                            }
                        </td>
                        <td class="item1">
                            @Html.DisplayFor(modelItem => item.SN)
                            <br>
                            @if (item.Direction == 1)
                            {
                                <span>（正物流）</span>
                            }
                            else
                            {
                                <span>（逆物流）</span>
                            }
                        </td>
                        <td class="item2_@Sort" style="text-align:left!important;line-height:25px;padding-left:10px;padding-right:10px;">
                            @if (item.OrderDetailList.Count() > 0)
                            {
                                for (int i = 0; i < item.OrderDetailList.Count(); i++)
                                {
                                    <span>
                                        【@item.OrderDetailList[i].Goods_SN】<br>
                                        @item.OrderDetailList[i].Goods_Name<br>
                                        數量：@item.OrderDetailList[i].BuySize ×
                                        @item.OrderDetailList[i].BuyQuantity
                                        (@item.OrderDetailList[i].Goods_ColorName)
                                        <br>
                                        物流：
                                        @if (@item.OrderDetailList[i].LogisticsStatus > 0)
                                        {
                                            <span style="color:#00AA00">@item.OrderDetailList[i].LogisticsStatus_Name</span>
                                        }
                                        else
                                        {
                                            <span style="color:red">@item.OrderDetailList[i].LogisticsStatus_Name</span>
                                        }
                                    </span>
                                    if (i < @item.OrderDetailList.Count() - 1)
                                    {
                                        <hr style="margin-top:10px;margin-bottom:10px;border-top: 1px dashed #2966df;">
                                    }
                                }
                            }
                        </td>
                        <td class="item3" style="text-align:left!important;line-height:25px">
                            姓名：
                            @if (!string.IsNullOrWhiteSpace(item.Volunteers_Name))
                            {
                                @item.Volunteers_Name
                            }
                            else
                            {
                                <text>無</text>
                            }
                            <br>
                            電話：
                            @if (!string.IsNullOrWhiteSpace(item.Volunteers_Tel))
                            {
                                @item.Volunteers_Tel
                            }
                            else
                            {
                                <text>無</text>
                            }
                        </td>
                        <td class="item4">
                            $ @item.Total.ToString("N0")
                        </td>
                        <td class="item5_@Sort" style="color:red">
                            否
                        </td>
                        <td class="item6">

                            @if (item.Direction == 1)
                            {
                                if (item.CashFlowStatus_Name.Contains("已付款"))
                                {
                                    <span style="color:#00AA00">是</span>
                                }
                                else
                                {
                                    <span style="color:red">否</span>
                                    <br>
                                    <a href="/Gox/Order/Payment/@item.Id">模擬付款</a>
                                }
                            }
                            else
                            {
                                <text> - </text>
                            }
                        </td>
                        <td class="item7">
                            @item.CreateTime.Value.ToString("yyyy/MM/dd HH:mm")
                        </td>
                        <td class="item8">
                            @if ((bool)Session["Update"] == true)
                            {
                                @Html.ActionLink("詳情", "Edit_Company", new { id = item.Id })
                            }
                        </td>
                    </tr>
                            Sort++;
                }
            </tbody>
        </table>

        <div class="del_chk">
            <div class="button">
                <input type="button" value="備貨" id="save_sort" onclick="StockUp();">
            </div>
            @if (@Search_OverDeadline == 0)
            {
                @Html.Partial("_PartialPage")
            }
            else
            {
                <span style="color:red;font-weight:bold;float:left">*搜尋逾時出貨時，取消分頁功能</span>
                <span style="float: right;">總數：@Model.Count()</span>
            }
        </div>
    </div>


}
