﻿.content {
    padding:20px;
}
    .content .agree {
        width:100%;
        text-align:center;
    }
        .content .agree div {
            margin-bottom:10px;
        }
        .content .agree .agree_title{
            font-size:30px;
            text-align:center;
        }
        .content .agree .agree_tip {
            margin-top:10px;
            text-align:center;
        }