﻿.content {
    padding:20px;
}
    .content .contact_us {
        width:auto;
        padding:10px;
        border:3px solid #38b4ef;
	    padding:10px;
	    margin-bottom:10px;
	    background:#EEE;
        border-radius: 8px;
        background:-webkit-linear-gradient(top,#EEE,#FFF);
	    background:-moz-linear-gradient(top,#EEE,#FFF);
        box-shadow: 0px 0px 1px 1px lightgray;
        text-align:left;
    }
        .content .contact_us .contact_us_title {
            padding:5px 10px;
	        background-color:#4F709F;
	        color:#FFF;
            border-radius: 8px;
            box-shadow: 0px 0px 1px 1px lightgray;
            text-decoration:none;
        }
        .content .contact_us table {
            border:0px;
            width:100%
        }
            .content .contact_us table .contact_title{
                text-align:right;
                width:100px;
                padding-right:20px;
                background-color:lightblue;
                border:0px;
            }
                .content .contact_us table .contact_title span{
                    color:red;
                }
            .content .contact_us table .contact_field{
                text-align:left;
                width:400px;
                border:0px;
            }
            .content .contact_us table .contact_button{
                text-align:center;
            }
            .content .contact_us table .contact_submit{
                font-size:16px;
                background: #e2e2e2; /* Old browsers */
                background: -moz-linear-gradient(top,  #e2e2e2 0%, #dbdbdb 50%, #d1d1d1 51%, #fefefe 100%); /* FF3.6+ */
                background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e2e2e2), color-stop(50%,#dbdbdb), color-stop(51%,#d1d1d1), color-stop(100%,#fefefe)); /* Chrome,Safari4+ */
                background: -webkit-linear-gradient(top,  #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%,#fefefe 100%); /* Chrome10+,Safari5.1+ */
                background: -o-linear-gradient(top,  #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%,#fefefe 100%); /* Opera 11.10+ */
                background: -ms-linear-gradient(top,  #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%,#fefefe 100%); /* IE10+ */
                background: linear-gradient(to bottom,  #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%,#fefefe 100%); /* W3C */
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#fefefe',GradientType=0 ); /* IE6-9 */
            }
            .content .contact_us table .captchaContainer {
                display:inline-table;
            }