﻿.error_area {
    padding:20px;
    margin:0 auto;
    text-align: center;
}
    .error_area .error_title {
        font-size:30px;
    }
    .error_area .error_content span{
        color:red;
        font-weight:bold;
    }
