﻿.content {
    width: 95%;
    height:auto;
    padding:10px;
    margin:0 auto;
}

.data_title {
    margin-top:30px;
    padding:10px;
    width:auto;
    float:left;
    color:white;
    text-align:center;
    background: #b2e1ff; /* Old browsers */
    background: -moz-linear-gradient(top,  #b2e1ff 0%, #66b6fc 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b2e1ff), color-stop(100%,#66b6fc)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #b2e1ff 0%,#66b6fc 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #b2e1ff 0%,#66b6fc 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #b2e1ff 0%,#66b6fc 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #b2e1ff 0%,#66b6fc 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b2e1ff', endColorstr='#66b6fc',GradientType=0 ); /* IE6-9 */
    font-weight:bold;
    clear:both
}
.data {
    clear:both;
    border-top:3px solid #66b6fc;
    margin-bottom:20px;
}
    .data ul {
        padding: 0px;
        margin:0 auto;
        padding:10px;
    }
    .data ul li {
        float:left;
        width:47%;
        list-style:none;
        margin-right:10px;
        margin-left:10px;
        margin-bottom:10px;
        border-bottom:1px dashed lightgray;
    }
        .data ul li a,
        .data ul li a:active,
        .data ul li a:hover {
            text-decoration:none;
            color:#5678ff;
        }

.col1 {
    float:left;
    width:50%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.col2 {
    float:right;
    text-align:right;
    width:50%;
    color:gray;
}
