﻿.content {
    padding:20px;
}
    .content .forgot {
        width:auto;
        padding:10px;
        border:3px solid #38b4ef;
	    padding:10px;
	    margin-bottom:10px;
	    background:#EEE;
        border-radius: 8px;
        background:-webkit-linear-gradient(top,#EEE,#FFF);
	    background:-moz-linear-gradient(top,#EEE,#FFF);
        box-shadow: 0px 0px 1px 1px lightgray;
    }
        .content .forgot_title {
            padding:5px 10px;
	        background-color:#4F709F;
	        color:#FFF;
            border-radius: 8px;
            box-shadow: 0px 0px 1px 1px lightgray;
            text-decoration:none;
        }
.err {
    font-weight:bold;
    color:red;
}