﻿.loginForm {
    padding:20px;
}
    .loginForm .login {
        width:auto;
        padding:10px;
        border:3px solid #38b4ef;
	    padding:10px;
	    margin-bottom:10px;
	    background:#EEE;
        border-radius: 8px;
        background:-webkit-linear-gradient(top,#EEE,#FFF);
	    background:-moz-linear-gradient(top,#EEE,#FFF);
        box-shadow: 0px 0px 1px 1px lightgray;
    }
        .loginForm .login .login_title {
            padding:5px 10px;
	        background-color:#4F709F;
	        color:#FFF;
            border-radius: 8px;
            box-shadow: 0px 0px 1px 1px lightgray;
            text-decoration:none;
        }
        .loginForm .login ul {
            list-style-type: none;
            list-style-image: none;
        }

        .loginForm .login span {
            margin-left:10px;
        }

        .loginForm .login span a,
        .loginForm .login span a:active{
            color:blue;
            text-decoration:none;
        }
        .loginForm .login span a:hover{
            color:blue;
            text-decoration:underline;
        }

        .loginForm .login .login_button {
            margin-left: 30px;
        }
        .loginForm .login .err {
            color: red;
            font-weight: bold;
            margin-left: 30px;
        }