﻿.content {
    width:100%;
    text-align:center;
    margin:0 auto;
}
    .content .title {
        padding-top:20px;
    }
        .content .title .title_1 {
            color:#38b4ef;
		    font-size:48px;
		    font-weight:bold;
        }
        .content .title .title_2 {
            color:#424242;
            font-size:18px;
        }
        .content .title .title_3 {
            color:#38b4ef;
            font-size:45px;
        }
    .content .taiwan_map {
        background:url('/Images/taiwanmap.jpg');
        width:700px;
        height:608px;
        padding: 0px;
        margin: 0 auto;
    }
        .content .taiwan_map .north {
            position:relative;
            width:50px;
            height:50px;
            padding: 0px;
            margin: 0 auto;
            top: 25px;
            left: -155px;
        }
        .content .taiwan_map .center {
            position:relative;
            width:50px;
            height:50px;
            padding: 0px;
            margin: 0 auto;
            top: 133px;
            left: -260px;
        }
        .content .taiwan_map .south {
            position:relative;
            width:50px;
            height:50px;
            padding: 0px;
            margin: 0 auto;
            top: 349px;
            left: -270px;
        }
        .content .taiwan_map .east {
            position:relative;
            width:50px;
            height:50px;
            padding: 0px;
            margin: 0 auto;
            top: 156px;
            left: 290px;
        }
    .content .highchart {
        width:90%;
        height:400px;
        padding: 0px;
        margin: 0 auto;
        overflow-x:auto;
        overflow-y:hidden;
        border: 1px solid gray;
        text-align:center;
    }
        .content .highchart .loading {
            position:relative;
            top:170px;
        }
        /*.content .highchart .highcharts-container {
            border: 1px solid gray;
        }*/
    .content .ajax_button {
        background: #38b4ef;
        width: 100px;
        padding: 10px;
        margin: 10px;
        display: inline-block;
        position: relative;
    }
        .content .ajax_button  a,
        .content .ajax_button  a:active{
            color:white;
            font-size:20px;
            text-decoration:none;
        }