﻿.content {
    overflow: auto;
}

    .content .right_content {
        width: 730px;
        float: left;
    }

    .content .right_content .news {
        width:100%;
        float: left;
        padding:10px;
        border:3px solid #38b4ef;
	    background:#EEE;
        border-radius: 8px;
        background:-webkit-linear-gradient(top,#EEE,#FFF);
	    background:-moz-linear-gradient(top,#EEE,#FFF);
        box-shadow: 0px 0px 1px 1px lightgray;
        margin-top: 20px;
    }
        .content .right_content .news_last {
            margin-bottom: 20px;
        }
        .content .right_content .news .news_title {
            padding:5px 10px;
	        background-color:#4F709F;
	        color:#FFF;
            border-radius: 8px;
            box-shadow: 0px 0px 1px 1px lightgray;
            text-decoration:none;
        }
            .content .right_content .news .news_title a,
            .content .right_content .news .news_title a:active{
	            color:#FFF;
                text-decoration:none;
            }
                .content .right_content .news .news_title a:hover {
                    color: #FFF;
                    text-decoration: underline;
                }
            .content .right_content .news ul li a,
            .content .right_content .news ul li a:active{
	            color:blue;
                text-decoration:none;
            }
                .content .right_content .news ul li  a:hover {
                    color: blue;
                    text-decoration: underline;
                }
div#abgne_marquee {
	position: relative;
	overflow: hidden;	
	width: 100%;
	height:30px;
	margin-left:5px;
	margin-top:5px;
}
	div#abgne_marquee ul, div#abgne_marquee li {
		margin: 0;
		padding: 0;
	}
	div#abgne_marquee ul {
		position: absolute;
		left: 4px;
	}
        div#abgne_marquee ul li img {
            height:20px;
            width:20px;
            vertical-align: middle;
            margin-right:5px;
        }
	div#abgne_marquee ul li a {
		overflow: hidden;	
		font-size:14px;
		height: 30px;
		line-height: 30px;
		text-decoration: none;
		color:blue;
        vertical-align: middle;
	}
		div#abgne_marquee ul li a:hover {
		font-size:14px;
		height: 30px;
		color:blue;
		text-decoration:underline;
	}
	div#abgne_marquee div.marquee_btn {
		position: absolute;
		cursor: pointer;
	}
	div#abgne_marquee div#marquee_next_btn {
		left: 5px;
	}
	div#abgne_marquee div#marquee_prev_btn {
		right: 5px;
	}
#word_cloud {
    width: auto;
    height: 350px;
    position: relative;
}