﻿.content {
    overflow: auto;
}
.right_content {
    width:auto;
    padding:20px;
    min-width: 300px;
    float:left;
}
    .right_content .ranking_title {
        margin-bottom: 10px;
        border-bottom:3px solid black;
        font-size:30px;
        float:left;
        color:#56b1f2;
        padding-bottom:5px;
        width:auto;
        min-width: 300px;
    }
        .right_content .ranking_title .ranking_title_left {
            text-align:left;
            float:left;
            vertical-align:middle;
            width:50%;
        }
        .right_content .ranking_title .ranking_title_right {
            text-align:right;
            vertical-align:middle;
            float:left;
            width:50%;
        }
        .right_content .ranking_title img {
            vertical-align:middle;
        }
    .right_content ul {
        clear:both;
        list-style:none;
        margin:0 auto;
        padding:0px;
        width:inherit;
    }
        .right_content ul li {
            background-color:lightgray;
            padding:10px;
            overflow: auto;
            border-bottom:2px solid gray;
        }
        .right_content ul li .ranking_content {
            margin:0 auto;
            padding:0px;
        }
            .right_content ul li .ranking_content .rankging_img {
                height:60px;
                width:60px;
                background-color:#56b1f2;
                color:white;
                float: left;
                text-align: center;
                font-size: 50px;
            }
            .right_content ul li .ranking_content .rankging_backimg {
                background:url('../../Images/win.png') !important;
            }
            .right_content ul li .ranking_content .ranking_descript {
                float: left;
                margin-left:10px;
                vertical-align:middle;
                height: 60px;
                display: table;
            }
                .right_content ul li .ranking_content .ranking_name {
                    display:table-row;
                    font-size:25px;
                }
                .right_content ul li .ranking_content .ranking_currentpoint {
                    color:blue;
                    font-size:14px;
                }
                    .right_content ul li .ranking_content .ranking_currentpoint .ranking_point {
                        font-weight:bold;
                        color:red;
                    }
    .right_content .not_found {
        color:red;
        font-weight:bold;
        text-align:center;
    }