﻿.left_menu {
    width:200px;
    padding:20px;
    float: left;
}
    .left_menu .menu_member {
        width:auto;
        padding:10px;
        border:3px solid #38b4ef;
	    padding:10px;
	    margin-bottom:10px;
	    background:#EEE;
        border-radius: 8px;
        background:-webkit-linear-gradient(top,#EEE,#FFF);
	    background:-moz-linear-gradient(top,#EEE,#FFF);
        box-shadow: 0px 0px 1px 1px lightgray;
    }
        .left_menu .menu_member .memu_title {
            padding:5px 10px;
	        background-color:#4F709F;
	        color:#FFF;
            border-radius: 8px;
            box-shadow: 0px 0px 1px 1px lightgray;
            text-decoration:none;
        }
            .left_menu .menu_member .memu_title a,
            .left_menu .menu_member .memu_title a:active{
	            color:#FFF;
                text-decoration:none;
                vertical-align:middle;
            }
            .left_menu .menu_member .memu_title a:hover{
	            color:#FFF;
                text-decoration:underline;
            }
    .left_menu .menu_member ul {
        list-style:none;
        margin: auto 0;
        padding: 0px;
        padding-left:10px;
    }
        .left_menu .menu_member ul li {
            margin-bottom:15px;
        }
            .left_menu .menu_member ul li a,
            .left_menu .menu_member ul li a:active{
                color:blue;
                text-decoration:none;
            }
            .left_menu .menu_member ul li a:hover{
                color:blue;
                text-decoration:underline;
            }
            .left_menu .menu_member ul li a.red,
            .left_menu .menu_member ul li a.red:active{
                color:red !important;
                text-decoration:none;
            }
            .left_menu .menu_member ul li a.red:hover{
                color:red !important;
                text-decoration:underline;
            }
            .left_menu .menu_member ul li img{
	            height:20px;
                width:20px;
                vertical-align:middle;
            }