﻿.right_content {
    width: 100%;
    padding-top:20px;
    padding-bottom:20px;
}
    .right_content .big_title {
        font-size:25px;
        margin-left:20px;
        margin-bottom:20px;
        color:#56b1f2;
    }
        .right_content .big_title a,
        .right_content .big_title a:active {
            text-decoration:none;
            color:#56b1f2;
        }
        .right_content .big_title a:hover {
            text-decoration:underline;
        }
    .right_content .description {
        margin: 20px;
        width: auto;
        background-color:white;
        box-shadow: gray 0px 0px 1px 0px;
        border:1px gray solid;
        height:auto;
        padding : 20px 20px 20px 20px;
    }
        .right_content .description .update_time {
            color:gray;
            text-align: right;
        }
    .right_content .file {
        margin-left: 20px;
        margin-right: 20px;
        border:2px solid lightblue;
        padding: 10px;
    }
    .right_content .file a,
    .right_content .file div{
        margin-left:10px;
    }
    .right_content .file div{
        margin-bottom:10px;
    }