﻿.content {
    padding: 20px;
    margin: 0 auto;
}
.right_content {

}
    .right_content .big_title {
        font-size:30px;
        margin-bottom:20px;
    }
    .right_content .search {
        width:auto;
    }
        .right_content .search #search_button {
            background: #e2e2e2; /* Old browsers */
            background: -moz-linear-gradient(top,  #e2e2e2 0%, #dbdbdb 50%, #d1d1d1 51%, #fefefe 100%); /* FF3.6+ */
            background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e2e2e2), color-stop(50%,#dbdbdb), color-stop(51%,#d1d1d1), color-stop(100%,#fefefe)); /* Chrome,Safari4+ */
            background: -webkit-linear-gradient(top,  #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%,#fefefe 100%); /* Chrome10+,Safari5.1+ */
            background: -o-linear-gradient(top,  #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%,#fefefe 100%); /* Opera 11.10+ */
            background: -ms-linear-gradient(top,  #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%,#fefefe 100%); /* IE10+ */
            background: linear-gradient(to bottom,  #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%,#fefefe 100%); /* W3C */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#fefefe',GradientType=0 ); /* IE6-9 */
        }
    .right_content .top_menu {
        list-style:none;
        margin-bottom: 0px;
        margin-left: -40px;
        display:table;
    }
        .right_content .top_menu li {
            vertical-align: middle;
            text-align:center;
            display: table-cell;
            border-top:1px solid black;
            border-left:1px solid black;
            border-right:1px solid black;
            padding: 10px 10px 5px 10px;
            -webkit-border-top-left-radius: 10px;
            -webkit-border-top-right-radius: 10px;
            -moz-border-radius-topleft: 10px;
            -moz-border-radius-topright: 10px;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            min-width: 50px;
            background: #ebf1f6; /* Old browsers */
            background: -moz-linear-gradient(top,  #ebf1f6 0%, #abd3ee 50%, #89c3eb 51%, #d5ebfb 100%); /* FF3.6+ */
            background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ebf1f6), color-stop(50%,#abd3ee), color-stop(51%,#89c3eb), color-stop(100%,#d5ebfb)); /* Chrome,Safari4+ */
            background: -webkit-linear-gradient(top,  #ebf1f6 0%,#abd3ee 50%,#89c3eb 51%,#d5ebfb 100%); /* Chrome10+,Safari5.1+ */
            background: -o-linear-gradient(top,  #ebf1f6 0%,#abd3ee 50%,#89c3eb 51%,#d5ebfb 100%); /* Opera 11.10+ */
            background: -ms-linear-gradient(top,  #ebf1f6 0%,#abd3ee 50%,#89c3eb 51%,#d5ebfb 100%); /* IE10+ */
            background: linear-gradient(to bottom,  #ebf1f6 0%,#abd3ee 50%,#89c3eb 51%,#d5ebfb 100%); /* W3C */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ebf1f6', endColorstr='#d5ebfb',GradientType=0 ); /* IE6-9 */
            color:black;
            margin-right: -4px;
		    *margin-right: 0;
        }
        .right_content .top_menu li:hover,
        .right_content .top_menu .active {
            background: #3b679e; /* Old browsers */
            background: -moz-linear-gradient(top,  #3b679e 0%, #2b88d9 50%, #207cca 51%, #7db9e8 100%); /* FF3.6+ */
            background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3b679e), color-stop(50%,#2b88d9), color-stop(51%,#207cca), color-stop(100%,#7db9e8)); /* Chrome,Safari4+ */
            background: -webkit-linear-gradient(top,  #3b679e 0%,#2b88d9 50%,#207cca 51%,#7db9e8 100%); /* Chrome10+,Safari5.1+ */
            background: -o-linear-gradient(top,  #3b679e 0%,#2b88d9 50%,#207cca 51%,#7db9e8 100%); /* Opera 11.10+ */
            background: -ms-linear-gradient(top,  #3b679e 0%,#2b88d9 50%,#207cca 51%,#7db9e8 100%); /* IE10+ */
            background: linear-gradient(to bottom,  #3b679e 0%,#2b88d9 50%,#207cca 51%,#7db9e8 100%); /* W3C */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3b679e', endColorstr='#7db9e8',GradientType=0 ); /* IE6-9 */
        }
            .right_content .top_menu li a,
            .right_content .top_menu li a:active{
                text-decoration:none;
                color:black;
                vertical-align: middle;
            }
            .right_content .top_menu li img {
                vertical-align: middle;
                height:20px;
                width:20px;
                margin-right:5px;
            }
    .right_content .showdata {
        width: auto;
        border:1px solid black;
        padding:20px;
        overflow:auto;
    }
        .right_content .showdata .not_found {
            color:red;
            font-weight:bold;
            text-align:center;
            width:100%;
        }
        .right_content .showdata .title {
            margin:0px;
            border-bottom:solid 3px #38b4ef;
            padding-bottom:5px;
        }
        .right_content .showdata ul {
            list-style:none;
            padding-left:0px;
            border-bottom:dashed 1px black;
            /*padding-bottom:5px;*/
            margin: 0;
            padding-bottom: 10px;
            padding-top: 10px;
        }
            .right_content .showdata ul.data:hover {
               background-color:lightgray;
            }
            .right_content .showdata ul li {
               display: inline-block;
               text-align:center;
               word-wrap: break-word;
               vertical-align: middle;
            }
                .right_content .showdata ul li a,
                .right_content .showdata ul li a:hover,
                .right_content .showdata ul li a:link,
                .right_content .showdata ul li a:active{
                    color:blue;
                    text-decoration: none;
                }
        .right_content .showdata .item1 {
            width: 5%;
            min-width:5%;
        }
        .right_content .showdata .item2 {
            width: 20%;
            min-width:20%;
        }
        .right_content .showdata .item3 {
            width: 40%;
            min-width:40%;
            text-align:left;
        }
        .right_content .showdata .item4 {
            width: 30%;
            min-width:30%;
        }
    .right_content .page {
        text-align:center;
    }