﻿.content {
    overflow: auto;
}

.right_content {
    width:auto;
    padding:20px;
    float: left;
    overflow: auto;
}
    .right_content .big_title {
        margin-bottom:20px;
        font-size:25px;
    }
    .right_content .problem {
        position:relative;
        top:2px;
        width: auto;
        margin: 0px auto;
        background-color:white;
        box-shadow: gray 0px 0px 1px 0px;
        border:1px solid gray;
        height:auto;
        padding : 20px 20px 20px 20px;
        margin-bottom:20px;
        margin-top:20px;
        overflow:auto;
    }
        .right_content .problem .title {
		    color:#38b4ef;
			font-size:16px;
			font-weight:bold;
        }
        .right_content .problem .title2 {
		     margin-top: 20px;
        }
        .right_content .problem .option {

        }
            .right_content .problem .option .error{
                border:1px solid red !important;
            }
            .right_content .problem .option table {
                border:0px;
                margin-top:20px;
                color: #38b4ef;
                font-weight:bold;
            }
            .right_content .problem .option .table_border {
                border:1px solid !important;
                margin-top:20px;
            }
            .right_content .problem .option .table_border th ,
            .right_content .problem .option .table_border td {
                border:1px solid !important;
            }
            .right_content .problem .option .digit {
                list-style-type:decimal;
                overflow: auto;
            }
            .right_content .problem .option .none {
                list-style:none;
                overflow: auto;
				color:#38b4ef;
			    font-size:16px;
			    font-weight:bold;
                margin-bottom: -5px;
            }
            .right_content .problem .option .none2 {
                overflow: auto;
				color:#38b4ef;
			    font-size:16px;
			    font-weight:bold;
                margin-bottom: -5px;
            }
            .right_content .problem .option ul li #custom_friend {
                cursor:pointer;
                color:blue;
                text-decoration:underline;
            }
            .right_content .problem .option .left li {
                float:left;
                margin-right:20px;
                position: static;
				color:#38b4ef;
			    font-size:16px;
			    font-weight:bold;
            }
            .right_content .problem .option .left_minus {
                margin-left:-40px;
            }
            .right_content .problem .option .text input[type="text"]{
                width:100px;
				border:1px solid #38b4ef;
            }
            .right_content .problem .option .radio input{
                width:auto;
            }
            .right_content .problem .option .row input{
                width:auto;
                margin-bottom:10px;
				margin-right:10px;
            }
            .right_content .problem .option .number input{
                width:50px;
                padding-left:5px;
				border:1px solid #38b4ef;
                margin-right:10px;
				margin-left:10px;
				background-image:linear-gradient( 180deg, #ebebeb , #fff );
            }
			
			.right_content .problem .option select{
				padding:3px;
			    margin:0px 10px 0px 5px;
				-webkit-border-radius:4px;
				-moz-border-radius:4px;
				border-radius:4px;
				color:#38b4ef;
				border:1px solid #38b4ef;
				background-image:linear-gradient( 180deg, #ebebeb , #fff );
            }
			.right_content .problem .option .img input[type="radio"]{
                top:-15px;
                position: relative;
			}
    .right_content .post,.saving{
        font:normal 20px Verdana, Geneva, sans-serif;
        font-style:normal;
        color:#fff;
        background:#38b4ef;
        text-shadow:0 1px 0 #4d87c5;
        box-shadow:0px 1px 5px #d1cfd1;
        -moz-box-shadow:0px 1px 5px #d1cfd1;
        -webkit-box-shadow:0px 1px 5px #d1cfd1;
        border-radius:4px 4px 4px 4px;
        -moz-border-radius:4px 4px 4px 4px;
        -webkit-border-radius:4px 4px 4px 4px;
        width:300px;
        text-align:center;
        padding:15px 50px;
        margin:0 auto;
        font-weight:bold;
    }
    .right_content .post {
        cursor:pointer;
    }
    .right_content .post:active{
        cursor:pointer;
        position:relative;
        top:2px;
    }
    .right_content .saving {
        display:none;
    }