﻿.content {
    display: block;
    overflow:auto;
}
.right_content {
    width:auto;
    padding:20px;
}
.right_content .big_title a,
.right_content .big_title a:active{
    color:#38b4ef;
    text-decoration:none;
}
.right_content .problem {
    position:relative;
    top:2px;
    width: 100%;
    margin: 0px auto;
    background-color:white;
    box-shadow: gray 0px 0px 1px 0px;
    border:1px solid gray;
    height:auto;
    padding : 20px 20px 20px 20px;
    margin-bottom:20px;
    margin-top:20px;
    overflow:auto;
}

    .right_content #touch_friend .option .show_custom .loading{
        text-align :center;
        color:gray;
    }

    .right_content #touch_friend .option .tip {
        text-align:left;
        font-size:12px;
        color:gray;
    }
        .right_content #touch_friend .option .tip .keyword {
            font-weight:bold;
        }
        .right_content #touch_friend .option .tip .link {
            cursor:pointer;
            color:blue;
            text-decoration:underline;
        }
    .right_content #touch_friend .option .show_custom {
        margin-top:10px;
    }

    .right_content .first_problem .option ul .tip {
        font-size:12px;
        color:gray;
    }
.touch_cat_opt {
    list-style:none;
}