﻿.content {
    overflow:auto;
}
.right_content {
    width:auto;
    padding:20px;
}
.right_content .big_title a,
.right_content .big_title a:active{
    color:#38b4ef;
    text-decoration:none;
}
.right_content .problem {
    position:relative;
    top:2px;
    width: 100%;
    margin: 0px auto;
    background-color:white;
    box-shadow: gray 0px 0px 1px 0px;
    border:1px solid gray;
    height:auto;
    padding : 20px 20px 20px 20px;
    margin-bottom:20px;
    margin-top:20px;
    overflow:auto;
}
