﻿.content {
    overflow:auto;
}
.right_content {
    width:720px;
    padding:20px;
    float:left;
}
    .right_content .big_title,
    .right_content .big_title a,
    .right_content .big_title a:active {
        font-size:30px;
        color:#38b4ef;
        margin-bottom:10px;
        margin-top:10px;
        text-decoration:none;
    }
    .right_content .big_title a:hover {
        text-decoration:underline;
    }

    .right_content .error {
        color:red;
        font-weight:bold;
    }

    .func_item ul li{
        list-style:none;
        display:inline;
        margin-right:20px;
    }

    .right_content .search {
        width:auto;
    }
    .right_content .search .search_cid {
        margin-right:10px;
    }
    .right_content .showdata {
    }
        .right_content .showdata .item1 {
            width: 20%;
            min-width:20%;
        }
        .right_content .showdata .item2 {
            width: 15%;
            min-width:15%;
        }
        .right_content .showdata .item3 {
            width: 35%;
            min-width:35%;
        }
        .right_content .showdata .item4 {
            width: 5%;
            min-width:5%;
        }
        .right_content .showdata .item5 {
            width: 18%;
            min-width:18%;
        }
        .right_content .showdata div .title {
            border-bottom:solid 3px #38b4ef;
            padding-bottom:5px;
        }
        .right_content .showdata div ul {
            list-style:none;
            padding-left:0px;
            border-bottom:dashed 1px black;
            /*padding-bottom:5px;*/
            margin: 0;
            padding-bottom: 10px;
            padding-top: 10px;
        }
            .right_content .showdata div ul li {
               display: inline-block;
               text-align:center;
               word-wrap: break-word;
               vertical-align: middle;
            }
            .right_content .showdata div ul.data:hover {
               background-color:lightgray;
            }
                .right_content .showdata div ul li a,
                .right_content .showdata div ul li a:hover,
                .right_content .showdata div ul li a:link,
                .right_content .showdata div ul li a:active{
                    color:blue;
                    text-decoration: none;
                }
        .right_content .showdata .check {
            width: 10%;
            min-width:10%;
        }

    .right_content .del_chk {
        display: block;
        margin-top: 10px;
        overflow: auto;
    }
    .right_content .del_chk .button {
        float: left;
    }
    .right_content .del_chk .page {
        text-align: right;
    }
.right_content .field-validation-error span{
    color:red;
    font-weight:bold;
}

#search_button {
    font-weight: bold ;
    font-size:15px; 
    font-style: normal;
    text-decoration: none;
    color: #ffffff;
    background: #38b4ef;
    border: 0px solid #ffffff;
    text-shadow: 0px -1px 1px #222222;
    box-shadow: 0px 0px 1px 1px lightgray;
    -moz-box-shadow: 0px 0px 1px 1px lightgray;
    -webkit-box-shadow: 0px 0px 1px 1px lightgray;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    width: auto;
    padding: 6px 10px 6px 12px;
    cursor: pointer;
    margin: 0 auto;
}

#search_button:active {
    cursor:pointer;
    position:relative;
    top:2px;
}