﻿.content {
    display: block;
}
.right_content .NewPeople {
    display:none;
}
.right_content .OldPeople {
    display:none;
}

.right_content .problem .option ul li .add {
    border:1px solid #cad4e7;
    background-color:#eceef5;
    padding:5px;
    -webkit-border-radius: 3px;
    cursor: pointer;
    white-space: nowrap;
    color: #3b5998;
    font-size:12px;
}
.right_content .problem {
    position:relative;
    top:2px;
    width: auto;
    margin: 0px auto;
    background-color:white;
    box-shadow: gray 0px 0px 1px 0px;
    border:1px solid gray;
    height:auto;
    padding : 20px 20px 20px 20px;
    margin-bottom:20px;
    margin-top:20px;
    overflow:auto;
}
    .right_content .problem .option ul li .add:active {
        position:relative;
        top:2px;
    }
    .right_content .problem .option ul li .add_group {
        min-height:50px;
        margin-left:35px;
        border:1px solid #cad4e7;
        background-color:#eceef5;
        margin-bottom:10px;
        padding:10px;
        -webkit-border-radius: 5px;
        max-width:310px;
        min-width:310px;
        overflow:auto;
    }
        .right_content .problem .option ul li .add_group .add_group_title {
            width: 50px;
        }
        .right_content .problem .option ul li .add_group .add_group_content {
            overflow: auto;
            margin-left: -30px;
        }
            .right_content .problem .option ul li .add_group .add_group_content li {
                list-style:none;
                margin-right: 10px;
                margin-top: 10px;
                float: left;
                position: relative;
                border: 1px solid #cad4e7;
                background-color: white;
                padding: 5px;
                -webkit-border-radius: 3px;
                font-size: 14px;
                font-weight: normal;
            }
                .right_content .problem .option ul li .add_group .add_group_content li span {
                    border: 1px solid #cad4e7;
                    background-color: #eceef5;
                    padding-left: 3px;
                    padding-right: 3px;
                    -webkit-border-radius: 3px;
                    font-size:8px;
                    cursor: pointer;
                }
                .right_content .problem .option ul li .add_group .add_group_content li span:hover {
                    background-color: lightgray;
                }
    .right_content .problem .touch_people_confirm {
        border:1px solid #cad4e7;
        background-color:#eceef5;
        padding:5px;
        -webkit-border-radius: 3px;
        cursor: pointer;
        white-space: nowrap;
        color: #3b5998;
        font-size:15px;
        margin-top: 25px;
        margin-left:20px;
    }
    .right_content .problem .touch_people_confirm:active {
        position:relative;
        top:3px;
    }

    .right_content #touch_friend .option .show_custom .loading{
        text-align :center;
        color:gray;
    }

    .right_content #touch_friend .option .tip {
        text-align:left;
        font-size:12px;
        color:gray;
    }
        .right_content #touch_friend .option .tip .keyword {
            font-weight:bold;
        }
        .right_content #touch_friend .option .tip .link {
            cursor:pointer;
            color:blue;
            text-decoration:underline;
        }
    .right_content #touch_friend .option .show_custom {
        margin-top:10px;
    }

    .right_content .first_problem .option ul .tip {
        font-size:12px;
        color:gray;
    }
.touch_cat_opt {
    list-style:none;
}