﻿.content {
    padding: 20px;
    margin: 0 auto;
}
.right_content {

}
    .right_content .big_title {
        font-size:30px;
        margin-bottom:20px;
    }
    .right_content .search {
        width:auto;
    }
        .right_content .search #search_button {
            background: #e2e2e2; /* Old browsers */
            background: -moz-linear-gradient(top,  #e2e2e2 0%, #dbdbdb 50%, #d1d1d1 51%, #fefefe 100%); /* FF3.6+ */
            background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e2e2e2), color-stop(50%,#dbdbdb), color-stop(51%,#d1d1d1), color-stop(100%,#fefefe)); /* Chrome,Safari4+ */
            background: -webkit-linear-gradient(top,  #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%,#fefefe 100%); /* Chrome10+,Safari5.1+ */
            background: -o-linear-gradient(top,  #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%,#fefefe 100%); /* Opera 11.10+ */
            background: -ms-linear-gradient(top,  #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%,#fefefe 100%); /* IE10+ */
            background: linear-gradient(to bottom,  #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%,#fefefe 100%); /* W3C */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#fefefe',GradientType=0 ); /* IE6-9 */
        }
    .right_content .showdata {
        width: auto;
        margin-top:20px;
        padding:20px;
        overflow:auto;
    }
        .right_content .showdata .not_found {
            color:red;
            font-weight:bold;
            text-align:center;
            width:100%;
        }
        .right_content .showdata .title {
            margin:0px;
            border-bottom:solid 3px #38b4ef;
            padding-bottom:5px;
        }
        .right_content .showdata ul {
            list-style:none;
            padding-left:0px;
            border-bottom:dashed 1px black;
            /*padding-bottom:5px;*/
            margin: 0;
            padding-bottom: 10px;
            padding-top: 10px;
        }
            .right_content .showdata ul.data:hover {
               background-color:lightgray;
            }
            .right_content .showdata ul li {
               display: inline-block;
               text-align:center;
               word-wrap: break-word;
               vertical-align: middle;
            }
                .right_content .showdata ul li a,
                .right_content .showdata ul li a:hover,
                .right_content .showdata ul li a:link,
                .right_content .showdata ul li a:active{
                    color:blue;
                    text-decoration: none;
                }
        .right_content .showdata .item1 {
            width: 15%;
            min-width:15%;
        }
        .right_content .showdata .item2 {
            width: 30%;
            min-width:30%;
            text-align:left;
        }
        .right_content .showdata .item3 {
            width: 20%;
            min-width:20%;
        }
        .right_content .showdata .item4 {
            width: 30%;
            min-width:30%;
        }
    .right_content .page {
        text-align:center;
    }