﻿@using Mith.Areas.GoX.Models;
@model List<FashionArticleModel.FashionArticleShow>
@{
    int p = 1;
    if (ViewData["p"] != null)
    {
        p = (int)ViewData["p"];
    }
    string keyword = "";
    if (ViewData["keyword"] != null)
    {
        keyword = ViewData["keyword"] as string;
    }
    int Search_Type = 0;
    if (ViewData["Search_Type"] != null)
    {
        Search_Type = (int)ViewData["Search_Type"];
    }

    int Search_Display = 0;
    if (ViewData["Search_Display"] != null)
    {
        Search_Display = (int)ViewData["Search_Display"];
    }

    DateTime? CreateTime_St = ViewData["CreateTime_St"] as DateTime?;
    DateTime? CreateTime_End = ViewData["CreateTime_End"] as DateTime?;
    string ct_start = "";
    string ct_end = "";
    if (CreateTime_St != null)
    {
        ct_start = CreateTime_St.Value.ToString("yyyy/MM/dd HH:mm:ss");
    }
    if (CreateTime_End != null)
    {
        ct_end = CreateTime_End.Value.ToString("yyyy/MM/dd HH:mm:ss");
    }

    string TypeSort = "";
    if (ViewData["TypeSort"] != null)
    {
        TypeSort = ViewData["TypeSort"] as string;
    }
    string err = "";
    if (TempData["err"] != null && TempData["err"] != "")
    {
        err = TempData["err"] as string;
    }

}
@Styles.Render("~/css/AdminFashionArticleIndex")
@Scripts.Render("~/js/AdminFashionArticleIndex")
@Styles.Render("~/css/Loading")
<script src="~/Scripts/plugin/Loading/jquery.isloading.min.js" type="text/javascript"></script>
@if (TempData["FromAction"] != null)
{
    <script>
        var messag = @Html.Raw(Json.Encode(TempData["FromAction"]));
        alert(messag)
    </script>
}
@if (err != "")
{
    @: 操作失敗<br>
    @err
}
else
{
    if ((bool)Session["Insert"] == true)
    {
        <div class="func_item">
            <ul>
                <li>@Html.ActionLink("新增", "Create")</li>
                <li>@Html.ActionLink("人氣排行", "Popular")</li>
            </ul>
        </div>
    }
    <fieldset class="confirm2">
        <div class="search_area">
            <form action="/Gox/FashionArticle/Index" id="search" method="get">
                <label for="keyword">　　標題</label>&ensp;
                <input type="text" name="keyword" id="keyword" value="@keyword" placeholder="" />
                <br />
                <label class="Add_Top" for="Search_Type">　　分類</label>&ensp;
                @Html.DropDownList("Search_Type", Mith.Models.Method.Get_Category_SelectListItem(29, "Type", 0), new { @class = "combobox" })
                <br />
                <label class="Add_Top">　　上架 </label>&ensp;
                <input type="radio" value="0" name="Search_Display" @if (Search_Display == 0) { <text> checked</text>} /><label for="enable">全部</label>&ensp;
                <input type="radio" value="1" name="Search_Display" @if (Search_Display == 1) { <text> checked</text>} /><label for="enable">是</label>&ensp;
                <input type="radio" value="2" name="Search_Display" @if (Search_Display == 2) { <text> checked</text>} /><label for="disable">否</label>
                <br />
                <label for="create_time_start" class="Add_Top">建立日期</label>&ensp;
                <input type="text" name="CreateTime_St" id="CreateTime_St" class="date_search" value="@ct_start" /> ~
                <input type="text" name="CreateTime_End" id="CreateTime_End" class="date_search" value="@ct_end" />
                &emsp;
                <input type="hidden" name="TypeSort" value="@TypeSort">
                <input type="submit" value="查詢" onclick="">
            </form>
        </div>
    </fieldset>

    <br>
    <label style="color:red">*文章為上架時，無法刪除</label>
    <div class="showdata" id="update">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th class="item1">
                        @Html.DisplayNameFor(model => model[0].Title)
                    </th>
                    <th class="item2">
                        @Html.DisplayNameFor(model => model[0].Type)
                    </th>
                    <th class="item3">
                        @Html.DisplayNameFor(model => model[0].Cover)
                    </th>
                    <th class="item3">
                        @Html.DisplayNameFor(model => model[0].Display)
                    </th>
                    <th class="item4">
                        @if (TypeSort == "Like")
                        {
                            <text>按讚數↓</text>
                        }
                        else
                        {
                            @Html.ActionLink("按讚數↓", "Index", new { TypeSort = "Like", p = 1 })
                        }
                    </th>
                    <th class="item5">
                        @if (TypeSort == "CreateTime")
                        {
                            <text>建立時間↓</text>
                        }
                        else
                        {
                            @Html.ActionLink("建立時間↓", "Index", new { TypeSort = "CreateTime", p = 1 })
                        }
                    </th>
                    <th class="item6">
                        編輯
                    </th>
                    <th class="item7">
                        刪除
                    </th>
                    <th class="item8">
                        文章留言
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td class="item1">
                            @Html.DisplayFor(modelItem => item.Title)
                        </td>
                        <td class="item2">
                            @Html.DisplayFor(modelItem => item.Type_Name)
                        </td>
                        <td class="item3">
                            <a class="example-image-link" href="@item.Cover" data-lightbox="example-set" data-title="">
                             <img class="example-image" src="@item.Cover" alt="" style="width:80px;height:auto" />
                            </a>
                        </td>
                        <td class="item3">
                            @if (item.Display)
                            {
                                <span style="color:#00AA00">是</span>
                            }
                            else
                            {
                                <span style="color:red">否</span>
                            }
                        </td>
                        <td class="item4">
                            @Html.DisplayFor(modelItem => item.Like) 次
                        </td>
                        <td class="item5">
                            @item.CreateTime.Value.ToString("yyyy/MM/dd HH:mm")
                        </td>
                        <td class="item6">
                            @if ((bool)Session["Update"] == true)
                            {
                                @Html.ActionLink("編輯", "Edit", new { id = item.Id })
                            }
                        </td>
                        <td class="item7">
                            @if ((bool)Session["Delete"] == true && item.Display == false)
                            {
                                @Html.ActionLink("刪除", "Delete", new { item = item.Id, p = p }, new { OnClick = "return confirm(\"確定要刪除文章?\")" })
                            }
                        </td>
                        <td class="item8">
                            @Html.ActionLink("文章留言", "Index_Fashion", "ArticleMessage", new { ArticletId = item.Id }, null)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <div class="del_chk">
            @Html.Partial("_PartialPage")
        </div>
    </div>


}
