﻿@using Mith.Areas.GoX.Models;
@model List<Mith.Areas.GoX.Models.FashionArticleModel.FashionArticleShow>
@{
    int p = 1;
    if (ViewData["p"] != null)
    {
        p = (int)ViewData["p"];
    }

    string err = "";
    if (TempData["err"] != null && TempData["err"] != "")
    {
        err = TempData["err"] as string;
    }
    string Popular_Range = DateTime.Now.AddMonths(-1).ToString("yyyy/MM/dd") +
                                          " ~ " +
                                          DateTime.Now.ToString("yyyy/MM/dd");
}
@Styles.Render("~/css/AdminFashionArticleIndex")
@if (TempData["FromAction"] != null)
{
    <script>
        var messag = @Html.Raw(Json.Encode(TempData["FromAction"]));
        alert(messag)
    </script>
}
@if (err != "")
{
    @: 操作失敗<br>
    @err
}
else
{
    <div class="func_item">
        <ul>
            <li>@Html.ActionLink("回文章資料", "Index")</li>
        </ul>
    </div>
    <label style="line-height:30px">
        日期區間：@Popular_Range<br>
    </label>
    <div class="showdata" id="update">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th class="item1">
                        @Html.DisplayNameFor(model => model[0].Title)
                    </th>
                    <th class="item2">
                        @Html.DisplayNameFor(model => model[0].Type)
                    </th>
                    <th class="item3">
                        @Html.DisplayNameFor(model => model[0].Cover)
                    </th>
                    <th class="item3">
                        @Html.DisplayNameFor(model => model[0].Display)
                    </th>
                    <th class="item4">
                        按讚數
                    </th>
                    <th class="item5">
                        文章留言
                    </th>
                    <th class="item6">
                        
                    </th>
                    <th class="item7">
                    </th>
                    <th class="item8">
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td class="item1">
                            @Html.DisplayFor(modelItem => item.Title)
                        </td>
                        <td class="item2">
                            @Html.DisplayFor(modelItem => item.Type_Name)
                        </td>
                        <td class="item3">
                            <a class="example-image-link" href="@item.Cover" data-lightbox="example-set" data-title="">
                                <img class="example-image" src="@item.Cover" alt="" style="width:80px;height:auto" />
                            </a>
                        </td>
                        <td class="item3">
                            @if (item.Display)
                            {
                                <span style="color:#00AA00">是</span>
                            }
                            else
                            {
                                <span style="color:red">否</span>
                            }
                        </td>
                        <td class="item4">
                            @Html.DisplayFor(modelItem => item.Like) 次
                        </td>
                        <td class="item5">
                            @Html.ActionLink("文章留言", "Index_Fashion", "ArticleMessage", new { ArticletId = item.Id }, null)
                        </td>
                        <td class="item6">
                        </td>
                        <td class="item7"></td>
                        <td class="item8"></td>
                    </tr>
                }
            </tbody>
        </table>
        @*<div class="del_chk">
            @Html.Partial("_PartialPage")
        </div>*@
    </div>


}
