﻿@using Mith.Models;
@using Mith.Areas.GoX.Models
@model List<FashionArticleModel.FashionArticleShow>
@{
    List<FashionArticleModel.FashionArticleShow> OnTop = Model.Where(w => w.OnTop == true).ToList();
}

@if (OnTop.Any())
{
    foreach (var item in OnTop)
    {
        <li class="item ui-state-default" data-id="@item.Id" id="li1_@item.Id">
            <input type="checkbox" name="Area1Chk" id="chk_@item.Id" value="@item.Id" style="margin-left:10px"><label>
                @Html.DisplayFor(model => item.Title)
            </label>
        </li>
    }
}