﻿@using Mith.Areas.GoX.Models;
@model List<FashionArticleModel.FashionArticleShow>
@{
    int p = 1;
    if (ViewData["p"] != null)
    {
        p = (int)ViewData["p"];
    }
    string keyword = "";
    if (ViewData["keyword"] != null)
    {
        keyword = ViewData["keyword"] as string;
    }
    int Search_Type = 0;
    if (ViewData["Search_Type"] != null)
    {
        Search_Type = (int)ViewData["Search_Type"];
    }

    string Search_Area = "Right";
    if (ViewData["Search_Area"] != null)
    {
        Search_Area = (string)ViewData["Search_Area"];
    }
    string err = "";
    if (TempData["err"] != null && TempData["err"] != "")
    {
        err = TempData["err"] as string;
    }

}
@Styles.Render("~/css/AdminActivityIndex")
@Scripts.Render("~/js/AdminFashionArticleIndex")
@Styles.Render("~/css/Loading")
<script src="~/Scripts/plugin/Loading/jquery.isloading.min.js" type="text/javascript"></script>

@if (TempData["FromAction"] != null)
{
    <script>
        var messag = @Html.Raw(Json.Encode(TempData["FromAction"]));
        alert(messag)
    </script>
}
@if (err != "")
{
    @: 操作失敗<br>
    @err
}
else
{
    @*<div class="big_title">@ViewBag.Title</div>*@
    <fieldset class="confirm2">
        <div class="search_area">
            @using (Ajax.BeginForm("", "", new AjaxOptions { UpdateTargetId = "", HttpMethod = "POST", OnBegin = "Show_Loading()", OnSuccess = "Ajax_Success()" }, new { @Id = "SearchForm" }))
            {
                <label for="keyword">　標題</label><text>&ensp;</text>
                <input type="text" name="keyword" id="keyword" value="@keyword" placeholder="" />
                <br />
                <label class="Add_Top" for="Search_Type">　分類</label><text>&ensp;</text>
                @Html.DropDownList("Search_Type", Mith.Models.Method.Get_Category_SelectListItem(29, "Type", 0), new { @class = "combobox" })
                <br />
                <label class="Add_Top">　區塊</label><text>&ensp;</text>
                <input type="radio" value="Left" name="Search_Area" @if (Search_Area == "Left") { <text> checked</text>} /><label>首頁</label><text>&ensp;</text>
                <input type="radio" value="Right" name="Search_Area" @if (Search_Area == "Right") { <text> checked</text>} /><label>非首頁</label>
                <input class="Add_Top" type="submit" value="查詢" onclick="return Search()" style="margin-left:32px">
            }
        </div>
    </fieldset>

    <br>
    <script src="~/Scripts/plugin/Loading/jquery.isloading.min.js" type="text/javascript"></script>
    <table style="width:100%;background-color:transparent" id="Update_All">
        <tr>
            <td style="width:40%;text-align:center;vertical-align:top">
                <label>首頁</label>
                <ul class="Area1 connectedSortable" id="Update_Show_Area1">
                    @Html.Partial("Show_Area1")
                </ul>
            </td>
            <td style="width:20%;text-align:center;vertical-align:top">
                <input type="button" value="首頁&#13;&#10;⇦ " id="save_sort" onclick="return ToOnTop();" style="margin-top:25px;width:82px">
                <br><br>
                <input type="button" value="非首頁&#13;&#10;⇨ " id="save_sort" onclick="return ToNotTop();">
            </td>
            <td style="width:40%;text-align:center;vertical-align:top">
                <label>非首頁</label>
                <ul class="Area2 connectedSortable" id="Update_Show_Area2">
                    @Html.Partial("Show_Area2")
                </ul>
            </td>
        </tr>
    </table>
}
