﻿@using Mith.Models;
@using Mith.Areas.GoX.Models
@model List<FashionArticleModel.FashionArticleShow>
@{
    List<FashionArticleModel.FashionArticleShow> NotTop = Model.Where(w => w.OnTop == false).ToList();
}

@if (NotTop.Any())
{
    foreach (var item in NotTop)
    {
        <li class="item ui-state-default" data-id="@item.Id" id="li2_@item.Id">
            <input type="checkbox" name="Area2Chk" id="chk_@item.Id" value="@item.Id" style="margin-left:10px" />
            <label>
                @Html.DisplayFor(model => item.Title)
            </label>
        </li>
    }
}