﻿
td {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}

.item1 {
    width: 4%;
    min-width: 4%;
}

.item2 {
     width: 4%;
    min-width: 4%;
}


.item3 {
       width: 5%;
    min-width: 5%;
}

.item4 {
    width: 4%;
    min-width: 4%;
}

.item5 {
    width: 4%;
    min-width: 4%;
}

.item6 {
        width: 4%;
    min-width: 4%;
}