﻿td {
    padding: 0px !important;
    margin: 0px !important;
}

.Area1 {
    background-color: #FFFFBB;
    border: 1px solid #898989;
    padding-left: 10px;
    padding-right: 10px;
    float: left !important;
    width: 100%;
    list-style-type: none !important;
    margin-bottom: 0px !important;
}

.Area2 {
    background-color: #ddd;
    border: 1px solid #898989;
    padding-left: 10px;
    padding-right: 10px;
    float: left !important;
    width: 100%;
    list-style-type: none !important;
    margin-bottom: 0px !important;
}

.connectedSortable li {
    text-align: left;
    color: #333 !important;
    list-style-type: decimal;
    height: 35px !important;
    width: 100%;
    padding: 6px 2px 6px 2px;
    margin-top: 8px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

    .connectedSortable li label {
        font-size: 14px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        width: 75%;
        margin-bottom: 0px;
        /*cursor: move;*/
    }

    .connectedSortable li img {
        width: 40px;
        height: auto;
        margin-right: -2px;
        margin-top: -6px;
        float: right;
    }
