﻿#main-content .showdata .item1 {
    width: 12%;
    min-width: 12%;
}

#main-content .showdata .item2 {
    width: 18%;
    min-width: 18%;
}

#main-content .showdata .item3 {
    width: 8%;
    min-width: 8%;
}

#main-content .showdata .item4 {
    width: 5%;
    min-width: 5%;
}

#main-content .showdata .item5 {
    width: 5%;
    min-width: 5%;
}

#main-content .showdata .item6 {
    width: 5%;
    min-width: 5%;
}

#main-content .showdata .item7 {
    width: 5%;
    min-width: 5%;
}
