﻿td {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}
/*.item1 {
    width: 4%;
    min-width: 4%;
}*/
.item2 {
    width: 12%;
    min-width: 12%;
}

.item3 {
    width: 12%;
    min-width: 12%;
}

.item4 {
    width: 6%;
    min-width: 6%;
}

.item5 {
    width: 4%;
    min-width:4%;
}

.item6 {
    width: 4%;
    min-width:4%;
}

.item7 {
    width: 4%;
    min-width:4%;
}
.item8 {
    width: 10%;
    min-width: 10%;
}