﻿td {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}

.item1 {
    width: 4%;
    min-width: 4%;
}

.item2 {
    width: 8%;
    min-width: 8%;
}

.item3 {
    width: 6%;
    min-width: 6%;
}

.item4 {
    width: 4%;
    min-width: 4%;
}

.item5 {
    width: 8%;
    min-width: 8%;
    padding-left: 6px;
    padding-right: 6px;
}

.item6 {
    width: 3%;
    min-width: 3%;
}

.item7 {
    width: 3%;
    min-width: 3%;
}

.item8 {
    width: 5%;
    min-width: 5%;
}

.item9 {
    width: 5%;
    min-width: 5%;
}

.item10 {
    width: 5%;
    min-width: 5%;
}
