﻿fieldset table {
    width:100%;
    margin-bottom:20px;
}
    fieldset table ,.contact_title , .contact_bigtitle, .contact_lasttitle{
        border:1px solid black;
    }
    .contact_field{
        border:0px;
    }
.contact_title {
    background-color:lightgray;
    text-align:center;
    width:150px;
}
.contact_bigtitle {
    background-color:lightblue;
    text-align:center;
}

.contact_lasttitle {
    text-align:center;
    background-color:lightgreen;
}