﻿        #main-content .showdata .item1 {
            width: 5%;
            min-width:5%;
        }
        #main-content .showdata .item2 {
            width: 10%;
            min-width:10%;
        }
        #main-content .showdata .item3 {
            width: 15%;
            min-width:15%;
        }
        #main-content .showdata .item4 {
            width: 5%;
            min-width:5%;
        }
        #main-content .showdata .item5 {
            width: 10%;
            min-width:10%;
        }
        #main-content .showdata .item6 {
            width: 15%;
            min-width:15%;
            text-overflow: ellipsis;
		    white-space: nowrap;
		    overflow: hidden;
        }
        #main-content .showdata .item7 {
            width: 10%;
            min-width:10%;
        }
        #main-content .showdata .item8 {
            width: 5%;
            min-width:5%;
        }