﻿td {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}
.item1 {
    width: 4%;
    min-width: 4%;
}
.item2 {
    width: 8%;
    min-width: 8%;
}

.item3 {
    width: 4%;
    min-width: 4%;
}

.item4 {
    width: 4%;
    min-width: 4%;
}

.item5 {
    width: 4%;
    min-width:4%;
}

.item6 {
    width: 5%;
    min-width:5%;
}

.item7 {
    width: 4%;
    min-width:4%;
}
.item8 {
    width: 4%;
    min-width:4%;
}
.item9 {
    width: 4%;
    min-width:4%;
}
.item10 {
    width: 4%;
    min-width:4%;
}
/*.item11 {
    width: 4%;
    min-width:4%;
}*/