﻿#td {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}

.item1 {
    width: 3%;
    min-width: 3%;
}

.item2 {
    width: 4%;
    min-width: 4%;
}

.item4 {
    width: 4%;
    min-width: 4%;
}

.item5 {
    width: 5%;
    min-width: 5%;
}

.item6 {
    width: 4%;
    min-width: 4%;
}

.item7 {
    width: 4%;
    min-width: 4%;
}

.item8 {
    width: 3%;
    min-width: 3%;
}

.item9 {
    width: 4%;
    min-width: 4%;
}

.item10 {
    width: 4%;
    min-width: 4%;
}

.item11 {
    width: 3%;
    min-width: 3%;
}

.item12 {
    width: 3%;
    min-width: 3%;
}

.modal-dialog {
    font-size: 14px!important;
    width: 85%!important;
    margin: 30px auto!important;
}