﻿#dialog {
    margin-top: 10px;
    margin-left: 5px;
}
#dialog2 {
    margin-top: 10px;
    margin-left: 5px;
}

.ui-dialog .ui-dialog-content {
    padding: 0px !important;
}

#UpdateArea {
    margin-top: -10px;
}

    #UpdateArea li {
        list-style: none !important;
        float: left !important;
        padding-left:5px!important;
        padding-right:5px!important;
    }

#overlay {
    opacity: 0.8;
    height: 100%;
    width: 100%;
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: 1003;
    background-color: black;
}
.confirm2 {
    width:35%;
    padding: 18px 12px;
    line-height: 20px;
}
