﻿td {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}
.item1 {
    width: 6%;
    min-width: 6%;
}
.item2 {
    width: 4%;
    min-width: 4%;
}

.item3{
    width: 20%;
    min-width: 20%;
}