﻿td {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}
.item1 {
    width: 5%;
    min-width: 5%;
}
.item2 {
    width: 4%;
    min-width: 4%;
}

.item3 {
    width: 3%;
    min-width: 3%;
}

.item4 {
    width: 3%;
    min-width: 3%;
}

.item5 {
    width: 3%;
    min-width: 3%;
}

.item6 {
    width: 4%;
    min-width: 4%;
}

.item7 {
    width: 4%;
    min-width: 4%;
}
.item8 {
    width: 5%;
    min-width: 5%;
}