﻿td {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}

.item1 {
    width: 5%;
    min-width: 5%;
}

.item2 {
    width: 4%;
    min-width: 4%;
}

.item3 {
    width: 3%;
    min-width: 3%;
}

.item4 {
    width: 3%;
    min-width: 3%;
}

.item5 {
    width: 3%;
    min-width: 3%;
}

.item6 {
    width: 4%;
    min-width: 4%;
}

.item7 {
    width: 4%;
    min-width: 4%;
}

.item8 {
    width: 4%;
    min-width: 4%;
}

.item9 {
    width: 4%;
    min-width: 4%;
}

.item10 {
    width: 4%;
    min-width: 4%;
}
.item11 {
    width: 4%;
    min-width: 4%;
}


#dialog {
    resize: none;
    margin-left: 10px;
    margin-top: 10px;
}

#dialog2 {
    resize: none;
    margin-left: 10px;
    margin-top: 10px;
}
.ui-dialog {
    resize: none;
}

    .ui-dialog .ui-dialog-content {
        resize: none;
        padding: 0px !important;
    }

#overlay {
    opacity: 0.8;
    height: 100%;
    width: 100%;
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: 1003;
    background-color: black;
}

