﻿.option_setup {
    margin-left: 40px;
    margin-bottom: 40px;
    width: 60%;
}

.option_button {
    margin-top: 10px;
}

input[type="checkbox"] {
    height: 18px !important;
    width: 18px !important;
    margin-top: 12px;
    margin-bottom: 12px;
}

th, td {
    text-align: center !important;
    padding: 0px !important;
}

#Ajax_Update {
    margin-top: 10px;
}
