﻿
#OrderDetailTable > thead > tr > th, #GoodsDetailTable > thead > tr > th {
    font-weight: normal;
    border-left: 1px dashed #2966df;
    border-right: 1px dashed #2966df;
}

#OrderDetailTable > tbody > tr > td {
    vertical-align: top !important;
    text-align: left !important;
    padding: 8px 0px 8px 10px;
    line-height: 30px;
    border-left: 1px dashed #2966df;
    border-right: 1px dashed #2966df;
}

#GoodsDetailTable > tbody > tr > td {
    padding: 6px 0px 6px 00px;
    border-left: 1px dashed #2966df;
    border-right: 1px dashed #2966df;
}

#ReturnGoodsTable > thead > tr > th, #GoodsDetailTable > thead > tr > th {
    font-weight: normal;
    border-left: 1px dashed #2966df;
    border-right: 1px dashed #2966df;
}

#ReturnGoodsTable > tbody > tr > td {
    vertical-align: top !important;
    padding: 8px 0px 8px 0px;
    line-height: 30px;
    border-left: 1px dashed #2966df;
    border-right: 1px dashed #2966df;
}

#dialog,#dialog2 {
    resize: none;
    margin-left: 10px;
    margin-top: 10px;
}

.ui-dialog {
    resize: none;
}

    .ui-dialog .ui-dialog-content {
        resize: none;
        padding: 0px !important;
    }

#overlay {
    opacity: 0.8;
    height: 100%;
    width: 100%;
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: 1003;
    background-color: black;
}

