﻿td {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}

.item1 {
    width: 4%;
    min-width: 4%;
}

.item2 {
    width: 6%;
    min-width: 6%;
}

.item3 {
    width: 25%;
    min-width: 25%;
    padding-left: 10px;
    padding-right: 10px;
}

.item4 {
    width: 4%;
    min-width: 4%;
}
