﻿
td {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}

.item1 {
    width: 4%;
    min-width: 4%;
}

.item2 {
    width: 3%;
    min-width: 3%;
}

.item3 {
    width: 5%;
    min-width: 5%;
}

.item4 {
    width: 4%;
    min-width: 4%;
}

.item5 {
    width: 6%;
    min-width: 6%;
}

.item6 {
        width: 4%;
    min-width: 4%;
}

.item7 {
    width: 4%;
    min-width: 4%;
}

.item8 {
    width: 3%;
    min-width: 3%;
}