﻿.category_table {
    border: 0px;
    margin-bottom: 5px;
}

    .category_table .category_table_title {
        border: 0px;
        text-align: left;
        vertical-align: middle;
        width: 50px;
    }

    .category_table .category_table_content {
        border: 0px;
        vertical-align: middle;
        position: relative;
        top: 2px;
    }

        .category_table .category_table_content ul {
            padding: 0px;
            margin: 0px;
        }

            .category_table .category_table_content ul li {
                background-color: lightgray !important;
                border-bottom: 1px solid black;
                border-radius: 0px;
            }

                .category_table .category_table_content ul li label {
                    padding: 3px !important;
                    color: black;
                }
#main-content .showdata {
  line-height: 30px!important;
}
#main-content .showdata .item1 {
    width:10%;
    min-width: 10%;
}

#main-content .showdata .item2 {
    width: 15%;
    min-width: 15%;
}

#main-content .showdata .item3 {
    width: 15%;
    min-width: 15%;

}

#main-content .showdata .item4 {
    width: 25%;
    min-width: 25%;
}

#main-content .showdata .item5 {
    width: 6%;
    min-width: 6%;
}

#main-content .showdata .item6 {
    width: 6%;
    min-width: 6%;
}
