﻿@using Mith.Models
<!DOCTYPE html>
<html lang="zh">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mith 後台管理系統</title>
    <link href="~/Images/Icon.png" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    @Scripts.Render("~/js/AdminIndex")
    @Styles.Render("~/css/AdminIndex")
    @Scripts.Render("~/js/AdminContent")
    @Styles.Render("~/Content/Admin/Bucket/css")
    @Styles.Render("~/Scripts/plugin/TimePicker/css")
    @Scripts.Render("~/Scripts/plugin/TimePicker/js")
    @{
        bool Read = true;
        if (Session["Read"] != null)
        {
            Read = (bool)Session["Read"];
        }
        bool Insert = true;
        if (Session["Insert"] != null)
        {
            Insert = (bool)Session["Insert"];
        }

    }
</head>
<body>
    <section id="container">
        <!--header start-->
        <header class="header fixed-top clearfix">
            <!--logo start-->
            <div class="brand">
                <a href="/Gox">
                    <img src="/Images/Logo.png" style="width:70px;height:auto;">
                </a>
            </div>
            <!--logo end-->


            <div class="nav notify-row" id="top_menu">
                <ul style="list-style:none;">
                    <li class="dropdown" style="font-weight:bold">
                        @Html.Raw(ViewBag.Title_link)
                    </li>
                </ul>
            </div>

            @if (Mith.Models.Method.Is_Login_Admin(Request.Cookies))
            {
                <div class="top-nav clearfix">
                    <!--search & user info start-->
                    <ul class="nav pull-right top-menu">
                        <!--<li>
                            <input type="text" class="form-control search" placeholder=" Search">
                        </li>-->
                        <!-- user login dropdown start-->
                        <li class="dropdown">
                            <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                                <!--<img alt="" src="">-->
                                <span class="username">
                                    &ensp;@Mith.Models.Method.Get_UserNameAdmin(Request.Cookies, Session)
                                </span>
                                <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu extended logout">
                                @*<li>
                                        <a href="@Method.RootPath/GoX/Member/Edit2/@Method.Get_UserId_Admin(Request.Cookies,Session)">
                                            <i class=" fa fa-flag"></i>帳號資訊
                                        </a>
                                    </li>*@
                                <!--<li><a href="#"><i class="fa fa-cog"></i>設定</a></li>-->
                                <li><a href="@Method.RootPath/GoX/UserProfile/Off"><i class="fa fa-sign-out"></i>登出</a></li>
                            </ul>
                        </li>
                        <!-- user login dropdown end -->
                    </ul>
                    <!--search & user info end-->
                </div>
            }
        </header>
        <!--header end-->
        @if (Mith.Models.Method.Is_Login_Admin(Request.Cookies))
        {
            @Html.Partial("_Menu")
        }

        <!--main content start-->
        <section id="main-content">
            <section class="wrapper">
                @RenderBody()
            </section>
        </section>
        <!--main content end-->
    </section>
    <a href="#" class="scrollup">Scroll</a>
</body>
</html>