﻿@*if (Request.Cookies.AllKeys.Contains(Mith.Models.Method.CookieName_Admin))*@
@if (Mith.Models.Method.Is_Login_Admin(Request.Cookies))
{
    <ul>
        @*@{
            //FormsIdentity ticket = (FormsIdentity )User.Identity;
            FormsAuthenticationTicket ticket = FormsAuthentication.Decrypt(Request.Cookies[Mith.Models.Method.CookieName_Admin].Value);
            
            }
        
            <li>您好，@ticket.UserData.Split(',')[0]!</li>*@
            <li>您好，@Mith.Models.Method.Get_UserNameAdmin(Request.Cookies,Session)!</li>
            <li> @Html.ActionLink("登出", "Off", "UserProfile")</li>
     </ul>
} else {
    <ul>
        <li>@Html.ActionLink("登入", "Login", "UserProfile", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
