﻿@using Mith.Models;
@using Mith.Areas.GoX.Models;
@{
    string controller = ViewContext.Controller.ControllerContext.RouteData.Values["Controller"].ToString();
    string action = ViewContext.Controller.ControllerContext.RouteData.Values["Action"].ToString();

    //取得使用者Id
    int User_Id = Mith.Models.Method.Get_UserId_Admin(Request.Cookies, Session);

    //取得使用者Level
    int User_Level = Mith.Models.Method.Get_UserLevel(User_Id);

    //取得使用者Role
    int User_Role = Mith.Models.Method.Get_UserRole(User_Id);
    Mith.Areas.GoX.Models.UserProfileModel item = new Mith.Areas.GoX.Models.UserProfileModel();

    //取得可讀取的模組
    var Read_Funtion = item.Get_ReadFuntion(User_Level);

    //皆預設為False
    var Read_UserLevel = false;
    var Read_UserProfile = false;
    var Read_Volunteers = false;
    var Read_PushService = false;
    var Read_Company = false;
    var Read_Brand = false;
    var Read_GoodsSN_Setting = false;
    var Read_Goods = false;
    var Read_GoodsQA = false;
    var Read_Order = false;
    var Read_OrderQA = false;
    var Read_LimitOrder = false;
    var Read_ShippingGoods = false;
    var Read_ReturnGoods = false;
    var Read_Refund = false;
    var Read_Accounting = false;
    var Read_Expert = false;
    var Read_Other = false;
    var Read_Activtity_New = false;
    var Read_Activity_Promotion100 = false;
    var Read_Activity_Hot30 = false;
    var Read_ActivityPic = false;
    var Read_WearPic = false;
    var Read_ExpertArticle = false;
    var Read_FashionArticle = false;

    //每個模組相對應的Fun_Id
    Read_UserLevel = Read_Funtion.Contains("01");
    Read_UserProfile = Read_Funtion.Contains("02");
    Read_Volunteers = Read_Funtion.Contains("03");
    Read_PushService = Read_Funtion.Contains("04");
    Read_Company = Read_Funtion.Contains("05");
    Read_Brand = Read_Funtion.Contains("06");
    Read_GoodsSN_Setting = Read_Funtion.Contains("07");
    Read_Goods = Read_Funtion.Contains("08");

    Read_GoodsQA = Read_Funtion.Contains("09");
    Session["Read_GoodsQA"] = Read_GoodsQA;

    Read_Order = Read_Funtion.Contains("10");
    Read_LimitOrder = Read_Funtion.Contains("11");
    Read_ShippingGoods = Read_Funtion.Contains("12");
    Read_ReturnGoods = Read_Funtion.Contains("13");
    Read_Refund = Read_Funtion.Contains("14");
    Read_Accounting = Read_Funtion.Contains("15");
    Read_Expert = Read_Funtion.Contains("16");
    Read_Other = Read_Funtion.Contains("17");
    Read_Activtity_New = Read_Funtion.Contains("18");
    Read_Activity_Promotion100 = Read_Funtion.Contains("19");
    Read_Activity_Hot30 = Read_Funtion.Contains("20");
    Read_ActivityPic = Read_Funtion.Contains("21");
    Read_WearPic = Read_Funtion.Contains("22");
    Read_ExpertArticle = Read_Funtion.Contains("23");

    Read_OrderQA = Read_Funtion.Contains("28");
    Session["Read_OrderQA"] = Read_OrderQA;

    Read_FashionArticle = Read_Funtion.Contains("29");
}
<aside>
    <div id="sidebar" class="nav-collapse">
        <!-- sidebar menu start-->
        <div class="leftside-navigation" style="overflow: hidden; outline: none;" tabindex="5000">
            <ul class="sidebar-menu" id="nav-accordion">
                @if (Read_UserLevel)
                {
                    <li>
                        @if (User_Role == 1)
                        {
                            <a href="/GoX/UserLevel/Index_Mith">
                                <i class="fa fa-star"></i>
                                <span>權限管理</span>
                            </a>
                        }
                        else
                        {
                            <a href="/GoX/UserLevel/Index_Company">
                                <i class="fa fa-star"></i>
                                <span>權限管理</span>
                            </a>
                        }

                    </li>
                }
                @if (Read_UserProfile)
                {
                    <li>
                        @if (User_Role == 1)
                        {
                            <a href="/GoX/UserProfile/Index_Mith">
                                <i class="fa fa-user-plus" style="font-size:14px"></i>
                                <span style="margin-left:-4px">帳號管理</span>
                            </a>
                        }
                        else
                        {
                            <a href="/GoX/UserProfile/Index_Company">
                                <i class="fa fa-user-plus" style="font-size:14px"></i>
                                <span>帳號管理</span>
                            </a>
                        }

                    </li>
                }

                @if (Read_Volunteers)
                {
                    <li>
                        <a href="/GoX/Volunteers/Index">
                            <i class="fa fa-male" style="font-size:20px!important"></i>
                            <span>會員管理</span>
                        </a>
                    </li>
                }

                @if (Read_Company || Read_Brand)
                {
                    <li class="sub-menu dcjq-parent-li">
                        <a href="#">
                            <i class="fa fa-building-o"></i>
                            <span>廠商管理</span>
                            <span class="dcjq-icon"></span>
                        </a>
                        <ul class="sub" style="display: none;">
                            @if (Read_Company)
                            {
                                <li>
                                    <a href="/GoX/Company/Index">
                                        <i class="fa fa-angle-right"></i>
                                        <span>廠商資料</span>
                                    </a>
                                </li>
                            }
                            @if (Read_Brand)
                            {
                                <li>
                                    <a href="/GoX/Brand/Index">
                                        <i class="fa fa-angle-right"></i>
                                        <span>品牌資料</span>
                                    </a>
                                </li>
                            }
                        </ul>
                    </li>
                }

                @if (Read_Order || Read_OrderQA || Read_LimitOrder)
                {
                    <li class="sub-menu dcjq-parent-li">
                        <a href="#">
                            <i class="fa fa-history"></i>
                            <span>訂單管理</span>
                            <span class="dcjq-icon"></span>
                        </a>
                        <ul class="sub" style="display: none;">
                            @if (Read_Order)
                            {
                                <li>
                                    @if (User_Role == 1)
                                    {
                                        <a href="/GoX/Order/Index_Mith">
                                            <i class="fa fa-angle-right"></i>
                                            <span>訂單資料</span>
                                        </a>
                                    }
                                    else
                                    {
                                        <a href="/GoX/Order/Index_Company">
                                            <i class="fa fa-angle-right"></i>
                                            <span>訂單資料</span>
                                        </a>
                                    }
                                </li>
                            }
                            @if (Read_LimitOrder)
                            {

                                if (User_Role == 1)
                                {
                                    <li>
                                        <a href="/GoX/LimitOrder/IndexLevel1_Mith">
                                            <i class="fa fa-angle-right"></i>
                                            <span>集單資料</span>
                                        </a>
                                    </li>
                                }
                                else
                                {
                                    int CompanyId = Mith.Models.Method.Get_CompanyId_Admin(Request.Cookies, Session);
                                    bool IsLimitOrder = Method.Get_CompanyIsLimitOrder(CompanyId);
                                    //集單廠商
                                    if (IsLimitOrder == true)
                                    {
                                        <li>
                                            <a href="/GoX/LimitOrder/IndexLevel1_Company">
                                                <i class="fa fa-angle-right"></i>
                                                <span>集單資料</span>
                                            </a>
                                        </li>
                                    }
                                }

                            }
                            @if (Read_OrderQA)
                            {
                                <li>
                                    @if (User_Role == 2)
                                    {
                                        <a href="/GoX/OrderQA/Index_Company">
                                            <i class="fa fa-angle-right"></i>訂單Q&A
                                        </a>
                                    }
                                </li>
                            }
                        </ul>
                    </li>
                }

                @if (Read_ShippingGoods || Read_ReturnGoods)
                {
                    <li class="sub-menu dcjq-parent-li">
                        <a href="#">
                            <i class="fa fa-truck"></i>
                            <span>物流管理</span>
                            <span class="dcjq-icon"></span>
                        </a>
                        <ul class="sub" style="display: none;">
                            @if (Read_ShippingGoods)
                            {
                                <li>
                                    @if (User_Role == 1)
                                    {
                                        <a href="/GoX/ShippingGoods/Index_Mith">
                                            <i class="fa fa-angle-right"></i>
                                            <span>出貨資料</span>
                                        </a>
                                    }
                                    else
                                    {
                                        <a href="/GoX/ShippingGoods/Index_Company">
                                            <i class="fa fa-angle-right"></i>
                                            <span>出貨資料</span>
                                        </a>
                                    }
                                </li>
                            }
                            @if (Read_ReturnGoods)
                            {
                                <li>
                                    @if (User_Role == 1)
                                    {
                                        <a href="/GoX/ReturnGoods/Index_Mith">
                                            <i class="fa fa-angle-right"></i>
                                            <span>退貨資料</span>
                                        </a>
                                    }
                                    else
                                    {
                                        <a href="/GoX/ReturnGoods/Index_Company">
                                            <i class="fa fa-angle-right"></i>
                                            <span>退貨資料</span>
                                        </a>
                                    }
                                </li>
                            }
                        </ul>
                    </li>
                }

                @if (Read_Refund || Read_Accounting)
                {
                    <li class="sub-menu dcjq-parent-li">
                        <a href="#">
                            <i class="fa fa-cc-visa" style="font-size:15px;margin-left:-2px"></i>
                            <span>帳務管理</span>
                            <span class="dcjq-icon"></span>
                        </a>
                        <ul class="sub" style="display: none;">
                            @if (Read_Refund)
                            {
                                <li>
                                    <a href="/GoX/Refund/Index">
                                        <i class="fa fa-angle-right"></i>
                                        <span>退款資料</span>
                                    </a>
                                </li>
                            }
                            <li>
                                @if (User_Role == 1)
                                {
                                    <a href="/GoX/Accounting/Index_Mith">
                                        <i class="fa fa-angle-right"></i>
                                        <span>對帳明細</span>
                                    </a>
                                }
                                else
                                {
                                    <a href="/GoX/Accounting/Index_Company">
                                        <i class="fa fa-angle-right"></i>
                                        <span>對帳明細</span>
                                    </a>
                                }
                            </li>



                        </ul>
                    </li>
                }

                @if (Read_GoodsSN_Setting || Read_Goods || Read_GoodsQA)
                {
                    <li class="sub-menu dcjq-parent-li">
                        <a href="#">
                            <i class="fa fa-shopping-cart"></i>
                            <span>商品管理</span>
                            <span class="dcjq-icon"></span>
                        </a>
                        <ul class="sub" style="display: none;">
                            @if (Read_GoodsSN_Setting)
                            {
                                <li>
                                    @if (User_Role == 1)
                                    {
                                        <a href="/GoX/GoodsSN_Setting/Index_Mith">
                                            <i class="fa fa-angle-right"></i>商品狀態
                                        </a>
                                    }
                                    else
                                    {
                                        <a href="/GoX/GoodsSN_Setting/Index_Company">
                                            <i class="fa fa-angle-right"></i>商品狀態
                                        </a>
                                    }
                                </li>
                            }
                            @if (Read_Goods)
                            {
                                <li>
                                    @if (User_Role == 1)
                                    {
                                        <a href="/GoX/Goods/Index_Mith">
                                            <i class="fa fa-angle-right"></i>商品資料編輯
                                        </a>
                                    }
                                    else
                                    {
                                        <a href="/GoX/Goods/Index_Company">
                                            <i class="fa fa-angle-right"></i>商品資料編輯
                                        </a>
                                    }
                                </li>
                            }
                            @if (Read_GoodsQA)
                            {
                                <li>
                                    <a href="/GoX/GoodsQA/Index_Company">
                                        <i class="fa fa-angle-right"></i>商品Q&A
                                    </a>
                                </li>
                            }
                        </ul>
                    </li>

                }

                @if (Read_Activtity_New || Read_Activity_Promotion100 || Read_Activity_Hot30 ||
                Read_ActivityPic || Read_WearPic)
                {
                    <li class="sub-menu dcjq-parent-li">
                        <a href="#">
                            <i class="fa fa-calendar-check-o"></i>
                            <span>活動管理</span>
                            <span class="dcjq-icon"></span>
                        </a>
                        <ul class="sub" style="display: none;">
                            @if (Read_Activtity_New)
                            {
                                <li>
                                    <a href="/GoX/Activity/New_Index">
                                        <i class="fa fa-angle-right"></i>
                                        <span>最新商品</span>
                                    </a>
                                </li>
                            }
                            @if (Read_Activity_Promotion100)
                            {
                                <li>
                                    <a href="/GoX/Activity/Promotion100_Index">
                                        <i class="fa fa-angle-right"></i>
                                        <span>前100件展示</span>
                                    </a>
                                </li>
                            }
                            @if (Read_Activity_Hot30)
                            {
                                <li>
                                    <a href="/GoX/Activity/Hot30_Index">
                                        <i class="fa fa-angle-right"></i>
                                        <span>熱銷 Top30</span>
                                    </a>
                                </li>
                            }
                            @if (Read_ActivityPic)
                            {
                                <li>
                                    <a href="/GoX/Activity/ActivityPic_Index">
                                        <i class="fa fa-angle-right"></i>
                                        <span>活動圖片</span>
                                    </a>
                                </li>
                            }
                            @if (Read_WearPic)
                            {
                                <li>
                                    <a href="/GoX/WearPic/Index">
                                        <i class="fa fa-angle-right"></i>
                                        <span>配件圖片</span>
                                    </a>
                                </li>
                            }
  
                        </ul>
                    </li>
                }

                @if (Read_FashionArticle)
                {
                    <li class="sub-menu dcjq-parent-li">
                        <a href="#">
                            <i class="fa fa-edit"></i>
                            <span>時尚新訊</span>
                            <span class="dcjq-icon"></span>
                        </a>
                        <ul class="sub" style="display: none;">
                            @if (Read_FashionArticle)
                            {
                                <li>
                                    <a href="/GoX/FashionArticle/Index">
                                        <i class="fa fa-angle-right"></i>
                                        <span>文章資料</span>
                                    </a>
                                </li>
                            }
                            <li>
                                <a href="/GoX/FashionArticle/Show">
                                    <i class="fa fa-angle-right"></i>
                                    <span>首頁文章</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                }



                @if (Read_Expert || Read_ExpertArticle)
                {
                    <li class="sub-menu dcjq-parent-li">
                        <a href="#">
                            <i class="fa fa-thumbs-up "></i>
                            <span>造型達人</span>
                            <span class="dcjq-icon"></span>
                        </a>
                        <ul class="sub" style="display: none;">
                            @if (Read_Expert)
                            {
                                <li>
                                    <a href="/GoX/Expert/Index">
                                        <i class="fa fa-angle-right"></i>
                                        <span>達人資料</span>
                                    </a>
                                </li>
                            }
                            @if (Read_ExpertArticle)
                            {
                                <li>
                                    <a href="/GoX/ExpertArticle/Index">
                                        <i class="fa fa-angle-right"></i>
                                        <span>文章資料</span>
                                    </a>
                                </li>
                            }
                        </ul>
                    </li>
                }
                @*Soohoobook*@
                @if (User_Id == 1)
                {
                    <li class="sub-menu dcjq-parent-li">
                        <a href="#">
                            <i class="fa fa-rss"></i>
                            <span>推播管理</span>
                            <span class="dcjq-icon"></span>
                        </a>
                        <ul class="sub" style="display: none;">
                            <li>
                                <a href="/GoX/AppManage/Index?fun_id=10">
                                    <i class="fa fa-angle-right"></i>App設定
                                </a>
                            </li>
                            <li>
                                <a href="/GoX/AppManage/MessageIndex">
                                    <i class="fa fa-angle-right"></i>訊息設定
                                </a>
                            </li>
                            <li>
                                <a href="/GoX/AppManage/TokenIndex">
                                    <i class="fa fa-angle-right"></i>Token紀錄
                                </a>
                            </li>
                            <li>
                                <a href="/GoX/AppManage/ErrorIndex">
                                    <i class="fa fa-angle-right"></i>錯誤紀錄
                                </a>
                            </li>
                        </ul>
                    </li>
                }
                else
                {
                    if (Read_PushService)
                    {
                        <li>
                            <a href="/GoX/AppManage/MessageIndex">
                                <i class="fa fa-crosshairs" style="font-size:18px"></i>
                                <span>推播訊息</span>
                            </a>
                        </li>
                    }
                }



                @if (Read_Other)
                {
                    <li>
                        <a href="/GoX/Other/Index">
                            <i class="fa fa-gear"></i>
                            <span>其它設定</span>
                        </a>
                    </li>
                }
            </ul>
        </div>
        <!-- sidebar menu end-->
        <div id="ascrail2000" class="nicescroll-rails" style="width: 3px; z-index: auto; cursor: default; position: absolute; top: 0px; left: 237px; height: 368px; display: block; opacity: 0;">
            <div style="position: relative; top: 0px; float: right; width: 3px; height: 203px; background-color: rgb(31, 181, 173); border: 0px solid rgb(255, 255, 255); background-clip: padding-box; border-top-left-radius: 0px; border-top-right-radius: 0px; border-bottom-right-radius: 0px; border-bottom-left-radius: 0px;">
            </div>
        </div>

        <div id="ascrail2000-hr" class="nicescroll-rails" style="height: 3px; z-index: auto; top: 365px; left: 0px; position: absolute; cursor: default; display: none; opacity: 0; width: 237px;">
            <div style="position: relative; top: 0px; height: 3px; width: 240px; background-color: rgb(31, 181, 173); border: 0px solid rgb(255, 255, 255); background-clip: padding-box; border-top-left-radius: 0px; border-top-right-radius: 0px; border-bottom-right-radius: 0px; border-bottom-left-radius: 0px; left: 0px;">
            </div>
        </div>
    </div>
</aside>