﻿@using Mith.Models
@{
    Method.Paging page = ViewData["page"] as Method.Paging;
    int number = 10;
    if (ViewData["number"] != null)
    {
        number = (int)ViewData["number"];
    }
    string get = "";
    if (ViewData["get"] != null)
    {
        get = ViewData["get"] as string;
    }
}
@Styles.Render("~/css/Page")
<div class="page">
    <a href="?p=@page.First@get"><div class="first" style="width:39px!important">|<</div></a>
    <a href="?p=@page.Back@get"><div class="back"><<</div></a>
    @{
        for (int i = page.Start; i <= page.End; i++)
        {
            <a href="?p=@i@get"><div class="number @(page.Now==i ? "current" : "")" style="width:39px!important;margin-bottom:15px">@i</div></a>
        }
    }
    <a href="?p=@page.Next@get"><div class="next">>></div></a>
    <a href="?p=@page.Last@get"><div class="last" style="width:39px!important">>|</div></a>
    <span style="float: right;    margin-top: 10px;padding-right:8px">總數：@page.Total</span>
    <input type="hidden" id="now_page" name="p" value="@page.Now" />
</div>