﻿@using Mith.Areas.GoX.Models
@model Mith.Areas.GoX.Models.ExpertModel.ExpertShow

@Scripts.Render("~/js/AdminExpertCreate")
@Styles.Render("~/css/Loading")
<script src="~/Scripts/plugin/Loading/jquery.isloading.min.js" type="text/javascript"></script>
<script src="" type="text/javascript"></script>

@using (Html.BeginForm("Create", "Expert", FormMethod.Post, new { @Id = "Form", @enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <div class="">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Pic)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Pic, new { @type = "file", @accept = "image/*" })
            @Html.ValidationMessageFor(model => model.Pic)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Cover)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Cover, new { @type = "file", @accept = "image/*" })
            @Html.ValidationMessageFor(model => model.Cover)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Url)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Url, new { style="width:423px"})
            @Html.ValidationMessageFor(model => model.Url)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Content)
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.Content, 6, 50, new { style = "resize: none;" })
            <br>
            @Html.ValidationMessageFor(model => model.Content)
        </div>

        <div class="editor-label">
            @Html.CheckBox("Enable", true) @Html.LabelFor(model => model.Enable)
        </div>

        <br>
        <p>
            <input type="submit" value="新增" id="save_sort" onclick="return Send()" />
        </p>
    </fieldset>

}