﻿@using Mith.Areas.GoX.Models
@using Mith.Models;
@model Mith.Areas.GoX.Models.ShippingGoodsModel.ShippingGoodsShow
@{

    //處理廠商
    string CompanyName = Model.Company_Name;
    if (CompanyName.Length > 5)
    {
        CompanyName = CompanyName.Substring(0, 5);
    }
    string CompanyTel = ViewData["CompanyTel"] as string;


    //處理收件人
    string ReceiverName = Model.ReceiverName;
    if (ReceiverName.Length > 5)
    {
        ReceiverName = ReceiverName.Substring(0, 5);
    }
    string ReceiverTel = "0000000" + Model.ReceiverTel.Substring(Model.ReceiverTel.Length - 3, 3);
    string ReceiverStoreId = Model.ReceiverStoreId;
    string ReturnStoreId = Model.ReturnStoreId;


    //處理金額
    string BuyTotal = "";

    switch (Model.BuyTotal.ToString().Length)
    {
        case 5:
            break;
        case 4:
            BuyTotal = "0" + Model.BuyTotal;
            break;
        case 3:
            BuyTotal = "00" + Model.BuyTotal;
            break;
        case 2:
            BuyTotal = "000" + Model.BuyTotal;
            break;
        case 1:
            BuyTotal = "0000" + Model.BuyTotal;
            break;
        default:
            break;
    }
    string ReturnUrl = Request.Url.AbsoluteUri;
}
@Scripts.Render("~/js/AdminShippingGoodsEdit")
@Styles.Render("~/css/AdminOrderEdit")
@Styles.Render("~/css/Loading")
<script src="~/Scripts/plugin/Loading/jquery.isloading.min.js" type="text/javascript"></script>

<div id="overlay" style="display:none;"></div>
@*7-11列印*@
@if (Model.PackageSN != null)
{
    <form action="http://202.168.204.198/c2c_test/payment.ashx" method="post" id="form1" name="form1" style="display:none">

        <input type="hidden" name="account" value="@BuyTotal" />
        <input type="hidden" name="deadlinedate" value="@Model.ShippingTime.Value.AddDays(7).ToString("yyyyMMdd")" />
        <input type="hidden" name="deadlinetime" value="2359" />
        <input type="hidden" name="eshopid" value="851" />
        <input type="hidden" name="eshopsonid" value="023" />
        <input type="hidden" name="orderno" value="@Model.LogisticsSN" />
        <input type="hidden" name="paymentno" value="@Model.PackageSN.Substring(0, 8)" />
        <input type="hidden" name="validationno" value="@Model.PackageSN.Substring(8, 4)" />
        <input type="hidden" name="service_type" value="7" />
        <input type="hidden" name="tempvar" value="" />
        <input type="hidden" name="url" value="http://mith.azurewebsites.net/home/eshop_Compelete" />
        <input type="hidden" name="online_url" value="@ReturnUrl" />
        <input type="hidden" name="trade_describe" value="服飾" />
        <input type="hidden" name="payment_cpname" value="MiTh" />
        <input type="hidden" name="show_type" value="11" />
        <input type="hidden" name="trade_no" value="3" />
        <input type="hidden" name="daishou_account" value="0" />
        <input type="hidden" name="sender" value="@CompanyName" />
        <input type="hidden" name="sender_phone" value="@CompanyTel" />
        <input type="hidden" name="receiver" value="@ReceiverName" />
        <input type="hidden" name="receiver_phone" value="@ReceiverTel" />
        <input type="hidden" name="receiver_storeid" value="@ReceiverStoreId" />
        <input type="hidden" name="return_storeid" value="@ReturnStoreId" />
        <input type="submit">
    </form>
}
    @*黑貓列印*@
    <div id="PrintTarget" style="display:none">
        <div style="text-align:center;font-size:30px">Mith 出貨明細</div>
        <br><br>
        <table id="OrderDetailTable" class="table table-striped" style="width:1150px;">
            <thead>
                <tr>
                    <th id="item1" style="width:260px">訂單資訊</th>
                    <th id="item2" style="width:240px">出貨資訊</th>
                    <th id="item3" style="width:300px">訂購會員</th>
                    <th id="item4" style="width:350px">收件人</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td id="item1" style="vertical-align:top!important">
                        建立時間：@Model.CreateTime.ToString("yyyy/MM/dd HH:mm")<br>
                        訂單編號：<a href="/GoX/Order/Edit_Mith/@Model.Id" target="_blank">@Model.SN</a>
                    </td>
                    <td id="item2" style="vertical-align:top!important">
                        物流編號：
                        @if (!string.IsNullOrWhiteSpace(Model.PackageSN))
                        {

                        <a href="https://eservice.7-11.com.tw/e-tracking/search.aspx?@Model.PackageSN" target="_blank">@Model.PackageSN</a>
                        }
                        else
                        {
                        <a href="http://www.t-cat.com.tw/inquire/TraceDetail.aspx?ReturnUrl=Trace.aspx&BillID=@Model.LogisticsSN" target="_blank">@Model.LogisticsSN</a>
                        }
                        <br>
                        取貨方式：@Model.LogisticsType_Name<br>
                        出貨廠商：@Model.Company_Name
                    </td>
                    <td id="item3" style="vertical-align:top!important">
                        姓名：
                        @if (!string.IsNullOrWhiteSpace(Model.Volunteers_Name))
                        {
                        @Model.Volunteers_Name.Substring(0, Model.Volunteers_Name.Length - 1)<text>*</text>
                        }
                        else
                        {
                        <text>無</text>
                        }
                        <br>
                        電話：
                        @if (!string.IsNullOrWhiteSpace(Model.Volunteers_Tel))
                        {
                        @Model.Volunteers_Tel.Substring(0, Model.Volunteers_Tel.Length - 2)<text>**</text>
                        }
                        else
                        {
                        <text>無</text>
                        }
                    </td>
                    <td id="item4" style="vertical-align:top!important">
                        姓名：@Model.ReceiverName
                        <br>
                        電話：@Model.ReceiverTel
                        <br>
                        @*黑貓*@
                        @if (Model.LogisticsType == 1)
                        {
                        <text> 地址：@Model.ReceiverAddress</text>
                        }
                        @*7-11取貨*@
                        else
                        {
                        <text>取貨門市：@Model.ReceiverStoreName<br>
                        ( @Model.ReceiverStoreAddress )</text>
                        }
                    </td>
                </tr>
            </tbody>
        </table>
        <br><br><br>
        <span style="font-weight:bold;font-size:18px">商品明細</span>
        <table id="GoodsDetailTable" class="table table-striped" style="width:1150px;margin-top:5px">
            <thead>
                <tr>
                    <th id="item1" style="width:390px;border: 1px solid black;">商品名稱</th>
                    <th id="item2" style="width:130px;border: 1px solid black;border-left:0px">類別</th>
                    <th id="item2" style="width:60px;border: 1px solid black;border-left:0px">顏色</th>
                    <th id="item5" style="width:150px;border: 1px solid black;border-left:0px">廠商</th>
                    <th id="item6" style="width:60px;border: 1px solid black;border-left:0px">尺寸</th>
                    <th id="item7" style="width:60px;border: 1px solid black;border-left:0px">數量</th>
                    <th id="item8" style="width:70px;border: 1px solid black;border-left:0px">單價</th>
                    <th id="item9" style="width:70px;border: 1px solid black;border-left:0px">小計</th>
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < Model.OrderDetailList.Count(); i++)
                {
                <tr>
                    <td id="item1" style="width:390px;text-align:left!important;padding-left:5px;border: 1px solid black;border-top:0px">
                        【@Model.OrderDetailList[i].Goods_SN】
                        @Model.OrderDetailList[i].Goods_Name
                    </td>
                    <td id="item2" style="width:130px;text-align:center;border-bottom: 1px solid black;border-right: 1px solid black;">
                        @Model.OrderDetailList[i].Goods_TypeName
                    </td>
                    <td id="item2" style="width:60px;text-align:center;border-bottom: 1px solid black;border-right: 1px solid black;">
                        @Model.OrderDetailList[i].Goods_ColorName
                    </td>
                    <td id="item5" style="width:150px;text-align:center;border-bottom: 1px solid black;border-right: 1px solid black;">
                        @Model.OrderDetailList[i].Company_Name
                    </td>
                    <td id="item6" style="width:60px;text-align:center;border-bottom: 1px solid black;border-right: 1px solid black;">
                        @Model.OrderDetailList[i].BuySize
                    </td>
                    <td id="item7" style="width:60px;text-align:center;border-bottom: 1px solid black;border-right: 1px solid black;">
                        @Model.OrderDetailList[i].BuyQuantity
                    </td>
                    <td id="item8" style="width:70px;text-align:center;border-bottom: 1px solid black;border-right: 1px solid black;">
                        @Model.OrderDetailList[i].BuyPrice.ToString("N0")
                    </td>
                    <td id="item9" style="width:70px;text-align:center;border-bottom: 1px solid black;border-right: 1px solid black;">
                        @Model.OrderDetailList[i].BuyTotal.ToString("N0")
                    </td>
                </tr>
                }
            </tbody>
        </table>
        <br>
        <span style="float:right;padding-right:10px; padding-top:5px;"><b>總計：$@Model.BuyTotal.ToString("N0")</b></span>
    </div>

    <div>
        <span style="font-weight:bold">出貨明細</span>
        <table id="OrderDetailTable" class="table table-striped" style="width:1150px">
            <thead>
                <tr>
                    <th id="item1" style="width:260px">訂單資訊</th>
                    <th id="item2" style="width:240px">出貨資訊</th>
                    <th id="item3" style="width:300px">訂購會員</th>
                    <th id="item4" style="width:350px">收件人</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td id="item1">
                        建立時間：@Model.CreateTime.ToString("yyyy/MM/dd HH:mm")<br>
                        訂單編號：@Model.SN
                        <br>
                        @*7-11取貨*@
                        @if (Model.LogisticsType == 2)
                        {
                            <text>退回門市：@Model.ReturnStoreName<br>
                            ( @Model.ReturnStoreAddress )</text>
                        }
                    </td>
                    <td id="item2">
                        物流編號：
                        @if (!string.IsNullOrWhiteSpace(Model.PackageSN))
                        {

                            <a href="https://eservice.7-11.com.tw/e-tracking/search.aspx?@Model.PackageSN" target="_blank">@Model.PackageSN</a>
                        }
                        else
                        {
                            <a href="http://www.t-cat.com.tw/inquire/TraceDetail.aspx?ReturnUrl=Trace.aspx&BillID=@Model.LogisticsSN" target="_blank">@Model.LogisticsSN</a>
                        }
                        <br>
                        取貨方式：@Model.LogisticsType_Name<br>
                        出貨時間：@Model.ShippingTime.Value.ToString("yyyy/MM/dd HH:mm")<br>
                        出貨人員：@Model.LastUser_Name
                        <br>
                        到貨時間：
                        @if (!string.IsNullOrWhiteSpace(Model.ArriveInTime.ToString()))
                        {
                            @Model.ArriveInTime.Value.ToString("yyyy/MM/dd HH:mm")
                        }
                        else
                        {
                            <text>無</text>
                        }
                    </td>
                    <td id="item3">
                        姓名：
                        @if (!string.IsNullOrWhiteSpace(Model.Volunteers_Name))
                        {
                            @Model.Volunteers_Name
                        }
                        else
                        {
                            <text>無</text>
                        }
                        <br>
                        電話：
                        @if (!string.IsNullOrWhiteSpace(Model.Volunteers_Tel))
                        {
                            @Model.Volunteers_Tel
                        }
                        else
                        {
                            <text>無</text>
                        }
                        <br>
                        信箱：@Model.Volunteers_Email
                    </td>
                    <td id="item4">
                        姓名：@Model.ReceiverName
                        <br>
                        電話：@Model.ReceiverTel
                        <br>
                        @*黑貓*@
                        @if (Model.LogisticsType == 1)
                        {
                            <text> 地址：@Model.ReceiverAddress</text>
                        }
                        @*7-11取貨*@
                        else
                        {
                            <text>取貨門市：@Model.ReceiverStoreName<br>
                            ( @Model.ReceiverStoreAddress )</text>
                        }
                        <br>
                        取貨時間：
                        @if (!string.IsNullOrWhiteSpace(Model.ReceiveGoodsTime.ToString()))
                        {
                            @Model.ReceiveGoodsTime.Value.ToString("yyyy/MM/dd HH:mm")
                        }
                        else
                        {
                            <text>無</text>
                        }
                    </td>
                </tr>
            </tbody>
        </table>
        <br>
        <span style="font-weight:bold">商品明細</span>
        @using (Ajax.BeginForm("Get_SelectGoosList", "Order", new AjaxOptions { UpdateTargetId = "UpdateArea", HttpMethod = "GET" }, new { id = "ReturnGoodsForm" }))
        {
            <table id="GoodsDetailTable" class="table table-striped" style="width:1150px;margin-top:5px">
                <thead>
                    <tr>
                        <th id="item1" style="width:320px">名稱</th>
                        <th id="item2" style="width:140px">類別</th>
                        <th id="item2" style="width:60px">顏色</th>
                        <th id="item3" style="width:90px">物流狀態</th>
                        <th id="item5" style="width:160px">廠商</th>
                        <th id="item6" style="width:60px">尺寸</th>
                        <th id="item7" style="width:60px">數量</th>
                        <th id="item8" style="width:70px">單價</th>
                        <th id="item9" style="width:70px">小計</th>
                    </tr>
                </thead>
                <tbody>
                    @for (int i = 0; i < Model.OrderDetailList.Count(); i++)
                    {
                        <tr>
                            <td id="item1" style="width:320px;text-align:left!important;padding-left:5px">
                                【@Model.OrderDetailList[i].Goods_SN】
                                @Model.OrderDetailList[i].Goods_Name
                            </td>
                            <td id="item2" style="width:140px;text-align:center">
                                @Model.OrderDetailList[i].Goods_TypeName
                            </td>
                            <td id="item2" style="width:60px;text-align:center">
                                @Model.OrderDetailList[i].Goods_ColorName
                            </td>
                            <td id="item3" style="width:90px;text-align:center">
                                @if (@Model.OrderDetailList[i].LogisticsStatus > 0)
                                {
                                    <span style="color:#00AA00">@Model.OrderDetailList[i].LogisticsStatus_Name</span>
                                }
                                else
                                {
                                    <span style="color:red">@Model.OrderDetailList[i].LogisticsStatus_Name</span>
                                }
                            </td>
                            <td id="item5" style="width:160px;text-align:center">
                                @Model.OrderDetailList[i].Company_Name
                            </td>
                            <td id="item6" style="width:60px;text-align:center">
                                @Model.OrderDetailList[i].BuySize
                            </td>
                            <td id="item7" style="width:60px;text-align:center">
                                @Model.OrderDetailList[i].BuyQuantity
                            </td>
                            <td id="item8" style="width:70px;text-align:center">
                                @Model.OrderDetailList[i].BuyPrice.ToString("N0")
                            </td>
                            <td id="item9" style="width:70px;text-align:center">
                                @Model.OrderDetailList[i].BuyTotal.ToString("N0")
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    </div>
    <span style=" padding-top: 5px;float:left">
        @if (Model.LogisticsType == 1)
        {
            <input type="button" value="列印" id="save_sort" onclick="return Print_BlackCate();">
        }
        else
        {
            <input type="button" value="列印" id="save_sort" onclick="return Print_711();">
        }

    </span>

    <span style="float:right;padding-right:50px; padding-top:5px;"><b>總計：$@Model.BuyTotal.ToString("N0")</b></span>
    <br><br>
