﻿@using Mith.Areas.GoX.Models
@using Mith.Models;
@model Mith.Areas.GoX.Models.ShippingGoodsModel.ShippingGoodsShow

@*@Scripts.Render("~/js/AdminOrderEdit")*@
@Styles.Render("~/css/AdminOrderEdit")
@Styles.Render("~/css/Loading")
<script src="~/Scripts/plugin/Loading/jquery.isloading.min.js" type="text/javascript"></script>


<div id="overlay" style="display:none;"></div>

<span style="font-weight:bold">出貨明細</span>
<table id="OrderDetailTable" class="table table-striped" style="width:1150px">
    <thead>
        <tr>
            <th id="item1" style="width:260px">訂單資訊</th>
            <th id="item2" style="width:240px">出貨資訊</th>
            <th id="item3" style="width:300px">訂購會員</th>
            <th id="item4" style="width:350px">收件人</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td id="item1">
                建立時間：@Model.CreateTime.ToString("yyyy/MM/dd HH:mm")<br>
                訂單編號：@Model.SN
                <br>
                @*7-11取貨*@
                @if (Model.LogisticsType == 2)
                {
                    <text>退回門市：@Model.ReturnStoreName<br>
                    ( @Model.ReturnStoreAddress )</text>
                }
            </td>
            <td id="item2">
                物流編號：
                @if (!string.IsNullOrWhiteSpace(Model.PackageSN))
                {

                    <a href="https://eservice.7-11.com.tw/e-tracking/search.aspx?@Model.PackageSN" target="_blank">@Model.PackageSN</a>
                }
                else
                {
                    <a href="http://www.t-cat.com.tw/inquire/TraceDetail.aspx?ReturnUrl=Trace.aspx&BillID=@Model.LogisticsSN" target="_blank">@Model.LogisticsSN</a>
                }
                <br>
                取貨方式：@Model.LogisticsType_Name<br>
                出貨時間：@Model.ShippingTime.Value.ToString("yyyy/MM/dd HH:mm")<br>
                出貨廠商：@Model.Company_Name
                <br>
                到貨時間：
                @if (!string.IsNullOrWhiteSpace(Model.ArriveInTime.ToString()))
                {
                    @Model.ArriveInTime.Value.ToString("yyyy/MM/dd HH:mm")
                }
                else
                {
                    <text>無</text>
                }
            </td>
            <td id="item3">
                姓名：
                @if (!string.IsNullOrWhiteSpace(Model.Volunteers_Name))
                {
                    @Model.Volunteers_Name
                }
                else
                {
                    <text>無</text>
                }
                <br>
                電話：
                @if (!string.IsNullOrWhiteSpace(Model.Volunteers_Tel))
                {
                    @Model.Volunteers_Tel
                }
                else
                {
                    <text>無</text>
                }
                <br>
                信箱：@Model.Volunteers_Email
            </td>
            <td id="item4">
                姓名：@Model.ReceiverName
                <br>
                電話：@Model.ReceiverTel
                <br>
                @*黑貓*@
                @if (Model.LogisticsType == 1)
                {
                    <text> 地址：@Model.ReceiverAddress</text>
                }
                @*7-11取貨*@
                else
                {
                    <text>取貨門市：@Model.ReceiverStoreName<br>
                    ( @Model.ReceiverStoreAddress )</text>
                }
                <br>
                取貨時間：
                @if (!string.IsNullOrWhiteSpace(Model.ReceiveGoodsTime.ToString()))
                {
                    @Model.ReceiveGoodsTime.Value.ToString("yyyy/MM/dd HH:mm")
                }
                else
                {
                    <text>無</text>
                }
            </td>
        </tr>
    </tbody>
</table>
<br>
<span style="font-weight:bold">商品明細</span>
@using (Ajax.BeginForm("Get_SelectGoosList", "Order", new AjaxOptions { UpdateTargetId = "UpdateArea", HttpMethod = "GET" }, new { id = "ReturnGoodsForm" }))
{
    <table id="GoodsDetailTable" class="table table-striped" style="width:1150px;margin-top:5px">
        <thead>
            <tr>
                <th id="item1" style="width:320px">名稱</th>
                <th id="item2" style="width:140px">類別</th>
                <th id="item2" style="width:60px">顏色</th>
                <th id="item3" style="width:90px">物流狀態</th>
                <th id="item5" style="width:160px">廠商</th>
                <th id="item6" style="width:60px">尺寸</th>
                <th id="item7" style="width:60px">數量</th>
                <th id="item8" style="width:70px">單價</th>
                <th id="item9" style="width:70px">小計</th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.OrderDetailList.Count(); i++)
            {
                <tr>
                    <td id="item1" style="text-align:left!important;padding-left:5px">
                        【@Model.OrderDetailList[i].Goods_SN】
                            @Model.OrderDetailList[i].Goods_Name
                    </td>
                    <td id="item2">
                        @Model.OrderDetailList[i].Goods_TypeName
                    </td>
                    <td id="item2">
                        @Model.OrderDetailList[i].Goods_ColorName
                    </td>
                    <td id="item3">
                        @if (@Model.OrderDetailList[i].LogisticsStatus > 0)
                        {
                            <span style="color:#00AA00">@Model.OrderDetailList[i].LogisticsStatus_Name</span>
                        }
                        else
                        {
                            <span style="color:red">@Model.OrderDetailList[i].LogisticsStatus_Name</span>
                        }
                    </td>
                    <td id="item5">
                        @Model.OrderDetailList[i].Company_Name
                    </td>
                    <td id="item6">
                        @Model.OrderDetailList[i].BuySize
                    </td>
                    <td id="item7">
                        @Model.OrderDetailList[i].BuyQuantity
                    </td>
                    <td id="item8">
                        @Model.OrderDetailList[i].BuyPrice.ToString("N0")
                    </td>
                    <td id="item9">
                        @Model.OrderDetailList[i].BuyTotal.ToString("N0")
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
<span style="float:right;padding-right:50px; padding-top:5px;"><b>總計：$@Model.BuyTotal.ToString("N0")</b></span>
<br><br>