﻿@using Mith.Areas.GoX.Models;
@using Mith.Models;
@model List<ShippingGoodsModel.ShippingGoodsShow>
@{
    List<Category> StatusList = new List<Category>();
    StatusList = Method.GetCategoryList(10, "Status");

    int p = 1;
    if (ViewData["p"] != null)
    {
        p = (int)ViewData["p"];
    }
    string keyword = "";
    if (ViewData["keyword"] != null)
    {
        keyword = ViewData["keyword"] as string;
    }

    int Search_LogisticsStatus = 0;
    if (ViewData["Search_LogisticsStatus"] != null)
    {
        Search_LogisticsStatus = (int)ViewData["Search_LogisticsStatus"];
    }

    DateTime? ShippingTime_St = ViewData["ShippingTime_St"] as DateTime?;
    DateTime? ShippingTime_End = ViewData["ShippingTime_End"] as DateTime?;
    string sp_start = "";
    string sp_end = "";
    if (ShippingTime_St != null)
    {
        sp_start = ShippingTime_St.Value.ToString("yyyy/MM/dd HH:mm:ss");
    }
    if (ShippingTime_End != null)
    {
        sp_end = ShippingTime_End.Value.ToString("yyyy/MM/dd HH:mm:ss");
    }
    string err = "";
    if (TempData["err"] != null && TempData["err"] != "")
    {
        err = TempData["err"] as string;
    }
}
@Scripts.Render("~/js/AdminShippingGoodsIndex")
@Styles.Render("~/css/AdminShippingGoodsIndex_Company")
@if (TempData["FromAction"] != null)
{
    <script>
        var messag = @Html.Raw(Json.Encode(TempData["FromAction"]));
        alert(messag)
    </script>
}
@if (err != "")
{
    @: 操作失敗<br>
    @err
}
else
{
    @*<div class="func_item">
            <ul>
                <li>
                    <input type="button" value="匯出" id="save_sort" onclick="Export();">
                </li>
            </ul>
        </div>*@
    <fieldset class="confirm2">
        <div class="search_area">
            <form action="/GoX/ShippingGoods/Index_Company" method="get" name="SearchForm">
                <label for="keyword">　關鍵字</label>&ensp;
                <input type="text" name="keyword" id="keyword" value="@keyword" placeholder="訂單編號、物流編號" />
                <br />
                <label class="Add_Top">物流狀態</label>&ensp;
                <input type="radio" value="0" name="Search_LogisticsStatus" @if (Search_LogisticsStatus == 0) { <text> checked</text>} style="margin-right: 4px;" /><label> 全部</label>&ensp;
                <input type="radio" value="2" name="Search_LogisticsStatus" @if (Search_LogisticsStatus == 2) { <text> checked</text>} style="margin-right: 4px;" /><label>已出貨</label>&ensp;

                <input type="radio" value="5" name="Search_LogisticsStatus" @if (Search_LogisticsStatus == 5) { <text> checked</text>} style="margin-right: 4px;" /><label>已到門市</label>&ensp;

                <input type="radio" value="6" name="Search_LogisticsStatus" @if (Search_LogisticsStatus == 6) { <text> checked</text>} style="margin-right: 4px;" /><label>已取貨</label>&ensp;

                <input type="radio" value="7" name="Search_LogisticsStatus" @if (Search_LogisticsStatus == 7) { <text> checked</text>} style="margin-right: 4px;" /><label>未取貨</label>&ensp;
                <br />
                <label for="create_time_start" class="Add_Top">出貨日期</label>&ensp;
                <input type="text" name="ShippingTime_St" id="ShippingTime_St" class="date_search" value="@sp_start" /> ~
                <input type="text" name="ShippingTime_End" id="ShippingTime_End" class="date_search" value="@sp_end" />
                &emsp;
                <input type="submit" value="查詢">
            </form>

        </div>
    </fieldset>

    <br>
    <div class="showdata" id="update">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th class="item1">
                        @Html.DisplayNameFor(model => model[0].SN)
                    </th>
                    <th class="item2">
                        @Html.DisplayNameFor(model => model[0].LogisticsSN)
                    </th>
                    <th class="item3">
                        @Html.DisplayNameFor(model => model[0].LogisticsType)
                    </th>
                    <th class="item4">
                        出貨商品
                    </th>
                    <th class="item5">
                        @Html.DisplayNameFor(model => model[0].BuyTotal)
                    </th>
                    <th class="item6">
                        收件人
                    </th>
                    <th class="item7">
                        @Html.DisplayNameFor(model => model[0].ShippingTime)
                    </th>
                    <th class="item8">
                        詳情
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td class="item1">
                            @item.SN
                        </td>
                        <td class="item2">
                            @if (!string.IsNullOrWhiteSpace(item.PackageSN))
                            {

                                <a href="https://eservice.7-11.com.tw/e-tracking/search.aspx?@item.PackageSN" target="_blank">@item.PackageSN</a>
                            }
                            else
                            {
                                <a href="http://www.t-cat.com.tw/inquire/TraceDetail.aspx?ReturnUrl=Trace.aspx&BillID=@item.LogisticsSN" target="_blank">@item.LogisticsSN</a>
                            }
                        </td>
                        <td class="item3">
                            @item.LogisticsType_Name
                        </td>
                        <td class="item4" style="text-align:left!important;line-height:25px;padding-left:10px;padding-right:10px;">
                            @if (item.OrderDetailList.Count() > 0)
                            {

                                for (int i = 0; i < item.OrderDetailList.Count(); i++)
                                {
                                    <span style="">
                                        【@item.OrderDetailList[i].Goods_SN】<br>
                                        @item.OrderDetailList[i].Goods_Name<br>
                                        數量：@item.OrderDetailList[i].BuySize ×
                                        @item.OrderDetailList[i].BuyQuantity
                                        <br>
                                        物流：
                                        @if (@item.OrderDetailList[i].LogisticsStatus > 0)
                                        {
                                            <span style="color:#00AA00">@item.OrderDetailList[i].LogisticsStatus_Name</span>
                                        }
                                        else
                                        {
                                            <span style="color:red">@item.OrderDetailList[i].LogisticsStatus_Name</span>
                                        }
                                    </span>
                                    if (i < @item.OrderDetailList.Count() - 1)
                                    {
                                        <hr style="margin-top:10px;margin-bottom:10px;border-top: 1px dashed #2966df;">
                                    }
                                }
                            }
                        </td>
                        <td class="item5">
                            $ @item.BuyTotal.ToString("N0")
                        </td>
                        <td class="item6" style="text-align:left!important;line-height:25px;padding-left:15px">
                            姓名：@item.ReceiverName
                            <br>
                            電話：@item.ReceiverTel
                            <br>
                            @*黑貓*@
                            @if (item.LogisticsType == 1)
                            {
                                @*<text> 地址：@item.ReceiverAddress</text>*@
                            }
                            @*7-11取貨*@
                            else
                            {
                                @*<text>取貨門市：@item.ReceiverStoreName<br>
                                    ( @item.ReceiverStoreAddress )</text>*@
                            }
                        </td>
                        <td class="item7">
                            @if (!string.IsNullOrWhiteSpace(item.ShippingTime.ToString()))
                            {
                                @item.ShippingTime.Value.ToString("yyyy/MM/dd HH:mm")
                            }
                        </td>
                        <td class="item8">
                            @if ((bool)Session["Update"] == true)
                            {
                                @Html.ActionLink("詳情", "Edit_Company", new { LogisticsSN = item.LogisticsSN })
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <div class="del_chk">
            @Html.Partial("_PartialPage")
        </div>
    </div>
}
