﻿@using Mith.Areas.GoX.Models
@model Mith.Areas.GoX.Models.ExpertModel.ExpertShow

@Scripts.Render("~/js/AdminExpertCreate")
@Styles.Render("~/css/Loading")
<script src="~/Scripts/plugin/Loading/jquery.isloading.min.js" type="text/javascript"></script>
<script src="" type="text/javascript"></script>

@using (Html.BeginForm("Edit", "Expert", FormMethod.Post, new { @Id = "Form", @enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @Html.HiddenFor(model => model.Id)
    @Html.HiddenFor(model => model.Pic)
    @Html.HiddenFor(model => model.Cover)
    <fieldset>
        <div class="">
            @Html.LabelFor(model => model.Id)
        </div>
        <div class="editor-field">
            @Html.DisplayFor(model => model.Id)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Pic)
            @if (!string.IsNullOrWhiteSpace(Model.Pic))
            {
                <br>
                <a class="example-image-link" href="@Model.Pic" data-lightbox="example-set" data-title="">
                    <img class="example-image" src="@Model.Pic" alt="" style="width:80px;height:auto;margin-bottom:12px" />
                </a>
            }
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Pic, new { @type = "file", @accept = "image/*" })
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Cover)
            @if (!string.IsNullOrWhiteSpace(Model.Cover))
            {
                <br>
                <a class="example-image-link" href="@Model.Cover" data-lightbox="example-set" data-title="">
                    <img class="example-image" src="@Model.Cover" alt="" style="width:80px;height:auto;margin-bottom:12px;margin-right:10px;"/>
                </a>
                @Html.CheckBox("Delete_Cover",false)<text> 刪除</text>
            }
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Cover, new { @type = "file", @accept = "image/*" })
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Url)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Url, new { style = "width:423px" })
            @Html.ValidationMessageFor(model => model.Url)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Content)
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.Content, 6, 50, new { style = "resize: none;" })
            <br>
            @Html.ValidationMessageFor(model => model.Content)
        </div>

        <div class="editor-label">
            @Html.CheckBoxFor(model => model.Enable) @Html.LabelFor(model => model.Enable)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Like)
        </div>
        <div class="editor-field">
            @Model.Like 次
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CreateTime)
        </div>
        <div class="editor-field">
            @Model.CreateTime.Value.ToString("yyyy/MM/dd HH:mm")
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.UpdateTime)
        </div>
        <div class="editor-field">
            @Model.UpdateTime.Value.ToString("yyyy/MM/dd HH:mm")
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.LastUser_Name)
        </div>
        <div class="editor-field">
            @Html.DisplayFor(model => model.LastUser_Name)
        </div>

        <br>
        <p>
            <input type="submit" value="儲存" id="save_sort" onclick="return Send()" />
        </p>
    </fieldset>

}