﻿@using Mith.Areas.GoX.Models;
@model List<Mith.Areas.GoX.Models.ExpertModel.ExpertShow>
@{
    int p = 1;
    if (ViewData["p"] != null)
    {
        p = (int)ViewData["p"];
    }
    string keyword = "";
    if (ViewData["keyword"] != null)
    {
        keyword = ViewData["keyword"] as string;
    }

    int Search_Enable = 0;
    if (ViewData["Search_Enable"] != null)
    {
        Search_Enable = (int)ViewData["Search_Enable"];
    }

    DateTime? CreateTime_St = ViewData["CreateTime_St"] as DateTime?;
    DateTime? CreateTime_End = ViewData["CreateTime_End"] as DateTime?;
    string ct_start = "";
    string ct_end = "";
    if (CreateTime_St != null)
    {
        ct_start = CreateTime_St.Value.ToString("yyyy/MM/dd HH:mm:ss");
    }
    if (CreateTime_End != null)
    {
        ct_end = CreateTime_End.Value.ToString("yyyy/MM/dd HH:mm:ss");
    }
    string TypeSort = "";
    if (ViewData["TypeSort"] != null)
    {
        TypeSort = ViewData["TypeSort"] as string;
    }
    string err = "";
    if (TempData["err"] != null && TempData["err"] != "")
    {
        err = TempData["err"] as string;
    }
}
@Styles.Render("~/css/AdminExpertIndex")
@if (TempData["FromAction"] != null)
{
    <script>
        var messag = @Html.Raw(Json.Encode(TempData["FromAction"]));
        alert(messag)
    </script>
}
@if (err != "")
{
    @: 操作失敗<br>
    @err
}
else
{
    if ((bool)Session["Insert"] == true)
    {
        <div class="func_item">
            <ul>
                <li>@Html.ActionLink("新增", "Create")</li>
                <li>@Html.ActionLink("人氣排行", "Popular")</li>
            </ul>
        </div>
    }
    <fieldset class="confirm2">
        <div class="search_area">
            <form action="/Gox/Expert/Index" id="search" method="get">
                <label for="keyword">　　姓名</label>&ensp;
                <input type="text" name="keyword" id="keyword" value="@keyword" placeholder="" />
                <br />
                <label class="Add_Top">　　上線 </label>&ensp;
                <input type="radio" value="0" name="Search_Enable" @if (Search_Enable == 0) { <text> checked</text>} /><label for="enable">全部</label>&ensp;
                <input type="radio" value="1" name="Search_Enable" @if (Search_Enable == 1) { <text> checked</text>} /><label for="enable">是</label>&ensp;
                <input type="radio" value="2" name="Search_Enable" @if (Search_Enable == 2) { <text> checked</text>} /><label for="disable">否</label>
                <br />
                <label for="create_time_start" class="Add_Top">建立日期</label>&ensp;
                <input type="text" name="CreateTime_St" id="CreateTime_St" class="date_search" value="@ct_start" /> ~
                <input type="text" name="CreateTime_End" id="CreateTime_End" class="date_search" value="@ct_end" />
                &emsp;
                <input type="hidden" name="TypeSort" value="@TypeSort">
                <input type="submit" value="查詢" onclick="">
            </form>
        </div>
    </fieldset>

    <br>
    <div class="showdata" id="update">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th class="item1">
                        @Html.DisplayNameFor(model => model[0].Id)
                    </th>
                    <th class="item2">
                        @Html.DisplayNameFor(model => model[0].Name)
                    </th>
                    <th class="item3">
                        @Html.DisplayNameFor(model => model[0].Pic)
                    </th>
                    <th class="item4">
                        @Html.DisplayNameFor(model => model[0].Cover)
                    </th>
                    <th class="item5">
                        上線
                    </th>
                    <th class="item6">
                        @if (TypeSort == "Like")
                        {
                            <text>被追蹤次數↓</text>
                        }
                        else
                        {
                            @Html.ActionLink("被追蹤次數↓", "Index", new { TypeSort = "Like", p = 1 })
                        }

                    </th>
                    <th class="item7">
                        @if (TypeSort == "CreateTime")
                        {
                            <text>建立時間↓</text>
                        }
                        else
                        {
                            @Html.ActionLink("建立時間↓", "Index", new { TypeSort = "CreateTime", p = 1 })
                        }
                    </th>
                    <th class="item8">
                        穿搭諮詢
                    </th>
                    <th class="item9">
                        私訊會員
                    </th>
                    <th class="item10">
                        編輯
                    </th>
                    @*<th class="item11">
                        刪除
                    </th>*@
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td class="item1">
                            @Html.DisplayFor(modelItem => item.Id)
                        </td>
                        <td class="item2">
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td class="item3">
                            @if (!string.IsNullOrWhiteSpace(item.Pic))
                            {
                                <a class="example-image-link" href="@item.Pic" data-lightbox="example-set" data-title="">
                                    <img class="example-image" src="@item.Pic" style=" width:60px;height:auto" />
                                </a>
                            }
                            else
                            {
                                <text>無</text>
                            }
                        </td>
                        <td class="item4">
                            @if (!string.IsNullOrWhiteSpace(item.Cover))
                            {
                                <a class="example-image-link" href="@item.Cover" data-lightbox="example-set" data-title="">
                                    <img class="example-image" src="@item.Cover" style="width:60px;height:auto" />
                                </a>
                            }
                            else
                            {
                                <text>無</text>
                            }
                        </td>
                        <td class="item5">
                            @if (item.Enable)
                            {
                                <span style="color:#00AA00">是</span>
                            }
                            else
                            {
                                <span style="color:red">否</span>
                            }

                        </td>
                        <td class="item6">@item.Like 次</td>
                        <td class="item7">
                            @item.CreateTime.Value.ToString("yyyy/MM/dd HH:mm")
                        </td>
                        <td class="item8">
                            @Html.ActionLink("穿搭諮詢", "Index", "StyleAdvice", new { ExpertId = item.Id }, null)
                        </td>
                        <td class="item9">
                            @Html.ActionLink("私訊會員", "Index_Group", "PrivateMessage", new { ExpertId = item.Id }, null)
                        </td>
                        <td class="item10">
                            @if ((bool)Session["Update"] == true)
                            {
                                @Html.ActionLink("編輯", "Edit", new { id = item.Id })
                            }
                        </td>
                        @*<td class="item11">
                            @if ((bool)Session["Delete"] == true && item.Enable == false)
                            {
                                @Html.ActionLink("刪除", "Delete", new { item = item.Id, p = p }, new { OnClick = "return confirm(\"確定要刪除?\")" })
                            }
                        </td>*@
                    </tr>
                }
            </tbody>
        </table>
        <div class="del_chk">
            @Html.Partial("_PartialPage")
        </div>
    </div>


}
