﻿@using Mith.Areas.GoX.Models;
@model List<Mith.Areas.GoX.Models.ExpertModel.ExpertShow>
@{
    int p = 1;
    if (ViewData["p"] != null)
    {
        p = (int)ViewData["p"];
    }
 
    string err = "";
    if (TempData["err"] != null && TempData["err"] != "")
    {
        err = TempData["err"] as string;
    }
    string Popular_Range = DateTime.Now.AddMonths(-1).ToString("yyyy/MM/dd") +
                                       " ~ " +
                                       DateTime.Now.ToString("yyyy/MM/dd");
}
@Styles.Render("~/css/AdminExpertIndex")
@if (TempData["FromAction"] != null)
{
    <script>
        var messag = @Html.Raw(Json.Encode(TempData["FromAction"]));
        alert(messag)
    </script>
}
@if (err != "")
{
    @: 操作失敗<br>
    @err
}
else
{
    <div class="func_item">
        <ul>
            <li>@Html.ActionLink("回達人資料", "Index")</li>
        </ul>
    </div>
    <label style="line-height:30px">
        日期區間：@Popular_Range<br>
    </label>
    <div class="showdata" id="update">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th class="item1">
                        @Html.DisplayNameFor(model => model[0].Id)
                    </th>
                    <th class="item2">
                        @Html.DisplayNameFor(model => model[0].Name)
                    </th>
                    <th class="item3">
                        @Html.DisplayNameFor(model => model[0].Pic)
                    </th>
                    <th class="item4">
                        @Html.DisplayNameFor(model => model[0].Cover)
                    </th>
                    <th class="item5">
                        上線
                    </th>
                    <th class="item6">
                        被追蹤次數
                    </th>
                    <th class="item7">
                        建立時間
                    </th>
                    <th class="item8">
                    </th>
                    <th class="item9">
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td class="item1">
                            @Html.DisplayFor(modelItem => item.Id)
                        </td>
                        <td class="item2">
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td class="item3">
                            @if (!string.IsNullOrWhiteSpace(item.Pic))
                            {
                                <a class="example-image-link" href="@item.Pic" data-lightbox="example-set" data-title="">
                                    <img class="example-image" src="@item.Pic" style=" width:60px;height:auto" />
                                </a>
                            }
                            else
                            {
                                <text>無</text>
                            }
                        </td>
                        <td class="item4">
                            @if (!string.IsNullOrWhiteSpace(item.Cover))
                            {
                                <a class="example-image-link" href="@item.Cover" data-lightbox="example-set" data-title="">
                                    <img class="example-image" src="@item.Cover" style="width:60px;height:auto" />
                                </a>
                            }
                            else
                            {
                                <text>無</text>
                            }
                        </td>
                        <td class="item5">
                            @if (item.Enable)
                            {
                                <span style="color:#00AA00">是</span>
                            }
                            else
                            {
                                <span style="color:red">否</span>
                            }

                        </td>
                        <td class="item6">@item.Like 次</td>
                        <td class="item7">
                            @item.CreateTime.Value.ToString("yyyy/MM/dd HH:mm")
                        </td>
                        <td class="item8">
                        </td>
                        <td class="item9">
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <div class="del_chk">
            @Html.Partial("_PartialPage")
        </div>
    </div>


}
