﻿@model HandleErrorInfo

@{
    string err = "";
    if(Model!=null)
    {
        err = Model.Exception.ToString();
    }

}
@Styles.Render("~/css/HomeError")
<div class="error_area">
    <div class="error_title">發生錯誤</div>
    <div class="error_content">
        <img src="@Mith.Models.Method.RootPath/Images/Shared/waring.png" /><br />
        錯誤訊息：<span>@err</span><br />
    </div>
</div>
