﻿@using Mith.Areas.GoX.Models
@using Mith.Models;
@model Mith.Areas.GoX.Models.ReturnGoodsModel.ReturnGoodsShow
@Scripts.Render("~/js/AdminReturnGoodsEdit")
@Styles.Render("~/css/AdminOrderEdit")
@Styles.Render("~/css/Loading")
<script src="~/Scripts/plugin/Loading/jquery.isloading.min.js" type="text/javascript"></script>
<!-- Datetimepicker2 -->
<script type="text/javascript" src="/Scripts/plugin/jquery.datetimepicker2.js"></script>
<link rel='stylesheet' type='text/css' href='/Content/themes/base/jquery.datetimepicker2.css' />

<style>
    #main-content .field-validation-error span {
        float: right;
        margin-right: 120px;
    }
</style>

<div id="overlay" style="display:none;"></div>
<div id="dialog" title="退貨明細說明">
    <div style="margin-top:10px;padding-left:5px;line-height:30px">
        <label>1. 當您勾選已收到貨時，無法再修物流編號、到貨日期</label><br>
        <label>2. 當你勾選同意退款時，無法再改為不同意退款</label><br>
    </div>
</div>
<div>
    @using (Html.BeginForm("Edit", "ReturnGoods", FormMethod.Post, new { @Id = "Form", @enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.LogisticsType)

        <span style="font-weight:bold">退貨明細</span>
        <i class="fa fa-question-circle" onclick="OpenDialog_QA()"></i>
        <table id="OrderDetailTable" class="table table-striped" style="width:1150px">
            <thead>
                <tr>
                    <th id="item1" style="width:240px">訂單資訊</th>
                    <th id="item2" style="width:300px">退貨人</th>
                    <th id="item3" style="width:280px">退貨資訊</th>
                    <th id="item4" style="width:330px">備註</th>
                </tr>
            </thead>
            @*退貨方式 = 黑貓*@
            @if (Model.LogisticsType == 1)
            {
                <tbody>
                    <tr>
                        <td id="item1">
                            建立時間：@Model.CreateTime.ToString("yyyy/MM/dd HH:mm")<br>
                            訂單編號：@Model.SN<br>
                            退貨方式：@Model.LogisticsType_Name

                            @*關係訂單：@Model.RelativeSN*@
                        </td>
                        <td id="item2">
                            姓名：@Model.ReceiverName
                            <br>
                            電話：@Model.ReceiverTel
                            <br>
                            地址：@Model.ReceiverAddress
                            <br>
                            取件時段：@Model.ReceiveTimeRange_Name
                        </td>
                        <td id="item3">
                            物流編號：
                            @if (!string.IsNullOrWhiteSpace(Model.LogisticsSN))
                            {
                                @Html.TextBoxFor(model => model.LogisticsSN, new { style = "margin-bottom: 10px;width: 140px;vertical-align: top;height: 28px;" })
                                <text>&emsp;&emsp;</text>
                                @Html.ValidationMessageFor(model => model.LogisticsSN)
                            }
                            else
                            {
                                @Html.TextBoxFor(model => model.LogisticsSN, new { style = "width:140px;vertical-align: middle;" })
                                <text>&emsp;&emsp;</text>
                                @Html.ValidationMessageFor(model => model.LogisticsSN)
                            }
                            <br>
                            退貨時間：@Model.CreateTime.ToString("yyyy/MM/dd HH:mm")<br>
                            @if (!string.IsNullOrWhiteSpace(@Model.LastUser_Name))
                            {
                                <text>更新人員：@Model.LastUser_Name </text>
                                <br>
                            }
                            已收到貨：@Html.CheckBoxFor(model => model.ReturnGoods)<br>
                            <span id="span_ReturnGoods" style="display:none;margin-top:4px">
                                到貨時間：
                                @Html.TextBoxFor(model => model.ReturnGoodsTime, "{0:yyyy/MM/dd HH:mm}", new { style = "margin-bottom: 10px;width: 140px;vertical-align: top;height: 28px;" })
                                <span class="Valid" id="ReturnGoodsTime_Valid">必填欄位</span>
                                <br>
                                同意退款：@Html.CheckBoxFor(model => model.AgreeRefund)
                            </span>
                        </td>
                        <td id="item4">
                            @if (!string.IsNullOrWhiteSpace(Model.Remark))
                            {
                                @Model.Remark
                            }
                            else
                            {
                                <text>無</text>
                            }
                        </td>
                    </tr>
                </tbody>
            }
            @*退貨方式 = 7-11*@
            else
            {
                <tbody>
                    <tr>
                        <td id="item1">
                            建立時間：@Model.CreateTime.ToString("yyyy/MM/dd HH:mm")<br>
                            訂單編號：@Model.SN<br>
                            退貨方式：@Model.LogisticsType_Name
                        </td>
                        <td id="item2">
                            7-11
                        </td>
                        <td id="item3">
                            物流編號：
                            @Html.HiddenFor(model => model.LogisticsSN)
                            @Model.PackageSN
                            <br>
                            退貨時間：@Model.CreateTime.ToString("yyyy/MM/dd HH:mm")<br>
                            @if (!string.IsNullOrWhiteSpace(@Model.LastUser_Name))
                            {
                                <text>更新人員：@Model.LastUser_Name </text>
                                <br>
                            }
                            已收到貨：
                            @*退回門市中*@
                            @if (@Model.OrderDetailList[0].LogisticsStatus == 7)
                            {
                                @Html.CheckBoxFor(model => model.ReturnGoods, new { @disabled = "disabled" })
                            }
                            else
                            {
                                @Html.CheckBoxFor(model => model.ReturnGoods)
                            }
                            <br>
                            <span id="span_ReturnGoods" style="display:none;margin-top:4px">
   
                                同意退款：@Html.CheckBoxFor(model => model.AgreeRefund)
                            </span>
                        </td>
                        <td id="item4">
                            @if (!string.IsNullOrWhiteSpace(Model.Remark))
                            {
                                @Model.Remark
                            }
                            else
                            {
                                <text>無</text>
                            }
                        </td>
                    </tr>
                </tbody>
            }
        </table>
        <br>
        <span style="font-weight:bold">商品明細</span>
        <table id="GoodsDetailTable" class="table table-striped" style="width:1150px;margin-top:5px">
            <thead>
                <tr>
                    <th id="item1" style="width:320px">名稱</th>
                    <th id="item2" style="width:140px">類別</th>
                    <th id="item2" style="width:60px">顏色</th>
                    <th id="item3" style="width:90px">物流狀態</th>
                    <th id="item5" style="width:160px">廠商</th>
                    <th id="item6" style="width:60px">尺寸</th>
                    <th id="item7" style="width:60px">數量</th>
                    <th id="item8" style="width:70px">單價</th>
                    <th id="item9" style="width:70px">小計</th>
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < Model.OrderDetailList.Count(); i++)
                {
                    <tr>
                        <td id="item1" style="width:320px;text-align:left!important;padding-left:5px">
                            【@Model.OrderDetailList[i].Goods_SN】 @Model.OrderDetailList[i].Goods_Name

                        </td>
                        <td id="item2" style="width:140px;text-align:center">
                            @Model.OrderDetailList[i].Goods_TypeName
                        </td>
                        <td id="item2" style="width:60px;text-align:center">
                            @Model.OrderDetailList[i].Goods_ColorName
                        </td>
                        <td id="item3" style="width:90px;text-align:center">
                            @if (@Model.OrderDetailList[i].LogisticsStatus > 0)
                            {
                                <span style="color:#00AA00">@Model.OrderDetailList[i].LogisticsStatus_Name</span>
                            }
                            else
                            {
                                <span style="color:red">@Model.OrderDetailList[i].LogisticsStatus_Name</span>
                            }
                        </td>
                        <td id="item5" style="width:160px;text-align:center">
                            @Model.OrderDetailList[i].Company_Name
                        </td>
                        <td id="item6" style="width:60px;text-align:center">
                            @Model.OrderDetailList[i].BuySize
                        </td>
                        <td id="item7" style="width:60px;text-align:center">
                            @Model.OrderDetailList[i].BuyQuantity
                        </td>
                        <td id="item8" style="width:70px;text-align:center">
                            @Model.OrderDetailList[i].BuyPrice
                        </td>
                        <td id="item9" style="width:70px;text-align:center">
                            @Model.OrderDetailList[i].BuyTotal.ToString("N0")
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        if (@Model.AgreeRefund == false)
        {
            <span style=" padding-top: 5px;float:left">
                <input type="submit" value="儲存" id="save_sort" onclick="return Send()" />
            </span>
        }
    }
</div>

<span style="float:right;padding-right:50px; padding-top:5px;"><b>總計：$@Model.BuyTotal.ToString("N0")</b></span>
<br><br>