﻿@using Mith.Areas.GoX.Models
@using Mith.Models;
@model Mith.Areas.GoX.Models.ReturnGoodsModel.ReturnGoodsShow
@Scripts.Render("~/js/AdminReturnGoodsEdit")
@Styles.Render("~/css/AdminOrderEdit")
@Styles.Render("~/css/Loading")
<script src="~/Scripts/plugin/Loading/jquery.isloading.min.js" type="text/javascript"></script>

<div>
    <span style="font-weight:bold">退貨明細</span>
    <table id="OrderDetailTable" class="table table-striped" style="width:1150px">
        <thead>
            <tr>
                <th id="item1" style="width:240px">訂單資訊</th>
                <th id="item2" style="width:300px">退貨人</th>
                <th id="item3" style="width:280px">退貨資訊</th>
                <th id="item4" style="width:330px">備註</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td id="item1">
                    建立時間：@Model.CreateTime.ToString("yyyy/MM/dd HH:mm")<br>
                    訂單編號：@Model.SN<br>
                    退貨方式：@Model.LogisticsType_Name
                    @*關係訂單：@Model.RelativeSN*@
                </td>
                <td id="item2">
                    @if (Model.LogisticsType == 1)
                    {
                        <text>

                            姓名：@Model.ReceiverName
                            <br>
                            電話：@Model.ReceiverTel
                            <br>

                            地址：@Model.ReceiverAddress
                            <br>
                            取件時段：@Model.ReceiveTimeRange_Name
                        </text>
                    }
                    else
                    {
                        <text>7-11</text>
                    }
                </td>
                <td id="item3">
                    物流編號：
                    @if (!string.IsNullOrWhiteSpace(Model.PackageSN))
                    {
                        @Model.PackageSN
                    }
                    else
                    {
                        <a href="http://www.t-cat.com.tw/inquire/TraceDetail.aspx?ReturnUrl=Trace.aspx&BillID=@Model.LogisticsSN" target="_blank">@Model.LogisticsSN</a>
                    }
                    <br>
                    退貨時間：@Model.CreateTime.ToString("yyyy/MM/dd HH:mm")
                    <br>
                    退貨廠商：@Model.Company_Name
                    <br>
                    已收到貨：
                    @if (Model.ReturnGoods)
                    {
                        <span style="color:#00AA00">是</span>
                        <br>
                        <text>到貨時間：</text>
                        if (Model.LogisticsType == 1)
                        {
                            if (!string.IsNullOrWhiteSpace(Model.ReturnGoodsTime.ToString()))
                            {
                                <text>@Model.ReturnGoodsTime.Value.ToString("yyyy/MM/dd HH:mm")</text>
                            }
                            else
                            {
                                <text>無</text>
                            }
                        }
                        else
                        {
                            if (!string.IsNullOrWhiteSpace(Model.ArriveInTime.ToString()))
                            {
                                <text>@Model.ArriveInTime.Value.ToString("yyyy/MM/dd HH:mm")</text>
                            }
                            else
                            {
                                <text>無</text>
                            }
                        }
                        <br>
                        <text>同意退款：</text>
                        if (Model.AgreeRefund)
                        {
                            <span style="color:#00AA00">是</span>
                        }
                        else
                        {
                            <span style="color:red">否</span>
                        }
                    }
                    else
                    {
                        <span style="color:red">否</span>
                    }
                </td>
                <td id="item4">
                    @if (!string.IsNullOrWhiteSpace(Model.Remark))
                    {
                        @Model.Remark
                    }
                    else
                    {
                        <text>無</text>
                    }
                </td>
            </tr>
        </tbody>
    </table>
    <br>
    <span style="font-weight:bold">商品明細</span>
    @using (Ajax.BeginForm("Get_SelectGoosList", "Order", new AjaxOptions { UpdateTargetId = "UpdateArea", HttpMethod = "GET" }, new { id = "ReturnGoodsForm" }))
    {
        <table id="GoodsDetailTable" class="table table-striped" style="width:1150px;margin-top:5px">
            <thead>
                <tr>
                    <th id="item1" style="width:320px">名稱</th>
                    <th id="item2" style="width:140px">類別</th>
                    <th id="item2" style="width:60px">顏色</th>
                    <th id="item3" style="width:90px">物流狀態</th>
                    <th id="item5" style="width:160px">廠商</th>
                    <th id="item6" style="width:60px">尺寸</th>
                    <th id="item7" style="width:60px">數量</th>
                    <th id="item8" style="width:70px">單價</th>
                    <th id="item9" style="width:70px">小計</th>
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < Model.OrderDetailList.Count(); i++)
                {
                    <tr>
                        <td id="item1" style="width:320px;text-align:left!important;padding-left:5px">
                            【@Model.OrderDetailList[i].Goods_SN】
                            @Model.OrderDetailList[i].Goods_Name
                        </td>
                        <td id="item2" style="width:140px;text-align:center">
                            @Model.OrderDetailList[i].Goods_TypeName
                        </td>
                        <td id="item2" style="width:60px;text-align:center">
                            @Model.OrderDetailList[i].Goods_ColorName
                        </td>
                        <td id="item3" style="width:90px;text-align:center">
                            @if (@Model.OrderDetailList[i].LogisticsStatus > 0)
                            {
                                <span style="color:#00AA00">@Model.OrderDetailList[i].LogisticsStatus_Name</span>
                            }
                            else
                            {
                                <span style="color:red">@Model.OrderDetailList[i].LogisticsStatus_Name</span>
                            }
                        </td>
                        <td id="item5" style="width:160px;text-align:center">
                            @Model.OrderDetailList[i].Company_Name
                        </td>
                        <td id="item6" style="width:60px;text-align:center">
                            @Model.OrderDetailList[i].BuySize
                        </td>
                        <td id="item7" style="width:60px;text-align:center">
                            @Model.OrderDetailList[i].BuyQuantity
                        </td>
                        <td id="item8" style="width:70px;text-align:center">
                            @Model.OrderDetailList[i].BuyPrice
                        </td>
                        <td id="item9" style="width:70px;text-align:center">
                            @Model.OrderDetailList[i].BuyTotal.ToString("N0")
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
</div>
<span style="float:right;padding-right:50px; padding-top:5px;"><b>總計：$@Model.BuyTotal.ToString("N0")</b></span>
<br><br>