﻿@using Mith.Areas.GoX.Models;
@using Mith.Models;
@model List<ReturnGoodsModel.ReturnGoodsShow>
@{
    List<Category> StatusList = new List<Category>();
    StatusList = Method.GetCategoryList(10, "Status");

    int p = 1;
    if (ViewData["p"] != null)
    {
        p = (int)ViewData["p"];
    }
    string keyword = "";
    if (ViewData["keyword"] != null)
    {
        keyword = ViewData["keyword"] as string;
    }

    int Search_LogisticsStatus = 0;
    if (ViewData["Search_LogisticsStatus"] != null)
    {
        Search_LogisticsStatus = (int)ViewData["Search_LogisticsStatus"];
    }

    int Search_AgreeRefund = 0;
    if (ViewData["Search_AgreeRefund"] != null)
    {
        Search_AgreeRefund = (int)ViewData["Search_AgreeRefund"];
    }

    int Search_NotLogisticsSN = 0;
    if (ViewData["Search_NotLogisticsSN"] != null)
    {
        Search_NotLogisticsSN = (int)ViewData["Search_NotLogisticsSN"];
    }

    DateTime? CreateTime_St = ViewData["CreateTime_St"] as DateTime?;
    DateTime? CreateTime_End = ViewData["CreateTime_End"] as DateTime?;
    string ct_start = "";
    string ct_end = "";
    if (CreateTime_St != null)
    {
        ct_start = CreateTime_St.Value.ToString("yyyy/MM/dd HH:mm:ss");
    }
    if (CreateTime_End != null)
    {
        ct_end = CreateTime_End.Value.ToString("yyyy/MM/dd HH:mm:ss");
    }
    string err = "";
    if (TempData["err"] != null && TempData["err"] != "")
    {
        err = TempData["err"] as string;
    }
}
@Scripts.Render("~/js/AdminReturnGoodsIndex")
@Styles.Render("~/css/AdminReturnGoodsIndex_Company")
@if (TempData["FromAction"] != null)
{
    <script>
        var messag = @Html.Raw(Json.Encode(TempData["FromAction"]));
        alert(messag)
    </script>
}
@if (err != "")
{
    @: 操作失敗<br>
    @err
}
else
{
    @*<div class="func_item">
            <ul>
                <li>
                    <input type="button" value="匯出" id="save_sort" onclick="Export();">
                </li>
            </ul>
        </div>*@
    <fieldset class="confirm2">
        <div class="search_area">
            <form action="/GoX/ReturnGoods/Index_Company" method="get" name="SearchForm">
                <label for="keyword">　　關鍵字</label>&ensp;
                <input type="text" name="keyword" id="keyword" value="@keyword" placeholder="訂單編號、物流編號" />
                <br>
                <label class="Add_Top">　物流狀態</label>&ensp;
                <input type="radio" value="0" name="Search_LogisticsStatus" @if (Search_LogisticsStatus == 0) { <text> checked</text>} /><label> 全部</label>&ensp;
                <input type="radio" value="8" name="Search_LogisticsStatus" @if (Search_LogisticsStatus == 8) { <text> checked</text>} style="margin-right: 4px;" /><label>退回門市中</label>&ensp;

                <input type="radio" value="9" name="Search_LogisticsStatus" @if (Search_LogisticsStatus == 9) { <text> checked</text>} style="margin-right: 4px;" /><label>已退回門市</label>&ensp;

                <input type="radio" value="3" name="Search_LogisticsStatus" @if (Search_LogisticsStatus == 3) { <text> checked</text>} style="margin-right: 4px;" /><label>退貨中</label>&ensp;

                <input type="radio" value="4" name="Search_LogisticsStatus" @if (Search_LogisticsStatus == 4) { <text> checked</text>} /><label>收到退貨</label>
                <br>
                <label class="Add_Top">　同意退款 </label>&ensp;
                <input type="radio" value="0" name="Search_AgreeRefund" @if (Search_AgreeRefund == 0) { <text> checked</text>} /><label for="enable">全部</label>&ensp;
                <input type="radio" value="1" name="Search_AgreeRefund" @if (Search_AgreeRefund == 1) { <text> checked</text>} /><label for="enable">是</label>&ensp;
                <input type="radio" value="2" name="Search_AgreeRefund" @if (Search_AgreeRefund == 2) { <text> checked</text>} /><label for="disable">否</label>
                <br />
                <label for="create_time_start" class="Add_Top">無物流編號</label>&ensp;
                <input type="checkbox" value="1" name="Search_NotLogisticsSN" @if (Search_NotLogisticsSN == 1) { <text> checked</text>} />
                <br>
                <label for="create_time_start" class="Add_Top">　退貨日期</label>&ensp;
                <input type="text" name="CreateTime_St" id="CreateTime_St" class="date_search" value="@ct_start" /> ~
                <input type="text" name="CreateTime_End" id="CreateTime_End" class="date_search" value="@ct_end" />
                &emsp;
                <input type="submit" value="查詢">
            </form>

        </div>
    </fieldset>

    <br>
    <div class="showdata" id="update">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th class="item1">
                        @Html.DisplayNameFor(model => model[0].SN)
                    </th>
                    <th class="item2">
                        @Html.DisplayNameFor(model => model[0].LogisticsSN)
                    </th>
                    <th class="item2">
                        @Html.DisplayNameFor(model => model[0].LogisticsType)
                    </th>
                    <th class="item3">
                        退貨商品
                    </th>
                    <th class="item4">
                        @Html.DisplayNameFor(model => model[0].BuyTotal)
                    </th>
                    <th class="item6">
                        @Html.DisplayNameFor(model => model[0].CreateTime)
                    </th>
                    <th class="item7">
                        同意退款
                    </th>
                    <th class="item8">
                        詳情
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td class="item1">
                            @item.SN
                        </td>
                        <td class="item2">
                            @if (!string.IsNullOrWhiteSpace(item.PackageSN))
                            {

                                <a href="https://eservice.7-11.com.tw/e-tracking/search.aspx?@item.PackageSN" target="_blank">@item.PackageSN</a>
                            }
                            else
                            {
                                <a href="http://www.t-cat.com.tw/inquire/TraceDetail.aspx?ReturnUrl=Trace.aspx&BillID=@item.LogisticsSN" target="_blank">@item.LogisticsSN</a>
                            }
                        </td>
                        <td class="item2">
                            @item.LogisticsType_Name
                        </td>

                        <td class="item3" style="text-align:left!important;line-height:25px;padding-left:10px;padding-right:10px;">
                            @if (item.OrderDetailList.Count() > 0)
                            {

                                for (int i = 0; i < item.OrderDetailList.Count(); i++)
                                {
                                    <span style="">
                                        【@item.OrderDetailList[i].Goods_SN】<br>
                                        @item.OrderDetailList[i].Goods_Name<br>
                                        數量：@item.OrderDetailList[i].BuySize ×
                                        @item.OrderDetailList[i].BuyQuantity
                                        <br>
                                        物流：
                                        @if (@item.OrderDetailList[i].LogisticsStatus > 0)
                                        {
                                            <span style="color:#00AA00">@item.OrderDetailList[i].LogisticsStatus_Name</span>
                                        }
                                        else
                                        {
                                            <span style="color:red">@item.OrderDetailList[i].LogisticsStatus_Name</span>
                                        }
                                    </span>
                                    if (i < @item.OrderDetailList.Count() - 1)
                                    {
                                        <hr style="margin-top:10px;margin-bottom:10px;border-top: 1px dashed #2966df;">
                                    }
                                }
                            }
                        </td>
                        <td class="item4">
                            $ @item.BuyTotal.ToString("N0")
                        </td>
                        <td class="item6">
                            @item.CreateTime.ToString("yyyy/MM/dd HH:mm")

                        </td>
                        <td class="item7">
                            @if (item.AgreeRefund)
                            {
                                <span style="color:#00AA00">是</span>
                            }
                            else
                            {
                                <span style="color:red">否</span>
                            }
                        </td>
                        <td class="item8">
                            @if ((bool)Session["Update"] == true)
                            {
                                @Html.ActionLink("詳情", "Edit_Company", new { Id = item.Id })
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <div class="del_chk">
            @Html.Partial("_PartialPage")
        </div>
    </div>
}
