﻿@using Mith.Models;
@{

    int Role = Mith.Models.Method.Get_UserRole_Admin(Request.Cookies, Session);
    List<GoodsPic> Get_PicList = new List<GoodsPic>();
    if (ViewData["Get_PicList"] != null)
    {
        Get_PicList = ViewData["Get_PicList"] as List<GoodsPic>;
    }
    int count = Get_PicList.Count();
}

@if (ViewData["Delete"] != null)
{
    <script>
        var messag = @Html.Raw(Json.Encode(ViewData["Delete"]));
        alert(messag);
    </script>
}
<input type="hidden" id="PicCount" value="@count">
@foreach (var i in Get_PicList)
{
    <li>
        @if (Role == 2)
        {
            <label style=" display: block;text-align:center">
                <input type="checkbox" value="@i.Id" name="delete" />刪除
            </label>
        }
        <a class="example-image-link" href="@i.Pic_Middle" data-lightbox="example-set" data-title="">
            <img class="example-image" src="@i.Pic_Small" alt="" style="width:80px;height:auto" />
        </a>
        @if (Role == 2)
        {
            if (i.Show == true)
            {
                <label style=" display: block;text-align:center;padding-top: 4px;">
                    <input type="radio" value="@i.Id" name="Show" id="Show" checked />封面
                </label>
            }
            else
            {
                <label style=" display: block;text-align:center;padding-top: 4px;">
                    <input type="radio" value="@i.Id" name="Show" id="Show" />封面
                </label>
            }

        }
    </li>
        count++;
}