﻿@using Mith.Areas.GoX.Models
@using Mith.Models
@model Mith.Areas.GoX.Models.GoodsModel.GoodsShow
@{

    List<Category> SeasonList = new List<Mith.Models.Category>();
    SeasonList = Method.GetCategoryList(8, "Season");

    List<Category> ColorList = new List<Mith.Models.Category>();
    ColorList = Method.GetCategoryList(8, "Color");

    List<Category> StyleList = new List<Mith.Models.Category>();
    StyleList = Method.GetCategoryList(8, "Style");

    List<Category> FitList = new List<Mith.Models.Category>();
    FitList = Method.GetCategoryList(8, "Fit");
}
@Styles.Render("~/css/AdminGoodsEdit")
@Scripts.Render("~/js/AdminGoodsCreate")
@Styles.Render("~/css/Loading")
<script src="~/Scripts/plugin/Loading/jquery.isloading.min.js" type="text/javascript"></script>

<div id="overlay" style="display:none;"></div>
<div id="dialog2" title="商品照說明">
    <div style="margin-top:10px;padding-left:5px;line-height:30px">
        <label>1. 最多上傳6張</label><br>
        <label>2. 需為橫幅，高度：800像素、寬度：1080像素</label><br>
    </div>
</div>

@using (Html.BeginForm("Create_Step2", "Goods", FormMethod.Post, new { @Id = "Form", @enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @Html.HiddenFor(model => model.Id)
    @Html.HiddenFor(model => model.CompanyId)
    @Html.HiddenFor(model => model.BrandId)
    @Html.HiddenFor(model => model.SN)
    @Html.HiddenFor(model => model.Name)
    @Html.HiddenFor(model => model.Price)
    @Html.HiddenFor(model => model.SpecialOffer)
    @Html.HiddenFor(model => model.Type)
    @Html.HiddenFor(model => model.LimitOrderStart)
    @Html.HiddenFor(model => model.LimitOrderEnd)
    @Html.HiddenFor(model => model.FewDaysShipping)
    @Html.HiddenFor(model => model.SizeType)
    @Html.HiddenFor(model => model.F)
    @Html.HiddenFor(model => model.XS)
    @Html.HiddenFor(model => model.S)
    @Html.HiddenFor(model => model.M)
    @Html.HiddenFor(model => model.L)
    @Html.HiddenFor(model => model.XL)
    @Html.HiddenFor(model => model.XXL)
    @Html.HiddenFor(model => model.Content)

    @Html.HiddenFor(model => model.Style)
    @Html.HiddenFor(model => model.Fit)

    <fieldset style="width:100%">
        <table style="background-color: #f1f2f7 ">
            <tr>
                <td>
                    <div class="">
                        @Html.LabelFor(model => model.SN)
                    </div>
                    <div class="editor-field">
                        @Html.DisplayFor(model => model.SN)
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="editor-label">
                        @Html.LabelFor(model => model.Name)
                    </div>
                    <div class="editor-field">
                        @Html.DisplayFor(model => model.Name)
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="editor-label">
                        @Html.LabelFor(model => model.Files)
                        <i class="fa fa-question-circle" onclick="OpenDialog_QA()"></i>
                    </div>
                    <div class="editor-field">
                        @Html.TextBoxFor(model => model.Files, new { @type = "file", @multiple = "multiple", @accept = "image/*", id = "Files" })
                        @Html.ValidationMessageFor(model => model.Files)
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="editor-label">
                        @Html.LabelFor(model => model.Season)
                    </div>
                    <div class="editor-field">
                        @for (int i = 0; i < SeasonList.Count(); i++)
                        {
                            <input type="radio" name="Season" value="@SeasonList[i].Number" @if (i == 0) { <text> checked </text> }>
                            @SeasonList[i].Name<text>&emsp;</text>
                        }
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="editor-label">
                        @Html.LabelFor(model => model.Color)
                    </div>
                    <div class="editor-field">
                        @for (int i = 0; i < ColorList.Count(); i++)
                        {
                            <input type="radio" name="Color" value="@ColorList[i].Number" @if (i == 0) { <text> checked </text>  }>
                            @ColorList[i].Name<text>&emsp;</text>
                        }
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="editor-label">
                        @Html.LabelFor(model => model.Style)
                    </div>
                    <div class="editor-field">
                        @for (int i = 0; i < StyleList.Count(); i++)
                        {
                            <input type="checkbox" name="StyleList" value="@StyleList[i].Number">
                            @StyleList[i].Name<text>&emsp;</text>
                        }
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="editor-label">
                        @Html.LabelFor(model => model.Fit)
                    </div>
                    <div class="editor-field">
                        @for (int i = 0; i < FitList.Count(); i++)
                        {
                            <input type="checkbox" name="FitList" value="@FitList[i].Number">
                            @FitList[i].Name<text>&emsp;</text>
                        }
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="editor-label">
                        <input type="submit" value="新增" id="save_sort" onclick="return Step2_Send()" />
                    </div>
                </td>
            </tr>
        </table>
    </fieldset>

}