﻿@using Mith.Areas.GoX.Models
@using Mith.Models
@model Mith.Areas.GoX.Models.GoodsModel.GoodsShow
@{
    int CompanyId = (int)ViewData["CompanyId"];
    bool IsLimitOrder = (bool)ViewData["IsLimitOrder"];

    List<Category> SizeList = new List<Category>();
    SizeList = Method.GetCategoryList(8, "Size");

}
@Scripts.Render("~/js/AdminGoodsCreate")

@using (Html.BeginForm("Create_Step1", "Goods", FormMethod.Post, new { @Id = "Form", @enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @Html.Hidden("IsLimitOrder", @IsLimitOrder)
    @Html.Hidden("CompanyId", @CompanyId)
    @Html.Hidden("Check_SN", "")    //判斷有沒有按驗證序號
                                    <fieldset style="width: 550px;">
                                        <table style="background-color: #f1f2f7 ">
                                            <tr>
                                                <td style="width:60%;vertical-align:top">
                                                    <div class="">
                                                        @Html.LabelFor(model => model.SN)
                                                    </div>
                                                    <div class="editor-field">
                                                        @Html.TextBoxFor(model => model.SN, new { style = "width: 150px;", @id = "SN" })
                                                        <input type="button" value="驗證" onclick="return Check_SN_Click()">
                                                        <br>
                                                        @Html.ValidationMessageFor(model => model.SN)
                                                        <span class="Valid" id="SN_Valid"></span>
                                                    </div>
                                                </td>
                                                <td style="vertical-align:top;vertical-align:top">
                                                    <div class="">
                                                        @Html.LabelFor(model => model.Name)
                                                    </div>
                                                    <div class="editor-field">
                                                        @Html.TextBoxFor(model => model.Name)
                                                        <br>
                                                        @Html.ValidationMessageFor(model => model.Name)
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="width:60%;vertical-align:top">
                                                    <a id="Link1" class="example-image-link" href="#" data-lightbox="example-set" data-title="">
                                                        <img id="Pic1" class="example-image" src="" style="height:80px; margin-top: 5px;display:none" alt="點擊圖">
                                                    </a>
                                                </td>
                                                <td></td>
                                            </tr>
                                            <tr>
                                                <td style="width:60%;vertical-align:top">
                                                    <div class="editor-label" style="margin-top:13px">
                                                        @Html.LabelFor(model => model.Price)
                                                    </div>
                                                    <div class="editor-field">
                                                        @Html.TextBoxFor(model => model.Price, new { placeholder = "元" })
                                                        <br>
                                                        @Html.ValidationMessageFor(model => model.Price)
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="editor-label" style="margin-top:13px">
                                                        @Html.LabelFor(model => model.SpecialOffer)
                                                    </div>
                                                    <div class="editor-field">
                                                        @Html.TextBoxFor(model => model.SpecialOffer, new { placeholder = "元" })
                                                        <br>
                                                        @Html.ValidationMessageFor(model => model.SpecialOffer)
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="width:60%;vertical-align:top">
                                                    <div class="editor-label">
                                                        @Html.LabelFor(model => model.Type)
                                                    </div>
                                                    <div class="editor-field">
                                                        @Html.DropDownListFor(model => model.Type, Mith.Models.Method.Get_Category_SelectListItem(8, "Type", 0), new { @class = "combobox", @id = "Type" })
                                                        <br>
                                                        <span class="Valid" id="Type_Valid">必填欄位</span>
                                                    </div>

                                                    <div id="LimitOrderGroup" style="display:none;margin-top:10px">
                                                        <div class="">
                                                            @Html.LabelFor(model => model.LimitOrderStart)
                                                        </div>
                                                        <div class="editor-field">
                                                            @Html.TextBoxFor(model => model.LimitOrderStart, new { @class = "date_search", @placeholder = "開始日期", id = "LimitOrderStart" }) -
                                                            @Html.TextBoxFor(model => model.LimitOrderEnd, new { @class = "date_search", @placeholder = "結束日期", id = "LimitOrderEnd" })
                                                            @Html.ValidationMessageFor(model => model.LimitOrderEnd)
                                                        </div>

                                                    </div>
                                                    <div id="FewDaysGroup" style="display:none;margin-top:10px">
                                                        <div class="">
                                                            @Html.LabelFor(model => model.FewDaysShipping)
                                                        </div>
                                                        <div class="editor-field">
                                                            @Html.TextBoxFor(model => model.FewDaysShipping, new { id = "FewDaysShipping", placeholder = "天數" })
                                                            @Html.ValidationMessageFor(model => model.FewDaysShipping)
                                                        </div>
                                                    </div>
                                                </td>
                                                <td style="vertical-align:top">
                                                    <div class="editor-label">
                                                        @Html.LabelFor(model => model.BrandId)
                                                    </div>
                                                    <div class="editor-field">
                                                        @Html.DropDownListFor(model => model.BrandId, GoodsModel.Get_Brand_SelectListItem(CompanyId, 0), new { @class = "combobox", @id = "BrandId" })
                                                        <br>
                                                        <span class="Valid" id="BrandId_Valid">必填欄位</span>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td colspan="2">
                                                    <div id="SizeGroup">
                                                        <div class="editor-label" style="margin-bottom:5px">
                                                            尺寸類型
                                                        </div>
                                                        <div class="editor-field">
                                                            <input type="radio" name="SizeType" value="Many" checked>多尺寸
                                                            &ensp;
                                                            <input type="radio" name="SizeType" value="One">單尺寸
                                                            <sapn id="ManySize" style="display:block">
                                                                <table class="table table-striped" style="width:190px;margin-top:10px">
                                                                    <tr></tr>
                                                                    <thead>
                                                                        <tr>
                                                                            <th style="width:70px;padding-left:10px">
                                                                                尺寸
                                                                            </th>
                                                                            <th style="width:120px;" id="ChangeText1">
                                                                                庫存/集單量
                                                                            </th>
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                        @for (int i = 1; i < SizeList.Count(); i++)
                                                                        {
                                                                            <tr>
                                                                                <td style="width:70px;padding-right:10px">
                                                                                    &emsp; @SizeList[i].Name
                                                                                </td>
                                                                                <td style="width:120px;">
                                                                                    @Html.TextBox(SizeList[i].Name, null, new { style = "width:50px;  margin-top: 2px; margin-bottom: 2px;" })
                                                                                    <br>
                                                                                    @Html.ValidationMessage(SizeList[i].Name)
                                                                                </td>
                                                                            </tr>
                                                                        }
                                                                    </tbody>
                                                                </table>
                                                            </sapn>
                                                            <sapn id="OneSize" style="display:none">
                                                                <table class="table table-striped" style="width:190px;margin-top:10px">
                                                                    <tr></tr>
                                                                    <thead>
                                                                        <tr>
                                                                            <th style="width:70px;padding-left:10px">
                                                                                尺寸
                                                                            </th>
                                                                            <th style="width:120px;" id="ChangeText2">
                                                                                庫存/集單量
                                                                            </th>
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody>

                                                                        <tr>
                                                                            <td style="width:70px;padding-right:10px">
                                                                                &emsp; @SizeList[0].Name
                                                                            </td>
                                                                            <td style="width:120px;">
                                                                                @Html.TextBox(SizeList[0].Name, null, new { style = "width:50px;  margin-top: 2px; margin-bottom: 2px;" })
                                                                                <br>
                                                                                @Html.ValidationMessage(SizeList[0].Name)
                                                                            </td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </sapn>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td colspan="2">
                                                    <div class="editor-label">
                                                        @Html.LabelFor(model => model.Content)
                                                    </div>
                                                    <div class="editor-field">
                                                        @Html.TextAreaFor(model => model.Content, 8, 56, new { style = "resize: none;" })
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td colspan="2">
                                                    <div class="editor-label">
                                                        <input type="submit" value="下一步" id="save_sort" onclick="return Step1_Send()" />
                                                    </div>
                                                </td>
                                            </tr>
                                        </table>
                                    </fieldset>

}