﻿@using Mith.Areas.GoX.Models;
@using Mith.Models;
@model Mith.Areas.GoX.Models.GoodsModel.GoodsShowEdit
@{
    List<Category> SeasonList = new List<Mith.Models.Category>();
    SeasonList = Method.GetCategoryList(8, "Season");

    List<Category> ColorList = new List<Mith.Models.Category>();
    ColorList = Method.GetCategoryList(8, "Color");

    List<Category> StyleList = new List<Mith.Models.Category>();
    StyleList = Method.GetCategoryList(8, "Style");

    List<Category> FitList = new List<Mith.Models.Category>();
    FitList = Method.GetCategoryList(8, "Fit");
    int check = 0;

}
@Scripts.Render("~/js/AdminGoodsEdit_Company")
@Styles.Render("~/css/AdminGoodsEdit")
@Styles.Render("~/css/Loading")
<script src="~/Scripts/plugin/Loading/jquery.isloading.min.js" type="text/javascript"></script>

<div id="overlay" style="display:none;"></div>
<div id="dialog" title="商品照片列表">
    @using (Ajax.BeginForm("Ajax_DeletePic", "Goods", new AjaxOptions { UpdateTargetId = "UpdateArea", HttpMethod = "Post" }))
    {
        <ul id="UpdateArea" style="display:none">
            @Html.Partial("_PartialImageList")
        </ul>
        <br>
    }
</div>
@using (Html.BeginForm("Edit_Step2", "Goods", FormMethod.Post, new { @Id = "Form", @enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @Html.HiddenFor(model => model.Id)
    @Html.HiddenFor(model => model.Style)
    @Html.HiddenFor(model => model.Fit)
    @Html.HiddenFor(model => model.SN)
    @Html.TextBoxFor(model => model.Files, new { @type = "file", @multiple = "multiple", @accept = "image/*", id = "Files",style="display:none"})
    
    <fieldset style="width:100%">
        <table style="background-color: #f1f2f7 ">
            <tr>
                <td>
                    <div class="">
                        @Html.LabelFor(model => model.SN)
                    </div>
                    <div class="editor-field">
                        @Html.DisplayFor(model => model.SN)
                        <br>
                        <a id="Link1" class="example-image-link" href="#" data-lightbox="example-set" data-title="">
                            <img id="Pic1" class="example-image" src="" style="height:80px; margin-top: 5px;display:none" alt="點擊圖">
                        </a>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="editor-label">
                        @Html.LabelFor(model => model.Name)
                    </div>
                    <div class="editor-field">
                        @Html.DisplayFor(model => model.Name)
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="editor-label">
                        @Html.LabelFor(model => model.Files) 
                    </div>
                    <div class="editor-field">
                        <a href="#" style="color:blue" onclick="OpenDialog()">照片列表</a>
                    </div>

                </td>
            </tr>
            <tr>
                <td>
                    <div class="editor-label">
                        @Html.LabelFor(model => model.Season)
                    </div>
                    <div class="editor-field">
                        @for (int i = 0; i < SeasonList.Count(); i++)
                        {
                            check = i + 1;
                            <input type="radio" name="Season" value="@SeasonList[i].Number" @if (check == Model.Season) { <text> checked </text> } >
                            @SeasonList[i].Name<text>&emsp;</text>}
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="editor-label">
                        @Html.LabelFor(model => model.Color)
                    </div>
                    <div class="editor-field">
                        @for (int i = 0; i < ColorList.Count(); i++)
                        {
                            check = i + 1;
                            //選擇其他
                            if (check == ColorList.Count())
                            {
                                check = 999;
                            }
                            <input type="radio" name="Color" value="@ColorList[i].Number" @if (check == Model.Color) { <text> checked </text>     } >
                            @ColorList[i].Name<text>&emsp;</text>
                        }
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="editor-label">
                        @Html.LabelFor(model => model.Style)
                    </div>
                    <div class="editor-field">
                        @for (int i = 0; i < StyleList.Count(); i++)
                        {
                            <input type="checkbox" name="StyleList" value="@StyleList[i].Number" @if (Model.Style.Contains(@StyleList[i].Number.ToString())) { <text> checked</text>} >
                            @StyleList[i].Name<text>&emsp;</text>
                        }
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="editor-label">
                        @Html.LabelFor(model => model.Fit)
                    </div>
                    <div class="editor-field">
                        @for (int i = 0; i < FitList.Count(); i++)
                        {
                            <input type="checkbox" name="FitList" value="@FitList[i].Number" @if (Model.Fit.Contains(@FitList[i].Number.ToString())) { <text> checked</text>} >
                            @FitList[i].Name<text>&emsp;</text>
                        }
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="editor-label">
                        @Html.LabelFor(model => model.CreateTime)
                    </div>
                    <div class="editor-field">
                        @Model.CreateTime.Value.ToString("yyyy/MM/dd HH:mm")
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="editor-label">
                        @Html.LabelFor(model => model.UpdateTime)
                    </div>
                    <div class="editor-field">
                        @Model.UpdateTime.Value.ToString("yyyy/MM/dd HH:mm")
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="editor-label">
                        @Html.LabelFor(model => model.LastUser_Name)
                    </div>
                    <div class="editor-field">
                        @Html.DisplayFor(model => model.LastUser_Name)
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="editor-label">
                        <input type="submit" value="儲存" id="save_sort" onclick="return Step2_Send()" />
                    </div>
                </td>
            </tr>
        </table>
    </fieldset>

}