﻿@using Mith.Areas.GoX.Models
@using Mith.Models
@model Mith.Areas.GoX.Models.GoodsModel.GoodsShowEdit
@{
    List<Category> StatusList = new List<Category>();
    StatusList = Method.GetCategoryList(8, "Status");
}
@Scripts.Render("~/js/AdminGoodsEdit_Mith")
@Styles.Render("~/css/Loading")
<script src="~/Scripts/plugin/Loading/jquery.isloading.min.js" type="text/javascript"></script>


@using (Html.BeginForm("Edit_Step1", "Goods", FormMethod.Post, new { @Id = "Form", @enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @Html.HiddenFor(model => model.Id)
    @Html.HiddenFor(model => model.CompanyId)
    @Html.HiddenFor(model => model.BrandId)
    @Html.HiddenFor(model => model.Name)
    @Html.HiddenFor(model => model.Price)
    @Html.HiddenFor(model => model.SpecialOffer)
    @Html.HiddenFor(model => model.Type)
    @Html.HiddenFor(model => model.Files)
    @Html.HiddenFor(model => model.LimitOrderStart)
    @Html.HiddenFor(model => model.LimitOrderEnd)
    @Html.HiddenFor(model => model.FewDaysShipping)
    @Html.HiddenFor(model => model.SizeType)
    @Html.HiddenFor(model => model.F)
    @Html.HiddenFor(model => model.XS)
    @Html.HiddenFor(model => model.S)
    @Html.HiddenFor(model => model.M)
    @Html.HiddenFor(model => model.L)
    @Html.HiddenFor(model => model.XL)
    @Html.HiddenFor(model => model.XXL)
    @Html.HiddenFor(model => model.Content)
    @Html.Hidden("Check_SN", "")    //判斷有沒有按驗證序號
                
                                    <fieldset style="width: 600px;">
                                        <table style="background-color: #f1f2f7 ">
                                            <tr>
                                                <td style="width:45%">
                                                    <div class="">
                                                        @Html.LabelFor(model => model.SN)
                                                    </div>
                                                    <div class="editor-field">
                                                        @Html.TextBoxFor(model => model.SN, new { style = "width: 150px;", @id = "SN" })
                                                        <input type="button" value="驗證" onclick="return Check_SN_Click()">
                                                        <br>
                                                        @Html.ValidationMessageFor(model => model.SN)
                                                        <span class="Valid" id="SN_Valid"></span>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="">
                                                        @Html.LabelFor(model => model.Name)
                                                    </div>
                                                    <div class="editor-field">
                                                        @Html.DisplayFor(model => model.Name)
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td colspan="2">
                                                    <a id="Link1" class="example-image-link" href="#" data-lightbox="example-set" data-title="">
                                                        <img id="Pic1" class="example-image" src="" style="height:80px; margin-top: 5px;display:none" alt="穿搭圖(商品)">
                                                    </a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="width:45%">
                                                    <div class="editor-label">
                                                        @Html.LabelFor(model => model.Price)
                                                    </div>
                                                    <div class="editor-field">
                                                        @Html.DisplayFor(model => model.Price) 元
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="editor-label">
                                                        @Html.LabelFor(model => model.SpecialOffer)
                                                    </div>
                                                    <div class="editor-field">
                                                        @if (Model.SpecialOffer != null)
                                                        {
                                                            @Html.DisplayFor(model => model.SpecialOffer)
                                                            <text> 元</text>
                                                        }
                                                        else
                                                        {
                                                            <text>無</text>
                                                        }
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="width:45%; vertical-align: top;">
                                                    <div class="editor-label">
                                                        @Html.LabelFor(model => model.Type)
                                                    </div>
                                                    <div class="editor-field">
                                                        @Html.DisplayFor(model => model.Type_Name)
                                                        <div id="LimitOrderGroup" style="display:none;margin-top:10px">
                                                            <div class="">
                                                                @Html.LabelFor(model => model.LimitOrderStart)
                                                            </div>
                                                            <div class="editor-field">
                                                                @if (@Model.LimitOrderStart != null)
                                                                {
                                                                    @Model.LimitOrderStart.Value.ToString("yyyy/MM/dd")
                                                                }
                                                                -
                                                                @if (@Model.LimitOrderEnd != null)
                                                                {
                                                                    @Model.LimitOrderEnd.Value.ToString("yyyy/MM/dd")
                                                                }
                                                            </div>
                                                        </div>
                                                        <div id="FewDaysGroup" style="display:none;margin-top:10px">
                                                            <div class="">
                                                                @Html.LabelFor(model => model.FewDaysShipping)
                                                            </div>
                                                            <div class="editor-field">
                                                                @Model.FewDaysShipping 天
                                                            </div>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td style=" vertical-align: top;">
                                                    <div class="editor-label">
                                                        @Html.LabelFor(model => model.Status)
                                                    </div>
                                                    <div class="editor-field">
                                                        @for (int i = 0; i < StatusList.Count(); i++)
                                                        {
                                                            //狀態=待覆核
                                                            if (Model.Status == 1)
                                                            {
                                                                <input type="radio" name="Status" value="@StatusList[i].Number" @if (Model.Status == StatusList[i].Number) { <text> checked </text>               } />
                                                                @StatusList[i].Name
                                                                <text>&ensp;</text>
                                                            }
                                                            //狀態=覆核
                                                            else if (Model.Status == 2)
                                                            {
                                                                //不能選取待覆核
                                                                if (i > 0)
                                                                {
                                                                    <input type="radio" name="Status" value="@StatusList[i].Number" @if (Model.Status == StatusList[i].Number) { <text> checked </text>                } />
                                                                    @StatusList[i].Name
                                                                    <text>&ensp;</text>
                                                                }
                                                            }
                                                            //狀態=上架、下架
                                                            else
                                                            {
                                                                //不能選取待覆核
                                                                if (i > 1)
                                                                {
                                                                    <input type="radio" name="Status" value="@StatusList[i].Number" @if (Model.Status == StatusList[i].Number) { <text> checked </text>                 } />
                                                                    @StatusList[i].Name
                                                                    <text>&ensp;</text>
                                                                }
                                                            }
                                                        }

                                                    </div>
                                                </td>
                                            </tr>

                                            <tr>
                                                <td style="width:45%">
                                                    <div id="SizeGroup">
                                                        <div class="editor-label" style="margin-bottom:5px">
                                                            尺寸類型：
                                                            @if (Model.SizeType == "Many")
                                                            {
                                                                <text>多尺寸</text>
                                                            }
                                                            else
                                                            {
                                                                <text>單尺寸</text>
                                                            }
                                                        </div>
                                                        <div class="editor-field">
                                                            <sapn id="ManySize" style="margin-top: 5px;">
                                                                <table class="table table-striped" style="width:220px;margin-top:10px">
                                                                    <tr></tr>
                                                                    <thead>
                                                                        <tr>
                                                                            <th style="width:60px;padding-left:10px">
                                                                                尺寸
                                                                            </th>
                                                                            <th style="width:100px;">
                                                                                @if (Model.Type == 3)
                                                                                {
                                                                                    <text>集單量</text>
                                                                                }
                                                                                else
                                                                                {
                                                                                    <text>庫存量</text>
                                                                                }
                                                                            </th>
                                                                            <th style="width:60px;">
                                                                                銷售量
                                                                            </th>
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                        @for (int i = 1; i < Model.SizeList.Count(); i++)
                                                                        {
                                                                            <tr>
                                                                                <td style="padding-right:10px">
                                                                                    &emsp; @Model.SizeList[i].Name
                                                                                </td>
                                                                                <td>
                                                                                    <label style="margin-top: 2px; margin-bottom: 2px;">
                                                                                        @Model.SizeList[i].Quantity
                                                                                    </label>
                                                                                </td>
                                                                                <td>
                                                                                    @Model.SizeList[i].SellQuantity
                                                                                </td>
                                                                            </tr>
                                                                        }
                                                                    </tbody>
                                                                </table>
                                                            </sapn>
                                                            <sapn id="OneSize" style="margin-top: 5px;">
                                                                <table class="table table-striped" style="width:220px;margin-top:10px">
                                                                    <tr></tr>
                                                                    <thead>
                                                                        <tr>
                                                                            <th style="width:60px;padding-left:10px">
                                                                                尺寸
                                                                            </th>
                                                                            <th style="width:100px;">
                                                                                庫存/集單量
                                                                            </th>
                                                                            <th style="width:60px;">
                                                                                銷售量
                                                                            </th>
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                        <tr>
                                                                            <td style="padding-right:10px">
                                                                                &emsp; @Model.SizeList[0].Name
                                                                            </td>
                                                                            <td>
                                                                                <label style="margin-top: 2px; margin-bottom: 2px;">
                                                                                    @Model.SizeList[0].Quantity
                                                                                </label>
                                                                            </td>
                                                                            <td>
                                                                                @Model.SizeList[0].SellQuantity
                                                                            </td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </sapn>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td style="vertical-align:top"></td>
                                            </tr>
                                            <tr>
                                                <td colspan="2">
                                                    <div class="editor-label">
                                                        @Html.LabelFor(model => model.Content)
                                                    </div>
                                                    <div class="editor-field">
                                                        @Html.TextAreaFor(model => model.Content, 8, 56, new { style = "resize: none;", @disabled = "true" })
                                                    </div>
                                                </td>

                                            <tr>
                                                <td style="width:45%">
                                                    <div class="editor-label">
                                                        @Html.LabelFor(model => model.NoticeCount)
                                                    </div>
                                                    <div class="editor-field">
                                                        @Html.DisplayFor(model => model.NoticeCount) 次
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="editor-label">
                                                        @Html.LabelFor(model => model.CreateTime)
                                                    </div>
                                                    <div class="editor-field">
                                                        @Model.CreateTime.Value.ToString("yyyy/MM/dd HH:mm")
                                                    </div>

                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="width:45%">
                                                    <div class="editor-label">
                                                        @Html.LabelFor(model => model.UpdateTime)
                                                    </div>
                                                    <div class="editor-field">
                                                        @Model.UpdateTime.Value.ToString("yyyy/MM/dd HH:mm")
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="editor-label">
                                                        @Html.LabelFor(model => model.LastUser_Name)
                                                    </div>
                                                    <div class="editor-field">
                                                        @Html.DisplayFor(model => model.LastUser_Name)
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="width:45%">
                                                    <div class="editor-label">
                                                        廠商 / 品牌
                                                    </div>
                                                    <div class="editor-field">
                                                        @Html.DisplayFor(model => model.Company_Name) /<br>
                                                        @Html.DisplayFor(model => model.Brand_Name)
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="editor-label">
                                                        <input type="submit" value="下一步" id="save_sort" onclick="return Step1_Send()" />
                                                    </div>
                                                </td>
                                            </tr>
                                        </table>

                                    </fieldset>

}
