﻿@using Mith.Areas.GoX.Models;
@using Mith.Models;
@model List<GoodsModel.GoodsShow>
@{
    List<Category> StatusList = new List<Category>();
    StatusList = Method.GetCategoryList(8, "Status");

    int p = 1;
    if (ViewData["p"] != null)
    {
        p = (int)ViewData["p"];
    }
    string keyword = "";
    if (ViewData["keyword"] != null)
    {
        keyword = ViewData["keyword"] as string;
    }
    int Search_Type = 0;
    if (ViewData["Search_Type"] != null)
    {
        Search_Type = (int)ViewData["Search_Type"];
    }
    string Search_Pattern = "0";
    if (ViewData["Search_Pattern"] != null)
    {
        Search_Pattern = (string)ViewData["Search_Pattern"];
    }
    int Search_Season = 0;
    if (ViewData["Search_Season"] != null)
    {
        Search_Season = (int)ViewData["Search_Season"];
    }
    int Search_Color = 0;
    if (ViewData["Search_Color"] != null)
    {
        Search_Color = (int)ViewData["Search_Color"];
    }
    int Search_Style = 0;
    if (ViewData["Search_Style"] != null)
    {
        Search_Style = (int)ViewData["Search_Style"];
    }
    int Search_Fit = 0;
    if (ViewData["Search_Fit"] != null)
    {
        Search_Fit = (int)ViewData["Search_Fit"];
    }
    int Search_Status = 0;
    if (ViewData["Search_Status"] != null)
    {
        Search_Status = (int)ViewData["Search_Status"];
    }
    int Search_SpecialOffer = 0;
    if (ViewData["Search_SpecialOffer"] != null)
    {
        Search_SpecialOffer = (int)ViewData["Search_SpecialOffer"];
    }
    int Search_Quantity_Total = 0;
    if (ViewData["Search_Quantity_Total"] != null)
    {
        Search_Quantity_Total = (int)ViewData["Search_Quantity_Total"];
    }


    DateTime? CreateTime_St = ViewData["CreateTime_St"] as DateTime?;
    DateTime? CreateTime_End = ViewData["CreateTime_End"] as DateTime?;
    string ct_start = "";
    string ct_end = "";
    if (CreateTime_St != null)
    {
        ct_start = CreateTime_St.Value.ToString("yyyy/MM/dd HH:mm:ss");
    }
    if (CreateTime_End != null)
    {
        ct_end = CreateTime_End.Value.ToString("yyyy/MM/dd HH:mm:ss");
    }
    string TypeSort = "";
    if (ViewData["TypeSort"] != null)
    {
        TypeSort = ViewData["TypeSort"] as string;
    }
    string err = "";
    if (TempData["err"] != null && TempData["err"] != "")
    {
        err = TempData["err"] as string;
    }

    int CompanyId = (int)ViewData["CompanyId"];
    bool IsLimitOrder = Method.Get_CompanyIsLimitOrder(CompanyId);

}
@Scripts.Render("~/js/Import_Goods")
@Styles.Render("~/css/AdminGoodsIndex_Company")
@Scripts.Render("~/js/AdminGoodsIndex")
@Styles.Render("~/css/Loading")
<script src="~/Scripts/plugin/Loading/jquery.isloading.min.js" type="text/javascript"></script>

@if (TempData["FromAction"] != null)
{
    <script>
        var messag = @Html.Raw(Json.Encode(TempData["FromAction"]));
        alert(messag)
    </script>
}
@if (err != "")
{
    @: 操作失敗<br>
    @err
}
else
{
    @Html.Hidden("IsLimitOrder", @IsLimitOrder)
    if ((bool)Session["Insert"] == true)
    {
        <div class="func_item">
            <ul>
                <li>@Html.ActionLink("新增", "Create_Step1")</li>
                <li>
                    <input type="button" data-toggle="modal" id="save_sort" data-target="#UploadModal" value="匯入商品資料">
                </li>
                <li>
                    <input type="button" value="匯出商品資料" id="save_sort" onclick="Export_Company();">
                </li>
            </ul>
        </div>
    }
    <fieldset class="confirm2">
        <div class="search_area">
            <form action="" method="" name="SearchForm">
                <label for="keyword" style="">　關鍵字</label>&ensp;
                <input type="text" name="keyword" id="keyword" value="@keyword" placeholder="商品編號、商品名稱、品牌" />
                <label class="" style=" margin-left: 30px;">類別</label>&ensp;
                @Html.DropDownList("Search_Type", Mith.Models.Method.Get_Category_SelectListItem(8, "Type", @Search_Type), new { @class = "combobox" })

                <label class="" style=" margin-left: 60px;">款式</label>&ensp;
                @Html.DropDownList("Search_Pattern", Mith.Models.Method.Get_Pattern_SelectListItem(@Search_Pattern), new { @class = "combobox" })
                <br />
                <label class="Add_Top">　　季節</label>&ensp;
                @Html.DropDownList("Search_Season", Mith.Models.Method.Get_Category_SelectListItem(8, "Season", @Search_Season), new { @class = "combobox" })

                <label class="Add_Top" style=" margin-left: 58px;">顏色</label>&ensp;
                @Html.DropDownList("Search_Color", Mith.Models.Method.Get_Category_SelectListItem(8, "Color", @Search_Color), new { @class = "combobox" })

                <label class="Add_Top" style=" margin-left: 60px;">風格</label>&ensp;
                @Html.DropDownList("Search_Style", Mith.Models.Method.Get_Category_SelectListItem(8, "Style", @Search_Style), new { @class = "combobox" })
                <br />
                <label class="Add_Top">　　適合</label>&ensp;
                @Html.DropDownList("Search_Fit", Mith.Models.Method.Get_Category_SelectListItem(8, "Fit", @Search_Fit), new { @class = "combobox" })

                <label class="Add_Top" style=" margin-left: 43px;">　狀態</label>&ensp;
                <input type="radio" value="0" name="Search_Status" @if (Search_Status == 0) { <text> checked</text>} /><label>全部</label>&ensp;
                @for (int i = 0; i < StatusList.Count(); i++)
                {
                    <input type="radio" name="Search_Status" value="@StatusList[i].Number" @if (Search_Status == StatusList[i].Number) { <text> checked </text>                             } /> @StatusList[i].Name
                    if (i < 3)
                    {
                        <text>&ensp;</text>
                    }
                }

                <label style="border-right: 1px solid #a8a8a8;width:20px">&ensp;</label>
                <label for="create_time_start" class="Add_Top" style="margin-left:20px">零庫存</label>
                <input type="checkbox" value="1" name="Search_Quantity_Total" @if (Search_Quantity_Total == 1) { <text> checked</text>} />
                <br />
                <label for="create_time_start" class="Add_Top">建立日期</label>&ensp;
                <input type="text" name="CreateTime_St" id="CreateTime_St" class="date_search" value="@ct_start" /> ~
                <input type="text" name="CreateTime_End" id="CreateTime_End" class="date_search" value="@ct_end" />

                <input type="hidden" name="TypeSort" value="@TypeSort">
                <input type="button" value="查詢" onclick="Search_Company();" style="margin-left:30px">
            </form>
        </div>
    </fieldset>

    <br>
    <label style="color:red">*只有待覆核商品，能進行刪除</label>
    <div class="showdata" id="update">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th class="item1">
                        <label><input type="checkbox" id="AllCheck" onclick="AllCheck()" />全選</label>
                    </th>
                    <th class="item2">
                        @Html.DisplayNameFor(model => model[0].Name)
                    </th>
                    <th class="item4">
                        @Html.DisplayNameFor(model => model[0].Type_Name)
                    </th>
                    <th class="item5" id="ChangeText">
                        庫存/集單量
                    </th>
                    <th class="item6">
                        @Html.DisplayNameFor(model => model[0].Price)
                    </th>
                    <th class="item7">
                        @Html.DisplayNameFor(model => model[0].SpecialOffer)
                    </th>
                    <th class="item8">
                        @Html.DisplayNameFor(model => model[0].Status_Name)
                    </th>
                    <th class="item9">
                        @if (TypeSort == "NoticeCount")
                        {
                            <text>貨到通知↓</text>
                        }
                        else
                        {
                            @Html.ActionLink("貨到通知↓", "Index_Company", new { TypeSort = "NoticeCount" })
                        }
                    </th>
                    <th class="item9">
                        @if (TypeSort == "WearCount")
                        {
                            <text>穿搭次數↓</text>
                        }
                        else
                        {
                            @Html.ActionLink("穿搭次數↓", "Index_Company", new { TypeSort = "WearCount", p = 1 })
                        }
                    </th>
                    <th class="item10">
                        @if (TypeSort == "CreateTime")
                        {
                            <text>建立時間↓</text>
                        }
                        else
                        {
                            @Html.ActionLink("建立時間↓", "Index_Company", new { TypeSort = "CreateTime" })
                        }
                    </th>
                    <th class="item10">品牌</th>
                    <th class="item11">編輯</th>
                    <th class="item12">刪除</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    int Length = item.Name.Length;
                    <tr>
                        <td id="td" class="item1">
                            <input type="checkbox" name="item" class="delete" value="@item.Id" id="@item.Id" />
                        </td>
                        <td id="td" class="item2" style="text-align:left">
                            【@item.SN】
                            <br>
                            @item.Name
                            @if (Length > 18)
                            {
                                <text>...</text>
                            }
                            @*(@item.Color_Name)*@
                            @if (!string.IsNullOrWhiteSpace(item.Pic_Small))
                            {
                                <br>
                                <a class="example-image-link" href="@item.Pic_Middle" data-lightbox="example-set" data-title="">
                                    <img class="example-image" src="@item.Pic_Small" alt="" style="width:60px;height:auto;margin-top:5px" />
                                </a>
                            }
                        </td>
                        <td id="td" class="item4">
                            @Html.DisplayFor(modelItem => item.Type_Name)
                        </td>
                        <td id="td" class="item5" style="text-align:center!important;">
                            @if (item.SizeList.Count > 0)
                            {
                                <table style="background-color: transparent;">
                                    @for (int i = 0; i < item.SizeList.Count(); i++)
                                    {
                                        <tr>
                                            <td style="width:40%; text-align: right;padding-right:4px">
                                                @item.SizeList[i].Size
                                            </td>
                                            <td style="width:60%;text-align: left;">
                                                × @item.SizeList[i].Quantity
                                            </td>
                                        </tr>
                                    }
                                </table>
                            }
                            else
                            {
                                <text>無</text>
                            }
                        </td>
                        <td id="td" class="item6">
                            $@Html.DisplayFor(modelItem => item.Price)
                        </td>
                        <td id="td" class="item7">
                            @if (item.SpecialOffer != null)
                            {
                                <text>$</text>@Html.DisplayFor(modelItem => item.SpecialOffer)

                            }
                            else
                            {
                                <text>無</text>
                            }
                        </td>
                        <td id="td" class="item8">
                            @if (item.Status_Name.Contains("上架"))
                            {
                                <span style="color:#00AA00">@item.Status_Name</span>
                            }
                            else
                            {
                                <span style="color:red">@item.Status_Name</span>
                            }
                        </td>
                        <td id="td" class="item9">
                            @Html.DisplayFor(modelItem => item.NoticeCount)<text>次</text>
                        </td>
                        <td id="td" class="item9">
                            @Html.DisplayFor(modelItem => item.WearCount)<text>次</text>
                        </td>
                        <td id="td" class="item10">
                            @item.CreateTime.Value.ToString("yyyy/MM/dd HH:mm")
                        </td>
                        <td id="td" class="item10">
                            @item.Brand_Name
                        </td>
                        <td id="td" class="item11">
                            @if ((bool)Session["Update"] == true)
                            {
                                @Html.ActionLink("編輯", "Edit_Step1_Company", new { id = item.Id })
                            }
                        </td>
                        <td id="td" class="item12">
                            @if ((bool)Session["Delete"] == true)
                            {
                                if (item.Status_Name == "待覆核")
                                {
                                    @Html.ActionLink("刪除", "Delete", new { item = item.Id, p = p }, new { OnClick = "return confirm(\"確定要刪除?\")" })
                                }
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <div class="del_chk">
            <div class="button">
                <input type="button" value="下架" id="save_sort" onclick="PullOffShelves();">
            </div>
            @Html.Partial("_PartialPage")
        </div>
    </div>
    @Html.Partial("_UploadFile")

}
