﻿#main-content {
    margin: 0px auto;
    width: 840px;
    min-width:840px;
    /*background-color:white;
    box-shadow: gray 0px 0px 40px 10px;*/
    height:auto;
    min-height: 500px;
    padding : 20px 20px 20px 20px;
}