﻿


#main-content .big_title,
#main-content .big_title a,
#main-content .big_title a:active {
    font-size: 30px;
    color: #43b443;
    margin-bottom: 10px;
    margin-top: 10px;
    text-decoration: none;
}

    #main-content .big_title a:hover {
        text-decoration: underline;
    }

#main-content .error {
    color: red;
    font-weight: bold;
}

.func_item ul li {
    list-style: none;
    display: inline;
    margin-right: 20px;
}

#main-content .search_area {
    color: #333;
    width: auto;
}

#main-content .showdata {
    margin-top:10px;
}

    #main-content .showdata div .title {
        border-bottom: solid 2px #2966df;
        padding-bottom: 5px;
    }

    #main-content .showdata div ul {
        list-style: none;
        padding-left: 0px;
        border-bottom: dashed 1px black;
        /*padding-bottom:5px;*/
        margin: 0;
        padding-bottom: 10px;
        padding-top: 10px;
    }

        #main-content .showdata div ul li {
            display: inline-block;
            text-align: center;
            word-wrap: break-word;
            vertical-align: middle;
        }

        #main-content .showdata div ul.data:hover {
            background-color: lightgray;
        }

        #main-content .showdata div ul li a,
        #main-content .showdata div ul li a:hover,
        #main-content .showdata div ul li a:link,
        #main-content .showdata div ul li a:active {
            color: blue;
            text-decoration: none;
        }

    #main-content .showdata .check {
        width: 10%;
        min-width: 10%;
    }

#main-content .del_chk {
    display: block;
    overflow: auto;
}

    #main-content .del_chk .button {
        float: left;
        margin-top: 10px;
    }

    #main-content .del_chk .page {
        text-align: center;
    }

#main-content .field-validation-error span {
    color: red;
    font-weight: bold;
}

/*#search_button {
    font-weight: bold;
    font-size: 16px;
    font-style: normal;
    text-decoration: none;
    color: #ffffff;
    background: #3d94f6;
    border: 1px outset #3d94f6;
    text-shadow: 0px -1px 1px #222222;
    box-shadow: 0px 0px 1px 1px lightgray;
    -moz-box-shadow: 0px 0px 1px 1px lightgray;
    -webkit-box-shadow: 0px 0px 1px 1px lightgray;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    width: 80px;
    padding: 4px 8px 4px 8px;
    cursor: pointer;
    margin: 0 auto;
}

    #search_button:hover {
        background-color: #5496cf;
    }*/

.custom-combobox {
    position: relative;
    display: inline-block;
}

.custom-combobox-toggle {
    position: absolute;
    top: 0;
    bottom: 0;
    margin-left: -1px;
    padding: 0;
}
