﻿/*分頁*/
.page {
    margin: 0px auto;
    overflow: auto;
    text-align: center;
    margin-left:-100px;
}
.page div {
    background-color:white;
    border:1px solid;
    margin-top:10px;
    margin-right:3px;
    margin-left:3px;
    width: 30px;
    text-align:center;
    display: inline-table;
    padding:5px;
}

    .page .current {
        background-color:#ddecfd ;
    }

    .page a, .page a:active {
        text-decoration:none;
        color:#333;
    }
        .page div:hover {
            background-color:#ddecfd;
        }

    .page .display {
        margin-left: 10px !important;
        margin-right: 20px !important;
        border:none 0px !important;
        width: auto !important;
    }

#show_number {
    width:50px;
}