/*** ESSENTIAL STYLES ***/
.menu, .menu * {
    margin: 0;
    padding: 0;
    list-style: none;
}

    .menu ul {
        position: absolute;
        display: none;
        top: 100%;
        left: 0;
        z-index: 99;
    }

    .menu > li {
        float: left;
    }

    .menu li:hover > ul,
    .menu li.sfHover > ul {
        display: block;
    }


    .menu ul ul {
        top: 0;
        left: 100%;
    }


/*** DEMO SKIN ***/
.menu {
    float: left;
    margin-bottom: 1em;
}

    .menu ul {
        box-shadow: 2px 2px 6px rgba(0,0,0,.2);
        min-width: 12em; /* allow long menu items to determine submenu width */
        *width: 12em; /* no auto sub width for IE7, see white-space comment below */
    }

    .menu li {
        border-radius: 4px;
        background-color: #ddecfd;
        white-space: nowrap; /* no need for Supersubs plugin */
        *white-space: normal; /* ...unless you support IE7 (let it wrap) */
        transition: background .2s;
        display: block;
        position: relative;
        border: 2px outset white;
        font-weight: bold;
        font-size: 16px;
        padding: 8px 12px;
        text-decoration: none;
        zoom: 1;
    }

    .menu ul li {
        background: White;
        cursor: pointer;
        font-size: 14px;
    }

        .menu ul li:hover {
            background-color: #e6e6e6;
            cursor: pointer;
        }


/*** arrows (for all except IE7) **/
.arrows .with-ul {
    padding-right: 2.5em;
    *padding-right: 1em; /* no CSS arrows for IE7 (lack pseudo-elements) */
}
    /* styling for both css and generated arrows */
    .arrows .with-ul:after {
        content: '';
        position: absolute;
        top: 50%;
        right: 1em;
        margin-top: -3px;
        height: 0;
        width: 0;
        /* order of following 3 rules important for fallbacks to work */
        border: 5px solid transparent;
        border-top-color: #dFeEFF; /* edit this to suit design (no rgba in IE8) */
        border-top-color: rgba(255,255,255,.5);
    }

.arrows > li > .with-ul:focus:after,
.arrows > li:hover > .with-ul:after,
.arrows > .sfHover > .with-ul:after {
    border-top-color: white; /* IE8 fallback colour */
}
/* styling for right-facing arrows */
.arrows ul .with-ul:after {
    margin-top: -5px;
    margin-right: -3px;
    border-color: transparent;
    border-left-color: #dFeEFF; /* edit this to suit design (no rgba in IE8) */
    border-left-color: rgba(255,255,255,.5);
}

.arrows ul li > .with-ul:focus:after,
.arrows ul li:hover > .with-ul:after,
.arrows ul .sfHover > .with-ul:after {
    border-left-color: white;
}
