﻿@using Mith.Areas.GoX.Models
@model Mith.Areas.GoX.Models.BrandModel.BrandShow

@Scripts.Render("~/js/AdminBrandCreate")
@Styles.Render("~/css/Loading")
<script src="~/Scripts/plugin/Loading/jquery.isloading.min.js" type="text/javascript"></script>
<script src="" type="text/javascript"></script>

@using (Html.BeginForm("Create", "Brand", FormMethod.Post, new { @Id = "Form", @enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <div class="">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.CompanyId)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.CompanyId, Mith.Models.Method.Get_Comapny_SelectListItem(0), new { @class = "combobox", @id = "CompanyId" })
            <span class="Valid" id="CompanyId_Valid">必填欄位</span>
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Pic_Size)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Pic_Size, new { @type = "file", @accept = "image/*" })
            @Html.ValidationMessageFor(model => model.Pic_Size)
        </div>
        <br>
        <p>
            <input type="submit" value="新增" id="save_sort" onclick="return Send()" />
        </p>
    </fieldset>

}