﻿@using Mith.Areas.GoX.Models
@model Mith.Areas.GoX.Models.BrandModel.BrandShowEdit

@Scripts.Render("~/js/AdminBrandCreate")
@Styles.Render("~/css/Loading")
<script src="~/Scripts/plugin/Loading/jquery.isloading.min.js" type="text/javascript"></script>

@using (Html.BeginForm("Edit", "Brand", FormMethod.Post, new { @Id = "Form", @enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @Html.HiddenFor(model => model.Id)
    @Html.HiddenFor(model => model.Pic_Size)
    <fieldset>

        <div class="">
            @Html.LabelFor(model => model.Id)
        </div>
        <div class="editor-field">
            @Html.DisplayFor(model => model.Id)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CompanyId)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.CompanyId, Mith.Models.Method.Get_Comapny_SelectListItem(Model.CompanyId ?? 0), new { @class = "combobox", @id = "CompanyId" })
            <span class="Valid" id="CompanyId_Valid">必填欄位</span>
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Pic_Size)
            @if (!string.IsNullOrWhiteSpace(Model.Pic_Size))
            {
                <br>
                <a class="example-image-link" href="@Model.Pic_Size" data-lightbox="example-set" data-title="">
                    <img class="example-image" src="@Model.Pic_Size" alt="" style="width:80px;height:auto;margin-bottom:12px" />
                </a>
            }
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Pic_Size, new { @type = "file", @accept = "image/*" })
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CreateTime)
        </div>
        <div class="editor-field">
            @Model.CreateTime.Value.ToString("yyyy/MM/dd HH:mm")
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.UpdateTime)
        </div>
        <div class="editor-field">
            @Model.UpdateTime.Value.ToString("yyyy/MM/dd HH:mm")
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.LastUser_Name)
        </div>
        <div class="editor-field">
            @Html.DisplayFor(model => model.LastUser_Name)
        </div>
        <br>
        <p>
            <input type="submit" value="儲存" id="save_sort" onclick="return Send()" />
        </p>
    </fieldset>

}