﻿@using Mith.Areas.GoX.Models;
@model List<Mith.Areas.GoX.Models.BrandModel.BrandShow>
@{
    int p = 1;
    if (ViewData["p"] != null)
    {
        p = (int)ViewData["p"];
    }
    int Search_ComapnyId = 0;
    if (ViewData["Search_ComapnyId"] != null)
    {
        Search_ComapnyId = (int)ViewData["Search_ComapnyId"];
    }
    string keyword = "";
    if (ViewData["keyword"] != null)
    {
        keyword = ViewData["keyword"] as string;
    }

    DateTime? CreateTime_St = ViewData["CreateTime_St"] as DateTime?;
    DateTime? CreateTime_End = ViewData["CreateTime_End"] as DateTime?;
    string ct_start = "";
    string ct_end = "";
    if (CreateTime_St != null)
    {
        ct_start = CreateTime_St.Value.ToString("yyyy/MM/dd HH:mm:ss");
    }
    if (CreateTime_End != null)
    {
        ct_end = CreateTime_End.Value.ToString("yyyy/MM/dd HH:mm:ss");
    }
    string err = "";
    if (TempData["err"] != null && TempData["err"] != "")
    {
        err = TempData["err"] as string;
    }


}
@Styles.Render("~/css/AdminBrandIndex")
@if (TempData["FromAction"] != null)
{
    <script>
        var messag = @Html.Raw(Json.Encode(TempData["FromAction"]));
        alert(messag)
    </script>
}
@if (err != "")
{
    @: 操作失敗<br>
    @err
}
else
{
    @*<div class="big_title">@ViewBag.Title</div>*@
    if ((bool)Session["Insert"] == true)
    {
        <div class="func_item">
            <ul>
                <li>@Html.ActionLink("新增", "Create")</li>
            </ul>
        </div>
    }
    <fieldset class="confirm2">
        <div class="search_area">
            <form action="/Gox/Brand/Index" id="search" method="get">
                <label for="keyword">　關鍵字</label>&ensp;
                <input type="text" name="keyword" id="keyword" value="@keyword" placeholder="品牌名稱、帳號" />
                <br />
                <label class="Add_Top">　　廠商</label>&ensp;
                @Html.DropDownList("Search_ComapnyId", Mith.Models.Method.Get_Comapny_SelectListItem(@Search_ComapnyId), new { @class = "combobox" })
                <br />
                <label for="create_time_start" class="Add_Top">建立日期</label>&ensp;
                <input type="text" name="CreateTime_St" id="CreateTime_St" class="date_search" value="@ct_start" /> ~
                <input type="text" name="CreateTime_End" id="CreateTime_End" class="date_search" value="@ct_end" />
                &emsp;
                <input type="submit" value="查詢" onclick="">
            </form>
        </div>
    </fieldset>
    <br>
    <label style="color:red">*品牌已有商品在使用時，無法刪除</label>
    <div class="showdata" id="update">
        <table class="table table-striped">
            <thead>
                <tr>
                    @*<th class="item1">
                        @Html.DisplayNameFor(model => model[0].Id)
                    </th>*@
                    <th class="item2">
                        品牌名稱
                    </th>
                    <th class="item3">
                        廠商
                    </th>
                    <th class="item4">
                        帳號
                    </th>
                    <th class="item4">
                        @Html.DisplayNameFor(model => model[0].Pic_Size)
                    </th>
                    <th class="item5">
                        @Html.DisplayNameFor(model => model[0].CreateTime)
                    </th>
                    <th class="item6">
                        編輯
                    </th>
                    <th class="item7">
                        刪除
                    </th>
                    <th class="item8">
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        @*<td class="item1">
                            @Html.DisplayFor(modelItem => item.Id)
                        </td>*@
                        <td class="item2">
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td class="item3">
                            @Html.DisplayFor(modelItem => item.Company_Name)
                        </td>
                        <td class="item4">
                            @Html.DisplayFor(modelItem => item.Account)
                        </td>
                        <td class="item4">
                            @if (!string.IsNullOrWhiteSpace(item.Pic_Size))
                            {
                                <a class="example-image-link" href="@item.Pic_Size" data-lightbox="example-set" data-title="">
                                    <img class="example-image" src="@item.Pic_Size" alt="" style="width:60px;height:auto" />
                                </a>
                            }
                        </td>
                        <td class="item5">
                            @item.CreateTime.Value.ToString("yyyy/MM/dd HH:mm")
                        </td>
                        <td class="item6">
                            @if ((bool)Session["Update"] == true)
                            {
                                @Html.ActionLink("編輯", "Edit", new { id = item.Id })
                            }
                        </td>
                        <td class="item7">
                            @if ((bool)Session["Delete"] == true)
                            {
                                if (item.UseBrand == 0)
                                {
                                    @Html.ActionLink("刪除", "Delete", new { item = item.Id, p = p }, new { OnClick = "return confirm(\"確定要刪除?\")" })
                                }
                            }
                        </td>
                        <td class="item8"></td>
                    </tr>
                }
            </tbody>
        </table>
        <div class="del_chk">
            @Html.Partial("_PartialPage")
        </div>
    </div>


}
