﻿@model List<Mith.Areas.GoX.Models.UserLevelModel.FunctionCompetenceShow>

@{
    int Level_Id = 0;
    if (ViewData["Level_Id"] != null)
    {
        Level_Id = (int)ViewData["Level_Id"];
    }

}

    <table class="table table-striped" style="width:80%!important">
        <tr>
            <th>
                &ensp;
                @Html.DisplayNameFor(item => item[0].Name)
            </th>
            <th>
                <label>
                    &ensp;<input type="checkbox" id="read" />
                    @Html.DisplayNameFor(item => item[0].Read)  &ensp;
                </label>
            </th>
            <th>
                <label>
                    &ensp;<input type="checkbox" id="insert" />
                    @Html.DisplayNameFor(item => item[0].Insert)&ensp;
                </label>
            </th>
            <th>
                <label>
                    &ensp;<input type="checkbox" id="update" />
                    @Html.DisplayNameFor(item => item[0].Update)&ensp;
                </label>
            </th>
            <th>
                <label>
                    &ensp;<input type="checkbox" id="delete" />
                    @Html.DisplayNameFor(item => item[0].Delete)&ensp;
                </label>
            </th>
        </tr>
        @for (int i = 0; i < Model.Count; i++)
        {
            <tr>
                <td style="text-align:left!important">
                    &ensp;<input type="checkbox" class="fun_check" value="@Model[i].Id" style="margin-left: 35%;" />
                    <b>@Html.DisplayFor(item => item[i].Name)</b>
                    &ensp;
                    @Html.HiddenFor(item => item[i].Id)
                </td>

                <td>&ensp;@Html.CheckBoxFor(item => item[i].Read, new { @class = "chk_read chk_fun" + Model[i].Id })</td>
                <td>&ensp;@Html.CheckBoxFor(item => item[i].Insert, new { @class = "chk_insert chk_fun" + Model[i].Id })</td>
                <td>&ensp;@Html.CheckBoxFor(item => item[i].Update, new { @class = "chk_update chk_fun" + Model[i].Id })</td>
                <td>&ensp;@Html.CheckBoxFor(item => item[i].Delete, new { @class = "chk_delete chk_fun" + Model[i].Id })</td>
            </tr>
        }
    </table>


