﻿@using Mith.Areas.GoX.Models
@using Mith.Models
@model List<UserLevelModel.FunctionCompetenceShow>
@{
    List<UserLevel_View> LevelList = new List<UserLevel_View>();
    if (ViewData["LevelList"] != null)
    {
        LevelList = ViewData["LevelList"] as List<UserLevel_View>;
    }
    List<UserLevelModel.FunctionCompetenceShow> CompanyFunctionList = new List<UserLevelModel.FunctionCompetenceShow>();
    CompanyFunctionList = ViewData["CompanyFunctionList"] as List<UserLevelModel.FunctionCompetenceShow>;
    
    int CompanyId = Mith.Models.Method.Get_CompanyId_Admin(Request.Cookies, Session);
}

@Scripts.Render("~/js/AdminUserLevelEdit")
@Styles.Render("~/css/Loading")

<script src="~/Scripts/plugin/Loading/jquery.isloading.min.js" type="text/javascript"></script>
<style>
    .editor-field .ui-button {
        /*margin-top: -4px;*/
        height: 27px !important;
        margin-left: -1px !important;
        margin-top: 0px;
    }
</style>
@using (Html.BeginForm("Edit", "UserLevel", FormMethod.Post, new { @Id = "Form", @enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <input type="hidden" name="Level_Id" value="@LevelList[0].Id" />
    <input type="hidden" name="Level_Role" value="2" />
    <input type="hidden" name="CompanyId" value="@CompanyId" />

    <div class="">
        <b>名稱</b>
    </div>
    <div class="editor-field">
        @Html.TextBox("Level_Name", @LevelList[0].Name, new { style = "width:180px!important" })
    </div>


    <br>

    <table class="table table-striped" id="CompanyFunction" style="width:80%!important;">
        <thead>
            <tr>
                <th>
                    &ensp;
                    @Html.DisplayNameFor(item => item[0].Name)
                </th>
                <th>
                    <label>
                        &ensp;<input type="checkbox" id="read2" />
                        @Html.DisplayNameFor(item => item[0].Read)  &ensp;
                    </label>
                </th>
                <th>
                    <label>
                        &ensp;<input type="checkbox" id="insert2" />
                        @Html.DisplayNameFor(item => item[0].Insert)&ensp;
                    </label>
                </th>
                <th>
                    <label>
                        &ensp;<input type="checkbox" id="update2" />
                        @Html.DisplayNameFor(item => item[0].Update)&ensp;
                    </label>
                </th>
                <th>
                    <label>
                        &ensp;<input type="checkbox" id="delete2" />
                        @Html.DisplayNameFor(item => item[0].Delete)&ensp;
                    </label>
                </th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < CompanyFunctionList.Count; i++)
            {
                <tr>
                    <td style="text-align:left!important">
                        &ensp;<input type="checkbox" class="fun_check2" value="@CompanyFunctionList[i].Id" style="margin-left: 35%;" />
                        <b>
                            @if (CompanyFunctionList[i].Menu != null)
                            {
                                @Html.DisplayFor(item => CompanyFunctionList[i].Menu)
                                <text> / </text>
                            }
                            @Html.DisplayFor(item => CompanyFunctionList[i].Name)
                        </b>
                        &ensp;
                        @Html.HiddenFor(item => CompanyFunctionList[i].Id)
                    </td>

                    <td>&ensp;@Html.CheckBoxFor(item => CompanyFunctionList[i].Read, new { @class = "chk2_read chk2_fun" + CompanyFunctionList[i].Id })</td>
                    <td>&ensp;@Html.CheckBoxFor(item => CompanyFunctionList[i].Insert, new { @class = "chk2_insert chk2_fun" + CompanyFunctionList[i].Id })</td>
                    <td>&ensp;@Html.CheckBoxFor(item => CompanyFunctionList[i].Update, new { @class = "chk2_update chk2_fun" + CompanyFunctionList[i].Id })</td>
                    <td>&ensp;@Html.CheckBoxFor(item => CompanyFunctionList[i].Delete, new { @class = "chk2_delete chk2_fun" + CompanyFunctionList[i].Id })</td>
                </tr>
            }
        </tbody>
    </table>

    <div class="editor-label">
        <b>建立時間</b>
    </div>
    <div class="editor-field">
        @LevelList[0].CreateTime.Value.ToString("yyyy/MM/dd HH:mm")
    </div>

    <div class="editor-label">
        <b>更新時間</b>
    </div>
    <div class="editor-field">
        @LevelList[0].UpdateTime.Value.ToString("yyyy/MM/dd HH:mm")
    </div>

    <div class="editor-label">
        <b>更新人員</b>
    </div>
    <div class="editor-field">
        @LevelList[0].LastUser_Name
    </div>
    <br>
    <input type="submit" value="儲存" id="save_sort" onclick="return Send()" />
    <br><br>
}
