﻿@using Mith.Areas.GoX.Models;
@model List<Mith.Areas.GoX.Models.UserLevelModel.UserLevelShow>
@{
    int p = 1;
    if (ViewData["p"] != null)
    {
        p = (int)ViewData["p"];
    }

    string keyword = "";

    string err = "";

    if (ViewData["keyword"] != null)
    {
        keyword = ViewData["keyword"] as string;
    }

    DateTime? CreateTime_St = ViewData["CreateTime_St"] as DateTime?;
    DateTime? CreateTime_End = ViewData["CreateTime_End"] as DateTime?;
    string ct_start = "";
    string ct_end = "";
    if (CreateTime_St != null)
    {
        ct_start = CreateTime_St.Value.ToString("yyyy/MM/dd HH:mm:ss");
    }
    if (CreateTime_End != null)
    {
        ct_end = CreateTime_End.Value.ToString("yyyy/MM/dd HH:mm:ss");
    }
    if (TempData["err"] != null && TempData["err"] != "")
    {
        err = TempData["err"] as string;
    }

}

@Styles.Render("~/css/AdminUserLevelIndex_Company")

@if (TempData["FromAction"] != null)
{
    <script>
        var messag = @Html.Raw(Json.Encode(TempData["FromAction"]));
        alert(messag)
    </script>
}
@if (err != "")
{
    @: 操作失敗；錯誤代碼：@err。
}
else
{
    if ((bool)Session["Insert"] == true)
    {
        <div class="func_item">
            <ul>
                <li>@Html.ActionLink("新增", "Create_Company")</li>
            </ul>
        </div>
    }
    <fieldset class="confirm2">
        <div class="search_area">
            <form action="@Mith.Models.Method.RootPath/GoX/UserLevel/Index_Company" id="search" method="get">
                <label for="keyword">　關鍵字</label>&ensp;
                <input type="text" name="keyword" id="keyword" value="@keyword" placeholder="名稱" />
                <br>
                <label for="create_time_start" class="Add_Top">建立日期</label>&ensp;
                <input type="text" name="CreateTime_St" id="CreateTime_St" class="date_search" value="@ct_start"  /> ~
                <input type="text" name="CreateTime_End" id="CreateTime_End" class="date_search" value="@ct_end" />
                &emsp;
                <input type="submit" value="查詢" id="">
            </form>
        </div>
    </fieldset>
    <br>
    <label style="color:red">*權限已有帳號在使用時，無法刪除</label>
    <div class="showdata">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th class="item1">
                        @Html.DisplayNameFor(model => model[0].Name)
                    </th>
                    <th class="item2">
                        @Html.DisplayNameFor(model => model[0].CreateTime)
                    </th>
                    <th class="item3">
                        使用中帳號
                    </th>
                    <th class="item4">
                        編輯
                    </th>
                    <th class="item5">
                        刪除
                    </th>
                    <th class="item6">
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td class="item1">
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td class="item2">
                            @item.CreateTime.Value.ToString("yyyy/MM/dd HH:mm")
                        </td>
                        <td class="item3">
                            <a href="/GoX/UserProfile/Index_Company?Search_Level=@item.Id">使用中帳號</a>
                        </td>
                        <td class="item4">
                            @if ((bool)Session["Update"] == true)
                            {
                                @Html.ActionLink("編輯", "Edit_Company", new { id = item.Id })
                            }
                        </td>
                        <td class="item5">
                            @if ((bool)Session["Delete"] == true)
                            {
                                if (item.UseLevel == 0)
                                {
                                    @Html.ActionLink("刪除", "Delete", new { item = item.Id, p = p }, new { OnClick = "return confirm(\"確定要刪除?\")" })
                                }
                            }
                        </td>
                        <td class="item6"></td>
                    </tr>
                }
            </tbody>
        </table>
        <div class="del_chk">
            @Html.Partial("_PartialPage")
        </div>
    </div>
}
