﻿@using Mith.Areas.GoX.Models;
@model List<Mith.Areas.GoX.Models.UserLevelModel.UserLevelShow>
@{
    int p = 1;
    if (ViewData["p"] != null)
    {
        p = (int)ViewData["p"];
    }

    string keyword = "";

    string err = "";

    if (ViewData["keyword"] != null)
    {
        keyword = ViewData["keyword"] as string;
    }
    int Search_Role = 0;
    if (ViewData["Search_Role"] != null)
    {
        Search_Role = (int)ViewData["Search_Role"];
    }

    int Search_CompanyId = 0;
    if (ViewData["Search_CompanyId"] != null)
    {
        Search_CompanyId = (int)ViewData["Search_CompanyId"];
    }
    DateTime? CreateTime_St = ViewData["CreateTime_St"] as DateTime?;
    DateTime? CreateTime_End = ViewData["CreateTime_End"] as DateTime?;
    string ct_start = "";
    string ct_end = "";
    if (CreateTime_St != null)
    {
        ct_start = CreateTime_St.Value.ToString("yyyy/MM/dd HH:mm:ss");
    }
    if (CreateTime_End != null)
    {
        ct_end = CreateTime_End.Value.ToString("yyyy/MM/dd HH:mm:ss");
    }
    if (TempData["err"] != null && TempData["err"] != "")
    {
        err = TempData["err"] as string;
    }

}

@Styles.Render("~/css/AdminUserLevelIndex_Mith")

@if (TempData["FromAction"] != null)
{
    <script>
        var messag = @Html.Raw(Json.Encode(TempData["FromAction"]));
        alert(messag)
    </script>
}
@if (err != "")
{
    @: 操作失敗；錯誤代碼：@err。
}
else
{
    if ((bool)Session["Insert"] == true)
    {
        <div class="func_item">
            <ul>
                <li>@Html.ActionLink("新增", "Create_Mith")</li>
            </ul>
        </div>
    }
    <fieldset class="confirm2">
        <div class="search_area">
            <form action="@Mith.Models.Method.RootPath/GoX/UserLevel/Index_Mith" id="search" method="get">
                <label for="keyword">　關鍵字</label>&ensp;
                <input type="text" name="keyword" id="keyword" value="@keyword" placeholder="名稱" />
                <br>
                <label for="create_time_start" class="Add_Top">　　角色</label>&ensp;
                @Html.DropDownList("Search_Role", Mith.Models.Method.Get_Category_SelectListItem(2, "Role", @Search_Role), new { @class = "combobox" })
                <br>
                <label class="Add_Top">建立廠商</label>&ensp;
                @Html.DropDownList("Search_CompanyId", Mith.Models.Method.Get_Comapny_SelectListItem(@Search_CompanyId), new { @class = "combobox" })
                <br>
                <label for="create_time_start" class="Add_Top">建立日期</label>&ensp;
                <input type="text" name="CreateTime_St" id="CreateTime_St" class="date_search" value="@ct_start" /> ~
                <input type="text" name="CreateTime_End" id="CreateTime_End" class="date_search" value="@ct_end"  />
                &emsp;
                <input type="submit" value="查詢" id="">
            </form>
        </div>
    </fieldset>
    <br>
    <label style="color:red">*權限已有帳號在使用時，無法刪除</label>
    <div class="showdata">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th class="item2">
                        @Html.DisplayNameFor(model => model[0].Name)
                    </th>
                    <th class="item3">
                        @Html.DisplayNameFor(model => model[0].Role_Name)
                    </th>
                    <th class="item4">
                       建立廠商
                    </th>
                    <th class="item5">
                        @Html.DisplayNameFor(model => model[0].CreateTime)
                    </th>
                    <th class="item6">
                        使用中帳號
                    </th>
                    <th class="item7">
                        編輯
                    </th>
                    <th class="item8">
                        刪除
                    </th>
                    <th class="item9">
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr @if(item.Id<3){ <text>style="background-color:#FFFFBB!important"</text>}>
                        <td class="item2">
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td class="item3">
                            @Html.DisplayFor(modelItem => item.Role_Name)
                        </td>
                        <td class="item4">
                            @if (!string.IsNullOrWhiteSpace(item.Company_Name))
                            {
                                @Html.DisplayFor(modelItem => item.Company_Name)
                            }
                            else
                            {
                                <text>無</text>
                            }
                        </td>
                        <td class="item5">
                            @item.CreateTime.Value.ToString("yyyy/MM/dd HH:mm")
                        </td>
                        <td class="item6">
                            <a href="/GoX/UserProfile/Index_Mith?Search_Level=@item.Id">使用中帳號</a>
                        </td>
                        <td class="item7">
                            @if ((bool)Session["Update"] == true && @item.Id>2)
                            {
                                @Html.ActionLink("編輯", "Edit_Mith", new { id = item.Id })
                            }
                        </td>
                        <td class="item8">
                            @if ((bool)Session["Delete"] == true && item.UseLevel == 0 && @item.Id > 2)
                            {
                                    @Html.ActionLink("刪除", "Delete", new { item = item.Id, p = p }, new { OnClick = "return confirm(\"確定要刪除?\")" })
                            }
                        </td>
                        <td class="item9">   </td>
</tr>
                }
            </tbody>
        </table>
        <div class="del_chk">
            @Html.Partial("_PartialPage")
        </div>
    </div>
}
