﻿@model Mith.Areas.GoX.Models.CategoryModel.CategoryShow

@{
    int fun_id = (int)ViewData["fun_id"];
    int upid = 0;
    if (ViewData["upid"] != null)
    {
        upid = (int)ViewData["upid"];
    }
    string path = "";
    if (ViewData["path"] != null)
    {
        path = ViewData["path"] as string;
    }
    string name = "";
    var config = Mith.Areas.GoX.Models.CategoryModel.Get_Config(fun_id);
    if (config.EnableCategory)
    {
        Dictionary<int, string> title = Mith.Areas.GoX.Models.CategoryModel.Get_CategoryName(fun_id, upid);

        foreach (var i in title)
        {
            name += " > <a href=\"?upid=" + i.Key + "\">" + i.Value + "</a>";
        }
    }
}
@*@Styles.Render("~/css/AdminContent")*@
@Scripts.Render("~/bundles/jqueryval")
@*<div class="big_title">@ViewBag.Title@(Html.Raw(name)) > 新增</div>*@

    @using (Html.BeginForm("CategoryCreate", path, FormMethod.Post, new { @enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        <fieldset>

            @Html.HiddenFor(model => model.UpId, new { @Value = upid })
            @Html.HiddenFor(model => model.Fun_Id, new { @Value=fun_id })

            <div class="editor-label">
                @Html.LabelFor(model => model.Name)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(model => model.Name)
                @Html.ValidationMessageFor(model => model.Name)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.Sort)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(model => model.Sort)
                @Html.ValidationMessageFor(model => model.Sort)
            </div>

            <div class="editor-label">
                @Html.TextBoxFor(model => model.Display)@Html.LabelFor(model => model.Display)
                @Html.ValidationMessageFor(model => model.Display)
            </div>
            <p>
                <input type="submit" value="新增" />
            </p>
        </fieldset>
    }
<div>
    @Html.ActionLink(" ", "Category", new {fun_id=fun_id , upid=upid })
</div>
