﻿@model List<Mith.Areas.GoX.Models.CategoryModel.CategoryShow>
@{
    int fun_id = (int)ViewData["fun_id"];
    var config = Mith.Areas.GoX.Models.CategoryModel.Get_Config(fun_id);

    string path = "";
    if (ViewData["path"] != null)
    {
        path = ViewData["path"] as string;
    }
    
    int p = 1;
    if (ViewData["p"] != null)
    {
        p = (int)ViewData["p"];
    }
    
    string keyword = "";
    if (ViewData["keyword"] != null)
    {
        keyword = ViewData["keyword"] as string;
    }
    int upid = 0;
    if (ViewData["upid"] != null)
    {
        upid = (int)ViewData["upid"];
    }
    int enable = 0;
    if (ViewData["enable"] != null)
    {
        enable = (int)ViewData["enable"];
    }
    int disable = 0;
    if (ViewData["disable"] != null)
    {
        disable = (int)ViewData["disable"];
    }
    
    string sort = "";
    if(ViewData["get"]!=null)
    {
        sort = ViewData["get"] as string;
        if(!sort.Contains("sort="))
        {
            sort += "&sort=sort";
        }
    }
    else
    {
        sort += "&sort=sort";
    }
    
    string err = "";
    if (TempData["err"] != null && TempData["err"]!="")
    {
        err = TempData["err"] as string;
    }

}
@Styles.Render("~/css/AdminNewsCategory")
@Scripts.Render("~/js/AdminNewsCategory")
@if (err != "")
{
    @: 操作失敗；錯誤代碼：@err。
}
else
{
    
@*<div class="big_title">@ViewBag.Title@(Html.Raw(name))</div>*@
<div class="func_item">
    <ul>
        <li>@Html.ActionLink("新增", "CategoryCreate", new { upid=upid,fun_id=fun_id })</li>
    </ul>
</div>
<div class="search_area">
    <form action="@Mith.Models.Method.RootPath/GoX/@path/Category" id="search" method="get">
        <input type="hidden" name="fun_id" value="@fun_id" />
        <label for="keyword">關鍵字：</label>
        <input type="hidden" name="upid" id="upid" value="@upid" />
        <input type="text" name="keyword" id="keyword" value="@keyword" />
        <br />
        <label>狀態: </label>
        <label><input type="checkbox" value="1" name="enable"  @if (enable==1){<text>checked</text>} />顯示</label>
        <label><input type="checkbox" value="1" name="disable"  @if(disable==1){<text>checked</text>} />不顯示</label>
        <br /><br />
        <input type="submit" value="查詢" id="search_button" >
    </form>
</div>
<div class="showdata">
    <div>
        <ul class="title">
            <li class="check"><label><input type="checkbox" name="all" id="all" />全選</label></li>
            <li class="item1">@Html.DisplayNameFor(model => model[0].Id)</li>
            <li class="item2">@Html.DisplayNameFor(model => model[0].Name)</li>
            <li class="item3">@Html.DisplayNameFor(model => model[0].Display)</li>
            <li class="item4"><a href="?fun_id=@fun_id&p=@p@sort">@Html.DisplayNameFor(model => model[0].Sort)</a></li>
            <li class="item5">編輯</li>
            <li class="item6">刪除</li>
        </ul>
    </div>
    <div id="data_area">
        <form action="@Mith.Models.Method.RootPath/GoX/@path/Category" id="action" method="post">
            <input type="hidden" name="fun_id" value="@fun_id" />
            @foreach (var item in Model)
            {
                <ul class="data">
                <li class="check"><label><input type="checkbox" name="item" class="delete" value="@Html.DisplayFor(modelItem => item.Id)" /></label></li>
                <li class="item1">@Html.DisplayFor(modelItem => item.Id)</li>
                <li class="item2">@Html.DisplayFor(modelItem => item.Name)</li>
                <li class="item3">@if (item.Display)
                                  {<text>顯示</text> }
                                  else
                                  {<text>不顯示</text> }</li>
                <li class="item4">@Html.DisplayFor(modelItem => item.Sort)</li>
                <li class="item5">@Html.ActionLink("編輯", "CategoryEdit", new { id = item.Id, fun_id=fun_id, p = p,upid=upid })</li>
                <li class="item6">@Html.ActionLink("刪除", "CategoryDelete", new { item = item.Id,fun_id=fun_id, p = p,upid=upid }, new { OnClick = "return confirm(\"確定要刪除?\")" })</li>
                </ul>
            }
       
        <br><div class="del_chk">
            <div class="button">
                <select name="edit_action" id="edit_action">
                    <option value="@Mith.Models.Method.RootPath/GoX/@path/Category">處理動作</option>
                    <option value="@Mith.Models.Method.RootPath/GoX/@path/CategoryDelete">刪除</option>
                    <option value="@Mith.Models.Method.RootPath/GoX/@path/CategorySet_Enable">顯示</option>
                    <option value="@Mith.Models.Method.RootPath/GoX/@path/CategorySet_Disable">不顯示</option>
                </select>
                <input type="hidden" name="upid" value="@upid" />
                <input id="edit_action_sub" name="edit_action_sub" type="submit" value="送出" onclick="return confirm('確定送出?')" />
            </div>
            @Html.Partial("_PartialPage")
        </div>
        </form>
    </div>
</div>
}