﻿@model Mith.Models.CategoryConfig

@{
    int save = 0;
    if (TempData["save"]!=null)
    {
        save = (int)TempData["save"];
    }
    string path = ViewData["path"].ToString();
}

@Scripts.Render("~/bundles/jqueryval")
@*@Styles.Render("~/css/AdminContent")*@
@*<div class="big_title">@ViewBag.Title</div>*@

@using (Html.BeginForm("CategoryConfig", path, FormMethod.Post, new { @enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>選項設定</legend>

        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.Fun_Id)

        <div class="editor-label">
            @Html.TextBoxFor(model => model.EnableCategory) 啟用子分類
            @Html.ValidationMessageFor(model => model.EnableCategory)
        </div>

        <div class="editor-label">
            @Html.TextBoxFor(model => model.EnableIcon) 啟用圖示
            @Html.ValidationMessageFor(model => model.EnableIcon)
        </div>

        <p>
            <input type="submit" value="儲存" />
        </p>
        @if (save != 0)
        {
            <div class="error">@(save > 0 ? "儲存成功" : "儲存失敗")</div> 
        }
    </fieldset>
}

<div>
    @Html.ActionLink(" ", "Index", new  { fun_id = Model.Fun_Id })
</div>
