﻿@model Mith.Areas.GoX.Models.CategoryModel.CategoryShow

@{
    int fun_id = (int)ViewData["fun_id"];
    int p = 1;
    string path = "";
    if (ViewData["path"] != null)
    {
        path = ViewData["path"] as string;
    }
    if (ViewData["p"] != null)
    {
        p = (int)ViewData["p"];
    }
    int upid = 0;
    if (ViewData["upid"] != null)
    {
        upid = (int)ViewData["upid"];
    }
    string name = "";
    var config = Mith.Areas.GoX.Models.CategoryModel.Get_Config(fun_id);
    if (config.EnableCategory)
    {
        Dictionary<int, string> title = Mith.Areas.GoX.Models.CategoryModel.Get_CategoryName(fun_id, upid);

        foreach (var i in title)
        {
            name += " > <a href=\"?upid=" + i.Key + "\">" + i.Value + "</a>";
        }
    }
}
@*@Styles.Render("~/css/AdminContent")*@
@Scripts.Render("~/bundles/jqueryval")
@*<div class="big_title">@ViewBag.Title@(Html.Raw(name)) > 編輯</div>*@


    @using (Html.BeginForm("CategoryEdit", path, FormMethod.Post, new { @enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        <fieldset>

            @Html.HiddenFor(model => model.Id)
            @Html.HiddenFor(model => model.UpId, new { @Value = upid })
            @Html.HiddenFor(model => model.Fun_Id)

            <div class="editor-label">
                @Html.LabelFor(model => model.Name)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(model => model.Name)
                @Html.ValidationMessageFor(model => model.Name)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.Sort)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(model => model.Sort)
                @Html.ValidationMessageFor(model => model.Sort)
            </div>

            <div class="editor-label">
                @Html.TextBoxFor(model => model.Display)@Html.LabelFor(model => model.Display)
                @Html.ValidationMessageFor(model => model.Display)
            </div>

            <input type="hidden" name="p" value="@p" />
            <p>
                <input type="submit" value="儲存" />
            </p>
        </fieldset>
    }
<div>
    @Html.ActionLink(" ", "Category", new {fun_id=fun_id,p=p,upid=upid })
</div>
