﻿@using Mith.Areas.GoX.Models;
@model List<Mith.Areas.GoX.Models.PrivateMessageModel.PrivateMessageShow>
@{
    int p = 1;
    if (ViewData["p"] != null)
    {
        p = (int)ViewData["p"];
    }
    string keyword = "";
    if (ViewData["keyword"] != null)
    {
        keyword = ViewData["keyword"] as string;
    }

    string err = "";
    if (TempData["err"] != null && TempData["err"] != "")
    {
        err = TempData["err"] as string;
    }

    int ExpertId = 0;
    if (ViewData["ExpertId"] != null)
    {
        ExpertId = (int)ViewData["ExpertId"];
    }

    string Expert_Name = "";
    if (ViewData["Expert_Name"] != null)
    {
        Expert_Name = ViewData["Expert_Name"] as string;
    }
}
@Styles.Render("~/css/AdminPrivateMessageIndex_Group")
@if (TempData["FromAction"] != null)
{
    <script>
        var messag = @Html.Raw(Json.Encode(TempData["FromAction"]));
        alert(messag)
    </script>
}
@if (err != "")
{
    @: 操作失敗<br>
    @err
}
else
{
    <div class="func_item">
        <ul>
            <li>@Html.ActionLink("回達人資料", "Index", "Expert")</li>
        </ul>
    </div>
    <fieldset class="confirm2">
        <div class="search_area">
            <form action="/Gox/PrivateMessage/Index_Group" id="search" method="get">
                <label for="keyword">關鍵字</label>&ensp;
                <input type="text" name="keyword" id="keyword" value="@keyword" placeholder="會員姓名、信箱" />
                &emsp;
                <input type="hidden" name="ExpertId" id="ExpertId" value="@ExpertId" />
                <input type="submit" value="查詢" onclick="">
            </form>
        </div>
    </fieldset>

    <br>
    <label style="line-height:30px">
        達人：@Expert_Name<br>
    </label>
    <div class="showdata" id="update">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th class="item1">
                        私訊會員
                    </th>
                    <th class="item2">
                        私訊內容
                    </th>
                    <th class="item3">
                        刪除
                    </th>
                    <th class="item4">
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td class="item1" style="text-align:left!important;padding-left:20px;line-height:25px">
                            姓名：
                            @if (!string.IsNullOrWhiteSpace(item.Volunteers_Name))
                            {
                                @item.Volunteers_Name
                            }
                            else
                            {
                                <text>無</text>
                            }
                            <br>
                            電話：
                            @if (!string.IsNullOrWhiteSpace(item.Volunteers_Tel))
                            {
                                @item.Volunteers_Tel
                            }
                            else
                            {
                                <text>無</text>
                            }
                            <br>
                            信箱：@item.Volunteers_Email
                        </td>
                        <td class="item2">
                            @Html.ActionLink("私訊內容", "Index_Content", "PrivateMessage", new { ExpertId = item.ExpertId, VolunteersId = item.VolunteersId, PrivateMessageGroupId = item.Id }, null)
                        </td>

                        <td class="item3">
                            @if ((bool)Session["Delete"] == true)
                            {
                                @Html.ActionLink("刪除", "Delete_Group", new { Id = item.Id, p = p }, new { OnClick = "return confirm(\"確定要刪除?\")" })
                            }
                        </td>
                        <td class="item4"></td>
                    </tr>
                }
            </tbody>
        </table>
        <div class="del_chk">
            @Html.Partial("_PartialPage")
        </div>
    </div>


}
