﻿@using Mith.Areas.GoX.Models;
@model List<Mith.Areas.GoX.Models.PrivateMessageModel.PrivateMessageShow>
@{
    int p = 1;
    if (ViewData["p"] != null)
    {
        p = (int)ViewData["p"];
    }
    string keyword = "";
    if (ViewData["keyword"] != null)
    {
        keyword = ViewData["keyword"] as string;
    }

    DateTime? CreateTime_St = ViewData["CreateTime_St"] as DateTime?;
    DateTime? CreateTime_End = ViewData["CreateTime_End"] as DateTime?;
    string ct_start = "";
    string ct_end = "";
    if (CreateTime_St != null)
    {
        ct_start = CreateTime_St.Value.ToString("yyyy/MM/dd HH:mm:ss");
    }
    if (CreateTime_End != null)
    {
        ct_end = CreateTime_End.Value.ToString("yyyy/MM/dd HH:mm:ss");
    }

    string err = "";
    if (TempData["err"] != null && TempData["err"] != "")
    {
        err = TempData["err"] as string;
    }

    int ExpertId = 0;
    if (ViewData["ExpertId"] != null)
    {
        ExpertId = (int)ViewData["ExpertId"];
    }

    string Expert_Name = "";
    if (ViewData["Expert_Name"] != null)
    {
        Expert_Name = ViewData["Expert_Name"] as string;
    }

    int VolunteersId = 0;
    if (ViewData["VolunteersId"] != null)
    {
        VolunteersId = (int)ViewData["VolunteersId"];
    }

    string Volunteers_Name = "";
    if (ViewData["Volunteers_Name"] != null)
    {
        Volunteers_Name = ViewData["Volunteers_Name"] as string;
    }
    string Volunteers_Email = "";
    if (ViewData["Volunteers_Email"] != null)
    {
        Volunteers_Email = ViewData["Volunteers_Email"] as string;
    }
}
@Styles.Render("~/css/AdminPrivateMessageIndex_Content")
@if (TempData["FromAction"] != null)
{
    <script>
        var messag = @Html.Raw(Json.Encode(TempData["FromAction"]));
        alert(messag)
    </script>
}
@if (err != "")
{
    @: 操作失敗<br>
    @err
}
else
{
    <div class="func_item">
        <ul>
            <li>@Html.ActionLink("回私訊會員", "Index_Group", new { ExpertId = @ExpertId })</li>
        </ul>
    </div>
    <fieldset class="confirm2">
        <div class="search_area">
            <form action="/Gox/PrivateMessage/Index_Content" id="search" method="get">
                <label for="create_time_start" class="">發送日期</label>&ensp;
                <input type="text" name="CreateTime_St" id="CreateTime_St" class="date_search" value="@ct_start" /> ~
                <input type="text" name="CreateTime_End" id="CreateTime_End" class="date_search" value="@ct_end" />
                &emsp;
                <input type="hidden" name="ExpertId" id="ExpertId" value="@ExpertId" />
                <input type="hidden" name="VolunteersId" id="VolunteersId" value="@VolunteersId" />
                <input type="submit" value="查詢" onclick="">
            </form>
        </div>
    </fieldset>

    <br>
    <div class="showdata" id="update">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th class="item1">
                        發話
                    </th>
                    <th class="item2">
                        內容
                    </th>
                    <th class="item3">
                        發送時間
                    </th>
                    <th class="item4">
                        刪除
                    </th>
                    <th class="item5">

                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td class="item1">
                            @if (item.From == "Volunteers")
                            {
                                <text>會員：@Volunteers_Name (@Volunteers_Email)</text>
                            }
                            else
                            {
                                <text>達人：@Expert_Name</text>
                            }
                        </td>
                        <td class="item2">
                            @item.Message
                        </td>
                        <td class="item3">
                            @item.CreateTime.Value.ToString("yyyy/MM/dd HH:mm")
                        </td>
                        <td class="item4">
                            @if ((bool)Session["Delete"] == true)
                            {
                                @Html.ActionLink("刪除", "Delete_Content", new { Id = item.Id, p = p }, new { OnClick = "return confirm(\"確定要刪除?\")" })
                            }
                        </td>
                        <td class="item5"></td>
                    </tr>
                }
            </tbody>
        </table>
        <div class="del_chk">
            @Html.Partial("_PartialPage")
        </div>
    </div>


}
