﻿<!-- UploadModal -->
<div class="modal fade" id="UploadModal" tabindex="-1" role="dialog" aria-labelledby="UploadModalLabel" aria-hidden="true">
    <form id="UploadForm" action="@Url.Action("Upload", "ZipCode")" method="post" enctype="multipart/form-data">
        <div class="modal-dialog" style="width:400px!important;padding-top:100px!important">
            <div class="modal-content">
                <div class="modal-body">

                    <div class="fileinput fileinput-new input-group" data-provides="fileinput">
                        <span class="fileinput-filename"></span>
                        <span class="input-group-addon btn btn-default btn-file" style="cursor:pointer!important">
                            @*<span class="fileinput-new" style="cursor:pointer!important">選擇</span>
                                <span class="fileinput-exists" style="cursor:pointer!important">選擇</span>*@
                            <input type="file" name="file" id="file" />
                        </span>
                        @*<a href="#" class="input-group-addon btn btn-default fileinput-exists" data-dismiss="fileinput" style="cursor:pointer!important">移除</a>*@
                    </div>


                </div>
                <div class="modal-footer">
                    @*<input type="button" id="ButtonCancel" data-dismiss="modal" value="取消">*@
                    <input type="submit" id="ButtonSubmit" name="ButtonSubmit" value="載入">
                </div>
            </div>
        </div>
    </form>
</div>
