﻿
<br><br><br>
    <button data-toggle="modal" data-target="#UploadModal">
        匯入資料
    </button>    


@Html.Partial("_UploadFile")


    <script src="~/Scripts/Export/bootbox.js"></script>
    <script src="~/Scripts/Export/jquery.form.js"></script>
    <script src="~/Scripts/Export/project.js"></script>
    <script src="~/Scripts/Export/project.extends.js"></script>
    <script src="~/Scripts/Export/project.ZipCode.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            var actionUrls = {
                @*Upload: '@Url.Action("Upload", "ZipCode")',*@
                Import: '@Url.Action("Import", "ZipCode")',
                @*HasData: '@Url.Action("HasData", "ZipCode")',*@
            };
            project.ZipCode.Initialize(actionUrls);
        });
    </script>
