﻿@model Mith.Models.PushAppConfig

@{
    int save = 0;
    if (TempData["save"]!=null)
    {
        save = (int)TempData["save"];
    }
}

@Scripts.Render("~/bundles/jqueryval")
@*@Styles.Render("~/css/AdminContent")*@
@*<div class="big_title">@ViewBag.Title</div>*@

@using (Html.BeginForm("Config", "AppManage", FormMethod.Post, new { @enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>選項設定</legend>

        @Html.HiddenFor(model => model.Id)

        <div class="editor-label">
            @Html.EditorFor(model => model.EnableCategory) 啟用分類
            @Html.ValidationMessageFor(model => model.EnableCategory)
        </div>

        <p>
            <input type="submit" value="儲存" />
        </p>
        @if (save != 0)
        {
            <div class="error">@(save > 0 ? "儲存成功" : "儲存失敗")</div> 
        }
    </fieldset>
}

<div>
    @Html.ActionLink("返回資料頁", "Index")
</div>
