﻿@model Mith.Areas.GoX.Models.PushAppModel.PushAppModelShow

@{
    int fun_id = (int)ViewData["fun_id"];
}
 
@Styles.Render("~/css/AdminAppCreate")
@Scripts.Render("~/js/AdminAppCreate")
@Styles.Render("~/css/Loading")
<script src="~/Scripts/plugin/Loading/jquery.isloading.min.js" type="text/javascript"></script>
<script>

    </script>
@using (Html.BeginForm("Create", "AppManage", FormMethod.Post, new { @enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @Html.Hidden("AllowPush", true)
    <fieldset>

        <div class="">
            @Html.LabelFor(model => model.AppName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.AppName)
            @Html.ValidationMessageFor(model => model.AppName)
        </div>

       <div class="editor-label">
            @Html.LabelFor(model => model.OS_Name)
        </div>
        <div class="editor-field">
            @*@Html.EditorFor(model => model.OS_Name)*@
            <select name="OS_Name" id="OS_Name">
                <option value="Android">Android</option>
                <option value="iOS">iOS</option>
            </select>
            @Html.ValidationMessageFor(model => model.OS_Name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Password)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Password)
            @Html.ValidationMessageFor(model => model.Password)
        </div>
        
        <div class="editor-label">
            @Html.EditorFor(model => model.Test)@Html.LabelFor(model => model.Test)
            @Html.ValidationMessageFor(model => model.Test)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.P12_Path)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.P12_Path, new { @type = "file" })
            @Html.ValidationMessageFor(model => model.P12_Path)
        </div>
        <br>
        <p>
            <input type="submit" value="新增" onclick="return Send()" id="save_sort" />
        </p>
    </fieldset>
}

<div>
    
</div>

