﻿@model Mith.Areas.GoX.Models.PushAppModel.PushAppModelShow

@{
    int fun_id = (int)ViewData["fun_id"];
    int p = 1;
    if (ViewData["p"] != null)
    {
        p = (int)ViewData["p"];
    }
}
 
@Styles.Render("~/css/AdminAppCreate")
@Scripts.Render("~/js/AdminAppCreate")
@*<div class="big_title">@ViewBag.Title</div>*@

@using (Html.BeginForm("Edit", "AppManage", FormMethod.Post, new { @enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>

        @*@if (config.EnableCategory)
        {
            List<SelectListItem> CategoryItem = new List<SelectListItem>();
            if (ViewData["CategoryItem"] != null)
            {
                CategoryItem = ViewData["CategoryItem"] as List<SelectListItem>;
            }
            <div class="editor-label">
                @Html.LabelFor(model => model.CategoryId)
            </div>
            <div class="editor-field">
                @Html.Raw(Html.DropList("CategoryId", CategoryItem))
                @Html.ValidationMessageFor(model => model.CategoryId)
            </div>
        }*@

        <div class="editor-label">
            @Html.LabelFor(model => model.AppName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.AppName)
            @Html.ValidationMessageFor(model => model.AppName)
        </div>

       <div class="editor-label">
            @Html.LabelFor(model => model.OS_Name)
        </div>
        <div class="editor-field">
            @*@Html.EditorFor(model => model.OS_Name)*@
            <select name="OS_Name" id="OS_Name">
                <option value="Android" @{if(Model.OS_Name=="Android"){<text>selected</text>}}>Android</option>
                <option value="iOS" @{if(Model.OS_Name=="iOS"){<text>selected</text>}}>iOS</option>
            </select>
            @Html.ValidationMessageFor(model => model.OS_Name)
        </div>

        <div class="editor-label">
            @Html.EditorFor(model => model.AllowPush)@Html.LabelFor(model => model.AllowPush)
            @Html.ValidationMessageFor(model => model.AllowPush)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Password)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Password, new { style="width:100%"})
            @Html.ValidationMessageFor(model => model.Password)
        </div>
        
        <div class="editor-label">
            @Html.EditorFor(model => model.Test)@Html.LabelFor(model => model.Test)
            @Html.ValidationMessageFor(model => model.Test)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.P12_Path)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.P12_Path, new { @type = "file" })
            @if (Model != null)
            {
                if (Model.P12_Path != null && Model.P12_Path != "")
                {
                    <a href="@Model.P12_Path" target="_blank">下載</a><label><input type="checkbox" name="delete" value="1" />刪除檔案</label>
                }
            }
            @Html.ValidationMessageFor(model => model.P12_Path)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CreateTime)
        </div>
        <div class="editor-field">
            @Html.DisplayFor(model => model.CreateTime)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.UpdateTime)
        </div>
        <div class="editor-field">
            @Html.DisplayFor(model => model.UpdateTime)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.UpdateUser)
        </div>
        <div class="editor-field">
            @Html.DisplayFor(model => model.UpdateUser)
        </div>

        <input type="hidden" name="p" value="@p" />

        <p>
            <input type="submit" value="儲存" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("返回資料頁", "Index")
</div>

