﻿@using Mith.Models;
@model List<Mith.Areas.GoX.Models.PushErrorModel.PushErrorShow>
@{
    int p = 1;
    if (ViewData["p"] != null)
    {
        p = (int)ViewData["p"];
    }

    string keyword = "";
    if (ViewData["keyword"] != null)
    {
        keyword = ViewData["keyword"] as string;
    }

    DateTime? create_time_start = ViewData["create_time_start"] as DateTime?;
    DateTime? create_time_end = ViewData["create_time_end"] as DateTime?;
    string ct_start = "";
    string ct_end = "";
    if (create_time_start != null)
    {
        ct_start = create_time_start.Value.ToString("yyyy/MM/dd HH:mm:ss");
    }
    if (create_time_end != null)
    {
        ct_end = create_time_end.Value.ToString("yyyy/MM/dd HH:mm:ss");
    }

    int[] appid = null;
    if (ViewData["appid"] != null)
    {
        appid = ViewData["appid"] as int[];
    }

    Mith.Areas.GoX.Models.PushAppModel pam = new Mith.Areas.GoX.Models.PushAppModel(10);
    var apps = pam.Get_Data(1, pam.Get_Count());

    string err = "";
    if (TempData["err"] != null && TempData["err"] != "")
    {
        err = TempData["err"] as string;
    }

}
@Styles.Render("~/Scripts/plugin/TimePicker/css")
@Scripts.Render("~/Scripts/plugin/TimePicker/js")
@Styles.Render("~/css/AdminAppErrorIndex")
@Scripts.Render("~/js/AdminAppErrorIndex")

@if (err != "")
{
    @: 操作失敗；錯誤代碼：@err。
}
else
{
    @*<div class="big_title">@ViewBag.Title</div>*@
    <fieldset class="confirm2">
        <div class="search_area">
            <form action="@Method.RootPath/GoX/AppManage/ErrorIndex" id="search" method="get">
                <label for="keyword">關鍵字: </label>
                <input type="text" name="keyword" id="keyword" value="@keyword" />
                <br />
                @if (apps.Any())
            {
                    <label>App: </label>
                foreach (var i in apps)
                {
                    <label><input type="checkbox" value="@i.Id" name="appid" @if (appid != null) { if (appid.Contains(i.Id)) { <text> checked</text>}} />@i.AppName (@i.OS_Name)</label>
                }
                <br />
            }
                <label for="create_time_start">建立時間: </label>
                <input type="text" name="create_time_start" id="create_time_start" class="date_search" value="@ct_start"  readonly /> ~
                <input type="text" name="create_time_end" id="create_time_end" class="date_search" value="@ct_end"  readonly />
                <input type="hidden" name="search_time_offset" id="search_time_offset" value="0" />
                &emsp;
                <input type="submit" value="查詢" id="">
            </form>
        </div>
        </fieldset>
    <BR>
        <div class="showdata">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th class="item2">
                            @Html.DisplayNameFor(model => model[0].Title)
                        </th>
                        <th class="item3">
                            @Html.DisplayNameFor(model => model[0].Message)
                        </th>
                        <th class="item4">
                            @Html.DisplayNameFor(model => model[0].ErrorMessage)
                        </th>
                        <th class="item5">
                            @Html.DisplayNameFor(model => model[0].DeviceId)
                        </th>
                        <th class="item6">
                            @Html.DisplayNameFor(model => model[0].VolunteerAccount)
                        </th>
                        <th class="item7">
                            @Html.DisplayNameFor(model => model[0].CreateTime)
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td class="item2">
                                @Html.DisplayFor(modelItem => item.Title)
                            </td>
                            <td class="item3">
                                <a href="javascript:void(0);" class="error_title" data-val="error_msg_@item.Id">@item.Message</a>
                                <textarea id="error_msg_@item.Id" style="display:none;">
                                    @item.Message
                                </textarea>
                            </td>
                            <td class="item4">
                                <a href="javascript:void(0);" class="error_title" data-val="error_err_@item.Id" style="color:blue!important">@item.ErrorMessageShow</a>
                                <textarea id="error_err_@item.Id" style="display:none;">
                                    @item.ErrorMessage
                                </textarea>
                            </td>
                            <th class="item5">
                                <a href="javascript:void(0);" class="error_title" data-val="error_token_@item.Id">@item.DeviceId...</a>
                                <textarea id="error_token_@item.Id" style="display:none;">
                                    @item.DeviceId...
                                </textarea>
                            </th>
                            <th class="item6">
                                @if (item.VolunteerId != null)
                                {
                                    @Html.ActionLink(item.VolunteerName + "(" + item.VolunteerAccount + ")", "Edit", "Volunteers", new { id = item.VolunteerId }, new { target = "_blank" })
                                }
   
                            </th>
                            <th class="item7">
                                @Html.DisplayFor(modelItem => item.CreateTime)
                            </th>
                        </tr>
                    }
                </tbody>
            </table>
            <div class="del_chk">
                @Html.Partial("_PartialPage")
            </div>
        </div>
        }
