﻿@using Mith.Models;
@model List<Mith.Areas.GoX.Models.PushAppModel.PushAppModelShow>
@{
    int fun_id = (int)ViewData["fun_id"];

    int p = 1;
    if (ViewData["p"] != null)
    {
        p = (int)ViewData["p"];
    }

    string keyword = "";
    if (ViewData["keyword"] != null)
    {
        keyword = ViewData["keyword"] as string;
    }

    int enable = 0;
    if (ViewData["enable"] != null)
    {
        enable = (int)ViewData["enable"];
    }
    int disable = 0;
    if (ViewData["disable"] != null)
    {
        disable = (int)ViewData["disable"];
    }
    
    DateTime? create_time_start = ViewData["create_time_start"] as DateTime?;
    DateTime? create_time_end = ViewData["create_time_end"] as DateTime?;
    DateTime? update_time_start = ViewData["update_time_start"] as DateTime?;
    DateTime? update_time_end = ViewData["update_time_end"] as DateTime?;
    string ct_start = "";
    string ct_end = "";
    string ut_start = "";
    string ut_end = "";
    if (create_time_start != null)
    {
        ct_start = create_time_start.Value.ToString("yyyy/MM/dd HH:mm:ss");
    }
    if (create_time_end != null)
    {
        ct_end = create_time_end.Value.ToString("yyyy/MM/dd HH:mm:ss");
    }
    if (update_time_start != null)
    {
        ut_start = update_time_start.Value.ToString("yyyy/MM/dd HH:mm:ss");
    }
    if (update_time_end != null)
    {
        ut_end = update_time_end.Value.ToString("yyyy/MM/dd HH:mm:ss");
    }

    int[] cid = null;
    if (ViewData["cid"] != null)
    {
        cid = ViewData["cid"] as int[];
    }

    string err = "";
    if (TempData["err"] != null && TempData["err"] != "")
    {
        err = TempData["err"] as string;
    }

}
@Styles.Render("~/Scripts/plugin/TimePicker/css")
@Scripts.Render("~/Scripts/plugin/TimePicker/js")
@Styles.Render("~/css/AdminAppIndex")
@Scripts.Render("~/js/AdminAppIndex")
@if (TempData["FromAction"] != null)
{
    <script>
        var messag = @Html.Raw(Json.Encode(TempData["FromAction"]));
        alert(messag)
    </script>
}
@if (err != "")
{
    @: 操作失敗；錯誤代碼：@err。
}
else
{
@*<div class="big_title">@ViewBag.Title</div>*@
    <div class="func_item">
        <ul>
            <li >
                @Html.ActionLink("新增", "Create", new { fun_id = fun_id })

            </li>
        </ul>
    </div>
    <fieldset class="confirm2">
        <div class="search_area">
            <form action="@Method.RootPath/GoX/AppManage" id="search" method="get">
                <label for="keyword">關 鍵 字 : </label>
                <input type="text" name="keyword" id="keyword" value="@keyword" />
                <br />
                <label>推　　送: </label>
                <label><input type="checkbox" value="1" name="enable" @if (enable==1){ <text> checked</text>} />允許</label>
                <label><input type="checkbox" value="1" name="disable" @if(disable==1){ <text> checked</text>} />不允許</label>
                <br />
                @*@if (config.EnableCategory)
                    {
                        <table class="category_table">
                            <tr>
                                <td class="category_table_title"><label>分類: </label></td>
                                <td class="category_table_content">@Html.Raw(ViewBag.list_cid)</td>
                            </tr>
                        </table>
                    }*@
                <label for="create_time_start">建立時間: </label>
                <input type="text" name="create_time_start" id="create_time_start" class="date_search" value="@ct_start"  readonly /> ~
                <input type="text" name="create_time_end" id="create_time_end" class="date_search" value="@ct_end"  readonly />
                @*<br />
                    <label for="update_time_start">更新時間: </label>
                    <input type="text" name="update_time_start" id="update_time_start" class="date_search" value="@ut_start" /> ~
                    <input type="text" name="update_time_end" id="update_time_end" class="date_search" value="@ut_end" />
                    <input type="hidden" name="search_time_offset" id="search_time_offset" value="0" />*@
                &emsp;
                <input type="submit" value="查詢">
            </form>
        </div>
    </fieldset>
    <br>
        <div class="showdata">

            <table class="table table-striped">
                <thead>
                    <tr>
                        <th class="item1">
                            @Html.DisplayNameFor(model => model[0].Id)
                        </th>
                        <th class="item2">
                            @Html.DisplayNameFor(model => model[0].AppName)
                        </th>
                        <th class="item3">
                            @Html.DisplayNameFor(model => model[0].OS_Name)
                        </th>
                        <th class="item4">
                            @Html.DisplayNameFor(model => model[0].AllowPush)
                        </th>
                        <th class="item5">
                            @Html.DisplayNameFor(model => model[0].CreateTime)
                        </th>
                        <th class="item6">
                            編輯
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td class="item1">
                                @Html.DisplayFor(modelItem => item.Id)
                            </td>
                            <td class="item2">
                                @Html.DisplayFor(modelItem => item.AppName)
                            </td>
                            <td class="item3">
                                @Html.DisplayFor(modelItem => item.OS_Name)
                            </td>
                            <td class="item4">
                                @if (item.AllowPush)
                                {<text>允許</text> }
                                else
                                {<text>不允許</text> }
                            </td>
                            <th class="item5">
                                @Html.DisplayFor(modelItem => item.CreateTime)
                            </th>
                            <td class="item6">
                                @Html.ActionLink("編輯", "Edit", new { id = item.Id })
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <div class="del_chk">
                @Html.Partial("_PartialPage")
            </div>
        </div>
        }
