﻿@using Mith.Models;
@model List<Mith.Areas.GoX.Models.PushMessageModel.PushMessageShow>
@{
    Mith.Areas.GoX.Models.PushAppModel pam = new Mith.Areas.GoX.Models.PushAppModel(10);
    var apps = pam.Get_Select(0, true);
    int p = 1;
    if (ViewData["p"] != null)
    {
        p = (int)ViewData["p"];
    }

    string keyword = "";
    if (ViewData["keyword"] != null)
    {
        keyword = ViewData["keyword"] as string;
    }

    int sended = 0;
    if (ViewData["sended"] != null)
    {
        sended = (int)ViewData["sended"];
    }
    int send_no = 0;
    if (ViewData["send_no"] != null)
    {
        send_no = (int)ViewData["send_no"];
    }

    DateTime? create_time_start = ViewData["create_time_start"] as DateTime?;
    DateTime? create_time_end = ViewData["create_time_end"] as DateTime?;
    string ct_start = "";
    string ct_end = "";
    if (create_time_start != null)
    {
        ct_start = create_time_start.Value.ToString("yyyy/MM/dd HH:mm:ss");
    }
    if (create_time_end != null)
    {
        ct_end = create_time_end.Value.ToString("yyyy/MM/dd HH:mm:ss");
    }

    int[] appid = null;
    if (ViewData["appid"] != null)
    {
        appid = ViewData["appid"] as int[];
    }


    string err = "";
    if (TempData["err"] != null && TempData["err"] != "")
    {
        err = TempData["err"] as string;
    }
    int VolunteerId = 0;
    if (ViewData["VolunteerId"] != null)
    {
        VolunteerId = (int)ViewData["VolunteerId"];
    }

}
@Styles.Render("~/Scripts/plugin/TimePicker/css")
@Scripts.Render("~/Scripts/plugin/TimePicker/js")
@Styles.Render("~/css/AdminAppMessageIndex")
@Scripts.Render("~/js/AdminAppIndex")
@Scripts.Render("~/js/Autocomplete")
<link rel="stylesheet" href="~/Content/themes/smoothness/jquery-ui.css">

<style>
    .custom-VolunteerId-input {
        width: 380px !important;
        font-family: Microsoft JhengHei !important;
        font-size: 16px !important;
        color: black !important;
        font-weight: normal !important;
    }
</style>

@*<link rel="stylesheet" href="~/Content/themes/smoothness/jquery-ui.css">*@
@if (TempData["FromAction"] != null)
{
    <script>
        var messag = @Html.Raw(Json.Encode(TempData["FromAction"]));
        alert(messag)
    </script>
}
@if (err != "")
{
    @: 操作失敗；錯誤代碼：@err。
}
else
{
    @*<div class="big_title">@ViewBag.Title</div>*@
    <div class="func_item">
        <ul>
            <li>@Html.ActionLink("新增", "MessageCreate")</li>
        </ul>
    </div>
    @*<fieldset class="confirm2">
        <div class="search_area">
            <form action="~/gox/AppManage/MessageIndex" id="search" method="get">
                <label for="keyword">關 鍵 字 : </label>
                <input type="text" name="keyword" id="keyword" value="@keyword" placeholder="內容" />
                <br />
                <label>狀　　態: </label>
                <label><input type="checkbox" value="1" name="sended" @if (sended == 1) { <text> checked</text>} />已發送</label>
                <label><input type="checkbox" value="1" name="send_no" @if (send_no == 1) { <text> checked</text>} />未發送</label>
                <br />
                <label for="create_time_start">建立時間: </label>
                <input type="text" name="create_time_start" id="create_time_start" class="date_search" value="@ct_start" readonly /> ~
                <input type="text" name="create_time_end" id="create_time_end" class="date_search" value="@ct_end" readonly />
                <input type="hidden" name="search_time_offset" id="search_time_offset" value="0" />
                <br />
                <div class="ui-widget">

                    <input type="submit" value="查詢" id="">
                </div>
            </form>
        </div>
    </fieldset>*@
    <div class="showdata">

        <table class="table table-striped">
            <thead>
                <tr>
                    <th class="item1">
                        @Html.DisplayNameFor(model => model[0].Title)
                    </th>
                    <th class="item2">
                        @Html.DisplayNameFor(model => model[0].Content)
                    </th>
                    <th class="item3">
                        @Html.DisplayNameFor(model => model[0].CreateTime)
                    </th>
                    <th class="item4">
                        @Html.DisplayNameFor(model => model[0].Sended)
                    </th>
                    <th class="item5">
                        發送
                    </th>
                    <th class="item6">
                        編輯
                    </th>
                    <th class="item7">
                        刪除
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td class="item1">
                            @Html.DisplayFor(modelItem => item.Title)
                        </td>
                        <td class="item2">
                            @Html.DisplayFor(modelItem => item.Content)
                        </td>
                        <td class="item3">
                            @Html.DisplayFor(modelItem => item.CreateTime)
                        </td>
                        <td class="item4">
                            @(item.Sended ? "已送過" : "未發送")
                        </td>
                        <td class="item5" style="padding-top: 10px;padding-bottom:10px">
                            @if (item.Sended == false)
                            {
                                @Html.ActionLink("發送", "MessagePushOne", new { id = item.Id}, new { Id="save_sort", OnClick = "return confirm(\"確定要發送?\")" })
                            }
                        </td>
                        <td class="item6">
                            @Html.ActionLink("編輯", "MessageEdit", new { id = item.Id }, null)
                        </td>
                        <td class="item7">
                            @Html.ActionLink("刪除", "MessageDelete", new { item = item.Id, p = p }, new { OnClick = "return confirm(\"確定要刪除?\")" })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <div class="del_chk">
            @Html.Partial("_PartialPage")
        </div>
    </div>
}
