﻿@model Mith.Areas.GoX.Models.PushMessageModel.PushMessageShow
@using Mith.Areas.GoX.Models
@{
    Mith.Areas.GoX.Models.PushAppModel pam = new Mith.Areas.GoX.Models.PushAppModel(10);
    var apps = pam.Get_Select(0,true);
}
 
@*@Styles.Render("~/css/AdminContent")*@
@Scripts.Render("~/js/AdminMessageCreate")
@Styles.Render("~/css/Loading")
<script src="~/Scripts/plugin/Loading/jquery.isloading.min.js" type="text/javascript"></script>
@Scripts.Render("~/js/Autocomplete")
<link rel="stylesheet" href="~/Content/themes/smoothness/jquery-ui.css">
<style>
    .custom-VolunteerId-input {
        display: none;
        width: 380px !important;
        font-family: Microsoft JhengHei !important;
        font-size: 16px !important;
        color: black !important;
        font-weight: normal !important;
    }
</style>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <input type="hidden" name="AppId" id="AppId" value="0">
        <div class="">
            @Html.LabelFor(model => model.Title)  ( Android系統才看的到 )
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Title)
            @Html.ValidationMessageFor(model => model.Title)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Content)
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.Content, 6, 50, new { style = "resize: none;" })
            @Html.ValidationMessageFor(model => model.Content)
        </div>
        <input type="hidden" name="VolunteerId" id="VolunteerId" value="0">
        @*<div class="editor-label">
            <b>會員</b>
        </div>
        <div class="editor-field">
            <div class="ui-widget">
                @Html.Raw(Html.DropList("VolunteerId", PushMessageModel.Select_Volunteers(0, false)))
            </div>
        </div>*@
        <br>
        <p>
            <input type="submit" value="新增" onclick="return Send()" id="save_sort" />
        </p>
    </fieldset>
}

