﻿@using Mith.Models;
@model List<Mith.Areas.GoX.Models.PushTokenModel.PushTokenShow>
@{
    
    int p = 1;
    if (ViewData["p"] != null)
    {
        p = (int)ViewData["p"];
    }

    string keyword = "";
    if (ViewData["keyword"] != null)
    {
        keyword = ViewData["keyword"] as string;
    }

    DateTime? update_time_start = ViewData["update_time_start"] as DateTime?;
    DateTime? update_time_end = ViewData["update_time_end"] as DateTime?;
    DateTime? send_time_start = ViewData["send_time_start"] as DateTime?;
    DateTime? send_time_end = ViewData["send_time_end"] as DateTime?;

    string ut_start = "";
    string ut_end = "";
    string sd_start = "";
    string sd_end = "";
    if (send_time_start != null)
    {
        sd_start = send_time_start.Value.ToString("yyyy/MM/dd HH:mm:ss");
    }
    if (send_time_end != null)
    {
        sd_end = send_time_end.Value.ToString("yyyy/MM/dd HH:mm:ss");
    }
    if (update_time_start != null)
    {
        ut_start = update_time_start.Value.ToString("yyyy/MM/dd HH:mm:ss");
    }
    if (update_time_end != null)
    {
        ut_end = update_time_end.Value.ToString("yyyy/MM/dd HH:mm:ss");
    }

    int[] appid = null;
    if (ViewData["appid"] != null)
    {
        appid = ViewData["appid"] as int[];
    }
    Mith.Areas.GoX.Models.PushAppModel pam = new Mith.Areas.GoX.Models.PushAppModel(10);
    var apps = pam.Get_Select(0, true);

    string err = "";
    if (TempData["err"] != null && TempData["err"] != "")
    {
        err = TempData["err"] as string;
    }

}
@Styles.Render("~/Scripts/plugin/TimePicker/css")
@Scripts.Render("~/Scripts/plugin/TimePicker/js")
@Styles.Render("~/css/AdminTokenIndex")
@Scripts.Render("~/js/AdminAppIndex")

@if (err != "")
{
    @: 操作失敗；錯誤代碼：@err。
}
else
{
    <fieldset class="confirm2">
        <div class="search_area">
            <form action="@Method.RootPath/GoX/AppManage/TokenIndex" id="search" method="get">
                @*@if (apps.Any())
                {
                    <label>App名稱: </label>
                    @Html.Raw(Html.DropList("AppId", apps, new { style = "height:28px" }))
                    <br />
                }*@
                <label for="update_time_start">接收時間: </label>
                <input type="text" name="update_time_start" id="update_time_start" class="date_search" value="@ut_start" /> ~
                <input type="text" name="update_time_end" id="update_time_end" class="date_search" value="@ut_end" />
                <br>
                <label for="send_time_start">推播時間: </label>
                <input type="text" name="send_time_start" id="send_time_start" class="date_search" value="@sd_start" /> ~
                <input type="text" name="send_time_end" id="send_time_end" class="date_search" value="@sd_end" />
                <input type="hidden" name="search_time_offset" id="search_time_offset" value="0" />
                &emsp;
                <input type="submit" value="查詢" >
            </form>
        </div>
    </fieldset>
    <br>
    <div class="showdata">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th class="item1">
                        @Html.DisplayNameFor(model => model[0].AppName)
                    </th>
                    <th class="item2">
                        @Html.DisplayNameFor(model => model[0].Token)
                    </th>
                    <th class="item3">
                        RandomCode
                    </th>
                    <th class="item4">
                        @Html.DisplayNameFor(model => model[0].BadgeCount)
                    </th>
                    <th class="item5">
                        @Html.DisplayNameFor(model => model[0].UpdateTime)
                    </th>
                    <th class="item6">
                        @Html.DisplayNameFor(model => model[0].LastSendTime)
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td class="item1">
                            @Html.DisplayFor(modelItem => item.AppName)
                        </td>
                        <td class="item2">
                            @Html.DisplayFor(modelItem => item.Token)...
                        </td>
                        <td class="item3">
                            @Html.DisplayFor(modelItem => item.RandomCode)
                        </td>
                        <td class="item4">
                            @Html.DisplayFor(modelItem => item.BadgeCount)
                        </td>
                        <th class="item5">
                            @Html.DisplayFor(modelItem => item.UpdateTime)
                        </th>
                        <th class="item6">
                            @if (item.LastSendTime != null) { 
                            @Html.DisplayFor(modelItem => item.LastSendTime)
                            }
                        </th>
                    </tr>
                }
            </tbody>
        </table>
        <div class="del_chk">
            @Html.Partial("_PartialPage")
        </div>
    </div>
}
