﻿<style>
    h1 {
        margin-top: 40px;
        margin-bottom: 20px;
        font-family: "微軟正黑體";
        letter-spacing: 3px;
        font-size: 48px;
        font-weight: bold;
        text-align: center;
        color: #FFF;
    }

    h2 {
        font-family: "微軟正黑體";
        letter-spacing: 3px;
        font-size: 36px;
        font-weight: bold;
        text-align: center;
        color: #FFF;
    }

    h3 {
        font-family: "微軟正黑體";
        letter-spacing: 3px;
        font-size: 24px;
        font-weight: bold;
        text-align: center;
        color: #FFF;
    }

    .content_hr {
        width: 80%;
        height: 1px;
        background-color: #FFF;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .main_content {
        text-align: center;
        display: inline-block;
    }

        .main_content p {
            font-size: 18px;
            color: #FFF;
            font-family: "微軟正黑體";
        }

    #black {
        width: 100%;
        height: 400px;
        background: rgba(0,0,0,0.7);
        padding-top: 80px;
    }

    #id_box2 {
        width: 100%;
        height: 400px;
        background: url('/Images/bg2.png');
        overflow: hidden;
        background-size: cover;
        background-repeat: no-repeat;
        text-align: center;
    }
</style>

<body style="background-image:url('/Images/bg1.png')">
    <h1>Mith讓生活更精彩</h1>

    <br>
    <div id="id_box2">
        <div id="black">
            <h3>千款服飾,快速搭配出個人穿著風格,為您節省更多的換衣時間!</h3>
            <hr class="content_hr">
            <div class="main_content">
                <p>當季最新、最潮的流行服飾商品，將會在您的Mith APP出現。</p>
                <p>完全幫你節省掉實際試穿衣服的時間，多的時間還可以約個會呢!</p>
                <p>覺得網拍麻豆所搭配的衣服種類很少嗎? Mith APP讓你自己來當設計師，搭配出自己的風格衣!</p>
            </div>
            <hr class="content_hr">
        </div>
    </div>
    <br>
    <h2>快來下載Mith App吧！</h2>
    <br>
    <table style="background-color:transparent">
        <tr>
            <td style="text-align:right">


                <a href="http://mith.azurewebsites.net/MITH.apk" >
                    <img src="~/Images/Android.png">
                </a>
            </td>
            <td style="text-align:left">
                <a href="itms-services://?action=download-manifest&url=https://dl.dropboxusercontent.com/s/4hho84u0p63eua1/download.plist">
                    <img src="~/Images/IOS.png">
                </a>
            </td>
        </tr>
    </table>
    <br />
    <br />
    <h2>相關截圖</h2>
    <br />
    <div style="text-align:center">
        <img src="~/Images/Screenshot_2015-11-23-18-34-08.png" style="width:18%;height:auto">
        &emsp;        &emsp;        &emsp;
        <img src="~/Images/Screenshot_2015-11-23-18-34-25.png" style="width:18%;height:auto">
        &emsp;        &emsp;        &emsp;
        <img src="~/Images/Screenshot_2015-11-23-18-34-49.png" style="width:18%;height:auto">
        &emsp;        &emsp;        &emsp;
        <img src="~/Images/Screenshot_2015-11-23-18-35-46.png" style="width:18%;height:auto">
    </div>
    <br /><br /><br />
</body>