﻿img {
    border:0px;
}

body {
    margin:0 auto;
    width: 1024px;
}
#body {
    margin: 0px auto;
    height:auto;
}
* {
    font-family:'Times New Roman';
}

header {

}
.header_top {
    width:100%;
    text-align:right;
    margin-top:5px;
    margin-bottom:5px;
    height:30px;
}
    .header_top span {
        margin-right:10px;
        top: 2px;
        position: relative;
    }
    .header_top img {
        vertical-align:middle;
    }
    .header_top a,
    .header_top a:active,
    .header_top a:hover {
        font-size:14px;
        text-decoration:none;
        color:black;
        text-align:right;
    }

.header {
    overflow : auto;
    margin: 0 auto;
    width:100%;
    position: relative;
    background: #ebf1f6; /* Old browsers */
    background: -moz-linear-gradient(top, #ebf1f6 0%, #abd3ee 50%, #89c3eb 51%, #d5ebfb 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ebf1f6), color-stop(50%,#abd3ee), color-stop(51%,#89c3eb), color-stop(100%,#d5ebfb)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ebf1f6 0%,#abd3ee 50%,#89c3eb 51%,#d5ebfb 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ebf1f6 0%,#abd3ee 50%,#89c3eb 51%,#d5ebfb 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #ebf1f6 0%,#abd3ee 50%,#89c3eb 51%,#d5ebfb 100%); /* IE10+ */
    background: linear-gradient(to bottom, #ebf1f6 0%,#abd3ee 50%,#89c3eb 51%,#d5ebfb 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ebf1f6', endColorstr='#d5ebfb',GradientType=0 ); /* IE6-9 */
    border:1px solid lightgray;
}
    .header a,
    .header a:active,
    .header a:hover{
        text-decoration:none;
        color:white;
        vertical-align:middle;
    }
    .header img{
        vertical-align:middle;
    }
    .header .header1 {
        height: 80px;
        width: auto;
        float: left;
        text-align: center;
        padding-top: 20px;
        padding-left: 20px;
    }
        .header .header1 .header_title1 {
            color:white;
            font-size:33px;
            font-weight:bold;
            display:block;
        }
        .header .header1 .header_title2 {
            color:white;
            font-size:18px;
            font-weight:bold;
            display:block;
        }
    .header .header2 {
        width:auto;
        float:left;
        padding-top: 10px;
    }
        .header .header2 ul {
            list-style:none;
            display: table;
        }
        .header .header2 ul li {
            float:left;
            width:auto;
            /*padding-top:15px;
            padding-bottom:15px;*/
            background: #3b679e; /* Old browsers */
            background: -moz-linear-gradient(top,  #3b679e 0%, #2b88d9 50%, #207cca 51%, #7db9e8 100%); /* FF3.6+ */
            background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3b679e), color-stop(50%,#2b88d9), color-stop(51%,#207cca), color-stop(100%,#7db9e8)); /* Chrome,Safari4+ */
            background: -webkit-linear-gradient(top,  #3b679e 0%,#2b88d9 50%,#207cca 51%,#7db9e8 100%); /* Chrome10+,Safari5.1+ */
            background: -o-linear-gradient(top,  #3b679e 0%,#2b88d9 50%,#207cca 51%,#7db9e8 100%); /* Opera 11.10+ */
            background: -ms-linear-gradient(top,  #3b679e 0%,#2b88d9 50%,#207cca 51%,#7db9e8 100%); /* IE10+ */
            background: linear-gradient(to bottom,  #3b679e 0%,#2b88d9 50%,#207cca 51%,#7db9e8 100%); /* W3C */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3b679e', endColorstr='#7db9e8',GradientType=0 ); /* IE6-9 */
            border-radius:10px;
            margin-right:10px;
            padding:10px;
            color:white;
            font-size:21px;
			font-weight:bold;
            vertical-align:middle;
        }
        .header .header2 ul li:hover {
            background: #7db9e8; /* Old browsers */
            background: -moz-linear-gradient(top,  #7db9e8 0%, #207cca 49%, #2b88d9 50%, #3b679e 100%); /* FF3.6+ */
            background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7db9e8), color-stop(49%,#207cca), color-stop(50%,#2b88d9), color-stop(100%,#3b679e)); /* Chrome,Safari4+ */
            background: -webkit-linear-gradient(top,  #7db9e8 0%,#207cca 49%,#2b88d9 50%,#3b679e 100%); /* Chrome10+,Safari5.1+ */
            background: -o-linear-gradient(top,  #7db9e8 0%,#207cca 49%,#2b88d9 50%,#3b679e 100%); /* Opera 11.10+ */
            background: -ms-linear-gradient(top,  #7db9e8 0%,#207cca 49%,#2b88d9 50%,#3b679e 100%); /* IE10+ */
            background: linear-gradient(to bottom,  #7db9e8 0%,#207cca 49%,#2b88d9 50%,#3b679e 100%); /* W3C */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7db9e8', endColorstr='#3b679e',GradientType=0 ); /* IE6-9 */

        }
            .header .header2 ul li img {
                width:32px;
                height:32px;
            }
.field-validation-error {
    color:red;
    font-weight:bold;
}
footer {
    margin-top:10px;
}
.footer {
    width:100%;
    border-top:1px solid lightgray;
    margin-top:0px;
    overflow: auto;
}
    .footer .left {
        float:left;
        padding-top:6px;
        padding-left:20px;
        color:gray;
        padding-bottom:6px;
    }
        .footer .left a,
        .footer .left a:hover,
        .footer .left a:link,
        .footer .left a:active{
            color:gray;
            text-decoration: none;
            font-family:'Times New Roman';
        }
    .footer .right {
        float:right;
        padding-top:6px;
        padding-right:20px
    }
    .footer .right ul {
        list-style: none;
        display: inline;
        top: 0px;
        position: relative;
    }
           .footer .right  ul li {
                display: inline;
                margin-right: 10px;
                color:white;
            }
                .footer .right ul li a,
                .footer .right ul li a:hover,
                .footer .right ul li a:link,
                .footer .right ul li a:active{
                    color:gray;
                    text-decoration: none;
                }