/*index*/
body{
	margin:0px;
	}
/*banner*/
.banner{
	width:100%;
	background-color:#fff;
	height:100px;
	position:fixed;
	top:0%;
	z-index:10;
	}
.navbar li{
	display:inline;
	margin:20px;
	line-height:100px;
	
	font-size:18px;
	font-family:Microsoft JhengHei;
	font-weight:bold;
	
	}
.navbar li a{
	-webkit-transition: color 1s; 
    transition: color 1s;
	
	-moz-transition: color 1s; 
    transition: color 1s;
	}
.navbar li a:hover{
	text-decoration:none;
	color:#FF9966;
	
	-webkit-transition: color 0.5s; 
    transition: color 0.5s;
	
	-moz-transition: color 0.5s;
    transition: color 0.5s;
	}
.navbar-btn{
	background-color:#000000;
	padding:10px;
	border-radius:4px;
	}
.navbar-btn a{
	color:#fff;
	}
/*main*/
#main{
	background-color:#FF9966;
	height:680px;
	}
#mainText{
	padding-top:300px;
	float:right;
	padding-right:50px;
	}
#mainText ul{
	margin:60px 0px;
	}
#mainText li{
	display:table;
	}
#mainText li h4{
	color:#fff;
	font-size:16px;
	line-height:22px;
	}


/*news*/
#news{
	background-color:#99CCCC;
	height:630px;
	}
.nImg{
	width:500px;
	height:500px;
	margin-left:230px;
	float:left;
	}
#newText{
	float:right;
	
	font-size:16px;
	color:#fff;
	}
#newText .btn{
	margin-left:10px;
	}
#newText p{
	color:#FC0004;
	font-size:18px;
	}
	
/* four service*/	
#fourService{
	height:550px;
	background-color:#CCCC99;
	}
.service{
	display:block;
	height:250px;
	}
.service h2{
	font-family:Microsoft JhengHei;
	line-height:30px;
	}
.service p{
	font-family:Microsoft JhengHei;
	font-size:18px;
	color:#eb6437;
	line-height:30px;
	}
	
/*feature*/
#feature{
	background:#FFCC55;
	height:400px;
	}
#feature ul{
	margin:0px;
	}
#feature li{	
	display:block;
	}
#feature li img{
	display:block;
	
	height:150px;
	width:150px;
	
	margin:50px auto;
	}
#feature li h2{
	text-align:center;
	font-family:Microsoft JhengHei;
	}
#feature li h3{
	color:#8E8D8D;
	font-size:16px;
	text-height:16px;
	margin-top:-6px;
	text-align:center;
	font-family:Helvetica, Arial, sans-serif;
	text-transform:uppercase;
	}
#feature li p{
	text-align:center;
	font-family:Microsoft JhengHei;
	font-weight:bold;
	}	


/*introduce*/
#intro{
	background:#99CC66;
	height:200px;
	}
#intro p{
	padding-top:50px;
	font-size:16px;
	font-family:Microsoft JhengHei;
	}
#intro h2{
	color:#F90105;
	font-family:Microsoft JhengHei;
	}

	
	/*footer*/

.footer{
	background:#cccccc;
	height:50px;
	margin:0;
	}
.footer .pull-right p{
	line-height:50px;
	font-family:Microsoft JhengHei;
	}
	
	
/*service*/

/*product*/
#product{
	height:850px;
	background:#FF9966;
	}
#product ul{
	margin-top:20px;
	}
#product li{
	display:block;
	padding:20px;
	height:300px;
	}
#product li h2{
	color:#fff;
	}
#product li h3{
	color:#727272;
	margin-top:-6px;
		}
#product li p{
	color:#434343;
	padding-top:10px;
	font-size:16px;
	line-height:22px;
		}
#product h2,#product h4{
	line-height:20px;
	}
/*compare*/
#compare{
	height:600px;
	background:#99CC33;
	}
	
/*question*/
#qa{
	height:850px;
	background:#FF9900;
	}
#mytab{
	background-color:rgba(255,255,255,0.2);
	border-radius:10px;
	}
.nav-pills li{
	clear:both;
	padding:5px;
	}
.nav-pills li a{
	color:#000000;
	text-align:center;
	margin-left:15px;
	}
.tab-content{
	background-color:rgba(255,255,255,0.2);
	border-radius:10px;
	}
.tab-pane h5{
	}
	
/*text*/
.bigText{
	font-family:Microsoft JhengHei;
	text-align:center;
	font-size:60px;
	font-weight:600;
	color:#fff;
	padding-top:20px;
	}
/*button*/
.btn{
	background-color:#000000;
	padding:8px;
	border-radius:4px;
	
	font-size:16px;
	font-family:Microsoft JhengHei;
	font-weight:bold;
	
	color:#FFFFFF;
	}
.btn:hover{
	color:#FA0206;
	} 


