﻿@using Mith.Models;
@model List<Mith.Areas.GoX.Models.ErrorRecordModel.ErrorRecordModelShow>
@{
    int p = 1;
    if (ViewData["p"] != null)
    {
        p = (int)ViewData["p"];
    }

    int admin = 0;
    if (ViewData["admin"] != null)
    {
        admin = (int)ViewData["admin"];
    }
    
    string keyword = "";
    if (ViewData["keyword"] != null)
    {
        keyword = ViewData["keyword"] as string;
    }

    DateTime? create_time_start = ViewData["create_time_start"] as DateTime?;
    DateTime? create_time_end = ViewData["create_time_end"] as DateTime?;
    string ct_start = "";
    string ct_end = "";
    if (create_time_start != null)
    {
        ct_start = create_time_start.Value.ToString("yyyy/MM/dd HH:mm:ss");
    }
    if (create_time_end != null)
    {
        ct_end = create_time_end.Value.ToString("yyyy/MM/dd HH:mm:ss");
    }
    

    string err = "";
    if (TempData["err"] != null && TempData["err"] != "")
    {
        err = TempData["err"] as string;
    }
}
@Styles.Render("~/Scripts/plugin/TimePicker/css")
@Scripts.Render("~/Scripts/plugin/TimePicker/js")
@Styles.Render("~/css/AdminErrorIndex")
@Scripts.Render("~/js/AdminErrorIndex")

@if (err != "")
{
    @: 操作失敗；錯誤代碼：@err。
}
else
{
@*<div class="big_title">@ViewBag.Title</div>*@
<div class="func_item">
    <ul>
        <li>@Html.ActionLink("清除所有記錄", "DeleteAll", null, new { OnClick = "return confirm(\"確定要刪除?\")" })</li>
        <li>
            <form action="@Mith.Models.Method.RootPath/GoX/ErrorRecord/DeleteMonth" method="get" style="margin: 0px;display: inline;">
                <input type="number" value="1" name="DeleteMonth" id="DeleteMonth" />個月以前的記錄
                <input type="submit" OnClick="return confirm('確定要刪除?')" value="清除" />
            </form>
        </li>
    </ul>
</div>
<div class="search_area">
    <form action="@Mith.Models.Method.RootPath/GoX/ErrorRecord" id="search" method="get">
        <label for="keyword">關鍵字: </label>
        <input type="text" name="keyword" id="keyword" value="@keyword" />
         <br />
        <label for="admin">位置: </label>
        <label><input type="radio" name="admin" value="0" @((admin==0) ? "checked=\"checked\"" : "") />全部</label>
        <label><input type="radio" name="admin" value="1" @((admin==1) ? "checked=\"checked\"" : "") />前台</label>
        <label><input type="radio" name="admin" value="2" @((admin==2) ? "checked=\"checked\"" : "") />後台</label>
         <br />
        <label for="create_time_start">建立時間: </label>
        <input type="text" name="create_time_start" id="create_time_start" class="date_search" value="@ct_start"  readonly /> ~ 
        <input type="text" name="create_time_end" id="create_time_end" class="date_search" value="@ct_end"  readonly />
        <input type="hidden" name="search_time_offset" id="search_time_offset" value="0" />
        <br /><br />
        <input type="submit" value="查詢" id="search_button" >
    </form>
</div>
<div class="showdata">
    <div>
        <ul class="title">
            <li class="check"><label><input type="checkbox" name="all" id="all" />全選</label></li>
            <li class="item1">@Html.DisplayNameFor(model => model[0].Id)</li>
            <li class="item2">@Html.DisplayNameFor(model => model[0].Account)</li>
            <li class="item3">@Html.DisplayNameFor(model => model[0].Browser)</li>
            <li class="item4">@Html.DisplayNameFor(model => model[0].Admin)</li>
            <li class="item5">@Html.DisplayNameFor(model => model[0].Code)</li>
            <li class="item6">@Html.DisplayNameFor(model => model[0].Message)</li>
            <li class="item7">@Html.DisplayNameFor(model => model[0].CreateTime)</li>
            <li class="item8">刪除</li>
        </ul>
    </div>
    <div id="data_area">
        <form action="@Mith.Models.Method.RootPath/GoX/ErrorRecord/Delete" id="action" method="post">
        
            @foreach (var item in Model)
            {
                <ul class="data">
                <li class="check"><label><input type="checkbox" name="item" class="delete" value="@Html.DisplayFor(modelItem => item.Id)" /></label></li>
                <li class="item1">@Html.DisplayFor(modelItem => item.Id)</li>
                <li class="item2">@if (item.AccountId > 0 && item.Account != "" && item.Account != null) 
                                  {
                                      @Html.ActionLink(item.Account, "Edit", item.Admin ? "Member" : "Volunteers", new { id = item.AccountId }, new { target="_blank" })
                                  }
                                  else if (item.AccountId == 0)
                                  {
                                      @:SuperAdmin
                                  }
                                  else
                                  { 
                                      @:未登入
                                  }</li>
                <li class="item3">@Html.DisplayFor(modelItem => item.Browser)</li>
                <li class="item4">@(item.Admin ? "後台" : "前台")</li>
                <li class="item5">@Html.DisplayFor(modelItem => item.Code)</li>
                <li class="item6">
                    <a href="javascript:void(0);" class="error_title" data-val="@item.Id">@item.Message</a>
                    <textarea id="error_@item.Id" style="display:none;">
                        @item.Message
                    </textarea>
                </li>
                <li class="item7">@Html.DisplayFor(modelItem => item.CreateTime)</li>
                <li class="item8">@Html.ActionLink("刪除", "Delete", new { item = item.Id, p = p }, new { OnClick = "return confirm(\"確定要刪除?\")" })</li>
                </ul>
            }
       
        <br><div class="del_chk">
            <div class="button">
                <input id="edit_action_sub" name="edit_action_sub" type="submit" value="刪除" onclick="return confirm('確定送出?')" />
            </div>
            @Html.Partial("_PartialPage")
        </div>
        </form>
    </div>
</div>
}