﻿@model Mith.Areas.GoX.Models.GoodsQAModel.GoodsQAShow

@{
    int p = 1;
    if (ViewData["p"] != null)
    {
        p = (int)ViewData["p"];
    }
}

@Scripts.Render("~/js/AdminGoodsQAEdit")
@Styles.Render("~/css/Loading")
<script src="~/Scripts/plugin/Loading/jquery.isloading.min.js" type="text/javascript"></script>

@using (Html.BeginForm("Edit", "GoodsQA", FormMethod.Post, new { @Id = "Form", @enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>

        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.Goods_SN)
        <input type="hidden" name="p" value="@p" />

        <div class="">
            <label>提問商品</label>
        </div>
        <div class="editor-field">
            【@Model.Goods_SN】@Model.Goods_Name
        </div>


        <div class="editor-label">
            <label>提問標題</label>
        </div>
        <div class="editor-field">
            @Model.MessageTitle
        </div>

        <table class="table table-striped" style="width:770px;margin-top:30px">
            <tr></tr>
            <thead>
                <tr>
                    <th style="width:200px">
                        提問會員
                    </th>
                    <th style="width:450px;">
                        提問內容
                    </th>
                    <th style="width:120px;">
                        提問時間
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td style="text-align:left!important;padding-left:25px">
                        姓名：@Html.DisplayFor(modelItem => Model.Volunteers_Name)<br>
                        電話：@Html.DisplayFor(modelItem => Model.Volunteers_Tel)<br>
                        信箱：@Html.DisplayFor(modelItem => Model.Volunteers_Email)
                    </td>
                    <td style="padding-top:10px;padding-bottom:10px;">
                        @Html.TextAreaFor(model => Model.Message, 6, 50, new { style = "resize: none;", @disabled = "true" })
                    </td>
                    <td>
                        @Model.CreateTime.Value.ToString("yyyy/MM/dd HH:mm")
                    </td>
                </tr>
            </tbody>
        </table>

        <table class="table table-striped" style="width:770px;margin-top:35px">
            <tr></tr>
            <thead>
                <tr>
                    <th style="width:200px">
                        回覆人
                    </th>
                    <th style="width:450px;">
                        回覆內容
                    </th>
                    <th style="width:120px;">
                        回覆時間
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => Model.ReplyUser_Name)
                    </td>
                    <td style="padding-top:10px;padding-bottom:10px;">
                        @Html.TextAreaFor(model => Model.ReplyMessage, 6, 50, new { style = "resize: none;" })
                    </td>
                    <td>
                        @if (Model.ReplyTime != null)
                        {
                            @Model.ReplyTime.Value.ToString("yyyy/MM/dd HH:mm")
                        }
                    </td>
                </tr>
            </tbody>
        </table>
        <br>
        <p>
            <input type="submit" value="儲存" onclick="return Send()" id="save_sort" />
        </p>
    </fieldset>
}