﻿@using Mith.Areas.GoX.Models;
@model List<GoodsQAModel.GoodsQAShow>
@{

    int p = 1;
    if (ViewData["p"] != null)
    {
        p = (int)ViewData["p"];
    }

    string keyword = "";
    if (ViewData["keyword"] != null)
    {
        keyword = ViewData["keyword"] as string;
    }

    int Search_GoodsId = 0;
    if (ViewData["Search_GoodsId"] != null)
    {
        Search_GoodsId = (int)ViewData["Search_GoodsId"];
    }

    int Search_Reply = 0;
    if (ViewData["Search_Reply"] != null)
    {
        Search_Reply = (int)ViewData["Search_Reply"];
    }

    DateTime? CreateTime_St = ViewData["CreateTime_St"] as DateTime?;
    DateTime? CreateTime_End = ViewData["CreateTime_End"] as DateTime?;
    string ct_start = "";
    string ct_end = "";
    if (CreateTime_St != null)
    {
        ct_start = CreateTime_St.Value.ToString("yyyy/MM/dd HH:mm:ss");
    }
    if (CreateTime_End != null)
    {
        ct_end = CreateTime_End.Value.ToString("yyyy/MM/dd HH:mm:ss");
    }

    string err = "";
    if (TempData["err"] != null && TempData["err"] != "")
    {
        err = TempData["err"] as string;
    }

    string sort = "";
    if (ViewData["get"] != null)
    {
        sort = ViewData["get"] as string;
        if (!sort.Contains("sort="))
        {
            sort += "&sort=sort";
        }
    }
    else
    {
        sort += "&sort=sort";
    }

    string CompanyName = "";
    if (ViewData["CompanyName"] != null && ViewData["CompanyName"] != "")
    {
        CompanyName = ViewData["CompanyName"] as string;
    }
    
    string GoodsName = "";
    if (ViewData["GoodsName"] != null && ViewData["GoodsName"] != "")
    {
        GoodsName = ViewData["GoodsName"] as string;
    }
}
@Styles.Render("~/css/AdminGoodsQAIndex_Mith")

@if (TempData["FromAction"] != null)
{
    <script>
        var messag = @Html.Raw(Json.Encode(TempData["FromAction"]));
        alert(messag)
    </script>
}

@if (err != "")
{
    @: 操作失敗；錯誤代碼：@err。
}
else
{

<fieldset class="confirm2">
    <div class="search_area">
        <form action="@Mith.Models.Method.RootPath/GoX/GoodsQA/Index_Mith" id="search" method="get">
            <label for="keyword" >　關鍵字</label>&ensp;
            <input type="text" name="keyword" id="keyword" value="@keyword" placeholder="會員姓名、信箱" />
            <br>
            <label class="Add_Top">　已回覆</label>&ensp;
            <input type="radio" value="0" name="Search_Reply" @if (Search_Reply == 0) { <text> checked</text>} /><label>全部</label>&ensp;
            <input type="radio" value="1" name="Search_Reply" @if (Search_Reply == 1) { <text> checked</text>} /><label>是</label>&ensp;
            <input type="radio" value="2" name="Search_Reply" @if (Search_Reply == 2) { <text> checked</text>} /><label>否</label>
            <br />
            <label for="create_time_start" class="Add_Top">提問日期</label>&ensp;
            <input type="text" name="CreateTime_St" id="CreateTime_St" class="date_search" value="@ct_start"  /> ~
            <input type="text" name="CreateTime_End" id="CreateTime_End" class="date_search" value="@ct_end" />
            &emsp;
            <input type="hidden" name="Search_GoodsId" value="@Search_GoodsId">
            <input type="submit" value="查詢">
        </form>
    </div>

</fieldset>
<br>
<label style="line-height:30px">
    提問商品：@GoodsName<br>
    廠商名稱：@CompanyName
</label>
<div class="showdata">
    <table class="table table-striped">
        <thead>
            <tr>
                <th class="item1">
                    提問會員
                </th>
                <th class="item2">
                    提問標題
                </th>
                <th class="item3">
                    @Html.DisplayNameFor(model => model[0].CreateTime)
                </th>
                <th class="item4">
                    回覆內容
                </th>
                <th class="item5">
                    回覆時間
                </th>
                <th class="item6">
                    詳情
                </th>
                <th class="item6">
                    刪除
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td class="item1" style="text-align:left!important;padding-left:20px;line-height:25px">
                        姓名：
                        @if (!string.IsNullOrWhiteSpace(item.Volunteers_Name))
                        {
                            @item.Volunteers_Name
                        }
                        else
                        {
                            <text>無</text>
                        }
                        <br>
                        電話：
                        @if (!string.IsNullOrWhiteSpace(item.Volunteers_Tel))
                        {
                            @item.Volunteers_Tel
                        }
                        else
                        {
                            <text>無</text>
                        }
                        <br>
                        信箱：@item.Volunteers_Email
                    </td>
                    <td class="item2">
                        @if (!string.IsNullOrWhiteSpace(@item.MessageTitle))
                        {
                            @Html.DisplayFor(modelItem => item.MessageTitle)
                        }
                        else
                        {
                            <text>無</text>
                        }
                    </td>
                    <td class="item3">
                        @item.CreateTime.Value.ToString("yyyy/MM/dd HH:mm")
                    </td>
                    <td class="item4">
                        @if (!string.IsNullOrWhiteSpace(item.ReplyMessage))
                        {
                            @item.ReplyMessage
                        }
                        else
                        {
                            <text>尚未回覆</text>
                        }
                    </td>
                    <td class="item5">
                        @if (item.ReplyTime != null)
                        {
                            @item.ReplyTime.Value.ToString("yyyy/MM/dd HH:mm")
                        }
                        else
                        {
                            <text>無</text>
                        }
                    </td>
                    <td class="item6">
                        @if ((bool)Session["Update"] == true)
                        {
                            @Html.ActionLink("詳情", "Edit_Mith", new { id = item.Id })
                        }
                    </td>
                    <td class="item6">
                        @if ((bool)Session["Delete"] == true)
                        {
                            @Html.ActionLink("刪除", "Delete", new { item = item.Id, p = p }, new { OnClick = "return confirm(\"確定要刪除?\")" })
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <div class="del_chk">
        @Html.Partial("_PartialPage")
    </div>
</div>
}
