﻿@using Mith.Models
@using CaptchaLib
@model Mith.Areas.GoX.Models.ContactModel.ContactUserShow
@{
    ViewBag.Title = "聯絡我們";
    var config = Mith.Areas.GoX.Models.ContactModel.Get_Config(11);
    var category = new Mith.Areas.GoX.Models.CategoryModel(11);
    var cate_list = category.Get_Category_Select(0);
    string name = Method.Get_UserName(Request.Cookies, Session);
    int user_id = Method.Get_UserId(Request.Cookies, Session);
    string email = Method.Get_Account(Request.Cookies, Session);
    List<string> contact_time = Mith.Areas.GoX.Models.ContactModel.Get_ContactTime();
}
@Styles.Render("~/css/HomeContact")
@Scripts.Render("~/js/HomeContact")
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()

    <fieldset class="contact_us">
        <legend class="contact_us_title">聯絡我們</legend>
        <table>
            <tr>
                <td class="contact_title"><span>＊</span>@Html.LabelFor(model => model.Name)</td>
                <td class="contact_field">@Html.TextBoxFor(model => model.Name, new { @Value=name,@class="validate[required,funcCall[name_check]]" })</td>
            </tr>
            @if (config.Enable_Sex)
            {
                <tr>
                    <td class="contact_title"><span>＊</span>@Html.LabelFor(model => model.Sex)</td>
                    <td class="contact_field">
                        <label>@Html.RadioButtonFor(model => model.Sex,true)男性</label>
                        <label>@Html.RadioButtonFor(model => model.Sex,false)女性</label>
                    </td>
                </tr>
            }
            @if (config.Enable_Phone)
            {
                <tr>
                    <td class="contact_title">@Html.LabelFor(model => model.Phone)</td>
                    <td class="contact_field">
                        @Html.TextBoxFor(model => model.Phone, new { @class="validate[custom[phone]]" })
                    </td>
                </tr>
            }
            @if (config.Enable_Mobile)
            {
                <tr>
                    <td class="contact_title">@Html.LabelFor(model => model.Mobile)</td>
                    <td class="contact_field">
                        @Html.TextBoxFor(model => model.Mobile,  new { @class="validate[custom[mobile]]" })
                    </td>
                </tr>
            }
            @if (config.Enable_EMail)
            {
                <tr>
                    <td class="contact_title"><span>＊</span>@Html.LabelFor(model => model.EMail)</td>
                    <td class="contact_field">
                        @Html.TextBoxFor(model => model.EMail, new { @size = 40, @Value=email, @class="validate[required,custom[email]]"})
                    </td>
                </tr>
            }
            @if (config.Enable_Address)
            {
                <tr>
                    <td class="contact_title">@Html.LabelFor(model => model.Address)</td>
                    <td class="contact_field">
                        @Html.TextBoxFor(model => model.Address, new { @size = 100 })
                    </td>
                </tr>
            }
            @if(config.Enable_Time)
            {
                <tr>
                    <td class="contact_title"><span>＊</span>@Html.LabelFor(model => model.ContactTime)</td>
                    <td class="contact_field">
                        @foreach (var i in contact_time)
                        {
                            int index = contact_time.IndexOf(i);
                            <label>@Html.RadioButtonFor(model => model.ContactTime, index, new { @id="Contact_"+index,@class="validate[required,groupRequired[contact_time]]" })@i</label>
                        }
                    </td>
                </tr>
            }
            @if(config.Enable_Title || config.Enable_Category)
            {
                <tr>
                    <td class="contact_title"><span>＊</span>@Html.LabelFor(model => model.Title)</td>
                    <td class="contact_field">
                        @if (config.Enable_Category)
                        {
                            @Html.Raw(Html.DropList("CategoryId", cate_list, new { @class="validate[required]"}))
                        }
                        @if(config.Enable_Title)
                        {
                            @Html.TextBoxFor(model => model.Title, new { size="100",@class="validate[required]" })
                        }
                    </td>
                </tr>
            }
            @if(config.Enable_Content)
            {
                <tr>
                    <td class="contact_title"><span>＊</span>@Html.LabelFor(model => model.Content)</td>
                    <td class="contact_field">
                        @Html.TextAreaFor(model => model.Content, new { cols=100,rows=10,@class="validate[required]" })
                    </td>
                </tr>
            }
            @if (config.Enable_Code)
            {
                <tr>
                    <td class="contact_title"><span>＊</span>@Html.LabelFor(model => model.Code)</td>
                    <td class="contact_field">
                        @Html.CaptchaFor(model => model.Code, "GetCaptcha", "換一張")
                    </td>
                </tr>
            }
            <tr>
                <td colspan="2" class="contact_button"><input type="submit" class="contact_submit" value="送出" /></td>
            </tr>
        </table>

        @if (TempData["err"] != null)
        {
            <label class="err">@TempData["err"].ToString()</label>
        }
    </fieldset>
}