﻿@model HandleErrorInfo

@{
    ViewBag.Title = "發生錯誤";
    string err = "未知的錯誤";
    if(Model!=null)
    {
        err = "/" + Model.ControllerName + "/" + Model.ActionName + "/" + Model.Exception.HResult.ToString();
    }
    if(TempData["err"]!=null)
    {
        err = TempData["err"].ToString();
    }
}
@Styles.Render("~/css/HomeError")
<div class="error_area">
    <div class="error_title">發生錯誤</div>
    <div class="error_content">
        <img src="@Mith.Models.Method.RootPath/Images/Shared/waring.png" /><br />
        錯誤代碼：<span>@err</span><br />
        若問題持續發生，請 @Html.ActionLink("聯絡我們","Contact","Home")。
    </div>
</div>
