﻿@{
    string storeaddress = ViewData["storeaddress"] as string;
    int storeid = (int)ViewData["storeid"];
    string storename = ViewData["storename"] as string;  
}

<label  style="font-size:36px">
    storeaddress：@storeaddress<br>
    storeid：@storeid<br>
    storename：@storename<br>
</label>