﻿@using Mith.Models
@{
    string Radom = Method.RandomKey(4, true, false, false, false) + "1";

    string STOREID = "010391867";

    string ORDERNUMBER = DateTime.Now.ToString("yyyyMMdd").Substring(2, 6) + Radom;
    string AMOUNT = "1";
    string CUBKEY = "eec85fee81fb036d31471462846fa422";

    //CAVALUE = MD5加密（商店編號+訂單編號+總額+CUBKEY）
    string CAVALUE = Method.CreditCard_MD5(STOREID + ORDERNUMBER + AMOUNT + CUBKEY);

    //XML
    string strRqXML =
            "<?xml version=\'1.0\' encoding=\'UTF-8\'?>" +
            "<MERCHANTXML>" +
                "<CAVALUE>" + CAVALUE + "</CAVALUE>" +
                "<ORDERINFO>" +
                    "<STOREID>" + STOREID + "</STOREID>" +
                    "<ORDERNUMBER>" + ORDERNUMBER + "</ORDERNUMBER>" +
                    "<AMOUNT>" + AMOUNT + "</AMOUNT>" +
                "</ORDERINFO>" +
            "</MERCHANTXML>";



    string deadlinedate = DateTime.Now.AddDays(6).ToString("yyyyMMdd");
    string paymentno = ORDERNUMBER + "1001";

    string ipAddress = ViewData["ipAddress"] as string;
    string ipAddress2 = ViewData["ipAddress2"] as string;
}
<br />
<br />

<form name="main" action="https://sslpayment.uwccb.com.tw/EPOSService/Payment/OrderInitial.aspx" method="post">
    <label style="font-size:18px;line-height:50px">
        &emsp;   &emsp;  信用卡付費<br />
    </label>
    <input type=hidden name="strRqXML" value="@strRqXML" />
    &emsp;     &emsp; <input type="submit" value="送出" />
</form>
<br /><br /><br />
<form action="http://202.168.204.198/c2c_test/payment.ashx" method="post" id="form1" name="form1">
    <label style="font-size:18px">  &emsp;   &emsp; 7-11取得要號</label>
    <input type="hidden" name="account" value="03497" />
    <input type="hidden" name="deadlinedate" value="20151210" />
    <input type="hidden" name="deadlinetime" value="2359" />
    <input type="hidden" name="eshopid" value="851" />
    <input type="hidden" name="eshopsonid" value="023" />
    <input type="hidden" name="orderno" value="7113597402" />
    <input type="hidden" name="paymentno" value="F0019314" />
    <input type="hidden" name="validationno" value="6890" />
    <input type="hidden" name="service_type" value="7" />
    <input type="hidden" name="tempvar" value="" />
    <input type="hidden" name="url" value="http://mith.azurewebsites.net/home/eshop_Compelete" />
    <input type="hidden" name="online_url" value=" http://mith.azurewebsites.net/home/index" />
    <input type="hidden" name="trade_describe" value="商品" />
    <input type="hidden" name="payment_cpname" value="廠商A" />
    <input type="hidden" name="cp_remark01 " value="備註 1 " />
    <input type="hidden" name="cp_remark02" value="" />
    <input type="hidden" name="cp_remark03" value="" />
    <input type="hidden" name="show_type" value="11" />
    <input type="hidden" name="trade_no" value="3" />
    <input type="hidden" name="daishou_account" value="0" />
    <input type="hidden" name="sender" value="穿衣搭有限" />
    <input type="hidden" name="sender_phone" value="0000000000" />
    <input type="hidden" name="receiver" value="二爾爾而二 " />
    <input type="hidden" name="receiver_phone" value="0000000888" />
    <input type="hidden" name="receiver_storeid" value="127826" />
    <input type="hidden" name="return_storeid" value="894359" />
    &emsp;  &emsp; <input type="submit" value="送出" />
</form>
<br /><br /><br />

<form action="http://emap.shopping7.com.tw/emap/c2cemap.ashx" method="post" id="form1" name="form1">
    <label style="font-size:18px">  &emsp;   &emsp; 7-11 電子地圖</label>
    <input type="hidden" name="eshopid" value="023" />
    <input type="hidden" name="url" value="http://mith.azurewebsites.net/webapi/Get_SelectShop" />
    <input type="hidden" name="tempvar" value="Android" />
    &emsp;  &emsp; <input type="submit" value="送出" />
</form>