﻿@using Mith.Models
@{
    string Radom = Method.RandomKey(4, true, false, false, false) + "1";

    string STOREID = "010391867";

    string OrderSN = "";
    if (ViewData["OrderSN"] != null && ViewData["OrderSN"] != "")
    {
        OrderSN = ViewData["OrderSN"] as string;
    }

    string App_TotalPrice = "";
    if (ViewData["App_TotalPrice"] != "0")
    {
        App_TotalPrice = ViewData["App_TotalPrice"] as string;
    }

    string CUBKEY = "eec85fee81fb036d31471462846fa422";

    //CAVALUE = MD5加密（商店編號+訂單編號+總額+CUBKEY）
    string CAVALUE = Method.CreditCard_MD5(STOREID + OrderSN + App_TotalPrice + CUBKEY);

    //XML
    string strRqXML =
            "<?xml version=\'1.0\' encoding=\'UTF-8\'?>" +
            "<MERCHANTXML>" +
                "<CAVALUE>" + CAVALUE + "</CAVALUE>" +
                "<ORDERINFO>" +
                    "<STOREID>" + STOREID + "</STOREID>" +
                    "<ORDERNUMBER>" + OrderSN + "</ORDERNUMBER>" +
                    "<AMOUNT>" + App_TotalPrice + "</AMOUNT>" +
                "</ORDERINFO>" +
            "</MERCHANTXML>";
}

<script type="text/javascript">
    $(function() {
    main.submit();
    });

</script>
<br />
<br />

<form name="main" action="https://sslpayment.uwccb.com.tw/EPOSService/Payment/Mobile/OrderInitial.aspx" method="post" style="display:none">
    <input type=hidden name="strRqXML" value="@strRqXML" />
    <input type="submit" value="送出" />
</form>
<div style="width:100%;text-align:center">
<img src="~/Images/loading_spinner.gif" style="width:35%;height:auto;margin-top:20%">
</div>