﻿@model Mith.Areas.GoX.Models.FunctionModel.FunctionShow
 
@*@Styles.Render("~/css/AdminContent")*@

@*<div class="big_title">@ViewBag.Title</div>*@

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>功能模組資料</legend>

        @{
            List<SelectListItem> CategoryItem = new List<SelectListItem>();
            if (ViewData["CategoryItem"] != null)
            {
                CategoryItem = ViewData["CategoryItem"] as List<SelectListItem>;
            }
            <div class="editor-label">
                @Html.LabelFor(model => model.CategoryId)
            </div>
            <div class="editor-field">
                @Html.Raw(Html.DropList("CategoryId", CategoryItem))
                @Html.ValidationMessageFor(model => model.CategoryId)
            </div>
        }

        <div class="editor-label">
            @Html.LabelFor(model => model.Type)
        </div>
        <div class="editor-field">
            @Html.Raw(Html.DropList("Type",Mith.Areas.GoX.Models.FunctionModel.Get_TypeList()))
            @Html.ValidationMessageFor(model => model.Type)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Controller)
        </div>
        <div class="editor-field">
            @Html.Raw(Html.DropList("Controller",Mith.Areas.GoX.Models.FunctionModel.Get_ControllerList()))
            @Html.ValidationMessageFor(model => model.Controller)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Sort)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Sort)
            @Html.ValidationMessageFor(model => model.Sort)
        </div>

        <div class="editor-label">
            @Html.TextBoxFor(model => model.Display)@Html.LabelFor(model => model.Display)
            @Html.ValidationMessageFor(model => model.Display)
        </div>

        <p>
            <input type="submit" value="新增" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink(" ", "Index")
</div>



