﻿@model Mith.Areas.GoX.Models.FunctionModel.FunctionShow
 
@{
    int p = 1;
    if(ViewData["p"]!=null)
    {
        p = (int)ViewData["p"];
    } 
}
@*@Styles.Render("~/css/AdminContent")*@

@*<div class="big_title">@ViewBag.Title</div>*@

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @Html.HiddenFor(model => model.Id)
    <fieldset>
        <legend>功能模組資料</legend>

        @if(Model.Type=="Module")
        {
            List<SelectListItem> CategoryItem = new List<SelectListItem>();
            if (ViewData["CategoryItem"] != null)
            {
                CategoryItem = ViewData["CategoryItem"] as List<SelectListItem>;
            }
            <div class="editor-label">
                @Html.LabelFor(model => model.CategoryId)
            </div>
            <div class="editor-field">
                @Html.Raw(Html.DropList("CategoryId", CategoryItem))
                @Html.ValidationMessageFor(model => model.CategoryId)
            </div>
            
            <div class="editor-label">
                @Html.LabelFor(model => model.Name)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(model => model.Name)
                @Html.ValidationMessageFor(model => model.Name)
            </div>
        }

        <div class="editor-label">
            @Html.LabelFor(model => model.Sort)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Sort)
            @Html.ValidationMessageFor(model => model.Sort)
        </div>

        <div class="editor-label">
            @Html.TextBoxFor(model => model.Display)@Html.LabelFor(model => model.Display)
            @Html.ValidationMessageFor(model => model.Display)
        </div>

        <input type="hidden" name="p" value="@p" />
        <p>
            <input type="submit" value="儲存" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink(" ", "Index", new  { p=p })
</div>

