﻿@using Mith.Models;
@model List<Mith.Areas.GoX.Models.FunctionModel.FunctionShow>
@{
    bool superadmin = Method.Is_Login_SuperAdmin(Request.Cookies);
    
    int p = 1;
    if (ViewData["p"] != null)
    {
        p = (int)ViewData["p"];
    }

    string keyword = "";
    if (ViewData["keyword"] != null)
    {
        keyword = ViewData["keyword"] as string;
    }

    int enable = 0;
    if (ViewData["enable"] != null)
    {
        enable = (int)ViewData["enable"];
    }
    int disable = 0;
    if (ViewData["disable"] != null)
    {
        disable = (int)ViewData["disable"];
    }

    string[] type = null;
    if (ViewData["type"] != null)
    {
        type = ViewData["type"] as string[];
    }
    
    int[] cid = null;
    if (ViewData["cid"] != null)
    {
        cid = ViewData["cid"] as int[];
    }

    string err = "";
    if (TempData["err"] != null && TempData["err"] != "")
    {
        err = TempData["err"] as string;
    }

    Dictionary<string, string> type_list = Mith.Areas.GoX.Models.FunctionModel.Get_TypeList(Method.Is_Login_SuperAdmin(Request.Cookies));
}
@Styles.Render("~/css/AdminFunIndex")
@Scripts.Render("~/js/AdminNewsIndex")
@if (err != "")
{
    @: 操作失敗；錯誤代碼：@err。
}
else
{
@*<div class="big_title">@ViewBag.Title</div>*@
<div class="func_item">
    <ul>
        @if(superadmin)
        {
            <li>@Html.ActionLink("新增", "Create")</li>
        }
        <li>@Html.ActionLink("分類", "Category", new { fun_id = 0 })</li>
    </ul>
</div>
<div class="search_area">
    <form action="@Method.RootPath/GoX/Function" id="search" method="get">
        <label for="keyword">關鍵字: </label>
        <input type="text" name="keyword" id="keyword" value="@keyword" />
        <br />
        <label>狀態: </label>
        <label><input type="checkbox" value="1" name="enable"  @if (enable==1){<text>checked</text>} />顯示</label>
        <label><input type="checkbox" value="1" name="disable"  @if(disable==1){<text>checked</text>} />不顯示</label>
         <br />
        @if (superadmin)
        {
            <label>類型: </label>
            foreach (var i in type_list)
            {
                <label><input type="checkbox" value="@i.Key" name="type"  @if (type!=null) { @(type.Contains(i.Key) ? "checked" :"")} />@i.Value</label>
            }
            <br />
        }
        <table class="category_table">
            <tr>
                <td class="category_table_title"><label>分類: </label></td>
                <td class="category_table_content">@Html.Raw(ViewBag.list_cid)</td>
            </tr>
        </table>
        <br />
        <input type="submit" value="查詢" id="search_button" >
    </form>
</div>
<div class="showdata">
    <div>
        <ul class="title">
            <li class="check"><label><input type="checkbox" name="all" id="all" />全選</label></li>
            <li class="item1">@Html.DisplayNameFor(model => model[0].Id)</li>
            <li class="item2">@Html.DisplayNameFor(model => model[0].CategoryName)</li>
            <li class="item3">@Html.DisplayNameFor(model => model[0].Name)</li>
            <li class="item4">@Html.DisplayNameFor(model => model[0].Type)</li>
            <li class="item5">@Html.DisplayNameFor(model => model[0].Sort)</li>
            <li class="item6">@Html.DisplayNameFor(model => model[0].Display)</li>
            <li class="item7">編輯</li>
            @if (superadmin)
            {
                <li class="item8">刪除</li>
            }
        </ul>
    </div>
    <div id="data_area">
        <form action="@Method.RootPath/GoX/Function" id="action" method="post">
            @foreach (var item in Model)
            {
                <ul class="data">
                    <li class="check"><label><input type="checkbox" name="item" class="delete" value="@Html.DisplayFor(modelItem => item.Id)" /></label></li>
                    <li class="item1">@Html.DisplayFor(modelItem => item.Id)</li>
                    <li class="item2">
                        @if (item.Type == "Admin")
                        {
                            @:SuperAdmin模組
                        }
                        else if (item.Type == "System")
                        {
                            @:系統模組
                        }
                        else
                        {
                            @Html.DisplayFor(modelItem => item.CategoryName)
                        }
                    </li>
                    <li class="item3">@Html.ActionLink(item.Name, item.Action, item.Controller, new { fun_id = item.Id }, new { target="_blank" })</li>
                    <li class="item4">
                        @if (type_list.ContainsKey(item.Type))
                        {
                            @type_list[item.Type]
                        }
                        else
                        {
                            @item.Type
                        }
                    </li>
                    <li class="item5">@Html.DisplayFor(modelItem => item.Sort)</li>
                    <li class="item6">@if (item.Display)
                                      {<text>顯示</text> }
                                      else
                                      {<text>不顯示</text> }</li>
                    <li class="item7">@Html.ActionLink("編輯", "Edit", new { id = item.Id })</li>
                    @if (superadmin)
                    {
                        <li class="item8">
                            @if (item.Type != "Admin" && item.Type != "System")
                            {
                                @Html.ActionLink("刪除", "Delete", new { id = item.Id }, new { OnClick = "return confirm(\"確定要刪除?\")" })
                            }
                        </li>
                    }
                </ul>
            }
       
        <br><div class="del_chk">
            <div class="button">
                <select name="edit_action" id="edit_action">
                    <option value="@Method.RootPath/GoX/Function">處理動作</option>
                    @if (superadmin)
                    {
                        <option value="@Method.RootPath/GoX/Function/Delete">刪除</option>
                    }
                    <option value="@Method.RootPath/GoX/Function/Set_Enable">顯示</option>
                    <option value="@Method.RootPath/GoX/Function/Set_Disable">不顯示</option>
                </select>
                <input id="edit_action_sub" name="edit_action_sub" type="submit" value="送出" onclick="return confirm('確定送出?')" />
            </div>
            @Html.Partial("_PartialPage")
        </div>
        </form>
    </div>
</div>
}