﻿@model string
@if (Model != null && Model != "")
{
    /*用CKeditor顯示*/
    <script>
        $(function () {
            CKEDITOR.basePath = "";
            CKEDITOR.config.contentsCss = "contents.css";
            CKEDITOR.config.skin = 'kama,skins/kama/';
            CKEDITOR.config.toolbar = 'Basic';
            CKEDITOR.config.toolbar_Basic = [];
            CKEDITOR.config.toolbarCanCollapse = false;
            CKEDITOR.config.removePlugins = 'elementspath';
        });
    </script>
    @Scripts.Render("~/Scripts/plugin/ckeditor/js")
    <textarea class="ckeditor" id="temp" name="temp">@Html.Raw(Model)</textarea> 
}