

.isloading-wrapper.isloading-right {
    margin-left: 10px;
}

.isloading-overlay {
    position: relative;
    text-align: center;
}

    .isloading-overlay .isloading-wrapper {
        font-size: 26px;
        background: #FFFFFF;
        -webkit-border-radius: 7px;
        -webkit-background-clip: padding-box;
        -moz-border-radius: 7px;
        -moz-background-clip: padding;
        border-radius: 7px;
        background-clip: padding-box;
        display: inline-block;
        margin: 0 auto;
        padding: 10px 20px;
        z-index: 9999;
    }
