﻿@using Mith.Areas.GoX.Models
@model Mith.Areas.GoX.Models.CompanyModel.CompanyShow
@Scripts.Render("~/js/AdminCompanyCreate")
@Styles.Render("~/css/Loading")
<script src="~/Scripts/plugin/Loading/jquery.isloading.min.js" type="text/javascript"></script>

@using (Html.BeginForm("Create_Step3", "Company", FormMethod.Post, new { @Id = "Form", @enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @Html.HiddenFor(model => model.GoodsKind)
    @Html.HiddenFor(model => model.Id)
    @Html.HiddenFor(model => model.Name)
    @Html.HiddenFor(model => model.TaxId)
    @Html.HiddenFor(model => model.Tel)
    @Html.HiddenFor(model => model.Fax)
    @Html.HiddenFor(model => model.BossName)
    @Html.HiddenFor(model => model.BossIdentityCard)
    @Html.HiddenFor(model => model.CityId)
    @Html.HiddenFor(model => model.AreaId)
    @Html.HiddenFor(model => model.Address)
    @Html.HiddenFor(model => model.ContactName)
    @Html.HiddenFor(model => model.ContactTel)
    @Html.HiddenFor(model => model.ContactEmail)
    @Html.HiddenFor(model => model.ContractDate)
    @Html.HiddenFor(model => model.ManagementFee)
    @Html.HiddenFor(model => model.ArtEditorCost)
    @Html.HiddenFor(model => model.FreightFee)
    @Html.HiddenFor(model => model.Type)
    @Html.HiddenFor(model => model.SN)
    @Html.HiddenFor(model => model.GoodsKind)
    @Html.HiddenFor(model => model.Collaborate)

    <fieldset class="confirm2" style="width: 480px;padding-left: 25px;">
        <legend>帳務處理</legend>
        <table style="background-color: transparent;">
            <tr>
                <td style="width: 240px;">
                    <div class="">
                        @Html.LabelFor(model => model.AccountingName)
                    </div>
                    <div class="editor-field">
                        @Html.TextBoxFor(model => model.AccountingName)
                        @Html.ValidationMessageFor(model => model.AccountingName)
                    </div>
                </td>
                <td>
                    <div class="">
                        @Html.LabelFor(model => model.AccountingTel)
                    </div>
                    <div class="editor-field">
                        @Html.TextBoxFor(model => model.AccountingTel)
                        @Html.ValidationMessageFor(model => model.AccountingTel)
                    </div>

                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <div class="editor-label">
                        @Html.LabelFor(model => model.AccountingEmail)
                    </div>
                    <div class="editor-field">
                        @Html.TextBoxFor(model => model.AccountingEmail, new { style = "width:420px" })
                        @Html.ValidationMessageFor(model => model.AccountingEmail)
                    </div>
                </td>
            </tr>
        </table>
        <br>
    </fieldset>
    <br>
    <br>
    <fieldset class="confirm2" style="width: 480px;padding-left: 25px;">
        <legend>貨款撥付</legend>
        <table style="background-color: transparent;">
            <tr>
                <td style="width: 240px;">
                    <div class="">
                        @Html.LabelFor(model => model.BankName)
                    </div>
                    <div class="editor-field">
                        @Html.TextBoxFor(model => model.BankCode, new { style = "width:40px;text-align: center;", placeholder = "001" })
                        @Html.ValidationMessageFor(model => model.BankCode)
                        @Html.TextBoxFor(model => model.BankName, new { style = "width:165px;", placeholder = " XX銀行" })
                        @Html.ValidationMessageFor(model => model.BankName)
                    </div>
                </td>
                <td>
                    <div class="">
                        @Html.LabelFor(model => model.Account)
                    </div>
                    <div class="editor-field">
                        @Html.TextBoxFor(model => model.Account)
                        @Html.ValidationMessageFor(model => model.Account)
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="editor-label">
                        @Html.LabelFor(model => model.AccountName)
                    </div>
                    <div class="editor-field">
                        @Html.TextBoxFor(model => model.AccountName)
                        @Html.ValidationMessageFor(model => model.AccountName)
                    </div>
                </td>
                <td>
                    <div class="editor-label">
                        　
                    </div>
                    <div class="editor-field">
                        <input type="submit" value="新增" id="save_sort" onclick="return Step3_Send()" />
                    </div>
                </td>
            </tr>
        </table>
        <br>
    </fieldset>
}