﻿@using Mith.Areas.GoX.Models
@using Mith.Models
@model Mith.Areas.GoX.Models.CompanyModel.CompanyShow
@{
    List<Mith.Models.Category> TypeList = new List<Mith.Models.Category>();
    TypeList = Method.GetCategoryList(5, "Type");

    List<Mith.Models.Category> GoodsKindList = new List<Mith.Models.Category>();
    GoodsKindList = Method.GetCategoryList(5, "GoodsKind");
}
@Scripts.Render("~/js/AdminCompanyCreate")


@using (Html.BeginForm("Create_Step2", "Company", FormMethod.Post, new { @Id = "Form", @enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @Html.HiddenFor(model => model.GoodsKind)
    @Html.HiddenFor(model => model.Id)
    @Html.HiddenFor(model => model.Name)
    @Html.HiddenFor(model => model.TaxId)
    @Html.HiddenFor(model => model.Tel)
    @Html.HiddenFor(model => model.Fax)
    @Html.HiddenFor(model => model.BossName)
    @Html.HiddenFor(model => model.BossIdentityCard)
    @Html.HiddenFor(model => model.CityId)
    @Html.HiddenFor(model => model.AreaId)
    @Html.HiddenFor(model => model.Address)
    @Html.HiddenFor(model => model.ContactName)
    @Html.HiddenFor(model => model.ContactTel)
    @Html.HiddenFor(model => model.ContactEmail)
    @Html.Hidden("Check_SN", "False")    //判斷有沒有按驗證序號
    <fieldset>
        <table style="background-color: transparent;">
            <tr>
                <td style="width: 260px;">
                    <div class="">
                        @Html.LabelFor(model => model.ContractDate)
                    </div>
                    <div class="editor-field">
                        @Html.TextBoxFor(model => model.ContractDate, "{0:yyyy/MM/dd HH:mm}", new { @class = "date_search" })
                    </div>
                    <div class="editor-label">
                        @Html.LabelFor(model => model.ManagementFee)
                    </div>
                    <div class="editor-field">
                        @Html.TextBoxFor(model => model.ManagementFee, new { placeholder = "每筆" })
                        @Html.ValidationMessageFor(model => model.ManagementFee)
                    </div>
                    <div class="editor-label">
                        @Html.LabelFor(model => model.ArtEditorCost)
                    </div>
                    <div class="editor-field">
                        @Html.TextBoxFor(model => model.ArtEditorCost, new { placeholder = "元 / 件" })
                        @Html.ValidationMessageFor(model => model.ArtEditorCost)
                    </div>
                    <div class="editor-label">
                        @Html.LabelFor(model => model.FreightFee)
                    </div>
                    <div class="editor-field">
                        @Html.TextBoxFor(model => model.FreightFee, new { placeholder = "元 / 次" })
                        @Html.ValidationMessageFor(model => model.FreightFee)
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <div class="editor-label">
                        @Html.LabelFor(model => model.Type)
                    </div>
                    <div class="editor-field">
                        @for (int i = 0; i < TypeList.Count(); i++)
                        {
                            <input type="radio" name="Type" value="@TypeList[i].Number" @if (i == 0) { <text> checked </text>      }>
                            @TypeList[i].Name<text>(@TypeList[i].Number)&emsp;</text>

                        }
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <div class="editor-label">
                        @Html.LabelFor(model => model.SN)
                    </div>
                    <div class="editor-field">
                        @Html.TextBoxFor(model => model.SN, new { style = "width: 50px;text-align:center", @id = "SN" })
                        <input type="button" value="驗證" onclick="return Check_SN_Click()">
                        @Html.ValidationMessageFor(model => model.SN)
                        <span class="Valid" id="SN_Valid"></span>
                    </div>
            </tr>
            <tr>
                <td colspan="2">
                    <div class="editor-label">
                        @Html.LabelFor(model => model.GoodsKind)
                    </div>
                    <div class="editor-field">
                        @for (int i = 0; i < GoodsKindList.Count(); i++)
                        {
                            <input type="checkbox" name="GoodsKindList" id="GoodsKindList" value="@GoodsKindList[i].Number">
                            @GoodsKindList[i].Name<text>&emsp;</text>

                        }
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <div class="editor-label">
                        @Html.CheckBox("Collaborate", true) @Html.LabelFor(model => model.Collaborate)
                    </div>
                    <div class="editor-field">
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <div class="editor-label">
                        <input type="submit" value="下一步" id="save_sort" onclick="return Step2_Send()" />
                    </div>
                </td>
            </tr>
        </table>
    </fieldset>

}