﻿@using Mith.Areas.GoX.Models
@model Mith.Areas.GoX.Models.CompanyModel.CompanyShow
@{
   

}
@Scripts.Render("~/js/AdminCompanyCreate")

@using (Html.BeginForm("Create_Step1", "Company", FormMethod.Post, new { @Id = "Form", @enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <fieldset class="confirm2" style="width: 480px;padding-left: 25px;">
        <legend>基本資訊</legend>
        <table style="background-color: transparent;">
            <tr>
                <td style="width: 240px;">
                    <div class="">
                        @Html.LabelFor(model => model.Name)
                    </div>
                    <div class="editor-field">
                        @Html.TextBoxFor(model => model.Name)
                        <br>
                        @Html.ValidationMessageFor(model => model.Name)
                    </div>
                </td>
                <td style="vertical-align:top">
                    <div class="">
                        @Html.LabelFor(model => model.TaxId)
                    </div>
                    <div class="editor-field">
                        @Html.TextBoxFor(model => model.TaxId)
                        @Html.ValidationMessageFor(model => model.TaxId)
                    </div>

                </td>
            </tr>
            <tr>
                <td>
                    <div class="editor-label">
                        @Html.LabelFor(model => model.Tel)
                    </div>
                    <div class="editor-field">
                        @Html.TextBoxFor(model => model.Tel)
                        <br>
                        @Html.ValidationMessageFor(model => model.Tel)
                    </div>
                </td>
                <td style="vertical-align:top!important">
                    <div class="editor-label">
                        @Html.LabelFor(model => model.Fax)
                    </div>
                    <div class="editor-field">
                        @Html.TextBoxFor(model => model.Fax)
                        @Html.ValidationMessageFor(model => model.Fax)
                    </div>

                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <div class="editor-label">
                        @Html.LabelFor(model => model.Address)
                    </div>
                    <div class="editor-field">
                        @Html.Raw(Html.DropDownListFor(model => model.CityId, Mith.Models.CityArea.Get_City_Select(0, false), new { style = "width:80px;cursor:pointer" }))
                        @Html.Raw(Html.DropDownListFor(model => model.AreaId, Mith.Models.CityArea.Get_Area_Select(0, 0, false), new { style = "width:80px;cursor:pointer" }))
                        @Html.TextBoxFor(model => model.Address, new { style = "width: 272px;" })
                        @Html.ValidationMessageFor(model => model.Address)

                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="editor-label">
                        @Html.LabelFor(model => model.BossName)
                    </div>
                    <div class="editor-field">
                        @Html.TextBoxFor(model => model.BossName)
                        @Html.ValidationMessageFor(model => model.BossName)
                    </div>
                </td>
                <td>
                    <div class="editor-label">
                        @Html.LabelFor(model => model.BossIdentityCard)
                    </div>
                    <div class="editor-field">
                        @Html.TextBoxFor(model => model.BossIdentityCard)
                        @Html.ValidationMessageFor(model => model.BossIdentityCard)
                    </div>

                </td>
            </tr>

        </table>
        <br>
    </fieldset>
    <br>  
    <br>
    <fieldset class="confirm2" style="width: 480px;padding-left: 25px;">
        <legend>聯絡窗口</legend>
        <table style="background-color: #f1f2f7 ">
            <tr>
                <td style="width:60%">
                    <div class="">
                        @Html.LabelFor(model => model.ContactName)
                    </div>
                    <div class="editor-field">
                        @Html.TextBoxFor(model => model.ContactName)
                        @Html.ValidationMessageFor(model => model.ContactName)
                    </div>
                </td>
                <td>
                    <div class="">
                        @Html.LabelFor(model => model.ContactTel)
                    </div>
                    <div class="editor-field">
                        @Html.TextBoxFor(model => model.ContactTel)
                        @Html.ValidationMessageFor(model => model.ContactTel)
                    </div>

                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <div class="editor-label">
                        @Html.LabelFor(model => model.ContactEmail)
                    </div>
                    <div class="editor-field">
                        @Html.TextBoxFor(model => model.ContactEmail, new { style = "width:100%" })
                        <br>
                        @Html.ValidationMessageFor(model => model.ContactEmail)                      
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <div class="editor-label">
                        <input type="submit" value="下一步" id="save_sort" onclick="return Step1_Send()" />
                    </div>
                </td>
            </tr>
        </table>
        <br>

    </fieldset>
}
