﻿@using Mith.Areas.GoX.Models
@model Mith.Areas.GoX.Models.CompanyModel.CompanyShow
@Scripts.Render("~/js/AdminCompanyEdit")
@Styles.Render("~/css/Loading")
<script src="~/Scripts/plugin/Loading/jquery.isloading.min.js" type="text/javascript"></script>

@using (Html.BeginForm("Edit_Step3", "Company", FormMethod.Post, new { @Id = "Form", @enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @Html.HiddenFor(model => model.Id)

    <div class="">
        廠商
    </div>
    <div class="editor-field">
        【@Html.DisplayFor(model => model.SN)】 @Html.DisplayFor(model => model.Name)
        <br>
    </div>

    <br>
    <fieldset class="confirm2" style="width: 480px;padding-left: 25px;">

        <legend>帳務處理</legend>
        <table style="background-color: transparent;">

            <tr>
                <td style="width: 240px;">
                    <div class="">
                        @Html.LabelFor(model => model.AccountingName)
                    </div>
                    <div class="editor-field">
                        @Html.TextBoxFor(model => model.AccountingName)
                        @Html.ValidationMessageFor(model => model.AccountingName)
                    </div>
                </td>
                <td>
                    <div class="">
                        @Html.LabelFor(model => model.AccountingTel)
                    </div>
                    <div class="editor-field">
                        @Html.TextBoxFor(model => model.AccountingTel)
                        @Html.ValidationMessageFor(model => model.AccountingTel)
                    </div>

                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <div class="editor-label">
                        @Html.LabelFor(model => model.AccountingEmail)
                    </div>
                    <div class="editor-field">
                        @Html.TextBoxFor(model => model.AccountingEmail, new { style = "width:420px" })
                        @Html.ValidationMessageFor(model => model.AccountingEmail)
                    </div>
                </td>
            </tr>
        </table>
        <br>
    </fieldset>
    <br>
    <br>
    <fieldset class="confirm2" style="width: 480px;padding-left: 25px;">
        <legend>貨款撥付</legend>
        <table style="background-color: transparent;">
            <tr>
                <td style="width: 240px;">
                    <div class="">
                        @Html.LabelFor(model => model.BankName)
                    </div>
                    <div class="editor-field">
                        @Html.TextBoxFor(model => model.BankCode, new { style = "width:40px;text-align: center;", placeholder = "001" })
                        @Html.ValidationMessageFor(model => model.BankCode)
                        @Html.TextBoxFor(model => model.BankName, new { style = "width:165px;", placeholder = " XX銀行" })
                        @Html.ValidationMessageFor(model => model.BankName)
                    </div>
                </td>
                <td>
                    <div class="">
                        @Html.LabelFor(model => model.Account)
                    </div>
                    <div class="editor-field">
                        @Html.TextBoxFor(model => model.Account)
                        @Html.ValidationMessageFor(model => model.Account)
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <div class="editor-label">
                        @Html.LabelFor(model => model.AccountName)
                    </div>
                    <div class="editor-field">
                        @Html.TextBoxFor(model => model.AccountName)
                        @Html.ValidationMessageFor(model => model.AccountName)
                    </div>
                </td>
            </tr>
            <tr>
                <td style="width:60%">
                    <div class="editor-label">
                        @Html.LabelFor(model => model.CreateTime)
                    </div>
                    <div class="editor-field">
                        @Model.CreateTime.Value.ToString("yyyy/MM/dd HH:mm")
                    </div>
                </td>
                <td>
                    <div class="editor-label">
                        @Html.LabelFor(model => model.UpdateTime)
                    </div>
                    <div class="editor-field">
                        @Model.UpdateTime.Value.ToString("yyyy/MM/dd HH:mm")
                    </div>

                </td>
            </tr>
            <tr>
                <td style="width:60%">
                    <div class="editor-label">
                        @Html.LabelFor(model => model.LastUser_Name)
                    </div>
                    <div class="editor-field">
                        @Html.DisplayFor(model => model.LastUser_Name)
                    </div>
                </td>
                <td>
                    <div class="editor-label">
                        <input type="submit" value="儲存" id="save_sort" onclick="return Step3_Send()" />
                    </div>
                </td>
            </tr>
        </table>
        <br>
    </fieldset>
}