﻿@using Mith.Areas.GoX.Models
@model Mith.Areas.GoX.Models.CompanyModel.CompanyShow

@{
    int p = 1;
    if (ViewData["p"] != null)
    {
        p = (int)ViewData["p"];
    }
}
@Scripts.Render("~/js/AdminCompanyEdit")
@Styles.Render("~/css/Loading")
<script src="~/Scripts/plugin/Loading/jquery.isloading.min.js" type="text/javascript"></script>

@using (Html.BeginForm("Edit_Step1", "Company", FormMethod.Post, new { @Id = "Form", @enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @Html.HiddenFor(model => model.Id)
    <div class="">
        @Html.LabelFor(model => model.SN)
    </div>
    <div class="editor-field">
        @Html.DisplayFor(model => model.SN)
    </div>
    <br>
    <fieldset class="confirm2" style="width: 480px;padding-left: 25px;">
        <legend>基本資訊</legend>
        <table style="background-color: transparent;">
            <tr>
                <td style="width: 240px;">
                    <div class="">
                        @Html.LabelFor(model => model.Name)
                    </div>
                    <div class="editor-field">
                        @Html.TextBoxFor(model => model.Name)
                        <br>
                        @Html.ValidationMessageFor(model => model.Name)
                    </div>
                </td>
                <td>
                    <div class="">
                        @Html.LabelFor(model => model.TaxId)
                    </div>
                    <div class="editor-field">
                        @Html.TextBoxFor(model => model.TaxId)
                        @Html.ValidationMessageFor(model => model.TaxId)
                    </div>

                </td>
            </tr>
            <tr>
                <td>
                    <div class="editor-label">
                        @Html.LabelFor(model => model.Tel)
                    </div>
                    <div class="editor-field">
                        @Html.TextBoxFor(model => model.Tel)
                        @Html.ValidationMessageFor(model => model.Tel)
                    </div>
                </td>
                <td>
                    <div class="editor-label">
                        @Html.LabelFor(model => model.Fax)
                    </div>
                    <div class="editor-field">
                        @Html.TextBoxFor(model => model.Fax)
                        @Html.ValidationMessageFor(model => model.Fax)
                    </div>

                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <div class="editor-label">
                        @Html.LabelFor(model => model.Address)
                    </div>
                    <div class="editor-field">
                        @Html.Raw(Html.DropDownListFor(model => model.CityId, Mith.Models.CityArea.Get_City_Select(Model.CityId, false), new { style = "width:80px;cursor:pointer" }))
                        @Html.Raw(Html.DropDownListFor(model => model.AreaId, Mith.Models.CityArea.Get_Area_Select(Model.CityId, Model.AreaId, false), new { style = "width:80px;cursor:pointer" }))
                        @Html.TextBoxFor(model => model.Address, new { style = "width: 265px;" })
                        @Html.ValidationMessageFor(model => model.Address)
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="editor-label">
                        @Html.LabelFor(model => model.BossName)
                    </div>
                    <div class="editor-field">
                        @Html.TextBoxFor(model => model.BossName)
                        @Html.ValidationMessageFor(model => model.BossName)
                    </div>
                </td>
                <td>
                    <div class="editor-label">
                        @Html.LabelFor(model => model.BossIdentityCard)
                    </div>
                    <div class="editor-field">
                        @Html.TextBoxFor(model => model.BossIdentityCard)
                        @Html.ValidationMessageFor(model => model.BossIdentityCard)
                    </div>

                </td>
            </tr>

        </table>
        <br>
    </fieldset>
    <br>
    <br>
    <fieldset class="confirm2" style="width: 480px;padding-left: 25px;">
        <legend>聯絡窗口</legend>
        <table style="background-color: #f1f2f7 ">
            <tr>
                <td style="width:60%">
                    <div class="">
                        @Html.LabelFor(model => model.ContactName)
                    </div>
                    <div class="editor-field">
                        @Html.TextBoxFor(model => model.ContactName)
                        @Html.ValidationMessageFor(model => model.ContactName)
                    </div>
                </td>
                <td>
                    <div class="">
                        @Html.LabelFor(model => model.ContactTel)
                    </div>
                    <div class="editor-field">
                        @Html.TextBoxFor(model => model.ContactTel)
                        @Html.ValidationMessageFor(model => model.ContactTel)
                    </div>

                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <div class="editor-label">
                        @Html.LabelFor(model => model.ContactEmail)
                    </div>
                    <div class="editor-field">
                        @Html.TextBoxFor(model => model.ContactEmail, new { style = "width:420px" })
                        <br>
                        @Html.ValidationMessageFor(model => model.ContactEmail)
                    </div>
                </td>
            </tr>
            <tr>
                <td style="width:60%">
                    <div class="editor-label">
                        @Html.LabelFor(model => model.CreateTime)
                    </div>
                    <div class="editor-field">
                        @Model.CreateTime.Value.ToString("yyyy/MM/dd HH:mm")
                    </div>
                </td>
                <td>
                    <div class="editor-label">
                        @Html.LabelFor(model => model.UpdateTime)
                    </div>
                    <div class="editor-field">
                        @Model.UpdateTime.Value.ToString("yyyy/MM/dd HH:mm")
                    </div>

                </td>
            </tr>
            <tr>
                <td style="width:60%">
                    <div class="editor-label">
                        @Html.LabelFor(model => model.LastUser_Name)
                    </div>
                    <div class="editor-field">
                        @Html.DisplayFor(model => model.LastUser_Name)
                    </div>
                </td>
                <td>
                    <div class="editor-label">
                        　
                    </div>
                    <div class="editor-field">
                        <input type="submit" value="儲存" id="save_sort" onclick="return Step1_Send()" />
                    </div>
                </td>
            </tr>
            
        </table>
        <br>

    </fieldset>
}
