﻿@using Mith.Areas.GoX.Models
@using Mith.Models
@model Mith.Areas.GoX.Models.CompanyModel.CompanyShow
@{
    List<Mith.Models.Category> TypeList = new List<Mith.Models.Category>();
    TypeList = Method.GetCategoryList(5, "Type");

    List<Mith.Models.Category> GoodsKindList = new List<Mith.Models.Category>();
    GoodsKindList = Method.GetCategoryList(5, "GoodsKind");
}
@Scripts.Render("~/js/AdminCompanyEdit")
@Styles.Render("~/css/Loading")
<script src="~/Scripts/plugin/Loading/jquery.isloading.min.js" type="text/javascript"></script>

@using (Html.BeginForm("Edit_Step2", "Company", FormMethod.Post, new { @Id = "Form", @enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @Html.HiddenFor(model => model.Id)
    @Html.HiddenFor(model => model.SN)
    @Html.HiddenFor(model => model.GoodsKind)
    <fieldset>
        <table style="background-color: transparent;">
            <tr>
                <td style="width: 240px;">
                    <div class="">
                        廠商
                    </div>
                    <div class="editor-field">
                        【@Html.DisplayFor(model => model.SN)】 @Html.DisplayFor(model => model.Name)
                        <br>
                    </div>
                </td>
            </tr>

            <tr>
                <td style="width: 240px;">
                    <div class="editor-label">
                        @Html.LabelFor(model => model.ContractDate)
                    </div>
                    <div class="editor-field">
                        @Html.TextBoxFor(model => model.ContractDate, "{0:yyyy/MM/dd}", new { @class = "date_search" })
                    </div>
                    <div class="editor-label">
                        @Html.LabelFor(model => model.ManagementFee)
                    </div>
                    <div class="editor-field">
                        @Html.TextBoxFor(model => model.ManagementFee, new { style = " width: 40px;" })
                        @Html.ValidationMessageFor(model => model.ManagementFee)
                    </div>
                    <div class="editor-label">
                        @Html.LabelFor(model => model.ArtEditorCost)
                    </div>
                    <div class="editor-field">
                        @Html.TextBoxFor(model => model.ArtEditorCost, new { style = " width: 40px;" })
                        @Html.ValidationMessageFor(model => model.ArtEditorCost)
                    </div>
                    <div class="editor-label">
                        @Html.LabelFor(model => model.FreightFee)
                    </div>
                    <div class="editor-field">
                        @Html.TextBoxFor(model => model.FreightFee, new { style = " width: 40px;" })
                        @Html.ValidationMessageFor(model => model.FreightFee)
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <div class="editor-label">
                        @Html.LabelFor(model => model.Type)

                    </div>
                    <div class="editor-field">
                        @if (@Model.Goods_Count == 0)
                        {
                            for (int i = 0; i < TypeList.Count(); i++)
                            {
                                <input type="radio" name="Type" value="@TypeList[i].Number" @if (@TypeList[i].Number == Model.Type) { <text> checked </text>            }>
                                @TypeList[i].Name<text>(@TypeList[i].Number)&emsp;</text>

                            }
                        }
                        else
                        {

                            @Model.TypeName<br>
                            <label style="color:red">*此廠商已建立商品，無法修改分類</label>
                            @Html.HiddenFor(model => model.Type)
                        }
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <div class="editor-label">
                        @Html.LabelFor(model => model.GoodsKind)
                    </div>
                    <div class="editor-field">
                        @for (int i = 0; i < GoodsKindList.Count(); i++)
                        {
                            if (Model.GoodsKind != null)
                            {
                                <input type="checkbox" name="GoodsKindList" id="GoodsKindList" value="@GoodsKindList[i].Number" @if (Model.GoodsKind.Contains(@GoodsKindList[i].Number.ToString())) { <text> checked</text>}>
                            }
                            else
                            {
                                <input type="checkbox" name="GoodsKindList" id="GoodsKindList" value="@GoodsKindList[i].Number">
                            }
                            @GoodsKindList[i].Name<text>&emsp;</text>


                        }
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <div class="editor-label">
                        @Html.CheckBoxFor(model => model.Collaborate) @Html.LabelFor(model => model.Collaborate)
                    </div>
                    <div class="editor-field">
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <div class="editor-label">
                        @Html.LabelFor(model => model.CreateTime)
                    </div>
                    <div class="editor-field">
                        @Model.CreateTime.Value.ToString("yyyy/MM/dd HH:mm")
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <div class="editor-label">
                        @Html.LabelFor(model => model.UpdateTime)
                    </div>
                    <div class="editor-field">
                        @Model.UpdateTime.Value.ToString("yyyy/MM/dd HH:mm")
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <div class="editor-label">
                        @Html.LabelFor(model => model.LastUser_Name)
                    </div>
                    <div class="editor-field">
                        @Html.DisplayFor(model => model.LastUser_Name)
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <div class="editor-label">
                        <input type="submit" value="儲存" id="save_sort" onclick="return Step2_Send()" />
                    </div>
                </td>
            </tr>
        </table>
    </fieldset>

}