﻿@using Mith.Areas.GoX.Models;
@model List<Mith.Areas.GoX.Models.CompanyModel.CompanyShow>
@{
    int p = 1;
    if (ViewData["p"] != null)
    {
        p = (int)ViewData["p"];
    }
    int Search_Type = -1;
    if (ViewData["Search_Type"] != null)
    {
        Search_Type = (int)ViewData["Search_Type"];
    }
    int Search_GoodsKind = 0;
    if (ViewData["Search_GoodsKind"] != null)
    {
        Search_GoodsKind = (int)ViewData["Search_GoodsKind"];
    }
    string keyword = "";
    if (ViewData["keyword"] != null)
    {
        keyword = ViewData["keyword"] as string;
    }

    int Search_Collaborate = 0;
    if (ViewData["Search_Collaborate"] != null)
    {
        Search_Collaborate = (int)ViewData["Search_Collaborate"];
    }
    DateTime? CreateTime_St = ViewData["CreateTime_St"] as DateTime?;
    DateTime? CreateTime_End = ViewData["CreateTime_End"] as DateTime?;
    string ct_start = "";
    string ct_end = "";
    if (CreateTime_St != null)
    {
        ct_start = CreateTime_St.Value.ToString("yyyy/MM/dd HH:mm:ss");
    }
    if (CreateTime_End != null)
    {
        ct_end = CreateTime_End.Value.ToString("yyyy/MM/dd HH:mm:ss");
    }
    string err = "";
    if (TempData["err"] != null && TempData["err"] != "")
    {
        err = TempData["err"] as string;
    }
    int User_Id = Mith.Models.Method.Get_UserId_Admin(Request.Cookies, Session);

}
@Scripts.Render("~/js/AdminCompanyIndex")
@Styles.Render("~/css/AdminCompanyIndex")
@if (TempData["FromAction"] != null)
{
    <script>
        var messag = @Html.Raw(Json.Encode(TempData["FromAction"]));
        alert(messag)
    </script>
}
@if (err != "")
{
    @: 操作失敗<br>
    @err
}
else
{
    @*<div class="big_title">@ViewBag.Title</div>*@
    if ((bool)Session["Insert"] == true)
    {
        <div class="func_item">
            <ul>
                <li>@Html.ActionLink("新增", "Create_Step1")</li>
                <li>
                    <input type="button" value="匯出" id="save_sort" onclick="Export();">
                </li>
            </ul>
        </div>
    }
    <fieldset class="confirm2">
        <div class="search_area">
            <form action="" method="" name="SearchForm">
                <label for="keyword">　關鍵字</label>&ensp;
                <input type="text" name="keyword" id="keyword" value="@keyword" placeholder="廠商編號、名稱" />
                <br />
                <label class="Add_Top">　　類別</label>&ensp;
                @Html.DropDownList("Search_Type", Mith.Models.Method.Get_Category_SelectListItem(5, "Type", @Search_Type), new { @class = "combobox" })
                <br />
                <label class="Add_Top">商品種類</label>&ensp;
                @Html.DropDownList("Search_GoodsKind", Mith.Models.Method.Get_Category_SelectListItem(5, "GoodsKind", @Search_GoodsKind), new { @class = "combobox" })
                <br />
                <label class="Add_Top">　合作中</label>&ensp;
                <input type="radio" value="0" name="Search_Collaborate" @if (Search_Collaborate == 0) { <text> checked</text>} /><label for="enable">全部</label>&ensp;
                <input type="radio" value="1" name="Search_Collaborate" @if (Search_Collaborate == 1) { <text> checked</text>} /><label for="enable">是</label>&ensp;
                <input type="radio" value="2" name="Search_Collaborate" @if (Search_Collaborate == 2) { <text> checked</text>} /><label for="disable">否</label>
                <br />
                <label for="create_time_start" class="Add_Top">建立日期</label>&ensp;
                <input type="text" name="CreateTime_St" id="CreateTime_St" class="date_search" value="@ct_start" /> ~
                <input type="text" name="CreateTime_End" id="CreateTime_End" class="date_search" value="@ct_end" />
                &emsp;
                <input type="button" value="查詢" onclick="Search();">
            </form>
        </div>
    </fieldset>

    <br>
    <div class="showdata" id="update">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th class="item1">
                        @Html.DisplayNameFor(model => model[0].SN)
                    </th>
                    <th class="item2">
                        @Html.DisplayNameFor(model => model[0].Name)
                    </th>
                    <th class="item3">
                        @Html.DisplayNameFor(model => model[0].Tel)
                    </th>
                    <th class="item4">
                        @Html.DisplayNameFor(model => model[0].Type)
                    </th>
                    <th class="item5">
                        @Html.DisplayNameFor(model => model[0].GoodsKind)
                    </th>
                    <th class="item6">
                        @Html.DisplayNameFor(model => model[0].Collaborate)
                    </th>
                    <th class="item7">
                        @Html.DisplayNameFor(model => model[0].CreateTime)
                    </th>
                    <th class="" colspan="3">
                        編輯
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td class="item1">
                            @Html.DisplayFor(modelItem => item.SN)
                        </td>
                        <td class="item2">
                            @Html.DisplayFor(modelItem => item.Name)
                            @if (User_Id == 1)
                            {
                                <br>
                                @Html.ActionLink("刪除", "Delete", new { Id = item.Id, p = p }, new { OnClick = "return confirm(\"確定要刪除?\")" })
                            }
                        </td>
                        <td class="item3">
                            @Html.DisplayFor(modelItem => item.Tel)
                        </td>
                        <td class="item4">
                            @Html.DisplayFor(modelItem => item.TypeName)
                        </td>
                        <td class="item5">
                            @Html.DisplayFor(modelItem => item.GoodsKind)
                        </td>
                        <td class="item6">
                            @if (item.Collaborate)
                            {
                                <span style="color:#00AA00">是</span>
                            }
                            else
                            {
                                <span style="color:red">否</span>
                            }
                        </td>
                        <td class="item7">
                            @item.CreateTime.Value.ToString("yyyy/MM/dd HH:mm")
                        </td>
                        <td class="item8">
                            @if ((bool)Session["Update"] == true)
                            {
                                @Html.ActionLink("基本資訊", "Edit_Step1", new { id = item.Id })
                            }
                        </td>
                        <td class="item9">
                            @if ((bool)Session["Update"] == true)
                            {
                                @Html.ActionLink("合作類別 /狀態", "Edit_Step2", new { id = item.Id })
                            }
                        </td>
                        <td class="item10">
                            @if ((bool)Session["Update"] == true)
                            {
                                @Html.ActionLink("帳務資料", "Edit_Step3", new { id = item.Id })
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <div class="del_chk">
            @Html.Partial("_PartialPage")
        </div>
    </div>


}
