﻿@using Mith.Areas.GoX.Models
@model Mith.Areas.GoX.Models.OtherModel.OtherShow

@Scripts.Render("~/js/AdminOtherEdit")
@Styles.Render("~/css/Loading")
<script src="~/Scripts/plugin/Loading/jquery.isloading.min.js" type="text/javascript"></script>
<script src="" type="text/javascript"></script>

@using (Html.BeginForm("Edit", "Other", FormMethod.Post, new { @Id = "Form", @enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @Html.HiddenFor(model => model.Id)
    @Html.HiddenFor(model => model.Name)
    @Html.HiddenFor(model => model.InputType)

    <fieldset>
        <div class="">
            @Html.LabelFor(model => model.Id)
        </div>
        <div class="editor-field">
            @Html.DisplayFor(model => model.Id)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.DisplayFor(model => model.Name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Content)
        </div>
        <div class="editor-field">
            @if (Model.InputType == "TextBox")
            {
                @Html.TextBoxFor(model => model.Content)
           //     @Html.ValidationMessageFor(model => model.Content)
            }
            else if (Model.InputType == "TextArea")
            {
                @Html.TextAreaFor(model => model.Content, 6, 50, new { style = "resize: none;" })
           //     @Html.ValidationMessageFor(model => model.Content)
            }
            else if (Model.InputType == "File")
            {
                @Html.TextBoxFor(model => model.Content)
           //     @Html.ValidationMessageFor(model => model.Content)
                <br>
                @Html.LabelFor(model => model.Pic_Big, new { @class = "editor-label" })
                if (!string.IsNullOrWhiteSpace(Model.Pic_Big))
                {
                    <br>
                    <a class="example-image-link" href="@Model.Pic_Big" data-lightbox="example-set" data-title="">
                        <img class="example-image" src="@Model.Pic_Small" alt="" style="width:80px;height:auto;margin-bottom:12px" />
                    </a>
                }
                @Html.TextBoxFor(model => model.Pic_Big, new { @type = "file", @accept = "image/*" })
                <div id="ShowPic_Big" style="font-weight:bold;margin-top:5px;color:red"></div>

                @Html.LabelFor(model => model.Sort, new { @class = "editor-label" })<br>
                @Html.TextBoxFor(model => model.Sort)
                @Html.ValidationMessageFor(model => model.Sort)
            }
            <br>

        </div>

        <br>
        <p>
            <input type="submit" value="儲存" id="save_sort" onclick="return Send()" />
        </p>
    </fieldset>

}