﻿@using Mith.Areas.GoX.Models;
@model List<Mith.Areas.GoX.Models.OtherModel.OtherShow>
@{
    int p = 1;
    if (ViewData["p"] != null)
    {
        p = (int)ViewData["p"];
    }
    string keyword = "";
    if (ViewData["keyword"] != null)
    {
        keyword = ViewData["keyword"] as string;
    }

    int Search_Enable = 0;
    if (ViewData["Search_Enable"] != null)
    {
        Search_Enable = (int)ViewData["Search_Enable"];
    }

    DateTime? CreateTime_St = ViewData["CreateTime_St"] as DateTime?;
    DateTime? CreateTime_End = ViewData["CreateTime_End"] as DateTime?;
    string ct_start = "";
    string ct_end = "";
    if (CreateTime_St != null)
    {
        ct_start = CreateTime_St.Value.ToString("yyyy/MM/dd HH:mm:ss");
    }
    if (CreateTime_End != null)
    {
        ct_end = CreateTime_End.Value.ToString("yyyy/MM/dd HH:mm:ss");
    }
    string err = "";
    if (TempData["err"] != null && TempData["err"] != "")
    {
        err = TempData["err"] as string;
    }


}
@Styles.Render("~/css/AdminOtherIndex")
@if (TempData["FromAction"] != null)
{
    <script>
        var messag = @Html.Raw(Json.Encode(TempData["FromAction"]));
        alert(messag)
    </script>
}
@if (err != "")
{
    @: 操作失敗<br>
    @err
}
else
{
    <fieldset class="confirm2">
        <div class="search_area">
            <form action="/Gox/Other/Index" id="search" method="get">
                <label for="keyword">類別</label>&ensp;
                <input type="text" name="keyword" id="keyword" value="@keyword" placeholder="" />
                &emsp;
                <input type="submit" value="查詢" onclick="">
            </form>
        </div>
    </fieldset>
    <br>
    <div class="showdata" id="update">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th class="item1">
                        @Html.DisplayNameFor(model => model[0].Id)
                    </th>
                    <th class="item2">
                        @Html.DisplayNameFor(model => model[0].Name)
                    </th>
                    <th class="item3">
                        @Html.DisplayNameFor(model => model[0].Content)
                    </th>
                    <th class="item4">
                        編輯
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td class="item1">
                            @Html.DisplayFor(modelItem => item.Id)
                        </td>
                        <td class="item2">
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td class="item3">
                            @if (item.Content.Length > 250)
                            {
                                @item.Content.Substring(0, 250)<text>...</text>
                            }
                            else
                            {
                                @item.Content
                            }

                            @Html.DisplayFor(modelItem => item.Unit)
                            @if (!string.IsNullOrWhiteSpace(item.Sort.ToString()))
                            {
                                <text>，排序 : </text>
                                <span style="color:red">
                                    @Html.DisplayFor(modelItem => item.Sort)
                                </span>
                            }
                            @if (!string.IsNullOrWhiteSpace(item.Pic_Big))
                            {
                                <br>
                                <a class="example-image-link" href="@item.Pic_Big" data-lightbox="example-set" data-title="">
                                    <img class="example-image" src="@item.Pic_Small" alt="" style="width:80px;height:auto;margin-top:2px;margin-bottom:4px" />
                                </a>
                            }
                        </td>
                        <td class="item4">
                            @if ((bool)Session["Update"] == true)
                            {
                                @Html.ActionLink("編輯", "Edit", new { id = item.Id })
                            }
                        </td>

                    </tr>
                }
            </tbody>
        </table>
        <div class="del_chk">
            @Html.Partial("_PartialPage")
        </div>
    </div>


}
