﻿@using Mith.Areas.GoX.Models;
@using Mith.Models;
@model List<RefundModel.RefundShow>
@{
    List<Category> RefundReasonList = new List<Category>();
    RefundReasonList = Method.GetCategoryList(10, "RefundReason");

    int p = 1;
    if (ViewData["p"] != null)
    {
        p = (int)ViewData["p"];
    }
    string keyword = "";
    if (ViewData["keyword"] != null)
    {
        keyword = ViewData["keyword"] as string;
    }

    int Search_CashFlow = 0;
    if (ViewData["Search_CashFlow"] != null)
    {
        Search_CashFlow = (int)ViewData["Search_CashFlow"];
    }

    int Search_CompanyId = 0;
    if (ViewData["Search_CompanyId"] != null)
    {
        Search_CompanyId = (int)ViewData["Search_CompanyId"];
    }

    int Search_RefundReason = 0;
    if (ViewData["Search_RefundReason"] != null)
    {
        Search_RefundReason = (int)ViewData["Search_RefundReason"];
    }

    DateTime? RefundTime_St = ViewData["RefundTime_St"] as DateTime?;
    DateTime? RefundTime_End = ViewData["RefundTime_End"] as DateTime?;
    string ct_start = "";
    string ct_end = "";
    if (RefundTime_St != null)
    {
        ct_start = RefundTime_St.Value.ToString("yyyy/MM/dd HH:mm:ss");
    }
    if (RefundTime_End != null)
    {
        ct_end = RefundTime_End.Value.ToString("yyyy/MM/dd HH:mm:ss");
    }
    string err = "";
    if (TempData["err"] != null && TempData["err"] != "")
    {
        err = TempData["err"] as string;
    }

}
@*@Scripts.Render("~/js/AdminOrderIndex")*@
@Styles.Render("~/css/AdminRefundIndex")
@if (TempData["FromAction"] != null)
{
    <script>
        var messag = @Html.Raw(Json.Encode(TempData["FromAction"]));
        alert(messag)
    </script>
}
@if (err != "")
{
    @: 操作失敗<br>
    @err
}
else
{
    @*<div class="func_item">
            <ul>
                <li>
                    <input type="button" value="匯出" id="save_sort" onclick="Export();">
                </li>
            </ul>
        </div>*@
    <fieldset class="confirm2">
        <div class="search_area">
            <form action="/GoX/Refund/Index" method="get" name="SearchForm">
                <label for="keyword">　關鍵字</label>&ensp;
                <input type="text" name="keyword" id="keyword" value="@keyword" placeholder="訂單編號" />
                <br>
                <label class="Add_Top">&emsp;已退款</label>&ensp;
                <input type="radio" value="0" name="Search_CashFlow" @if (Search_CashFlow == 0) { <text> checked</text>} /><label for="enable">全部</label>&ensp;
                <input type="radio" value="1" name="Search_CashFlow" @if (Search_CashFlow == 1) { <text> checked</text>} /><label for="enable">是</label>&ensp;
                <input type="radio" value="2" name="Search_CashFlow" @if (Search_CashFlow == 2) { <text> checked</text>} /><label for="disable">否</label>
                <br>
                <label class="Add_Top">退款原因</label>&ensp;
                <input type="radio" value="0" name="Search_RefundReason" @if (Search_RefundReason == 0) { <text> checked</text>} /><label>全部</label>&ensp;
                @for (int i = 0; i < RefundReasonList.Count(); i++)
                {
                    <input type="radio" name="Search_RefundReason" value="@RefundReasonList[i].Number" @if (Search_RefundReason == RefundReasonList[i].Number) { <text> checked </text>    } /> @RefundReasonList[i].Name
                    if (i < 2)
                    {
                        <text>&ensp;</text>
                    }
                }
                <br />
                <label class="Add_Top">退貨廠商</label>&ensp;
                @Html.DropDownList("Search_CompanyId", Mith.Models.Method.Get_Comapny_SelectListItem(@Search_CompanyId), new { @class = "combobox" })
                <br />
                <label for="create_time_start" class="Add_Top">退款日期</label>&ensp;
                <input type="text" name="RefundTime_St" id="RefundTime_St" class="date_search" value="@ct_start" /> ~
                <input type="text" name="RefundTime_End" id="RefundTime_End" class="date_search" value="@ct_end" />
                &emsp;
                <input type="submit" value="查詢">
            </form>

        </div>
    </fieldset>

    <br>
    <div class="showdata" id="update">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th class="item1">
                        @Html.DisplayNameFor(model => model[0].SN)
                    </th>
                    <th class="item2">
                        退貨商品
                    </th>
                    <th class="item3">
                        連絡人
                    </th>
                    <th class="item4">
                        @Html.DisplayNameFor(model => model[0].CashFlowType)
                    </th>
                    <th class="item5">
                        @Html.DisplayNameFor(model => model[0].RefundReason)
                    </th>
                    <th class="item6">
                        @Html.DisplayNameFor(model => model[0].CashFlowStatus)
                    </th>
                    <th class="item7">
                        退款日期
                    </th>
                    <th class="item8">
                        退貨廠商
                    </th>
                    <th class="item9">
                        編輯
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td class="item1">
                            @item.SN
                        </td>
                        <td class="item2" style="text-align:left!important;line-height:25px;padding-left:10px;padding-right:10px;">
                            @if (item.OrderDetailList.Count() > 0)
                            {

                                for (int i = 0; i < item.OrderDetailList.Count(); i++)
                                {
                                    <span style="">
                                        【@item.OrderDetailList[i].Goods_SN】<br>
                                        @item.OrderDetailList[i].Goods_Name<br>
                                        數量：@item.OrderDetailList[i].BuySize ×
                                        @item.OrderDetailList[i].BuyQuantity
                                        (@item.OrderDetailList[i].Goods_ColorName)
                                    </span>
                                    if (i < @item.OrderDetailList.Count() - 1)
                                    {
                                        <hr style="margin-top:10px;margin-bottom:10px;border-top: 1px dashed #2966df;">
                                    }
                                }
                            }
                        </td>
                        <td class="item3" style="text-align:left!important;line-height:25px;">
                            姓名：@item.ReceiverName
                            <br>
                            電話：@item.ReceiverTel
                            @*<br>
                            購買總額：$ @item.BuyTotal.ToString("N0")*@
                        </td>
                        <td class="item4">
                            @item.CashFlowType_Name
                        </td>
                        <td class="item5">
                            @item.RefundReason_Name
                        </td>
                        <td class="item6">
                            @if (item.CashFlowStatus == 4)
                            {
                                <span style="color:#00AA00">是</span>
                            }
                            else
                            {
                                <span style="color:red">否</span>
                            }
                        </td>
                        <td class="item7">
                            @if (!string.IsNullOrWhiteSpace(@item.RefundTime.ToString()))
                            {
                                @item.RefundTime.Value.ToString("yyyy/MM/dd")
                            }
                            else
                            {
                                <text>無</text>
                            }
                        </td>
                        <td class="item8">
                            @item.Company_Name
                        </td>
                        <td class="item9">
                            @if ((bool)Session["Update"] == true)
                            {
                                @Html.ActionLink("詳情", "Edit", new { Id = item.Id })
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>

        <div class="del_chk">
            @Html.Partial("_PartialPage")
        </div>
    </div>


}
