﻿@model Mith.Areas.GoX.Models.WearPicModel.WearPicShow

@{
    int p = 1;
    if (ViewData["p"] != null)
    {
        p = (int)ViewData["p"];
    }
}

@Scripts.Render("~/js/AdminWearPicEdit")
@Styles.Render("~/css/Loading")
<script src="~/Scripts/plugin/Loading/jquery.isloading.min.js" type="text/javascript"></script>

@using (Html.BeginForm("Edit", "WearPic", FormMethod.Post, new { @enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>

        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.SN)

        <input type="hidden" name="p" value="@p" />

        <div class="">
            @Html.LabelFor(model => model.SN)
        </div>
        <div class="editor-field">
            @Html.DisplayFor(model => model.SN)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Pic1_Big) (配件、背景、人偶)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Pic1_Big, new { @type = "file", @accept = "image/*" })
            <div id="ShowPic1_Big" style="font-weight:bold;margin-top:5px;"></div>
            @if (!string.IsNullOrWhiteSpace(Model.Pic1_Big))
            {
                <br>
                <a class="example-image-link" href="@Model.Pic1_Big" data-lightbox="example-set" data-title="">
                    <img class="example-image" src="@Model.Pic1_Big" alt="" style="width:100px;height:auto;" />
                </a>
            }
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Pic2_Big) (配件、背景、人偶)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Pic2_Big, new { @type = "file", @accept = "image/*" })
            <div id="ShowPic2_Big" style="font-weight:bold;margin-top:5px;"></div>
            @if (!string.IsNullOrWhiteSpace(Model.Pic2_Middle))
            {
                <br>
                <a class="example-image-link" href="@Model.Pic2_Middle" data-lightbox="example-set" data-title="">
                    <img class="example-image" src="@Model.Pic2_Small" alt="" style="width:100px;height:auto;" />
                </a>
            }
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Type)
        </div>
        <div class="editor-field">
            @Html.DisplayFor(model => model.TypeName)
        </div>

        <div class="editor-label">
            @Html.CheckBoxFor(model => model.Display) @Html.LabelFor(model => model.Display)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CreateTime)
        </div>
        <div class="editor-field">
            @Model.CreateTime.Value.ToString("yyyy/MM/dd HH:mm")
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.UpdateTime)
        </div>
        <div class="editor-field">
            @Model.UpdateTime.Value.ToString("yyyy/MM/dd HH:mm")
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.LastUser_Name)
        </div>
        <div class="editor-field">
            @Html.DisplayFor(model => model.LastUser_Name)
        </div>

        <br>
        <p>
            <input type="submit" value="儲存" onclick="return Send()" id="save_sort" />
        </p>
        <input type="hidden" id="CheckFiles" value="True">
    </fieldset>
}

<div>
</div>

