﻿@using Mith.Areas.GoX.Models;
@model List<Mith.Areas.GoX.Models.WearPicModel.WearPicShow>
@{

    int p = 1;
    if (ViewData["p"] != null)
    {
        p = (int)ViewData["p"];
    }

    string keyword = "";
    if (ViewData["keyword"] != null)
    {
        keyword = ViewData["keyword"] as string;
    }

    string Search_Type = "0";
    if (ViewData["Search_Type"] != null)
    {
        Search_Type = (string)ViewData["Search_Type"];
    }
    int Search_Display = 0;
    if (ViewData["Search_Display"] != null)
    {
        Search_Display = (int)ViewData["Search_Display"];
    }
    DateTime? CreateTime_St = ViewData["CreateTime_St"] as DateTime?;
    DateTime? CreateTime_End = ViewData["CreateTime_End"] as DateTime?;
    string ct_start = "";
    string ct_end = "";
    if (CreateTime_St != null)
    {
        ct_start = CreateTime_St.Value.ToString("yyyy/MM/dd HH:mm:ss");
    }
    if (CreateTime_End != null)
    {
        ct_end = CreateTime_End.Value.ToString("yyyy/MM/dd HH:mm:ss");
    }

    string err = "";
    if (TempData["err"] != null && TempData["err"] != "")
    {
        err = TempData["err"] as string;
    }

    string sort = "";
    if (ViewData["get"] != null)
    {
        sort = ViewData["get"] as string;
        if (!sort.Contains("sort="))
        {
            sort += "&sort=sort";
        }
    }
    else
    {
        sort += "&sort=sort";
    }

}
@Styles.Render("~/css/AdminWearPicIndex")
@Scripts.Render("~/js/AdminWearPicIndex")
@Styles.Render("~/css/Loading")
<script src="~/Scripts/plugin/Loading/jquery.isloading.min.js" type="text/javascript"></script>

@if (TempData["FromAction"] != null)
{
    <script>
        var messag = @Html.Raw(Json.Encode(TempData["FromAction"]));
        alert(messag)
    </script>
}

@if (err != "")
{
    @: 操作失敗；錯誤代碼：@err。
}
else
{
    if ((bool)Session["Insert"] == true)
    {
        <div class="func_item">
            <ul>
                <li>
                    @Html.ActionLink("新增圖片", "Create")
                </li>
            </ul>
        </div>
    }
    <fieldset class="confirm2">
        <div class="search_area">
            <form action="@Mith.Models.Method.RootPath/GoX/WearPic/Index" method="get" name="SearchForm">
                <label for="keyword">圖片編號</label>&ensp;
                <input type="text" name="keyword" id="keyword" value="@keyword" placeholder="" />
                <br>
                <label class="Add_Top" style=" margin-left: 32px;">類別</label>&ensp;
                @Html.DropDownList("Search_Type", WearPicModel.Get_Type_SelectListItem(@Search_Type), new { @class = "combobox" })
                <br>
                <label class="Add_Top">　　上架 </label>&ensp;
                <input type="radio" value="0" name="Search_Display" @if (Search_Display == 0) { <text> checked</text>} /><label for="enable">全部</label>&ensp;
                <input type="radio" value="1" name="Search_Display" @if (Search_Display == 1) { <text> checked</text>} /><label for="enable">是</label>&ensp;
                <input type="radio" value="2" name="Search_Display" @if (Search_Display == 2) { <text> checked</text>} /><label for="disable">否</label>
                <br>
                <label for="create_time_start" class="Add_Top">建立日期</label>&ensp;
                <input type="text" name="CreateTime_St" id="CreateTime_St" class="date_search" value="@ct_start" /> ~
                <input type="text" name="CreateTime_End" id="CreateTime_End" class="date_search" value="@ct_end" />
                &emsp;
                <input type="submit" value="查詢">
            </form>
        </div>

    </fieldset>
    <br>
    <div class="showdata">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th class="item0">
                            <label><input type="checkbox" id="AllCheck" onclick="AllCheck()" />全選</label>
                        </th>
                    <th class="item1">
                        @Html.DisplayNameFor(model => model[0].SN)
                    </th>
                    <th class="item2">
                        @Html.DisplayNameFor(model => model[0].Pic1_Big)
                    </th>
                    <th class="item3">
                        @Html.DisplayNameFor(model => model[0].Pic2_Big)
                    </th>
                    <th class="item4">
                        @Html.DisplayNameFor(model => model[0].Type)
                    </th>
                    <th class="item5">
                        @Html.DisplayNameFor(model => model[0].Display)
                    </th>
                    <th class="item6">
                        @Html.DisplayNameFor(model => model[0].CreateTime)
                    </th>
                    <th class="item7">
                        編輯
                    </th>
                    <th class="item8">
                        刪除
                    </th>
                    <th class="item9">
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td class="item0">
                                <input type="checkbox" name="item" class="delete" value="@item.SN" id="@item.SN" />
                            </td>
                        <td class="item1">
                            @Html.DisplayFor(modelItem => item.SN)
                        </td>
                        <td class="item2">
                            @if (!string.IsNullOrWhiteSpace(item.Pic1_Big))
                            {
                                <a class="example-image-link" href="@item.Pic1_Big" data-lightbox="example-set" data-title="">
                                    <img class="example-image" src="@item.Pic1_Big" alt="" style="width:60px;height:auto" />
                                </a>
                            }
                            else
                            {
                                <text>無</text>
                            }
                        </td>
                        <td class="item3">
                            @if (!string.IsNullOrWhiteSpace(item.Pic2_Middle))
                            {
                                <a class="example-image-link" href="@item.Pic2_Middle" data-lightbox="example-set" data-title="">
                                    <img class="example-image" src="@item.Pic2_Small" alt="" style="width:46px;height:auto" />
                                </a>
                            }
                            else
                            {
                                <text>無</text>
                            }
                        </td>
                        <td class="item4">
                            @Html.DisplayFor(modelItem => item.TypeName)
                        </td>
                        <td class="item5">
                            @if (item.Display)
                            {
                                <span style="color:#00AA00">是</span>
                            }
                            else
                            {
                                <span style="color:red">否</span>
                            }
                        </td>
                        <td class="item6">@item.CreateTime.Value.ToString("yyyy/MM/dd HH:mm")</td>
                        <td class="item7">
                            @if ((bool)Session["Update"] == true)
                            {
                                @Html.ActionLink("編輯", "Edit", new { id = item.Id })
                            }
                        </td>
                        <td class="item8">
                            @if ((bool)Session["Delete"] == true)
                            {
                                @Html.ActionLink("刪除", "Delete", new { item = item.Id, p = p }, new { OnClick = "return confirm(\"確定要刪除?\")" })
                            }
                        </td>
                        <td class="item9">   </td>
                    </tr>
                }
            </tbody>
        </table>

        <div class="del_chk">
            <div class="button">
                <input type="button" value="上架" id="save_sort" onclick="PutOnSale();">
                &emsp;
                <input type="button" value="下架" id="save_sort" onclick="PullOffShelves();">
                &emsp;
                <input type="button" value="刪除" id="save_sort" onclick="Ajax_Delete();">
            </div>
                @Html.Partial("_PartialPage")
        </div>
    </div>
}
