﻿@model DateTime?
@if (Model.HasValue)
{
    if (ViewData["format"] != null)
    {
        <label class="utc_time_temp" data-format="@ViewData["format"].ToString()">@Model.Value.ToString("yyyy/MM/dd HH:mm:ss")</label>
    }
    else
    {
        <label class="utc_time_temp">@Model.Value.ToString("yyyy/MM/dd HH:mm:ss")</label>
    }
    @*Model.Value.ToLocalTime();*@
}
else
{
    <label class="utc_time_temp"></label>
}