﻿@model DateTime?
@if (Model.HasValue)
{
    <label class="utc_time_temp_date">@Model.Value.ToString("yyyy/MM/dd HH:mm:ss")</label>
    @*Model.Value.ToLocalTime();*@
}
else
{
    <label class="utc_time_temp_date"></label>
}