﻿@using Mith.Models;
@using Mith.Areas.GoX.Models
@model List<ActivityModel.ActivityShow>
@{
    int Search_ActivityPicId = 1;
    if (ViewData["Search_ActivityPicId"] != null)
    {
        Search_ActivityPicId = (int)ViewData["Search_ActivityPicId"];
    }

    List<ActivityModel.ActivityShow> ActivityPic = Model.Where(w => w.ActivityPicId == Search_ActivityPicId).ToList();
}

@if (ActivityPic.Any())
{
    foreach (var item in ActivityPic)
    {
        <li class="item ui-state-default" data-id="@item.Id" id="li1_@item.Id">
            <input type="checkbox" name="Area1Chk" id="chk_@item.Id" value="@item.Id" style="margin-left:10px"><label>
                【@Html.DisplayFor(model => item.SN)】
                @Html.DisplayFor(model => item.Name)
            </label>
            &ensp;
            @if (!string.IsNullOrWhiteSpace(item.Pic_Small))
            {
                <a class="example-image-link" href="@item.Pic_Middle" data-lightbox="example-set" data-title="">
                    <img class="example-image" src="@item.Pic_Small" alt=""/>
                </a>
            }
        </li>
    }
}