﻿@using Mith.Areas.GoX.Models;
@using Mith.Models;
@model List<Mith.Areas.GoX.Models.ActivityModel.ActivityShow>
@{
    bool IsSearch = false;
    if (ViewData["IsSearch"] != null)
    {
        IsSearch = (bool)ViewData["IsSearch"];
    }

    string keyword = "";
    if (ViewData["keyword"] != null)
    {
        keyword = ViewData["keyword"] as string;
    }
    int Search_Type = 0;
    if (ViewData["Search_Type"] != null)
    {
        Search_Type = (int)ViewData["Search_Type"];
    }
    int Search_ActivityPicId = 1;
    if (ViewData["Search_ActivityPicId"] != null)
    {
        Search_ActivityPicId = (int)ViewData["Search_ActivityPicId"];
    }
    int Search_Season = 0;
    if (ViewData["Search_Season"] != null)
    {
        Search_Season = (int)ViewData["Search_Season"];
    }
    int Search_Color = 0;
    if (ViewData["Search_Color"] != null)
    {
        Search_Color = (int)ViewData["Search_Color"];
    }
    int Search_Style = 0;
    if (ViewData["Search_Style"] != null)
    {
        Search_Style = (int)ViewData["Search_Style"];
    }
    int Search_Fit = 0;
    if (ViewData["Search_Fit"] != null)
    {
        Search_Fit = (int)ViewData["Search_Fit"];
    }

    string Search_Area = "Right";
    if (ViewData["Search_Area"] != null)
    {
        Search_Area = (string)ViewData["Search_Area"];
    }

    int Search_CompanyId = 0;
    if (ViewData["Search_CompanyId"] != null)
    {
        Search_CompanyId = (int)ViewData["Search_CompanyId"];
    }
    DateTime? CreateTime_St = ViewData["CreateTime_St"] as DateTime?;
    DateTime? CreateTime_End = ViewData["CreateTime_End"] as DateTime?;
    string ct_start = "";
    string ct_end = "";
    if (CreateTime_St != null)
    {
        ct_start = CreateTime_St.Value.ToString("yyyy/MM/dd HH:mm:ss");
    }
    if (CreateTime_End != null)
    {
        ct_end = CreateTime_End.Value.ToString("yyyy/MM/dd HH:mm:ss");
    }
    string err = "";
    if (TempData["err"] != null && TempData["err"] != "")
    {
        err = TempData["err"] as string;
    }
    string Pic = ViewData["Pic"] as string;
}
@Styles.Render("~/css/AdminActivityIndex")
@Scripts.Render("~/js/AdminActivity_ActivityPic_Index")
@Styles.Render("~/css/Loading")
<script src="~/Scripts/plugin/Loading/jquery.isloading.min.js" type="text/javascript"></script>

@if (TempData["FromAction"] != null)
{
    <script>
        var messag = @Html.Raw(Json.Encode(TempData["FromAction"]));
        alert(messag)
    </script>
}
@if (err != "")
{
    @: 操作失敗<br>
    @err
}
else
{
    @*<div class="big_title">@ViewBag.Title</div>*@
    <div class="func_item">
        <ul>
            <li>@Html.ActionLink("圖片1", "ActivityPic_Index", new { Search_ActivityPicId = 1 }, new { id = "1" })</li>
            <li>@Html.ActionLink("圖片2", "ActivityPic_Index", new { Search_ActivityPicId = 2 }, new { id = "2" })</li>
            <li>@Html.ActionLink("圖片3", "ActivityPic_Index", new { Search_ActivityPicId = 3 }, new { id = "3" })</li>
            <li>@Html.ActionLink("圖片4", "ActivityPic_Index", new { Search_ActivityPicId = 4 }, new { id = "4" })</li>
            <li>@Html.ActionLink("圖片5", "ActivityPic_Index", new { Search_ActivityPicId = 5 }, new { id = "5" })</li>

            <li style="margin-left:40px">@Html.ActionLink("編輯圖片", "Edit_ActivityPic")</li>
        </ul>
    </div>
    <fieldset class="confirm2">
        <div class="search_area">
            @using (Ajax.BeginForm("", "", new AjaxOptions { UpdateTargetId = "", HttpMethod = "POST", OnBegin = "Show_Loading()", OnSuccess = "Ajax_Success()" }, new { @Id = "SearchForm" }))
            {
                <label for="keyword" style="">　關鍵字</label><text>&ensp;</text>
                <input type="text" name="keyword" id="keyword" value="@keyword" placeholder="商品編號、商品名稱、品牌" />
                <label class="" style=" margin-left: 20px;">類別</label><text>&ensp;</text>
                @Html.DropDownList("Search_Type", Mith.Models.Method.Get_Category_SelectListItem(8, "Type", @Search_Type), new { @class = "combobox" })

                <label class="" style=" margin-left: 50px;">季節</label><text>&ensp;</text>
                @Html.DropDownList("Search_Season", Mith.Models.Method.Get_Category_SelectListItem(8, "Season", @Search_Season), new { @class = "combobox" })
                <br />
                <label class="Add_Top">　　顏色</label><text>&ensp;</text>
                @Html.DropDownList("Search_Color", Mith.Models.Method.Get_Category_SelectListItem(8, "Color", @Search_Color), new { @class = "combobox" })

                <label class="Add_Top" style=" margin-left: 48px;">風格</label><text>&ensp;</text>
                @Html.DropDownList("Search_Style", Mith.Models.Method.Get_Category_SelectListItem(8, "Style", @Search_Style), new { @class = "combobox" })

                <label class="Add_Top" style=" margin-left: 48px;">適合</label><text>&ensp;</text>
                @Html.DropDownList("Search_Fit", Mith.Models.Method.Get_Category_SelectListItem(8, "Fit", @Search_Fit), new { @class = "combobox" })
                <br />
                <label class="Add_Top">　　公司</label><text>&ensp;</text>
                @Html.DropDownList("Search_CompanyId", Mith.Models.Method.Get_Comapny_SelectListItem(@Search_CompanyId), new { @class = "combobox" })

                <label for="create_time_start" class="Add_Top" style=" margin-left: 48px;">建立日期</label><text>&ensp;</text>
                <input type="text" name="CreateTime_St" id="CreateTime_St" class="date_search" value="@ct_start" /> <text> ~ </text>
                <input type="text" name="CreateTime_End" id="CreateTime_End" class="date_search" value="@ct_end" />

                <label class="Add_Top" style=" margin-left: 30px;">區塊</label><text>&ensp;</text>
                <input type="radio" value="Left" name="Search_Area" @if (Search_Area == "Left") { <text> checked</text>} /><label>圖片 @Search_ActivityPicId</label><text>&ensp;</text>
                <input type="radio" value="Right" name="Search_Area" @if (Search_Area == "Right") { <text> checked</text>} /><label>無圖片</label>

                <input type="hidden" name="Search_ActivityPicId" id="Search_ActivityPicId" value="@Search_ActivityPicId">
                <input type="hidden" name="IsSearch" id="IsSearch" value="@IsSearch">
                <input class="Add_Top" type="submit" value="查詢" onclick="return Search()" style="margin-left:30px">
            }
        </div>
    </fieldset>

    <br>

    <table style="width:100%;background-color:transparent" id="Update_All">
        <tr>
            <td style="width:40%;text-align:center;vertical-align:top">
                <label>圖片 @Search_ActivityPicId</label>
                @if (!string.IsNullOrWhiteSpace(@Pic))
                {
                    <img src="@Pic" style="width:30px;height:auto">
                }
                <ul class="Area1 connectedSortable" id="Update_ActivityPic_Area1">
                    @Html.Partial("ActivityPic_Area1")
                </ul>
            </td>
            <td style="width:20%;text-align:center;vertical-align:top">
                <input type="button" value="圖片 @Search_ActivityPicId&#13;&#10;⇦ " id="save_sort" onclick="return ToActivityPic();" style="margin-top:25px;width:82px">
                <br><br>
                <input type="button" value="無圖片&#13;&#10;⇨ " id="save_sort" onclick="return ToNotActivityPic();" style="width: 82px">
            </td>
            <td style="width:40%;text-align:center;vertical-align:top">
                <label>無圖片</label>
                <ul class="Area2 connectedSortable" id="Update_ActivityPic_Area2">
                    @Html.Partial("ActivityPic_Area2")
                </ul>
            </td>
        </tr>
    </table>
}
