﻿@using Mith.Areas.GoX.Models
@model Mith.Areas.GoX.Models.ActivityModel.ActivityShow

@Scripts.Render("~/js/AdminActivityPicEdit")
@Styles.Render("~/css/Loading")
<script src="~/Scripts/plugin/Loading/jquery.isloading.min.js" type="text/javascript"></script>

@using (Html.BeginForm("Edit_ActivityPic", "Activity", FormMethod.Post, new { @Id = "Form", @enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @Html.HiddenFor(model => model.Pic1)
    @Html.HiddenFor(model => model.Pic2)
    @Html.HiddenFor(model => model.Pic3)
    @Html.HiddenFor(model => model.Pic4)
    @Html.HiddenFor(model => model.Pic5)

    <fieldset>
        <div class="">
            <label>圖片1</label>
            @if (!string.IsNullOrWhiteSpace(Model.Pic1))
            {
                <br>
                <a class="example-image-link" href="@Model.Pic1" data-lightbox="example-set" data-title="">
                    <img class="example-image" src="@Model.Pic1" alt="" style="width:40px;height:auto;margin-bottom:12px;margin-right:10px;" />
                </a>
                @Html.CheckBox("Delete_Pic1", false)<text> 刪除</text>
            }
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Pic1, new { @type = "file", @accept = "image/*" })
        </div>

        <div class="editor-label">
            <label>圖片2</label>
            @if (!string.IsNullOrWhiteSpace(Model.Pic2))
            {
                <br>
                <a class="example-image-link" href="@Model.Pic2" data-lightbox="example-set" data-title="">
                    <img class="example-image" src="@Model.Pic2" alt="" style="width:40px;height:auto;margin-bottom:12px;margin-right:10px;" />
                </a>
                @Html.CheckBox("Delete_Pic2", false)<text> 刪除</text>
            }
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Pic2, new { @type = "file", @accept = "image/*" })
        </div>

        <div class="editor-label">
            <label>圖片3</label>
            @if (!string.IsNullOrWhiteSpace(Model.Pic3))
            {
                <br>
                <a class="example-image-link" href="@Model.Pic3" data-lightbox="example-set" data-title="">
                    <img class="example-image" src="@Model.Pic3" alt="" style="width:40px;height:auto;margin-bottom:12px;margin-right:10px;" />
                </a>
                @Html.CheckBox("Delete_Pic3", false)<text> 刪除</text>
            }
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Pic3, new { @type = "file", @accept = "image/*" })
        </div>

        <div class="editor-label">
            <label>圖片4</label>
            @if (!string.IsNullOrWhiteSpace(Model.Pic4))
            {
                <br>
                <a class="example-image-link" href="@Model.Pic4" data-lightbox="example-set" data-title="">
                    <img class="example-image" src="@Model.Pic4" alt="" style="width:40px;height:auto;margin-bottom:12px;margin-right:10px;" />
                </a>
                @Html.CheckBox("Delete_Pic4", false)<text> 刪除</text>
            }
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Pic4, new { @type = "file", @accept = "image/*" })
        </div>

        <div class="editor-label">
            <label>圖片5</label>
            @if (!string.IsNullOrWhiteSpace(Model.Pic5))
            {
                <br>
                <a class="example-image-link" href="@Model.Pic5" data-lightbox="example-set" data-title="">
                    <img class="example-image" src="@Model.Pic5" alt="" style="width:40px;height:auto;margin-bottom:12px;margin-right:10px;" />
                </a>
                @Html.CheckBox("Delete_Pic5", false)<text> 刪除</text>
            }
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Pic5, new { @type = "file", @accept = "image/*" })
        </div>
        <br><br>
        <p>
            <input type="submit" value="儲存" id="save_sort" onclick="return Send()" />
        </p>
    </fieldset>

}