﻿@using Mith.Models;
@using Mith.Areas.GoX.Models
@model List<ActivityModel.ActivityShow>
@{
    List<ActivityModel.ActivityShow> NotHot30 = Model.Where(w => w.Hot30 == false).ToList();
}

@if (NotHot30.Any())
{
    foreach (var item in NotHot30)
    {
        <li class="item ui-state-default" data-id="@item.Id" id="li2_@item.Id">
            <input type="checkbox" name="Area2Chk" id="chk_@item.Id" value="@item.Id" style="margin-left:10px" />
            <label>
                【@Html.DisplayFor(model => item.SN)】
                @Html.DisplayFor(model => item.Name)
            </label>
            &ensp;
            @if (!string.IsNullOrWhiteSpace(item.Pic_Small))
            {
                <a class="example-image-link" href="@item.Pic_Middle" data-lightbox="example-set" data-title="">
                    <img class="example-image" src="@item.Pic_Small" alt=""/>
                </a>
            }

        </li>
    }
}