﻿@using Mith.Areas.GoX.Models;
@using Mith.Models;
@model List<Mith.Areas.GoX.Models.ActivityModel.ActivityShow>
@{
    bool IsSearch = false;
    if (ViewData["IsSearch"] != null)
    {
        IsSearch = (bool)ViewData["IsSearch"];
    }

    int p = 1;
    if (ViewData["p"] != null)
    {
        p = (int)ViewData["p"];
    }
    int show_number = 10;
    string keyword = "";
    if (ViewData["keyword"] != null)
    {
        keyword = ViewData["keyword"] as string;
    }
    int Search_Type = 0;
    if (ViewData["Search_Type"] != null)
    {
        Search_Type = (int)ViewData["Search_Type"];
    }
    string Search_Pattern = "0";
    if (ViewData["Search_Pattern"] != null)
    {
        Search_Pattern = (string)ViewData["Search_Pattern"];
    }
    int Search_Season = 0;
    if (ViewData["Search_Season"] != null)
    {
        Search_Season = (int)ViewData["Search_Season"];
    }
    int Search_Color = 0;
    if (ViewData["Search_Color"] != null)
    {
        Search_Color = (int)ViewData["Search_Color"];
    }
    int Search_Style = 0;
    if (ViewData["Search_Style"] != null)
    {
        Search_Style = (int)ViewData["Search_Style"];
    }
    int Search_Fit = 0;
    if (ViewData["Search_Fit"] != null)
    {
        Search_Fit = (int)ViewData["Search_Fit"];
    }

    string Search_Area = "Right";
    if (ViewData["Search_Area"] != null)
    {
        Search_Area = (string)ViewData["Search_Area"];
    }

    int Search_CompanyId = 0;
    if (ViewData["Search_CompanyId"] != null)
    {
        Search_CompanyId = (int)ViewData["Search_CompanyId"];
    }
    DateTime? CreateTime_St = ViewData["CreateTime_St"] as DateTime?;
    DateTime? CreateTime_End = ViewData["CreateTime_End"] as DateTime?;
    string ct_start = "";
    string ct_end = "";
    if (CreateTime_St != null)
    {
        ct_start = CreateTime_St.Value.ToString("yyyy/MM/dd HH:mm:ss");
    }
    if (CreateTime_End != null)
    {
        ct_end = CreateTime_End.Value.ToString("yyyy/MM/dd HH:mm:ss");
    }
    string err = "";
    if (TempData["err"] != null && TempData["err"] != "")
    {
        err = TempData["err"] as string;
    }
    //List<Mith.Models.ActivityQuantity> SizeList = new List<Mith.Models.ActivityQuantity>();

}
@Styles.Render("~/css/AdminActivityIndex")
@Scripts.Render("~/js/AdminActivity_Promotion100_Index")
@Styles.Render("~/css/Loading")
<script src="~/Scripts/plugin/Loading/jquery.isloading.min.js" type="text/javascript"></script>

@if (TempData["FromAction"] != null)
{
    <script>
        var messag = @Html.Raw(Json.Encode(TempData["FromAction"]));
        alert(messag)
    </script>
}
@if (err != "")
{
    @: 操作失敗<br>
    @err
}
else
{
    @*<div class="big_title">@ViewBag.Title</div>*@
    <div class="func_item">
        <ul>
            <li>@Html.ActionLink("上衣", "Promotion100_Index", new { Search_Pattern = "T" }, new { id = "T" })</li>
            <li>@Html.ActionLink("外套", "Promotion100_Index", new { Search_Pattern = "C" }, new { id = "C" })</li>
            <li>@Html.ActionLink("洋裝", "Promotion100_Index", new { Search_Pattern = "D" }, new { id = "D" })</li>
            <li>@Html.ActionLink("裙子", "Promotion100_Index", new { Search_Pattern = "S" }, new { id = "S" })</li>
            <li>@Html.ActionLink("褲子", "Promotion100_Index", new { Search_Pattern = "P" }, new { id = "P" })</li>
        </ul>
    </div>
    <label style="color:red">*設定【百變穿搭】的部分</label>
    <fieldset class="confirm2">
        <div class="search_area">
            @using (Ajax.BeginForm("", "", new AjaxOptions { UpdateTargetId = "", HttpMethod = "POST", OnBegin = "Show_Loading()", OnSuccess = "Ajax_Success()" }, new { @Id = "SearchForm" }))
            {
                <label for="keyword" style="">　關鍵字</label><text>&ensp;</text>
                <input type="text" name="keyword" id="keyword" value="@keyword" placeholder="商品編號、商品名稱、品牌" />
                <label class="" style=" margin-left: 20px;">類別</label><text>&ensp;</text>
                @Html.DropDownList("Search_Type", Mith.Models.Method.Get_Category_SelectListItem(8, "Type", @Search_Type), new { @class = "combobox" })

                <label class="" style=" margin-left: 50px;">季節</label><text>&ensp;</text>
                @Html.DropDownList("Search_Season", Mith.Models.Method.Get_Category_SelectListItem(8, "Season", @Search_Season), new { @class = "combobox" })
                <br />
                <label class="Add_Top">　　顏色</label><text>&ensp;</text>
                @Html.DropDownList("Search_Color", Mith.Models.Method.Get_Category_SelectListItem(8, "Color", @Search_Color), new { @class = "combobox" })

                <label class="Add_Top" style=" margin-left: 48px;">風格</label><text>&ensp;</text>
                @Html.DropDownList("Search_Style", Mith.Models.Method.Get_Category_SelectListItem(8, "Style", @Search_Style), new { @class = "combobox" })

                <label class="Add_Top" style=" margin-left: 48px;">適合</label><text>&ensp;</text>
                @Html.DropDownList("Search_Fit", Mith.Models.Method.Get_Category_SelectListItem(8, "Fit", @Search_Fit), new { @class = "combobox" })
                <br />
                <label class="Add_Top">　　公司</label><text>&ensp;</text>
                @Html.DropDownList("Search_CompanyId", Mith.Models.Method.Get_Comapny_SelectListItem(@Search_CompanyId), new { @class = "combobox" })

                <label for="create_time_start" class="Add_Top" style=" margin-left: 48px;">建立日期</label><text>&ensp;</text>
                <input type="text" name="CreateTime_St" id="CreateTime_St" class="date_search" value="@ct_start" /> <text> ~ </text>
                <input type="text" name="CreateTime_End" id="CreateTime_End" class="date_search" value="@ct_end" />

                <label class="Add_Top" style=" margin-left: 30px;">區塊</label><text>&ensp;</text>
                <input type="radio" value="Left" name="Search_Area" @if (Search_Area == "Left") { <text> checked</text>} /><label>前100件</label><text>&ensp;</text>
                <input type="radio" value="Right" name="Search_Area" @if (Search_Area == "Right") { <text> checked</text>} /><label>非前100件</label>

                <input type="hidden" name="Search_Pattern" id="Search_Pattern" value="@Search_Pattern">
                <input type="hidden" name="IsSearch" id="IsSearch" value="@IsSearch">
                <input class="Add_Top" type="submit" value="查詢" onclick="return Search()" style="margin-left:30px">
            }
        </div>
    </fieldset>

    <br>
    <script src="~/Scripts/plugin/Loading/jquery.isloading.min.js" type="text/javascript"></script>
    <table style="width:100%;background-color:transparent" id="Update_All">
        <tr>
            <td style="width:40%;text-align:center;vertical-align:top">
                <label>前100件</label>
                <ul class="Area1 connectedSortable" id="Update_Promotion100_Area1">
                    @Html.Partial("Promotion100_Area1")
                </ul>
            </td>
            <td style="width:20%;text-align:center;vertical-align:top">
                <input type="button" value="前100件&#13;&#10;⇦ " id="save_sort" onclick="return ToPromotion100();" style="margin-top:25px;width:100px">
                <br><br>
                <input type="button" value="非前100件&#13;&#10;⇨ " id="save_sort" onclick="return ToNotPromotion100();" style="width:100px">
            </td>
            <td style="width:40%;text-align:center;vertical-align:top">
                <label>非前100件</label>
                <ul class="Area2 connectedSortable" id="Update_Promotion100_Area2">
                    @Html.Partial("Promotion100_Area2")
                </ul>
            </td>
        </tr>
    </table>
}
