﻿@using Mith.Areas.GoX.Models
@model Mith.Areas.GoX.Models.UserProfileModel.UserProfileShow
@{
    int CompanyId = Mith.Models.Method.Get_CompanyId_Admin(Request.Cookies, Session);
}

@Scripts.Render("~/js/AdminUserProfileCreate")
@Styles.Render("~/css/Loading")
<script src="~/Scripts/plugin/Loading/jquery.isloading.min.js" type="text/javascript"></script>
<style>
    .editor-field .ui-button {
        height: 26px !important;
        margin-left: -1px !important;
        margin-top: -3px;
    }
</style>
@using (Html.BeginForm("Create", "UserProfile", FormMethod.Post, new { @Id = "Form", @enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <input type="hidden" name="CompanyId" value="@CompanyId">
    <input type="hidden" name="Role" value="2">
    <fieldset>

        <div class="">
            @Html.LabelFor(model => model.LevelId)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.LevelId, UserProfileModel.Get_UserLevel_SelectListItem(2, 0, @CompanyId), new { @class = "combobox", @id = "LevelId" })
            <span class="Valid" id="LevelId_Valid">必填欄位</span>
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Account)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Account)
            @Html.ValidationMessageFor(model => model.Account)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Password)
        </div>
        <div class="editor-field">
            @Html.PasswordFor(model => model.Password)
            @Html.ValidationMessageFor(model => model.Password)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ConfirmPassword)
        </div>
        <div class="editor-field">
            @Html.PasswordFor(model => model.ConfirmPassword)
            @Html.ValidationMessageFor(model => model.ConfirmPassword)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <div class="editor-label">
            @Html.CheckBox("Enable", true) @Html.LabelFor(model => model.Enable)
        </div>
        <br>
        <p>
            <input type="submit" value="新增" id="save_sort" onclick="return Send_Company()" />
        </p>
    </fieldset>
}
