﻿@using Mith.Areas.GoX.Models
@model Mith.Areas.GoX.Models.UserProfileModel.UserProfileShow

@Scripts.Render("~/js/AdminUserProfileCreate")
@Styles.Render("~/css/Loading")
<script src="~/Scripts/plugin/Loading/jquery.isloading.min.js" type="text/javascript"></script>
<style>
    .editor-field .ui-button {
        height: 26px !important;
        margin-left: -1px !important;
        margin-top: -3px;
    }
</style>
@using (Html.BeginForm("Create", "UserProfile", FormMethod.Post, new { @Id = "Form", @enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <fieldset>
        <div class="">
            <label>角色</label>
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.Role, Mith.Models.Method.Get_Category_SelectListItem(2, "Role", 0), new { @class = "combobox", @id = "Role" })
            <span class="Valid" id="Role_Valid">必填欄位</span>
        </div>

        <div id="CompanyGroup" style="display:none">
            <div class="editor-label">
                <label>廠商</label>
            </div>
            <div class="editor-field">
                @Html.DropDownListFor(model => model.CompanyId, Mith.Models.Method.Get_Comapny_SelectListItem(0), new { @class = "combobox", @id = "CompanyId" })
                <span class="Valid" id="CompanyId_Valid">必填欄位</span>
            </div>
        </div>

        <div id="ExpertGroup" style="display:none">
            <div class="editor-label">
                <label>達人</label>
            </div>
            <div class="editor-field">
                @Html.DropDownListFor(model => model.ExpertId, Mith.Models.Method.Get_Expert_SelectListItem(0), new { @class = "combobox", @id = "ExpertId" })
                <span class="Valid" id="ExpertId_Valid">必填欄位</span>

            </div>
        </div>

        <div id="LevelGroup" style="display:none">
            <div class="editor-label">
                @Html.LabelFor(model => model.LevelId)
            </div>
            <div class="editor-field">
                @Html.DropDownListFor(model => model.LevelId, UserProfileModel.Get_UserLevel_SelectListItem(0, 0), new { @class = "combobox", @id = "LevelId" })
                <span class="Valid" id="LevelId_Valid">必填欄位</span>
            </div>
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Account)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Account)
            @Html.ValidationMessageFor(model => model.Account)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Password)
        </div>
        <div class="editor-field">
            @Html.PasswordFor(model => model.Password)
            @Html.ValidationMessageFor(model => model.Password)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ConfirmPassword)
        </div>
        <div class="editor-field">
            @Html.PasswordFor(model => model.ConfirmPassword)
            @Html.ValidationMessageFor(model => model.ConfirmPassword)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <div class="editor-label">
            @Html.CheckBox("Enable", true) @Html.LabelFor(model => model.Enable)
        </div>
        <br>
        <p>
            <input type="submit" value="新增" id="save_sort" onclick="return Send_Mith()" />
        </p>
    </fieldset>
}
