﻿@using Mith.Areas.GoX.Models
@model Mith.Areas.GoX.Models.UserProfileModel.UserProfileShowEdit

@{
    int p = 1;
    if (ViewData["p"] != null)
    {
        p = (int)ViewData["p"];
    }
    //取得使用者Id
    int User_Id = Mith.Models.Method.Get_UserId_Admin(Request.Cookies, Session);
    //取得使用者Level
    int User_Level = Mith.Models.Method.Get_UserLevel(User_Id);
}
@Scripts.Render("~/js/AdminUserProfileEdit")
@Styles.Render("~/css/Loading")
<script src="~/Scripts/plugin/Loading/jquery.isloading.min.js" type="text/javascript"></script>
<style>
    .editor-field .ui-button {
        height: 26px !important;
        margin-left: -1px !important;
        margin-top: -3px;
    }
</style>
@using (Html.BeginForm("Edit", "UserProfile", FormMethod.Post, new { @Id = "Form", @enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @Html.HiddenFor(model => model.Id)
    <fieldset>
        <div class="">
            @Html.LabelFor(model => model.Role)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.Role, Mith.Models.Method.Get_Category_SelectListItem(2, "Role", Model.Role), new { @class = "combobox", @id = "Role" })
            <span class="Valid" id="Role_Valid">必填欄位</span>
        </div>

        <div id="CompanyGroup" style="display:none">
            <div class="editor-label">
                <label>廠商</label>
            </div>
            <div class="editor-field">
                @Html.DropDownListFor(model => model.CompanyId, Mith.Models.Method.Get_Comapny_SelectListItem(Model.CompanyId ?? 0), new { @class = "combobox", @id = "CompanyId" })
                <span class="Valid" id="CompanyId_Valid">必填欄位</span>
            </div>
        </div>

        <div id="ExpertGroup" style="display:none">
            <div class="editor-label">
                <label>達人</label>
            </div>
            <div class="editor-field">
                @Html.DropDownListFor(model => model.ExpertId, Mith.Models.Method.Get_Expert_SelectListItem(Model.ExpertId ?? 0), new { @class = "combobox", @id = "ExpertId" })
                <span class="Valid" id="ExpertId_Valid">必填欄位</span>

            </div>
        </div>
        <div id="LevelGroup" style="display:none">
            <div class="editor-label">
                @Html.LabelFor(model => model.LevelId)
            </div>
            <div class="editor-field">

                @Html.DropDownListFor(model => model.LevelId, UserProfileModel.Get_UserLevel_SelectListItem(Model.Role, Model.LevelId), new { @class = "combobox", @id = "LevelId" })
                <span class="Valid" id="LevelId_Valid">必填欄位</span>
            </div>
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Account)
        </div>
        <div class="editor-field">
            @Html.DisplayFor(model => model.Account)
        </div>

        @if (User_Level > 3)
        {
            <input type="hidden" id="User_Level" value="@User_Level">
            <div class="editor-label">
                @Html.LabelFor(model => model.OldPassword)
            </div>
            <div class="editor-field">
                @Html.PasswordFor(model => model.OldPassword)
                <input type="button" value="驗證" onclick="return Check_OldPassword_Click()">
                <br>
                <span class="Valid" id="OldPassword_Valid"></span>
            </div>
        }
        <div class="editor-label">
            @Html.LabelFor(model => model.Password)
        </div>
        <div class="editor-field">
            @Html.PasswordFor(model => model.Password)
            @Html.ValidationMessageFor(model => model.Password)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ConfirmPassword)
        </div>
        <div class="editor-field">
            @Html.PasswordFor(model => model.ConfirmPassword)
            @Html.ValidationMessageFor(model => model.ConfirmPassword)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Name, new { style = "width:210px!important" })
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <div class="editor-label">
            @Html.CheckBoxFor(model => model.Enable) @Html.LabelFor(model => model.Enable)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CreateTime)
        </div>
        <div class="editor-field">
            @Model.CreateTime.Value.ToString("yyyy/MM/dd HH:mm")
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.UpdateTime)
        </div>
        <div class="editor-field">
            @Model.UpdateTime.Value.ToString("yyyy/MM/dd HH:mm")
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.LastUser_Name)
        </div>
        <div class="editor-field">
            @Html.DisplayFor(model => model.LastUser_Name)
        </div>
        <br>
        <p>
            @Html.Hidden("Check_OldPassword", "")    @*判斷有沒有判斷舊密碼*@
            <input type="submit" value="儲存" id="save_sort" onclick="return Send_Mith()" />
        </p>
    </fieldset>
}
