﻿@using Mith.Areas.GoX.Models
@model Mith.Areas.GoX.Models.UserProfileModel.UserProfileShowEdit

@{
    int p = 1;
    if (ViewData["p"] != null)
    {
        p = (int)ViewData["p"];
    }
    int CompanyId = Mith.Models.Method.Get_CompanyId_Admin(Request.Cookies, Session);

    //取得使用者Id
    int User_Id = Mith.Models.Method.Get_UserId_Admin(Request.Cookies, Session);
    //取得使用者Level
    int User_Level = Mith.Models.Method.Get_UserLevel(User_Id);
}
@Scripts.Render("~/js/AdminUserProfileEdit")
@Styles.Render("~/css/Loading")
<script src="~/Scripts/plugin/Loading/jquery.isloading.min.js" type="text/javascript"></script>
<style>
    .editor-field .ui-button {
        height: 26px !important;
        margin-left: -1px !important;
        margin-top: -3px;
    }
</style>
@using (Html.BeginForm("Edit", "UserProfile", FormMethod.Post, new { @Id = "Form", @enctype = "multipart/form-data" }))
{

    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @Html.HiddenFor(model => model.Id)
    <input type="hidden" name="CompanyId" value="@CompanyId">
    <input type="hidden" name="Role" value="2">
    <fieldset>
        <div class="">
            @Html.LabelFor(model => model.LevelId)
        </div>
        <div class="editor-field">
            @if (Model.LevelId == 2)
            {
                @Model.Level_Name
            }
            else
            {
                @Html.DropDownListFor(model => model.LevelId, UserProfileModel.Get_UserLevel_SelectListItem(2, Model.LevelId, @CompanyId), new { @class = "combobox", @id = "LevelId" })
                <span class="Valid" id="LevelId_Valid">必填欄位</span>
            }

        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Account)
        </div>
        <div class="editor-field">
            @Html.DisplayFor(model => model.Account)
        </div>

        @if (User_Level > 3)
        {
            <input type="hidden" id="User_Level" value="@User_Level">
            <div class="editor-label">
                @Html.LabelFor(model => model.OldPassword)
            </div>
            <div class="editor-field">
                @Html.PasswordFor(model => model.OldPassword)
                <input type="button" value="驗證" onclick="return Check_OldPassword_Click()">
                <br>
                <span class="Valid" id="OldPassword_Valid"></span>
            </div>
        }
        <div class="editor-label">
            @Html.LabelFor(model => model.Password)
        </div>
        <div class="editor-field">
            @Html.PasswordFor(model => model.Password)
            @Html.ValidationMessageFor(model => model.Password)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ConfirmPassword)
        </div>
        <div class="editor-field">
            @Html.PasswordFor(model => model.ConfirmPassword)
            @Html.ValidationMessageFor(model => model.ConfirmPassword)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Name, new { style = "width:210px!important" })
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <div class="editor-label">
            @Html.CheckBoxFor(model => model.Enable) @Html.LabelFor(model => model.Enable)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CreateTime)
        </div>
        <div class="editor-field">
            @Model.CreateTime.Value.ToString("yyyy/MM/dd HH:mm")
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.UpdateTime)
        </div>
        <div class="editor-field">
            @Model.UpdateTime.Value.ToString("yyyy/MM/dd HH:mm")
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.LastUser_Name)
        </div>
        <div class="editor-field">
            @Html.DisplayFor(model => model.LastUser_Name)
        </div>
        <br>
        <p>
            @Html.Hidden("Check_OldPassword", "")    @*判斷有沒有判斷舊密碼*@
            <input type="submit" value="儲存" id="save_sort" onclick="return Send_Company()" />
        </p>
    </fieldset>
}
