﻿@using Mith.Areas.GoX.Models;
@model List<Mith.Areas.GoX.Models.UserProfileModel.UserProfileShow>
@{

    int p = 1;
    if (ViewData["p"] != null)
    {
        p = (int)ViewData["p"];
    }
    int Search_Level = 0;
    if (ViewData["Search_Level"] != null)
    {
        Search_Level = (int)ViewData["Search_Level"];
    }
    string keyword = "";
    if (ViewData["keyword"] != null)
    {
        keyword = ViewData["keyword"] as string;
    }

    int Search_Enable = 0;
    if (ViewData["Search_Enable"] != null)
    {
        Search_Enable = (int)ViewData["Search_Enable"];
    }
    DateTime? CreateTime_St = ViewData["CreateTime_St"] as DateTime?;
    DateTime? CreateTime_End = ViewData["CreateTime_End"] as DateTime?;
    string ct_start = "";
    string ct_end = "";
    if (CreateTime_St != null)
    {
        ct_start = CreateTime_St.Value.ToString("yyyy/MM/dd HH:mm:ss");
    }
    if (CreateTime_End != null)
    {
        ct_end = CreateTime_End.Value.ToString("yyyy/MM/dd HH:mm:ss");
    }
    string err = "";
    if (TempData["err"] != null && TempData["err"] != "")
    {
        err = TempData["err"] as string;
    }
    int CompanyId = 0;
    if (ViewData["CompanyId"] != null)
    {
        CompanyId = (int)ViewData["CompanyId"];
    }

}
@Scripts.Render("~/js/AdminUserProfileIndex")
@Styles.Render("~/css/AdminUserProfileIndex_Company")
@if (TempData["FromAction"] != null)
{
    <script>
        var messag = @Html.Raw(Json.Encode(TempData["FromAction"]));
        alert(messag)
    </script>
}
@if (err != "")
{
    @: 操作失敗<br>
    @err
}
else
{
    if ((bool)Session["Insert"] == true)
    {
        <div class="func_item">
            <ul>
                <li>@Html.ActionLink("新增", "Create_Company")</li>
            </ul>
        </div>
    }
    <fieldset class="confirm2">
        <div class="search_area">
            <form action="@Mith.Models.Method.RootPath/GoX/UserProfile/Index_Company" id="search" method="get">
                <label for="keyword">　關鍵字</label>&ensp;
                <input type="text" name="keyword" id="keyword" value="@keyword" placeholder="帳號、名稱" />
                <br />
                <label class="Add_Top">　　權限</label>&ensp;
                @Html.DropDownList("Search_Level", UserProfileModel.Get_UserLevel_SelectListItem(2, @Search_Level, @CompanyId), new { @class = "combobox", @id = "Search_Level" })
                <br />
                <label class="Add_Top">　　啟用 </label>&ensp;
                <input type="radio" value="0" name="Search_Enable" @if (Search_Enable == 0) { <text> checked</text>} /><label for="enable">全部</label>&ensp;
                <input type="radio" value="1" name="Search_Enable" @if (Search_Enable == 1) { <text> checked</text>} /><label for="enable">是</label>&ensp;
                <input type="radio" value="2" name="Search_Enable" @if (Search_Enable == 2) { <text> checked</text>} /><label for="disable">否</label>
                <br>
                <label for="create_time_start" class="Add_Top">建立日期</label>&ensp;
                <input type="text" name="CreateTime_St" id="CreateTime_St" class="date_search" value="@ct_start"  /> ~
                <input type="text" name="CreateTime_End" id="CreateTime_End" class="date_search" value="@ct_end" />
                &emsp;
                <input type="submit" value="查詢" class="">
            </form>
        </div>
    </fieldset>

    <br>
    <label style="color:red">*帳號狀態為啟用時，無法刪除</label>
    <div class="showdata" id="update">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th class="item1">
                        @Html.DisplayNameFor(model => model[0].Account)
                    </th>
                    <th class="item2">
                        @Html.DisplayNameFor(model => model[0].Name)
                    </th>
                    <th class="item3">
                        @Html.DisplayNameFor(model => model[0].Level_Name)
                    </th>
                    <th class="item4">
                        啟用
                    </th>
                    <th class="item5">
                        @Html.DisplayNameFor(model => model[0].CreateTime)
                    </th>
                    <th class="item6">
                        編輯
                    </th>
                    <th class="item7">
                        刪除
                    </th>
                    <th class="item8">
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td class="item1">
                            @Html.DisplayFor(modelItem => item.Account)
                        </td>
                        <td class="item2">
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td class="item3">
                            @Html.DisplayFor(modelItem => item.Level_Name)
                        </td>
                        <td class="item4">
                            @if (item.Enable)
                            {
                                <span style="color:#00AA00">是</span>
                            }
                            else
                            {
                                <span style="color:red">否</span>
                            }
                        </td>
                        <td class="item5">
                            @item.CreateTime.Value.ToString("yyyy/MM/dd HH:mm")
                        </td>
                        <td class="item6">
                            @if ((bool)Session["Update"] == true)
                            {
                                @Html.ActionLink("編輯", "Edit_Company", new { id = item.Id })
                            }
                        </td>
                        <td class="item7">
                            @if ((bool)Session["Delete"] == true)
                            {
                                if (item.Enable == false)
                                {
                                    @Html.ActionLink("刪除", "Delete", new { item = item.Id, p = p }, new { OnClick = "return confirm(\"確定要刪除?\")" })
                                }
                            }
                        </td>
                        <td class="item8"></td>
                    </tr>
                }
            </tbody>
        </table>
        <div class="del_chk">
            @Html.Partial("_PartialPage")
        </div>
    </div>


}
