﻿@model Mith.Areas.GoX.Models.UserProfileModel.LoginModel
@{
    string Cookie_Accout = null;
    if (ViewData["Cookie_Accout"] != null)
    {
        Cookie_Accout = ViewData["Cookie_Accout"] as string;
    }
}
@Styles.Render("~/css/AdminLogin")
<section id="loginForm">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.RememberMe, new { @Value = true })
        <br>
        <fieldset>
            <ul>
                <li>
                    @Html.LabelFor(m => m.UserName)
                    @Html.TextBox("UserName", Cookie_Accout, new { style = "width:180px!important" })
                    @Html.ValidationMessageFor(m => m.UserName)
                </li>
                <li style="padding-top: 10px;">
                    @Html.LabelFor(m => m.Password)
                    @Html.PasswordFor(m => m.Password, new { style = "width:180px!important" })
                    @Html.ValidationMessageFor(m => m.Password)
                </li>
                <li>
                    <br>
                    <input type="hidden" name="ReturnUrl" value="@ViewBag.ReturnUrl" />
                    <input class="login_button" type="submit" id="save_sort" value="登入" />
                </li>
            </ul>
            <br />
            @if (TempData["err"] != null)
            {
                <label class="err" style=" margin-left: 0px!important;">@TempData["err"].ToString()</label>
            }
        </fieldset>
    }
</section>
