﻿@using Mith.Areas.GoX.Models
@using Mith.Models
@model Mith.Areas.GoX.Models.ExpertArticleModel.ExpertArticleShow
@{

}

@Scripts.Render("~/js/AdminExpertArticleCreate")
@Styles.Render("~/css/Loading")
<script src="~/Scripts/plugin/Loading/jquery.isloading.min.js" type="text/javascript"></script>
<script src="" type="text/javascript"></script>

@using (Html.BeginForm("Edit", "ExpertArticle", FormMethod.Post, new { @Id = "Form", @enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @Html.HiddenFor(model => model.Id)
    @Html.HiddenFor(model => model.Pic1)
    @Html.HiddenFor(model => model.Pic2)
    @Html.HiddenFor(model => model.Pic3)
    @Html.HiddenFor(model => model.Pic4)
    @Html.HiddenFor(model => model.Pic5)

    <fieldset>
        <table style="background-color:transparent">
            <tr>
                <td colspan="2">
                    <div class="">
                        <label>達人</label>
                    </div>
                    <div class="editor-field">
                        @Html.DropDownListFor(model => model.ExpertId, Mith.Models.Method.Get_Expert_SelectListItem(Model.ExpertId ?? 0), new { @class = "combobox", @id = "ExpertId" })
                        <br>
                        <span class="Valid" id="ExpertId_Valid">必填欄位</span>

                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <div class="editor-label">
                        @Html.LabelFor(model => model.Title)
                    </div>
                    <div class="editor-field">
                        @Html.TextBoxFor(model => model.Title, new { style = "width: 505px;" })
                        <br>
                        @Html.ValidationMessageFor(model => model.Title)
                    </div>
                </td>
                <td></td>
            </tr>
            <tr>
                <td colspan="2">
                    <div class="editor-label">
                        <label>引用文章</label>
                    </div>
                    <div class="editor-field">
                        @Html.TextBoxFor(model => model.FromUrl, new { placeholder = "文章網址", style = "width: 505px;" })
                        @Html.ValidationMessageFor(model => model.FromUrl)
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <div class="editor-label">
                        <label>段落1</label>
                        @if (!string.IsNullOrWhiteSpace(Model.Pic1))
                        {
                            <br>
                            <a class="example-image-link" href="@Model.Pic1" data-lightbox="example-set" data-title="">
                                <img class="example-image" src="@Model.Pic1" alt="" style="width:60px;height:auto;margin-bottom:10px;margin-right:10px;" />
                            </a>
                            @Html.CheckBox("Delete_Pic1", false)<text> 刪除</text>
                        }
                    </div>
                    <div class="editor-field">
                        @Html.TextBoxFor(model => model.Pic1, new { @type = "file", @accept = "image/*", style = "margin-bottom:10px" })
                        @Html.TextAreaFor(model => model.Content1, 7, 60, new { style = "resize: none;" })
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <div class="editor-label">
                        <label>段落2</label>
                        @if (!string.IsNullOrWhiteSpace(Model.Pic2))
                        {
                            <br>
                            <a class="example-image-link" href="@Model.Pic2" data-lightbox="example-set" data-title="">
                                <img class="example-image" src="@Model.Pic2" alt="" style="width:60px;height:auto;margin-bottom:10px;margin-right:10px;" />
                            </a>
                            @Html.CheckBox("Delete_Pic2", false)<text> 刪除</text>
                        }
                    </div>
                    <div class="editor-field">
                        @Html.TextBoxFor(model => model.Pic2, new { @type = "file", @accept = "image/*", style = "margin-bottom:10px" })
                        @Html.TextAreaFor(model => model.Content2, 7, 60, new { style = "resize: none;" })
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <div class="editor-label">
                        <label>段落3</label>
                        @if (!string.IsNullOrWhiteSpace(Model.Pic3))
                        {
                            <br>
                            <a class="example-image-link" href="@Model.Pic3" data-lightbox="example-set" data-title="">
                                <img class="example-image" src="@Model.Pic3" alt="" style="width:60px;height:auto;margin-bottom:10px;margin-right:10px;" />
                            </a>
                            @Html.CheckBox("Delete_Pic3", false)<text> 刪除</text>
                        }
                    </div>
                    <div class="editor-field">
                        @Html.TextBoxFor(model => model.Pic3, new { @type = "file", @accept = "image/*", style = "margin-bottom:10px" })
                        @Html.TextAreaFor(model => model.Content3, 7, 60, new { style = "resize: none;" })
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <div class="editor-label">
                        <label>段落4</label>
                        @if (!string.IsNullOrWhiteSpace(Model.Pic4))
                        {
                            <br>
                            <a class="example-image-link" href="@Model.Pic4" data-lightbox="example-set" data-title="">
                                <img class="example-image" src="@Model.Pic4" alt="" style="width:60px;height:auto;margin-bottom:10px;margin-right:10px;" />
                            </a>
                            @Html.CheckBox("Delete_Pic4", false)<text> 刪除</text>
                        }
                    </div>
                    <div class="editor-field">
                        @Html.TextBoxFor(model => model.Pic4, new { @type = "file", @accept = "image/*", style = "margin-bottom:10px" })
                        @Html.TextAreaFor(model => model.Content4, 7, 60, new { style = "resize: none;" })
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <div class="editor-label">
                        <label>段落5</label>
                        @if (!string.IsNullOrWhiteSpace(Model.Pic5))
                        {
                            <br>
                            <a class="example-image-link" href="@Model.Pic5" data-lightbox="example-set" data-title="">
                                <img class="example-image" src="@Model.Pic5" alt="" style="width:60px;height:auto;margin-bottom:10px;margin-right:10px;" />
                            </a>
                            @Html.CheckBox("Delete_Pic5", false)<text> 刪除</text>
                        }
                    </div>
                    <div class="editor-field">
                        @Html.TextBoxFor(model => model.Pic5, new { @type = "file", @accept = "image/*", style = "margin-bottom:10px" })
                        @Html.TextAreaFor(model => model.Content5, 7, 60, new { style = "resize: none;" })
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <div class="editor-label">
                        <label>推薦商品</label>
                    </div>
                    <div class="editor-field">
                        @Html.TextBoxFor(model => model.RecommendSN1, new { placeholder = "商品編號1", style = "margin-bottom:15px;width:150px" })
                        <input type="button" value="驗證" onclick="return Check_SN_Click('1')">
                        <span class="Valid" id="RecommendSN1_Valid"></span>
                        <br>
                        @Html.TextBoxFor(model => model.RecommendSN2, new { placeholder = "商品編號2", style = "margin-bottom:15px;width:150px" })
                        <input type="button" value="驗證" onclick="return Check_SN_Click('2')">
                        <span class="Valid" id="RecommendSN2_Valid"></span>
                        <br>
                        @Html.TextBoxFor(model => model.RecommendSN3, new { placeholder = "商品編號3", style = "margin-bottom:15px;width:150px" })
                        <input type="button" value="驗證" onclick="return Check_SN_Click('3')">
                        <span class="Valid" id="RecommendSN3_Valid"></span>
                        <br>
                        @Html.TextBoxFor(model => model.RecommendSN4, new { placeholder = "商品編號4", style = "margin-bottom:15px;width:150px" })
                        <input type="button" value="驗證" onclick="return Check_SN_Click('4')">
                        <span class="Valid" id="RecommendSN4_Valid"></span>
                        <br>
                        @Html.TextBoxFor(model => model.RecommendSN5, new { placeholder = "商品編號5", style = "margin-bottom:15px;width:150px" })
                        <input type="button" value="驗證" onclick="return Check_SN_Click('5')">
                        <span class="Valid" id="RecommendSN5_Valid"></span>
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <div class="editor-label">
                        @Html.CheckBoxFor(model => model.Display) @Html.LabelFor(model => model.Display)
                    </div>
                    <br>
                    <p>
                        <br>
                        @Html.Hidden("Check_SN", "True")
                        <input type="submit" value="儲存" id="save_sort" onclick="return Send()" />
                    </p>
                </td>
            </tr>
        </table>
    </fieldset>

}